/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#arrow-drop-container {
  flex-grow: 1;
}

#arrow-drop-icon {
  height: var(--navigation-icon-button-size);
  width: var(--navigation-icon-button-size);
}

#back-button {
  height: var(--navigation-icon-button-size);
  width: var(--navigation-icon-button-size);
}

#back-button-container {
  -webkit-padding-end: 4px;
}

#close-button {
  -webkit-margin-start: auto;
  height: 31px;
  width: 31px;
}

#close-button-container {
  -webkit-margin-start: auto;
  -webkit-padding-end: 16px;
  -webkit-padding-start: 24px;
}

#header-and-arrow-container {
  display: flex;
  height: 36px;
  overflow: hidden;
  white-space: nowrap;
}

#header-text {
  -webkit-padding-end: 4px;
  color: white;
  font-size: 1.175em;
  margin: 8px 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

paper-icon-button {
  display: inline-block;
}

paper-toolbar {
  -webkit-padding-start: 8px;
}

paper-toolbar::shadow .toolbar-tools {
  padding: 0;
}

paper-toolbar.cast-mode-list {
  background-color: var(--paper-teal-500);
}

paper-toolbar.filter {
  background-color: var(--paper-deep-purple-500);
}

paper-toolbar.issue {
  background-color: var(--google-red-500);
}

paper-toolbar.route-details,
paper-toolbar.sink-list {
  background-color: var(--paper-blue-500);
}

#user-email-container {
  -webkit-padding-start: 12px;
  font-size: 0.917em;
  padding-bottom: 12px;
}
