/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.content {
  padding-inline-end: 8px;
}

#title-recording,
#title-completed {
  padding-bottom: 36px;
}

#no-dsp-message {
  padding-top: 16px;
}

#footer-text {
  color: #757575;
}

#voice-match-video {
  padding-top: 100px;
  text-align: center;
}

#already-setup-video-container {
  text-align: center;
}

#already-setup-video {
  height: 450px;
}

#already-setup-img {
  display: block;
  margin: auto;
  padding-top: 80px;
}

#intro-container,
#recording-container,
#already-setup-container {
  display: none;
  height: 460px;
}

.intro #intro-container,
.already-setup #already-setup-container {
  display: block;
}

.recording #title-completed,
.completed #title-recording {
  display: none;
}

.recording #recording-container,
.completed #recording-container {
  display: table;
}

#loading-animation {
  margin: 80px auto;
  width: 100px;
}

#loading-spinner {
  height: 100px;
  width: 100px;
}

#footer-text {
  display: table-footer-group;
}

.intro #skip-button,
.intro #agree-button,
.recording #later-button {
  display: block;
}

oobe-text-button {
  display: none;
}
