/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#intro-text {
  padding-bottom: 58px;
}

#ready-img {
  display: block;
  height: 186px;
  margin: auto;
}

#ready-image-container {
  border-right: 1px solid rgb(218, 220, 224);
  padding-right: 24px;
  width: 50%;
}

#toggles-container {
  padding-left: 24px;
  width: 50%;
}
