/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

html, div, span, body, ul, li {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  /* Allows the user to move the window by dragging its content. */
  -webkit-app-region: drag;
}

.header {
  height: 46px;
  background: #1c91c0;
  padding: 15px;
}

.header .title {
  color: white;
  float: left;
  font-size: 24px;
  line-height: 46px;
  padding-left: 15px;
}

.header .logo {
  float: left;
  height: 46px;
  width: 46px;
  background: url('chromoting48.webp');
}

.content {
  text-align: center;
  margin: auto;
  width: 70%;
}

.content .message {
  padding: 30px;
  font-size: 20px;
}

.content ul {
  list-style: none;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #f0f0f0;
}

.content li {
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: #f0f0f0;
  padding: 15px;
  text-align: left;
  font-size: 14px;
}

.button {
  padding: 0px 20px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  line-height: 36px;
  color: #737373;
  -webkit-app-region: no-drag;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  /* Clear the float of its children. */
  overflow: auto;
  width: 100%
}

.button.default {
  background: #427fed;
  color: white;
}

.button:hover {
 border-color: #cecece;
}

.button.default:active {
  background: #2c56b1;
}

.ok-button {
  float: right;
  margin-left: 10px;
}

.cancel-button {
  float: right;
}
