# Copyright 2014 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

{%- macro enum_values(enum) -%}
[
{% for field in enum.fields %}
  ('{{field.name}}', {{field.computed_value}}),
{% endfor %}
]
{%- endmacro -%}
