/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#container {
  padding-bottom: 12px;
  padding-top: 12px;
}

paper-button {
  border-radius: 2px;
  color: var(--paper-grey-600);
  font-weight: 500;
  line-height: 32px;
  margin: 0;
  min-width: 52px;
  padding: 0 16px;
}

#addUser {
  margin: 0 8px;
}

#logo {
  content: -webkit-image-set(
      url(../../../app/theme/default_100_percent/%DISTRIBUTION%/product_logo_name_48.png) 1x,
      url(../../../app/theme/default_200_percent/%DISTRIBUTION%/product_logo_name_48.png) 2x);
  height: 18px;
  left: 24px;
  position: absolute;
  top: 19px;
}

:host-context([dir='rtl']) #logo {
  left: auto;
  right: 24px;
}
