/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.container {
  color: var(--paper-grey-800);
  margin: 0 auto;
  width: 624px;
}

#message-container {
  background-color: var(--google-red-700);
  color: white;
  left: 0;
  overflow: hidden;
  padding: 10px 16px;
  position: absolute;
  right: 0;
  top: 0;
}

#message-container iron-icon {
  --iron-icon-height: 20px;
  --iron-icon-width: 20px;
}

#message-container #message {
  -webkit-margin-start: 16px;
}

#message-container #supervised-user-import-existing {
  color: inherit;
  text-decoration: underline;
}

#title-bar {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  font-size: 16px;
  font-weight: 500;
  padding: 104px 0 16px;
}

#nameInput,
paper-dropdown-menu {
  --paper-input-container: {
    padding: 0;
  };
  --paper-input-container-input: {
    color: inherit;
    font-size: inherit;
  };
}

#nameInput {
  margin-bottom: 24px;
  margin-top: 32px;
  width: 300px;
}

paper-dropdown-menu {
  margin-top: 12px;
  width: 200px;
}

paper-menu {
  --paper-menu: {
    color: inherit;
    padding: 0;
  };
  --paper-menu-selected-item: {
    font-weight: normal;
  }
}

paper-menu paper-item {
  font-size: inherit;
  min-height: 40px;
}

#icons #wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -12px;
}

#icons paper-button {
  background: var(--paper-grey-300);
  border: 1px solid rgba(0, 0, 0, .12);
  margin: 12px;
  min-width: 0;
  padding: 6px 4px;
}

#icons paper-button[active] {
  border-color: var(--google-blue-500);
}

#icons paper-button:focus:not([active]) {
  outline: 1px dotted #666;
}

#supervised-user-container {
  margin-top: 24px;
}

#supervised-user-container paper-checkbox {
  --paper-checkbox-label-spacing: 16px;
  --paper-checkbox-size: 20px;
}

#supervised-user-container #learn-more-accounts {
  -webkit-margin-start: 36px;
}

#supervised-user-container #learn-more {
  display: block;
  line-height: 20px;
}

#supervised-user-container #import-user {
  -webkit-margin-start: 16px;
}

#actions {
  bottom: 16px;
  display: flex;
  position: absolute;
  right: 16px;
}

:host-context([dir='rtl']) #actions {
  left: 16px;
  right: auto;
}

#actions paper-button {
  border-radius: 2px;
  font-weight: 500;
  line-height: 32px;
  margin: 0;
  min-width: 52px;
  padding: 0 16px;
}

#actions paper-spinner {
  align-self: center;
  height: 20px;
  width: 20px;
}

#actions #cancel {
  color: var(--paper-grey-600);
}

#actions #save {
  -webkit-margin-start: 8px;
  background: var(--google-blue-500);
  color: white;
}

#actions #save[disabled] {
  background: rgba(66, 133, 244, .5);
}
