/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  align-self: center;
}

#container {
  color: var(--paper-grey-800);
  line-height: 20px;
  width: 624px;
}

#title-area {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  font-size: 16px;
  padding-bottom: 16px;
}

#title-area iron-icon {
  --iron-icon-height: 20px;
  --iron-icon-width: 20px;
  color: var(--google-grey-500);
}

.content-area {
  padding-top: 32px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#actions {
  bottom: 16px;
  position: absolute;
  right: 16px;
}

:host-context([dir='rtl']) #actions {
  left: 16px;
  right: auto;
}

#actions paper-button {
  border-radius: 2px;
  font-weight: 500;
  line-height: 32px;
  margin: 0;
  min-width: 52px;
  padding: 0 16px;
}

#actions #done {
  background: var(--google-blue-500);
  color: white;
}
