/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

[slot='subtitle'] {
  color: rgb(95, 99, 104);
  font-weight: 400; /* roboto-regular */
}

[slot='bottom-buttons'] {
  padding: 0 34px;
}

[slot='footer'] {
  padding: 50px 0 0;
}

#fingerprintUnlockIcon {
  background-image: -webkit-image-set(
      url(images/1x/finger_unlock.svg) 1x,
      url(images/2x/finger_unlock.svg) 2x );
  background-position: 50% 30%;
  background-size: 264px 264px;
  height: 210px;
  width: 210px;
}

#sensorLocation {
  background-image:
      url(chrome://oobe/fingerprint_scanner_animation.png);
  background-size: 352px 242px;
  height: 242px;
  width: 352px;
}

