/* Copyright 2020 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.gesture-animation {
  height: 300px;
  margin-top: -75px;
  position: absolute;
  width: 300px;
}

.gesture-animation-container {
  height: 225px;
  overflow: hidden;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  width: 300px;
}

.gesture-list-item {
  display: flex;
  height: 46px;
  padding-bottom: 4px;
}

.gesture-list-item-icon {
  align-self: flex-start;
  height: 24px;
  margin: auto;
  width: 24px;
}

.gesture-list-item-text {
  flex: 1 1 auto;
  margin: auto;
  padding-inline-start: 16px;
}
