/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

a {
  color: var(--google-blue-500);
  text-decoration: none;
  width: fit-content;
}

#crosEulaFrame {
  /* minimal height which allows popup dialogs looks fine. */
  min-height: 300px;
}

#additionalChromeToSFrame {
  height: 300px;
}

#installationSettings,
#logging {
  font-size: 13px;
  min-height: unset;
}

#footer-more {
  padding-inline-start: 16px;
}

#additionalTerms,
#installationSettings,
#logging {
  margin-top: 16px;
}

#logging {
  color: rgba(0, 0, 0, 0.54);
}

cr-toggle {
  align-self: center;
}

#usageStatsLabelContainer {
  color: var(--google-grey-refresh-700); /* #5F6368 */
  line-height: 20px;
  margin-inline-start: 16px;
}

#usageStatsLabel {
  cursor: pointer;
}

#settings-close-button {
  padding-inline-end: 18px;
}

.tpm-password > div {
  margin-top: 18px;
}

.password-row div {
  color: rgb(66, 133, 244);
  font-size: 24px;
  margin-top: 82px;
}

.installation-settings-spinner {
  margin-inline-end: 5px;
}
