/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host .text {
  color: #333;
  font: 13px Roboto, sans-serif;
  line-height: 18px;
}

oobe-dialog {
  outline: unset;
}

.update-subtitle {
  color: #333;
}

#estimated-time-left,
#progress-message {
  padding-top: 31px; /* = 44 - font size */
}

#checkingForUpdateCancelHint,
#updatingCancelHint {
  color: rgb(170, 0, 0);
  padding: 0;
}

.update-illustration {
  height: 264px;
  padding-bottom: 82px;
  width: 264px;
}
