/* Copyright 2019 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#pinKeyboardContainer {
  margin-top: 30px;
  position: relative;
}

#pinKeyboard {
  --pin-keyboard-pin-input-style: {
    width: 192px;
  };
  --pin-keyboard-input-letter-spacing: 13px;
  --pin-keyboard-number-color: var(--google-grey-900);
  --cr-icon-button-margin-start: 5px;
}

#errorContainer {
  color: var(--google-red-600);
  font-size: 12px;
  padding: 4px 0 0;
  text-align: center;
  width: 100%;
}

#errorIcon {
  --iron-icon-width: 20px;
  --iron-icon-height: 20px;
  margin-inline-end: 3px;
}

/* Allows to hide the element while still consuming the space that it needs. */
[invisible] {
  visibility: hidden;
}
