{
  "name": "com.google.chrome.remote_assistance",
  "description": "{{ IT2ME_HOST_DESCRIPTION }}",
  "type": "stdio",
  "path": "{{ IT2ME_HOST_PATH }}",
  {# If you modify the list of allowed_origins, don't forget to update
   # chrome/browser/extensions/api/messaging/native_message_host_chromeos.cc
   # to keep the two lists in sync. #}
  "allowed_origins": [
    {# Chrome App (Dev Build) #}
    "chrome-extension://ljacajndfccfgnfohlgkdphmbnpkjflk/",
    {# Chrome App (Prod) #}
    "chrome-extension://gbchcmhmhahfdphkhkmpfmihenigjmpp/",
    {# Chrome App (Pre-release) #}
    "chrome-extension://kgngmbheleoaphbjbaiobfdepmghbfah/",
    {# Chrome App (QA / Release Candidate) #}
    "chrome-extension://odkaodonbgfohohmklejpjiejmcipmib/",
    {# Chrome App (Backup QA) #}
    "chrome-extension://dokpleeekgeeiehdhmdkeimnkmoifgdd/",
    {# Chrome App (Apps V2 Dogfood) #}
    "chrome-extension://ajoainacpilcemgiakehflpbkbfipojk/",
    {# Chrome App (Apps V2 QA) #}
    "chrome-extension://hmboipgjngjoiaeicfdifdoeacilalgc/",
    {# Chrome Extension (Prod) #}
    "chrome-extension://inomeogfingihgjfjlpeplalcfajhgai/",
    {# Chrome Extension (Dev Build) #}
    "chrome-extension://hpodccmdligbeohchckkeajbfohibipg/"
  ]
}
