/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */
body {
  background-attachment: fixed !important;
  background-color: white;
  cursor: default;
  font-family: arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

body.user-typed {
  overflow: hidden;
}

#ntp-contents {
  position: absolute;
  text-align: -webkit-center;
  top: 125px;
  width: 100%;
}

body.google-page #ntp-contents {
  top: 0;
}

body.hide-ntp #ntp-contents,
body.hide-ntp #attribution {
  display: none;
}

body.user-typed #ntp-contents {
  top: 164px;
}

body.user-typed.google-page #ntp-contents {
  top: 39px;
}

body.user-typed #fakebox {
  border-color: rgba(185, 185, 185, 0.5);
  border-top-color: rgba(160, 160, 160, 0.5);
  cursor: default;
}

body.user-typed #fakebox > input {
  cursor: default;
}

body.fakebox-animate #ntp-contents,
body.fakebox-animate #attribution {
  -webkit-transition: opacity 100ms linear;
  opacity: 0.2;
}

/* Hide suggestions during the fakebox animation. */
body.fakebox-animate #active-suggestions-container {
  height: 0;
  visibility: hidden;
}

body.fakebox-animate .suggestion-contents {
  visibility: hidden;
}

body.google-page #mv-top-margin {
  display: none;
}

#logo {
  background: -webkit-image-set(
      url(images/google_logo.png) 1x,
      url(images/2x/google_logo.png) 2x) no-repeat;
  height: 95px;
  margin-bottom: 24px;
  margin-top: 134px;
  width: 275px;
}

body.custom-theme #logo {
  background: -webkit-image-set(
      url(images/white_google_logo.png) 1x,
      url(images/2x/white_google_logo.png) 2x) no-repeat;
}

#fakebox {
  /* Use GPU compositing if available. */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 100ms linear, border-color 100ms linear;
  background-color: #fff;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 1px;
  border-top-color: rgb(160, 160, 160);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: text;
  font-size: 18px;
  height: 36px;
  max-width: 620px;
  width: 300px;
}

#fakebox:hover {
  border: 1px solid rgb(169, 169, 169);
  border-top-color: rgb(144, 144, 144);
}

body.fakebox-focused #fakebox {
  border: 1px solid rgb(77, 144, 254);
}

body.fakebox-animate #fakebox {
  -webkit-transform: translateY(-100px);
}

#fakebox > input {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#cursor {
  background: #333;
  bottom: 5px;
  left: 9px;
  position: absolute;
  top: 5px;
  visibility: hidden;
  width: 1px;
}

body.rtl #cursor {
  left: auto;
  right: 9px;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  61.55% {
    opacity: 0;
  }
}
body.fakebox-focused #cursor {
  -webkit-animation: blink 1.3s step-end infinite;
  visibility: inherit;
}

#most-visited {
  -webkit-user-select: none;
  margin-top: 51px;
  text-align: -webkit-center;
}

.custom-theme .mv-title,
.custom-theme #mv-msg {
  color: #fff;
  text-shadow: black 0 1px 3px;
}

.custom-theme #mv-notice-links span {
  color: #fff;
  text-shadow: rgb(17, 85, 204) 0 1px 3px;
}

#mv-tiles {
  /* Use GPU compositing if available. */
  -webkit-transform: translate3d(0, 0, 0);
  height: 260px;
  overflow: hidden;
  padding: 0 1em;
  white-space: nowrap;
  width: 304px;
}

@media only screen and (min-width:660px) {
  #fakebox,
  #mv-tiles {
    width: 458px;
  }
}

@media only screen and (min-width:820px) {
  #fakebox,
  #mv-tiles {
    width: 618px;
  }
}

.mv-row {
  margin-bottom: 50px;
}

.mv-row:last-child {
  margin-bottom: 0;
}

.mv-tile:first-child {
  -webkit-margin-start: -1px;
}

.mv-tile {
  -webkit-margin-start: 20px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition-duration: 200ms;
  -webkit-transition-property: -webkit-transform, margin, opacity, width;
  background: -webkit-linear-gradient(#f2f2f2, #e8e8e8);
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, .09);
  display: inline-block;
  height: 83px;
  width: 138px;
}

.mv-tile.mv-tile-hide {
  -webkit-margin-end: -10px;
  opacity: 0;
  width: 10px;
}

/* Class applied to tiles to trigger the blacklist animation. */
.mv-tile.mv-blacklist {
  -webkit-transform: scale(0.5);
  opacity: 0;
}

.mv-page-ready {
  border: 1px solid #c0c0c0;
  cursor: pointer;
  outline: none;
}

.mv-page-ready:hover,
.mv-page-ready:focus {
  border-color: #7f7f7f
}

.mv-thumb {
  border: none;
  cursor: pointer;
  height: 83px;
  left: 0;
  position: absolute;
  top: 0;
  width: 138px;
}

.mv-title {
  border: none;
  bottom: -28px;
  height: 18px;
  left: 0;
  position: absolute;
  width: 140px;
}

.mv-x-hide .mv-x {
  display: none;
}

/* An X button to blacklist a tile or hide the notification. */
.mv-x {
  background: transparent url(images/close_2.png);
  border: none;
  cursor: default;
  height: 16px;
  width: 16px;
}

body.custom-theme #mv-notice-x {
  background: transparent url(images/close_2_white.png);
}

.mv-x:hover,
body.custom-theme #mv-notice-x:hover,
#mv-notice-x:focus,
body.custom-theme #mv-notice-x:focus {
  background: transparent url(images/close_2_hover.png);
}

.mv-x:active,
body.custom-theme #mv-notice-x:active {
  background: transparent url(images/close_2_active.png);
}

.mv-page .mv-x {
  -webkit-transition: opacity 500ms ease-in-out;
  opacity: 0;
  position: absolute;
  right: 2px;
  top: 2px;
}

body.rtl .mv-page .mv-x {
  left: 2px;
  right: auto;
}

.mv-page-ready:hover .mv-x {
  -webkit-transition-delay: 500ms;
  opacity: 1;
}

.mv-domain {
  bottom: 24px;
  color: #777;
  margin: 0 7px;
  position: absolute;
}

.mv-favicon {
  bottom: -8px;
  height: 16px;
  left: 61px;
  pointer-events: none;
  position: absolute;
  width: 16px;
}

/* The notification shown when a tile is blacklisted. */
#mv-notice {
  font-size: 75%;
  font-weight: bold;
  opacity: 1;
  padding: 10px 0;
}

#mv-notice span {
  cursor: default;
}

/* Links in the notification. */
#mv-notice-links span {
  -webkit-margin-start: 6px;
  color: rgb(17, 85, 204);
  cursor: pointer;
  outline: none;
  padding: 0 4px;
}

#mv-notice-links span:hover,
#mv-notice-links span:focus {
  text-decoration: underline;
}

#mv-notice-links .mv-x {
  -webkit-margin-start: 8px;
  outline: none;
  vertical-align: top;
}

#mv-notice.mv-notice-delayed-hide {
  -webkit-transition-delay: 10s;
  -webkit-transition-property: opacity;
  opacity: 0;
}

#mv-notice.mv-notice-hide {
  display: none;
}

#attribution {
  -webkit-user-select: none;
  bottom: 0;
  color: #fff;
  cursor: default;
  font-size: 75%;
  position: absolute;
  right: 13px;
  text-align: left;
  z-index: -1;
}

#attribution img {
  display: block;
}

.suggestions-box {
  background-color: #fff;
  border-bottom: 1px #d9d9d9 solid;
  padding-bottom: 6px;
  padding-top: 6px;
}

.suggestion {
  background: -webkit-image-set(
      url(images/page_icon.png) 1x,
      url(images/2x/page_icon.png) 2x) no-repeat;
  border-radius: 2px;
  height: 22px;
  padding-bottom: 2px;
  padding-top: 3px;
  white-space: nowrap;
}

.search {
  background: -webkit-image-set(
      url(images/search_icon.png) 1x,
      url(images/2x/search_icon.png) 2x) no-repeat;
}

.hovered {
  background-color: #eee;
}

.selected {
  background-color: rgba(181, 213, 255, 0.5);
}

.suggestion-contents {
  -webkit-user-select: none;
  border: none;
  height: 22px;
  overflow: hidden;
  position: absolute;
}

#pending-suggestions-container {
  display: none;
}
