/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.button {
  /* TODO(apacible): Update to use Chromium paper color. */
  background-color: rgb(238, 238, 238);
  color: rgb(44, 44, 44);
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
