menu {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, .50);
  background: white;
  color: black;
  cursor: default;
  display: none;
  left: 0;
  margin: 0;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px 0;
  position: fixed;
  white-space: nowrap;
  z-index: 3;
}

menu > * {
  box-sizing: border-box;
  display: block;
  margin: 0;
  width: 100%;
  text-align: start;
}

menu > :not(hr) {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  font: inherit;
  line-height: 18px;
  overflow: hidden;
  padding: 0 19px;
  text-overflow: ellipsis;
}

menu > hr {
  background: -webkit-linear-gradient(left,
                                      rgba(0, 0, 0, .10),
                                      rgba(0, 0, 0, .02) 96%);
  border: 0;
  height: 1px;
  margin: 8px 0;
}

menu > [disabled] {
  color: rgba(0, 0, 0, .3);
}

/* Text alpha doesn't work on Linux/GTK and ChromeOs/views.
 * TODO(estade): http://crbug.com/88688. */
html[toolkit=gtk] menu > [disabled],
html[os=chromeos] menu > [disabled] {
  color: #969696;
}

menu > [hidden] {
  display: none;
}

menu > :not(hr)[selected] {
  background-color: #dce5fa;
}

menu > :not(hr)[selected]:active {
  background-color: #426dc9;
  color: #fff;
}

menu > [checked]:before {
  content: url("../images/checkbox_black.png");
  display: inline-block;
  height: 9px;
  margin: 0 5px;
  vertical-align: 50%;
  width: 9px;
}

menu > [checked] {
  -webkit-padding-start: 0;
}

menu > [selected][checked]:active:before {
  content: url("../images/checkbox_white.png");
}
