menu {
  display: none;
  position: fixed;
  border: 1px solid rgba(0, 0, 0, .50);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, .50);
  color: black;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eee));
  left: 0;
  white-space: nowrap;
  padding: 8px 0;
  margin: 0;
  cursor: default;
  border-radius: 3px;
  z-index: 3;
}

menu > * {
  -webkit-box-sizing: border-box;
  display: block;
  margin: 0;
  width: 100%;
  text-align: start;
}

menu > :not(hr) {
  -webkit-appearance: none;
  background: transparent;
  font: inherit;
  border: 0;
  line-height: 18px;
  padding: 0 19px;
  overflow: hidden;
  text-overflow: ellipsis;
}

menu > hr {
  background: -webkit-gradient(linear, 0 0, 96% 0, from(rgba(0, 0, 0, .10)),
                               to(rgba(0, 0, 0, .02)));
  border: 0;
  height: 1px;
  margin: 8px 0;
}

menu > [disabled] {
  color: rgba(0, 0, 0, .3);
}

menu > [hidden] {
  display: none;
}

menu > :not(hr)[selected] {
  background-color: #dce5fa;
}

menu > :not(hr)[selected]:active {
  background-color: #426dc9;
  color: #fff;
}
