html.col-resize * {
  cursor: col-resize !important;
}

.table[hasElementFocus] > list > [lead] {
  border-color: hsl(214, 91%, 65%);
  z-index: 2;
}

.table[hasElementFocus] > list > [selected] {
  background-color: hsl(214,91%,89%);
  border-color: hsl(214, 91%, 65%);
}

.table[hasElementFocus] > list > [lead][selected],
list > [selected]:hover {
  background-color: hsl(214, 91%, 87%);
  border-color: hsl(214, 91%, 65%);
}

.list > * {
  padding: 0;
  border-right: none;
  border-left: none;
}

.table:focus {
  border: 1px solid;
}

.table {
  outline: none;
  overflow: hidden;
  border: 1px solid;
}

.table-row {
  width: 100%;
  text-align: start;
  display: -webkit-box;
}

.table-row-cell {
  display: -webkit-box;
  overflow: hidden;
}

.table-row-cell > * {
  overflow: hidden;
  margin: 0 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-header {
  position: relative;
  overflow: hidden;
  background-color: rgb(220, 220, 220);
}

.table-header-inner {
  position: relative;
  text-align: start;
  float: left;
  display: -webkit-box;
}

.table-header-cell {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
}

.table-header-label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 7px;
}

.table-header-label > * {
  padding: 0 12px;
}

.table-header-sort-image-desc:after {
  position: relative;
  top: -2px;
  content: '\25be'; /* BLACK DOWN-POINTING SMALL TRIANGLE */
  -webkit-padding-start: 0.4em;
  color: #888;
}

.table-header-sort-image-asc:after {
  position: relative;
  top: -2px;
  content: '\25b4'; /* BLACK UP-POINTING SMALL TRIANGLE */
  -webkit-padding-start: 0.4em;
  color: #888;
}

.table-header-splitter {
  position: absolute;
  top: 0px;
  cursor: col-resize;
  width: 5px;
  -webkit-margin-start: -1px;
  height: 100%;
  background-color: black;
}
