/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

h1 {
  text-align: center;
}

.error-message {
  color: red;
  font-size: large;
}

.btn,
.url {
  color: #333333;
  background-color: #ffffff;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.btn:hover,
.btn:focus {
  background-color: #ebebeb;
}

#view-div {
  margin: 35px;
}

#graph-div {
  float: left;
  height: 600px;
  width: 1024px;
}

#info-div {
  float: left;
  margin-left: 50px;
}

ul.jqtree-tree .jqtree-title {
  color: #333333;
  font-size: small;
}

#category-menu {
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  outline: 1px solid rgba(0,0,0,0.2);
  overflow: auto;
  padding-bottom: 15px;
  padding-left: 15px;
  width: 240px;
}

#subs-dropdown {
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  display: none;
  margin-top: 10px;
  outline: 1px solid rgba(0,0,0,0.2);
  overflow: auto;
  padding-bottom: 15px;
  padding-left: 15px;
  position: fixed;
  width: 240px;
}