# Copyright (c) 2011 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "desktopui_PyAutoVolumeTests"
PURPOSE = "PyAuto based chromeos volume tests."
CRITERIA = "This test will fail if volume settings are not preserved."
TIME = "LONG"
TEST_CATEGORY = "Functional"
TEST_CLASS = "desktopui"
TEST_TYPE = "client"

DOC = """
This is a wrapper test for Chrome pyauto-based volume tests.
http://dev.chromium.org/developers/testing/pyauto
"""

job.run_test('desktopui_PyAutoVolumeTests')
