/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#extension-error-overlay .highlighted-source {
  background-color: rgba(255, 195, 200, 255);
}

#extension-error-overlay .content-area {
  font-family: monospace;
  font-size: 1.2em;
}
