<!doctype html>
<html>
  <head>
    <!-- Set the title to an empty value, which will be replaced by a localized
         name by JavaScript -->
    <title>&#xfeff;</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/util.js"></script>
    <script src="../js/tooltip.js"></script>
    <script src="../js/scrollbar.js"></script>
    <script src="../js/models/gallery.js"></script>
    <script src="../js/models/file_system.js"></script>
    <script src="../js/view.js"></script>
    <script src="../js/views/gallery_base.js"></script>
    <script src="../js/views/camera.js"></script>
    <script src="../js/views/camera/gallerybutton.js"></script>
    <script src="../js/views/camera/layout.js"></script>
    <script src="../js/views/camera/options.js"></script>
    <script src="../js/views/camera/preview.js"></script>
    <script src="../js/views/camera/recordtime.js"></script>
    <script src="../js/views/camera_toast.js"></script>
    <script src="../js/views/dialog.js"></script>
    <script src="../js/views/browser.js"></script>
    <script src="../js/router.js"></script>
    <script src="../js/main.js"></script>
  </head>
  <body class="mirror">
    <div id="camera">
      <div id="preview-wrapper">
        <video id="preview-video" aria-hidden="true"></video>
        <div id="preview-grid">
          <div id="preview-grid-horizontal"></div>
          <div id="preview-grid-vertical"></div>
        </div>
        <div id="preview-focus">
          <object id="preview-focus-aim" type="image/svg+xml"
                  data="../images/camera_focus_aim.svg"
                  tabindex="-1" hidden>
          </object>
        </div>
      </div>
      <div class="centered-overlay" id="camera-mode"></div>
      <div class="centered-overlay">
        <div id="timer-tick-msg"></div>
      </div>
      <div class="actions-group buttons circle">
        <button id="switch-takephoto" disabled tabindex="0"
                i18n-label="switchTakePhotoButton"></button>
        <button id="shutter" disabled tabindex="0"
                i18n-label="takePhotoButton"></button>
        <button id="switch-recordvideo" disabled tabindex="0"
                i18n-label="switchRecordVideoButton"></button>
      </div>
      <div class="bottom-stripe left-stripe buttons circle">
        <button id="toggle-device" disabled tabindex="0"
                i18n-label="toggleCameraButton" hidden></button>
      </div>
      <div class="bottom-stripe right-stripe buttons circle">
        <button id="gallery-enter" disabled tabindex="0"
                i18n-label="galleryButton" hidden></button>
      </div>
      <div class="left-stripe options-group buttons">
        <input type="checkbox" id="toggle-mirror" disabled tabindex="0"
               i18n-label="toggleMirrorButton" checked hidden>
        <input type="checkbox" id="toggle-grid" disabled tabindex="0"
               i18n-label="toggleGridButton">
        <input type="checkbox" id="toggle-timer" disabled tabindex="0"
               i18n-label="toggleTimerButton">
      </div>
      <div class="top-stripe" id="record-time">
        <div class="icon"></div>
        <div id="record-time-msg"></div>
      </div>
      <div class="top-stripe right-stripe buttons">
        <input type="checkbox" id="toggle-mic" disabled tabindex="0"
               i18n-label="toggleMicButton">
      </div>
      <div id="toast">
        <div id="toast-message"></div>
      </div>
    </div>
    <div class="centered-overlay" id="spinner"></div>
    <div id="browser" aria-role="listbox" i18n-aria-label="galleryImages">
      <div class="padder">
        <div class="bounds-padder"></div>
        <div class="bounds-padder"></div>
      </div>
      <div class="buttons">
        <button id="browser-back" tabindex="0"
                i18n-label="backButton"></button>
        <button id="browser-print" disabled tabindex="0"
                i18n-label="printButton"></button>
        <button id="browser-export" disabled tabindex="0"
                i18n-label="exportButton"></button>
        <button id="browser-delete" disabled tabindex="0"
                i18n-label="deleteButton"></button>
      </div>
    </div>
    <div id="error">
      <div class="icon"></div>
      <div id="error-msg"></div>
      <div id="error-msg-hint"></div>
    </div>
    <div id="dialog">
      <div id="dialog-popup" role="dialog" aria-labelledby="dialog-msg">
        <div id="dialog-msg"></div>
        <div id="dialog-buttons">
          <button id="dialog-negative-button" tabindex="0"></button>
          <button id="dialog-positive-button" tabindex="0"></button>
        </div>
      </div>
    </div>
    <div id="tooltip"></div>
  </body>
</html>

