{%- set full_class = "%s::internal::%s_Data"|format(namespace, struct.name) %}
{%- set name = struct.name|camel_to_underscores -%}

template <>
class ObjectTraits<{{full_class}}> {
 public:
  static size_t ComputeSizeOf(const {{full_class}}* {{name}});
  static {{full_class}}* Clone(const {{full_class}}* {{name}}, Buffer* buf);
  static void CloseHandles({{full_class}}* {{name}});
  static void EncodePointersAndHandles({{full_class}}* {{name}},
                                       std::vector<mojo::Handle>* handles);
  static bool DecodePointersAndHandles({{full_class}}* {{name}},
                                       mojo::Message* message);
};
