/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  background-color: rgb(219, 222, 224);
  color: black;
  display: block;
}

#outer {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

#pageContainer {
  -webkit-margin-end: 20px;
  -webkit-margin-start: 20px;
}

::content core-icon-button {
  position: absolute;
}
