/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#pageContainer {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  padding: 24px 16px;
}

#pageContainer.expanded {
  padding: 0 16px;
}

::content core-icon-button {
  position: absolute;
}
