/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#snapshot-view {
  width: 100%;
}

#snapshot-view tr:nth-child(odd) {
  background: rgb(239, 243, 255);
}

#snapshot-view td {
  vertical-align: top;
}

#snapshot-view .process-memory {
  text-align: right;
}

#snapshot-view #process-template {
  display: none;
}

#json {
  display: none;
  height: 100px;
  width: 100%;
}
