/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#snapshot_view table {
  width: 100%;
}

#snapshot_view tr:nth-child(odd) {
  background: rgb(239, 243, 255);
}

#snapshot_view td {
  vertical-align: top;
}

#snapshot_view td.memory {
  text-align: right;
}

#json {
  height: 100px;
  width: 100%;
}
