/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#snapshot-view {
  border-spacing: 2px;
  width: 100%;
}

#snapshot-view tr:nth-child(odd):not([class='header']) {
  background: rgb(239, 243, 255);
}

#snapshot-view td {
  padding: 0.35em 0.5em 0;
  vertical-align: top;
}

#snapshot-view .header th {
  padding: 0.35em 0.5em 0;
  vertical-align: bottom;
}

#snapshot-view .bottom th {
  border-bottom: 1px solid rgb(181, 198, 222);
}

#snapshot-view .process-id {
  text-align: right;
  width: 4em;
}

#snapshot-view .process-info {
  text-align: left;
}

#snapshot-view .process-memory {
  border-left: 1px solid rgb(181, 198, 222);
  width: 16em;
}

#snapshot-view .process-memory-private {
  border-left: 1px solid rgb(181, 198, 222);
  text-align: right;
  width: 6em;
}

#snapshot-view .process-memory-v8 {
  text-align: right;
  width: 10em;
}

#snapshot-view #process-template {
  display: none;
}
