{
  "name": "Native Client SDK",
  "version": "{{version}}",
  "manifest_version": 2,
  "description": "Native Client SDK examples, showing API use and key concepts.",
  "offline_enabled": true,
  "icons": {
    "128": "icon128.png"
  },
  "app": {
    "background": {
      "scripts": ["background.js"]
    }
  },
  "permissions": [
    "fullscreen",
    "pointerLock",
    "unlimitedStorage"
  ]
}
