/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#main-container {
  height: 372px;
  overflow: hidden;
  padding: 48px 48px 0 48px;
  position: absolute;
  width: 480px;
}

.title {
  font-size: 18px;
  padding-top: 32px;
}

.sub-title {
  font-size: 12px;
  padding-top: 12px;
}

img {
  display: block;
  height: 180px;
  margin: auto;
  padding: 48px 0 0 32px;
}

#next-button {
  -webkit-margin-end: 18px;
}
