/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#ready-img {
  display: block;
  height: 186px;
  margin: auto;
  padding: 110px 0 0 72px;
}

#button-text {
  padding: 0 10px 0 10px;
}
