/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#value-prop-view {
  display: block;
  height: 256px;
  margin: auto;
}

.sub-title {
  padding-bottom: 16px;
}

#value-prop-container {
  width: 50%;
}

#consents-container {
  border-left: 1px solid rgba(0, 0, 0, .14);
  padding-left: 24px;
  width: 50%;
}

#user-name {
  padding-left: 8px;
}

#footer-text {
  padding-top: 16px;
}

#user-image {
  border-radius: 50%;
  height: 24px;
}

.oobe-popup {
  border-radius: 8px;
  box-shadow: unset;
}

#overlay-text {
  box-sizing: border-box;
  margin: auto;
  min-height: 200px;
  padding: 24px 24px 16px 24px;
  width: 100%;
}

#overlay-close-top {
  background-image: url(chrome://theme/IDR_CLOSE_DIALOG);
  background-position: center;
  background-repeat: no-repeat;
  height: 14px;
  position: absolute;
  right: 7px;
  top: 7px;
  width: 14px;
  z-index: 1;
}

#overlay-close-top:hover {
  background-image: url(chrome://theme/IDR_CLOSE_DIALOG_H);
}

#overlay-close-top:active {
  background-image: url(chrome://theme/IDR_CLOSE_DIALOG_P);
}

.button-strip {
  display: flex;
  justify-content: flex-end;
  margin: 8px;
}
