/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#retry-button {
  display: none;
}

.error #retry-button {
  display: block;
}

#loading-container,
#error-container {
  visibility: hidden;
}

.loading-animation #loading-container,
.error #error-container {
  visibility: visible;
}

.loading #retry-button {
  pointer-events: none;
}

#loading-message {
  color: rgba(0, 0, 0, .54);
  font-size: 13px;
  padding: 210px 0 0 0;
}

paper-progress {
  --paper-progress-active-color: rgb(66, 133, 244);
  --paper-progress-container-color: #CEE0FC;
  --paper-progress-secondary-color: rgb(66, 133, 244);
  display: block;
  height: 4px;
  padding: 12px 0 0 0;
  width: 100%;
}
