/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.message {
  color: rgba(0, 0, 0, .8);
  font-size: 13px;
  padding-top: 6px;
}

.content {
  padding-top: 6px;
}

#accept,
#reject {
  align-items: unset;
  padding: 10px 0 10px 0;
}

#confirm-reject-img {
  display: block;
  height: 150px;
  margin: auto;
}
