/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#setting_zippy {
  padding-bottom: 14px;
}

.content {
  padding: 6px 0 6px 0;
}

.content[toggleStyle] {
  padding-bottom: 0;
}

.content[popupStyle] {
  padding-bottom: 24px;
}

.icon {
  min-width: 38px;
}

.icon-view {
  display: block;
  height: 24px;
  width: 24px;
}

.toggle {
  padding-top: 9px;
}

.indent {
  padding: 6px 0 0 38px;
}
