/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#container[popupStyle] {
  padding-top: 8px;
}

#container:not([popupStyle]) {
  align-items: center;
  height: 48px;
}

.content {
  padding-top: 4px;
}

.content[popupStyle] {
  padding: 4px 0 16px 0;
}

.icon {
  min-width: 36px;
}

.icon-view {
  display: block;
  height: 20px;
  width: 20px;
}

cr-expand-button {
  padding-right: 8px;
}

.toggle {
  padding-right: 20px;
}

.indent {
  padding-left: 36px;
}
