/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/*
 * Keep the slider color consistent throughout the range.
 */
paper-slider {
  --paper-slider-knob-start-border-color: var(--google-blue-700);
  --paper-slider-knob-start-color: var(--google-blue-700);
  --paper-slider-pin-start-color: var(--google-blue-700);
}
