/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  background-color: rgb(97, 97, 97);
  color: rgb(250, 250, 250);
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial;
  height: 100%;
  /* core-overlay interferes with the visibility of our shadow. */
  overflow: visible !important;
  right: 0;
  width: 22em;
  z-index: 3;
}

#padding {
  background-color: rgb(66, 66, 66);
  height: 56px;
}

core-header-panel {
  height: 100%;
}

.core-header {
  background-color: rgb(66, 66, 66);
  font-size: 1.5em;
  height: 56px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
}

/* Since the pane slides in from the right, we want the scrollbar to be on
 * the left. Setting direction to rtl achieves this.
 */
core-header-panel::shadow #mainPanel {
  direction: rtl;
}

.content {
  background-color: rgb(97, 97, 97);
  direction: ltr;
  padding: 0.5em;
}
