/* Copyright 2019 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* TODO(crbug.com/947388) revisit the 'xf-' prefix naming for better search. */
xf-display-panel {
    max-width: 400px;
}

.feedback-panels {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}


.xf-vertical-padder-8 {
    height: 8px;
}
