/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host > ::content > * {
  margin: 0;
  padding: 0;
}

paper-dialog {
  background-color: transparent;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.thumbnail {
  flex: none;
  max-height: 100%;
  max-width: 100%;
}

video {
  min-width: 192px;
}

#video-poster {
  max-height: 100%;
  max-width: 100%;
}

paper-button:focus:not(:active) {
  box-shadow: 0 0 0 2px rgba(191, 191, 191, 0.5);
}

video::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-volume-slider {
  display: none;
}

#audio-artwork {
  margin: 0 auto;
  max-width: 300px;
}

#mainPanel {
  background-color: transparent;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

#contentPanel {
  background-color: transparent;
  height: 100%;
  position: relative;
}

#contentPanel[metadata-box-active] {
  margin-right: 320px;
}

#innerContentPanel {
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
  margin: auto;
  position: relative;
  text-align: center;
  top: 15%;
  width: 70%;
}

.content {
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

#toolbar {
  --paper-toolbar-background: rgb(60, 60, 60);
  --paper-toolbar-height: 48px;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1;
}

#buttons {
  display: flex;
  position: absolute;
  right: 0px;
}

paper-button {
  border-radius: 2px;
  height: 32px;
  margin: 0 8px;
  min-width: 32px;
  padding: 0;
}

iron-icon {
  height: 16px;
  width: 16px;
}

#metadata-box {
  background-color: rgba(40, 40, 44, 0.8);
  bottom: 0;
  height: 100%;
  margin: 0;
  position: absolute;
  right: 0;
}

[hidden] {
  display: none;
}

.no-preview {
  margin-top: 16px;
}

/* Large generic thumbnails, used when a file does not have a thumbnail. */
[generic-thumbnail] {
  background: -webkit-image-set(
      url(../images/files/ui/quick_view/filetype_generic.png) 1x,
      url(../images/files/ui/quick_view/2x/filetype_generic.png) 2x)
    center
    no-repeat;
  height: 162px;
}

[generic-thumbnail='audio'] {
  background: -webkit-image-set(
      url(../images/files/ui/quick_view/filetype_audio.png) 1x,
      url(../images/files/ui/quick_view/2x/filetype_audio.png) 2x)
    center
    no-repeat;
}

[generic-thumbnail='image'] {
  background: -webkit-image-set(
      url(../images/files/ui/quick_view/filetype_image.png) 1x,
      url(../images/files/ui/quick_view/2x/filetype_image.png) 2x)
    center
    no-repeat;
}

[generic-thumbnail='video'] {
  background: -webkit-image-set(
      url(../images/files/ui/quick_view/filetype_video.png) 1x,
      url(../images/files/ui/quick_view/2x/filetype_video.png) 2x)
    center
    no-repeat;
  height: 134px;
}
