<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>BUNDLE_ID</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BUNDLE_NAME</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>VERSION_SHORT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>VERSION_FULL</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 COPYRIGHT_BY All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>me2me_preference_pane</string>
	<key>NSPrefPaneIconFile</key>
	<string>chromoting128.png</string>
	<key>NSPrefPaneIconLabel</key>
	<string>PREF_PANE_ICON_LABEL</string>
	<key>NSPrincipalClass</key>
	<string>Me2MePreferencePane</string>
</dict>
</plist>
