<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleIdentifier</key>
    <string>@BUNDLE_ID@</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>remoting_me2me_host</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>@VERSION_FULL@</string>
    <key>CFBundleShortVersionString</key>
    <string>@VERSION_SHORT@</string>
    <key>LSUIElement</key>
    <string>1</string>
</dict>
</plist>