body {
  display:-webkit-box;
  -webkit-box-orient:vertical;
}

body>* {
  display:-webkit-box;
}

#items {
  -webkit-box-flex:1;
  -webkit-box-orient:vertical;
  -webkit-box-align:stretch;
}

iframe {
  display:-webkit-box;
  -webkit-box-flex:1;
}

.splitter {
  padding: 2px 8px 2px 5px;
  border-top: solid 1px #9CC2EF;
  background: #EBEFF9;
  font-size: 13px;
  font-weight:bold;
}

.editLinks {
  font-size: 10px;
}

#dialogBackground, #dialogBackground div {
  display: -webkit-box;
  -webkit-box-align: center;
}

#dialog input[type="button"] {
  font-size: 12px;
  height: 25px;
  width: 100px;
}

#dialog input[type="text"] {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  width: 220px;
}

#dialogBackground {
  background-color: rgba(0, 0, 0, .2);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-user-select:none;
}

#dialogHBackground {
  height: 100%;
  -webkit-box-orient: horizontal;
}

#dialog {
  background-color: #5296DE;
  border: 1px solid #3A75BD;
  border-radius: 6px 6px;
  font-size: 12px;
  width: 355px;
  -webkit-box-orient: vertical;
}

#dialogHeader {
  background-color: rgba(0,0,0,0);
  color: white;
  font-weight: bold;
  margin: 4px;
  width: 100%;
}

#dialogBody {
  background-color: rgb(240, 240, 240);
  border: 1px solid #3A75BD;
  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  margin: 0px 2px 2px 2px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  -webkit-box-orient: vertical;
  width: 340px;
}

.dialogRow {
  margin-left: -24px;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: end;
}

.dialogRow>* {
  margin: 2px
}

#dialogContentFooter {
  margin-bottom: 6px;
  margin-left: -12px;
  margin-top: 20px;
  padding-right: 10px;
}

.status {
  background-color: #FFF18A;
}
