# This is a standard .gitignore file, used to exclude certain files
# from a 'git status' command and other similar commands.
# Please keep each section in alphabetical order.

# Ignore these filename patterns
*~
*.gypcmd
*.Makefile
*.mk
*.props
*.pyc
*.pyc-2.4
*.pyo
*.pyo-2.4
*.rules
*.sdf
*.sln
*.slo
*.swp
*.suo
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.xcodeproj/
testserver.log

# Ignore these directories wherever they appear
.cproject/
.project/
.pydevproject/
.settings/
hg/
toolchain/hg-build/
toolchain/hg-log/

# toolchain_build/toolchain_build.py creates these.
toolchain_build/cache/
toolchain_build/out/
toolchain_build/src/

# Ignore these absolute directories (relative to native_client directory)
/build/Debug/
/build/Release/
/chromebinaries/
/scons-out/
/toolchain/
/tools/BUILD/
/tools/out/
/tools/perf_expectations/
/tools/SRC/

# These directories only show up if you have supplement.DEPS in your .gclient
/private_tests/
/private_tools/
/supplement/

# These directories are created by running tests/spec2k/run_all.sh
/tests/spec2k/bin/
/tests/spec2k/[0-9][0-9][0-9].*/

# These directories are created by pnacl/build.sh sync-sources
pnacl/build/
pnacl/git/
pnacl/src/
