*.deps
*.jpg
*.la
*.lo
*.o
*.pc
*.so
*.swp
*~
ctags
cscope.out
.libs
.dirstamp
/aclocal.m4
/autom4te.cache
/build-aux/
/config.h
/config.h.in
/config.log
/config.mk
/config.status
/configure
/libtool
/stamp-h1
/test-driver
/weston.ini
Makefile
Makefile.in
TAGS
protocol/.*.valid
protocol/*.[ch]

weston-calibrator
weston-clickdot
weston-cliptest
weston-dnd
weston-editor
weston-eventdemo
weston-flower
weston-fullscreen
weston-gears
weston-image
weston-nested
weston-nested-client
weston-resizor
weston-scaler
weston-simple-egl
weston-simple-shm
weston-simple-touch
weston-smoke
weston-stacking
weston-subsurfaces
weston-transformed
weston-view

weston-keyboard
libtoytoolkit.a
weston-desktop-shell
weston-info
weston-screensaver
weston-screenshooter
weston-tablet-shell
weston-terminal
weston-multi-resource
weston-simple-im
git-version.h
version.h
weston
weston-launch
spring-tool

*.weston
*.test
wcap-decode
matrix-test
setbacklight
weston.1
weston-drm.7
weston.ini.5
