/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

core-label {
  margin: 10px;
}

.time-zone-label {
  -webkit-margin-end: 10px;
}

#setAutomatically {
  margin: 10px;
}
