/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  display: block;
}

.settings-list > paper-icon-item {
  -webkit-margin-start: 4px;
  border-bottom: 1px solid var(--paper-grey-300);
}

.settings-list > paper-icon-item:last-of-type {
  border-bottom: none;
}

.category-header {
  -webkit-margin-start: -16px;
}

.option-value {
  color: gray;
  font-size: 80%;
}
