# PNaCl Omaha Config
# For docs, search for "omaha-server-configuration-format" on the sites page.

# TODO(jvoung): update this app ID to the real one.
# There is a possibility of using the private key from the Webstore version.
# See README for how to read the AppId and "Raw Bytes" out from the CRX file.
# Raw Bytes: {0x4c, 0xa7, 0x26, 0x86, 0xa8, 0x26, 0x83, 0x4d, 0x3c, 0x55,
#             0x8c, 0x8b, 0x54, 0x7e, 0x27, 0x46, 0xa0, 0xf8, 0xd5, 0x0e, 0xea,
#             0x33, 0x46, 0x6e, 0xab, 0x6c, 0xde, 0xba, 0xc0, 0x91, 0xd4, 0x5e}
AppId: "emkhcgigkicgidendmffimilfehocheg"
ConfigName: "Chrome Portable NaCl"

############################################################

Rule {
  Test {Attr: "arch" Match: "x86"}
  Test {Version: "[0.0.0.0-0.1.0.12)"}
  Update {
    Pair: {Tag: "version" Value: "0.1.0.12"}
    Pair: {Tag: "prodversionmin" Value: "21.0.0.0"}
    UpdatedVersion: "0.1.0.12"
    # TODO(jvoung): Could this be hosted on omaha.corp instead?
    # If so, document how to update the binaries (including the note about
    # changing the directory name with each version).
    Codebase: "https://www.corp.google.com/~jvoung/pnacl/0.1.0.12/x86-32.crx"
  }
}

Rule {
  Test {Attr: "arch" Match: "x64"}
  Test {Version: "[0.0.0.0-0.1.0.12)"}
  Update {
    Pair: {Tag: "version" Value: "0.1.0.12"}
    Pair: {Tag: "prodversionmin" Value: "21.0.0.0"}
    UpdatedVersion: "0.1.0.12"
    Codebase: "https://www.corp.google.com/~jvoung/pnacl/0.1.0.12/x86-64.crx"
  }
}

# TODO(jvoung): Change this to the real the arch tag for ARM, sent by the
# component updater's query string (it doesn't have that case yet).
Rule {
  Test {Attr: "arch" Match: "arm"}
  Test {Version: "[0.0.0.0-0.1.0.12)"}
  Update {
    Pair: {Tag: "version" Value: "0.1.0.12"}
    Pair: {Tag: "prodversionmin" Value: "21.0.0.0"}
    UpdatedVersion: "0.1.0.12"
    Codebase: "https://www.corp.google.com/~jvoung/pnacl/0.1.0.12/arm.crx"
  }
}

Rule {
  # Catch all, no update
  NoUpdate: true
}
