<!doctype html>
<html class="full-height">
  <head>
    <meta charset="utf-8">
    <title>Credits</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="credits.css">
    <script src="credits.js"></script>
  </head>
  <body class="full-height">
    <div class="entries">
      <div class="page-title">Credits</div>
      {{entries}}
    </div>
  </body>
</html>
