<div class="product">
<span class="title">{{name}}</span>
<a class="toggle-licence hide-licence" href="#">show license</a>
<span class="homepage"><a href="{{url}}" target="_blank">homepage</a></span>
<div class="licence">
<pre>{{license}}</pre>
</div>
</div>

