
package org.chromium.chromecast.shell;

public class BuildConfig {

  // If true, run receiver apps in a service instead of an activity.
  public static final boolean DISPLAY_WEB_CONTENTS_IN_SERVICE =
#if defined(_DISPLAY_WEB_CONTENTS_IN_SERVICE)
    true;
#else
    false;
#endif

  // Set the number of lines for LogcatExtractor to send.
  public static final int LOGCAT_SIZE = _LOGCAT_EXTRACTOR_SIZE;
}
