/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* Overrides for the desktop user manager screen. */

.oobe-display {
  background-color: #eee;
}

#outer-container {
  min-height: 0;
}

.bubble.faded {
  opacity: 0;
}

.pod {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 226px;
}

.pod.faded {
  opacity: .4;
}

.pod.hovered:not(.focused) {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

.pod.focused {
  box-shadow: 0 16px 21px rgba(0, 0, 0, 0.2);
}

.pod.focused.locked {
  box-shadow: 0 12px 21px rgba(0, 0, 0, 0.2);
  height: 220px;
}

.user-image-pane {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  height: 180px;
  left: 0;
  top: 0;
  width: 180px;
}

html[dir=rtl] .user-image-pane {
  right: 0;
}

.pod .name {
  margin-top: 12px;
}

.pod .user-image {
  height: 180px;
  width: 180px;
}

.pod input[type='password'] {
  height: 45px;  /* 1px shorter as to not overlap the pod's rounded corners */
  top: 1px;
}

.pod.locked .locked-indicator {
  background-image: -webkit-image-set(
      url('chrome://theme/IDR_ICON_PROFILES_LOCKED') 1x,
      url('chrome://theme/IDR_ICON_PROFILES_LOCKED@2x') 2x);
  height: 31px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 31px;
}

html[dir=rtl] .pod.locked .locked-indicator {
  left: auto;
  right: 8px;
}

.pod.supervised-user .supervised-indicator {
  background-image: -webkit-image-set(
      url('chrome://theme/IDR_ICON_PROFILES_SUPERVISED') 1x,
      url('chrome://theme/IDR_ICON_PROFILES_SUPERVISED@2x') 2x);
  height: 31px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 31px;
}

html[dir=rtl] .pod.supervised-user .supervised-indicator {
  left: auto;
  right: 8px;
}

.main-pane {
  left: 0;
  top: 0;
}

html[dir=rtl] .main-pane {
  right: 0;
}

.name-container,
.pod.focused:not(.multiprofiles-policy-applied) .auth-container {
  top: 180px;
  width: 180px;
}

.pod.focused:not(.locked) .name-container {
  display: block;
}

.pod .name {
  color: #363636;
  font-size: 15px;
  margin-top: 11px;
}

.pod.focused:not(.locked) .auth-container {
  display: none;
}

.pod.focused.locked .password-entry-container {
  display: flex;
  flex: auto;
}

.action-box-area {
  background-color: #f5f5f5;
  height: 24px;
  width: 24px;
}

.action-box-button,
.action-box-button:hover,
.action-box-area.active .action-box-button {
  background-image: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #989898;
  height: 0;
  left: 6px;
  margin: 0;
  position: absolute;
  top: 9px;
  width: 0;
}

.action-box-button:hover,
.action-box-area.active .action-box-button {
  border-top: 6px solid #4c4c4c;
}
