/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  display: flex;
  flex-direction: column;
}

#addWordRow {
  display: flex;
}

#newWord {
  flex: 1;
}

iron-list {
  /* TODO(michaelpg): Size to fit the viewport. */
  height: 300px;
}

iron-list .word {
  flex: 1;
}
