/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

label {
  align-items: center;
  display: flex;
}

label > *:not(:first-child) {
  margin-left: 5px;
}

label > span {
  line-height: 42px;
}

label paper-button {
  line-height: initial;
}
