/**
 * Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

body {
  font-family: 'DejaVu Sans', Arial, sans-serif;
  font-size: 75%;
  user-select: none;
}

button {
  background: rgb(53, 106, 222);
  border-radius: 5px;
  color: white;
  font-size: 65%;
  font-weight: bold;
  margin: 5px 0;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.copy-to-clipboard-button {
  background: rgb(53, 106, 222);
  border-radius: 2px;
  color: white;
  float: right;
  font-size: 60%;
  font-weight: bold;
  margin: 2px;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#clear-log-button {
  float: right;
}

.hidden-tab {
  display: none;
  padding: 12px;
}

.selected-tab {
  display: block;
  padding: 12px;
}

.tab-select {
  left: 0;
  right: 0;
}

nav {
  border-bottom: 1px solid silver;
}

.tab-select input[type=radio] {
  display: none;
}

.tab-select label {
  border: 2px solid white;
  border-bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: table-cell;
  padding: 5px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25%;
}

.inactive-tab {
  background: #ddd;
  color: black;
}

.active-tab {
  background: rgb(0, 128, 255);
  color: white;
}

.table-name {
  color: rgb(43, 96, 222);
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}

table {
  border-collapse: separate;
  font-size: 90%;
  margin-top: 10px;
  max-height: 100px;
  table-layout: fixed;
  width: 100%;
}

.nqe-value-column {
  text-align: center;
}

td {
  border: 1px solid white;
  padding: 10px;
  text-align: left;
}

tr:nth-child(odd) td {
  background: rgb(240, 255, 255);
}

th {
  background: rgb(0, 191, 255);
  border: 0;
  color: white;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
}

td.log-time {
  font-size: 80%;
}

td.log-description {
  font-size: 80%;
}

td.log-url {
  border-bottom: 1px transparent;
  font-size: 80%;
  position: relative;
  word-wrap: break-word;
}

.log-type {
  text-align: center;
  width: 20%;
}

td.log-type {
  font-size: 80%;
}

.url-tooltip {
  background-color: black;
  border-radius: 6px;
  color: #fff;
  left: 0;
  padding: 5px;
  position: absolute;
  top: 100%;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

td.log-url:hover .url-tooltip {
  opacity: 1;
  visibility: visible;
}

td.log-url .url-tooltip::after {
  border-color: transparent transparent black transparent;
  border-style: solid;
  border-width: 5px;
  bottom: 100%;
  content: ' ';
  left: 50%;
  margin-left: -5px;
  position: absolute;
}

@media(min-device-width: 600px) {
  body {
    font-size: 85%;
  }

  #nqe-logs-table {
    width: 60%;
  }

  #blacklisted-hosts-table {
    width: 60%;
  }

  .log-time {
    width: 15%;
  }

  td.log-time {
    font-size: 80%;
  }

  .log-type {
    width: 10%;
  }

  td.log-type {
    font-siz15e: 100%;
  }
}

@media(min-device-width: 1024px) {
  body {
    font-size: 100%;
  }

  .copy-to-clipboard-button {
    font-size: 80%;
  }

  .log-time {
    font-size: 100%;
    width: 8%;
  }

  #nqe-logs-table {
    width: 30%;
  }

  #blacklisted-hosts-table {
    width: 30%;
  }

  td.log-description {
    font-size: 100%;
  }
}

.error-header {
  font-size: 150%;
  font-weight: bold;
}

.error-message {
  font-style: italic;
}

#blacklist-ignored-status {
  color: red;
  font-style: italic;
  font-weight: bold;
}
