/**
 * Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

body {
  font-family: 'DejaVu Sans', Arial, sans-serif;
  font-size: 75%;
}

button {
  margin-bottom: 5px;
}

.hidden-tab {
  display: none;
  padding: 12px;
}

.selected-tab {
  display: block;
  padding: 12px;
}

.tab-select {
  left: 0;
  right: 0;
}


nav {
  border-bottom: 1px solid silver;
}

.tab-select input[type=radio] {
  display: none;
}

.tab-select label {
  border: 2px solid white;
  border-bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: table-cell;
  padding: 5px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25%;
}

.inactive-tab {
  background: #ddd;
  color: black;
}

.active-tab {
  background: rgb(0, 128, 255);
  color: white;
}

.table-name {
  color: rgb(43, 96, 222);
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}

table {
  border: 1px solid white;
  border-collapse: separate;
  font-size: 90%;
  margin-top: 10px;
  max-height: 100px;
  table-layout: fixed;
  width: 100%;
}

td {
  border: 2px solid white;
  padding: 10px;
  text-align: left;
}

td.log-url {
  overflow: auto;
  text-overflow: auto;
}

tr:nth-child(odd) td {
  background: rgb(240, 255, 255);
}

th {
  background: rgb(0, 92, 185);
  border: 2px solid white;
  color: white;
  padding: 15px;
  text-align: center;
}

.log-time {
  font-size: 80%;
  word-wrap: break-word;
}

@media(min-device-width: 768px) {
  body {
    font-size: 85%;
  }

  .log-time {
    font-size: 80%;
    width: 15%;
  }

  .log-type {
    width: 10%;
  }
}

@media(min-device-width: 1024px) {
  body {
    font-size: 100%;
  }

  .log-time {
    font-size: 100%;
    width: 15%;
  }

  .log-type {
    width: 10%;
  }
}

.error-header {
  font-size: 150%;
  font-weight: bold;
}

.error-message {
  font-style: italic;
}

#blacklist-ignored-status {
  color: red;
  font-style: italic;
  font-weight: bold;
}
