/* Copyright 2018 The Chromium Authors. All rights reserved.
   Use of this source code is governed by a BSD-style license that can be
   found in the LICENSE file. */

:host {
  margin: 0 4px; /* So that two adjacent buttons are 8px separated. */
}

/*
 * TODO(https://crbug.com/703984): remove the fallback class when fixed.
 */
:host ::slotted(*),
.fallback {
  font-family: var(--oobe-button-font-family);
  font-size: 12px;
}
