/* Copyright 2020 The Chromium Authors. All rights reserved.
   Use of this source code is governed by a BSD-style license that can be
   found in the LICENSE file. */

.oobe-local-link {
  color: rgb(17, 85, 204); /* #1155CC */
  cursor: pointer;
  text-decoration: none;
}

.oobe-local-link:focus {
  outline-color: rgb(77, 144, 254); /* #4D90FE */
  transition: outline-color 200ms;
}
