/* Copyright 2020 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#container {
  height: 56px;
}

#icon {
  min-width: 48px;
}

#icon-pending {
  background-color: var(--google-grey-500);
  border-radius: 50%;
  height: 8px;
  margin-inline-start: 8px;
  width: 8px;
}

#icon-active {
  height: 24px;
  width: 24px;
}

#icon-completed {
  color: var(--google-blue-600);
}

#text {
  color: var(--oobe-text-color);
  font-family: var(--oobe-default-font-family);
  font-size: 15px;
  line-height: 16px;
}

#text-active {
  color: black;
}
