<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="{{ APK_PACKAGE_NAME }}">
    <uses-sdk android:minSdkVersion="14"
            android:targetSdkVersion="20"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <application android:label="@string/product_name_android"
            android:icon="@drawable/chromoting128"
            android:theme="@android:style/Theme.Holo"
	    android:allowBackup="false">
        <meta-data
               android:name="com.google.android.gms.version"
               android:value="@integer/google_play_services_version" />
        <activity android:name="org.chromium.chromoting.Chromoting"
                android:configChanges="orientation|screenSize"
                android:theme="@style/MainTheme"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.chromium.chromoting.ThirdPartyTokenFetcher$OAuthRedirectActivity"
            android:enabled="false"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="{{ APK_PACKAGE_NAME }}"/>
                <data android:path="/oauthredirect/"/>
            </intent-filter>
        </activity>
        <activity android:name="org.chromium.chromoting.Desktop"
                android:configChanges="orientation|screenSize"
                android:windowSoftInputMode="adjustResize"
                android:theme="@style/Theme.AppCompat"/>
        <activity android:name="org.chromium.chromoting.HelpActivity"
                android:configChanges="orientation|screenSize"
                android:uiOptions="splitActionBarWhenNarrow"/>
    </application>
</manifest>
