/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.app-remoting .kd-modaldialog {
  /*
   * kd-modaldialog uses outline, which doesn't affect the bounding box, and so
   * doesn't work well when adjusting the window shape.
   */
  border: 1px solid gray;
  /* The layout of modal dialog is managed by remoting.Html5ModalDialog */
  margin: 0px;
  position: absolute;
}
