/* Copyright 2019 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#arc-detailed-view-overlay {
  background-color: rgb(255, 255, 255);
  border: 1px solid #aaa;
  display: none;
  margin: 0;
  max-height: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
}

#arc-detailed-view-overlay::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

#arc-detailed-view-overlay::-webkit-scrollbar-thumb {
  background-color: #888;
}

#arc-event-bands {
  margin: 0 auto;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
}

#arc-event-band-tooltip {
  background-color: rgb(255, 255, 192);
  border: 1px solid #aaa;
  display: none;
  pointer-events: none;
  position: absolute;
  text-align: start;
  width: 240px;
}

#arc-event-band-tooltip.active,
#arc-detailed-view-overlay.active {
  display: block;
}

#arc-graphics-tracing-control-buttons {
  float: right;
}

.arc-cpu-view-title {
  border-bottom: 1px solid #888;
  font-size: 14px;
  margin: 4px 0 4px 0;
}

.arc-events-band {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
  display: block;
  padding: 2px;
}

.arc-events-cpu-detailed-band {
  display: block;
  margin: 0 0 4px 0;
}

.arc-events-band-title {
  align-items: center;
  border: none;
  display: flex;
  flex-direction: row;
  left: 0;
  outline: none;
  position: sticky;
  text-align: start;
}

.arc-events-band-title img {
  height: 24px;
  width: 24px;
}

.arc-events-band-title span {
  flex: 1;
  padding-top: 4px;
}

.arc-events-band-title::before {
  content: '\2212';
  float: left;
  font-weight: bold;
  margin-inline-end: 4px;
  padding-top: 4px;
}

.arc-no-mouse-events {
  pointer-events: none;
}

.arc-time-ruler-title {
  display: flex;
  margin-top: 10px;
}

.hidden.arc-events-band-title::before {
  content: '\002B';
}

.hidden.arc-events-band {
  display: none;
}
