/* Copyright 2019 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#arc-event-bands {
  margin: 0 auto;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
}

#arc-event-band-tooltip {
  background-color: rgb(255, 255, 192);
  border: 1px solid #a0a0a0;
  display: none;
  pointer-events: none;
  position: absolute;
  text-align: start;
  width: 240px;
}

#arc-event-band-tooltip.active {
  display: block;
}

.arc-events-inner-band {
  display: block;
  margin: 0 0 4px 0;
}

.arc-events-inner-band-last-buffer {
  display: block;
  margin: 0 0 12px 0;
}

.arc-events-top-band {
  display: block;
  margin: 0 0 8px 0;
}

.arc-events-band-title {
  align-items: center;
  border: none;
  display: flex;
  flex-direction: row;
  left: 0;
  outline: none;
  position: sticky;
  text-align: start;
}

.arc-events-band-title img {
  height: 24px;
  width: 24px;
}

.arc-events-band-title span {
  flex: 1;
  padding-top: 4px;
}

.arc-events-band-title::before {
  content: '\2212';
  float: left;
  font-weight: bold;
  margin-inline-end: 4px;
  padding-top: 4px;
}

.hidden.arc-events-band-title::before {
  content: '\002B';
}

.hidden.arc-events-inner-band,
.hidden.arc-events-top-band {
  display: none;
}
