.hostlist_body {
}

p {
  color: black;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin: 2px 5px 5px 5px
}

.message {
  font-family: sans-serif;
  font-size: 1.2em;
  padding: 0 4px 0 4px;
}

.hostlist {
  width: 100%;
  margin: 0;
  border: black 1px solid;
}

.hostentry {
  margin: 0;
  padding: 3px;
  border-top: blue 1px solid;
  min-height: 70px;
}

.hostentry:first-child {
  border-top-style: none;
}

a.hostentry { text-decoration: none; }

.hosticon {
  float: left;
  margin: 2px;
}

.hostindent {
  margin: 2px 4px 2px 75px;
}

.hostname {
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2em;
}

.hoststatus_good {
  font-weight: bold;
  color: green;
}

.hoststatus_bad {
  font-weight: bold;
  color: red;
}

.hostinfo {
  font-family: sans-serif;
  font-size: 0.8em;
  line-height: 1.1em;
}

.hostlinks {
  font-family: sans-serif;
  font-size: 0.7em;
  line-height: 1.2em;
}

.connect {
  float: right;
}

.reload {
  font-family: sans-serif;
  font-size: 0.8em;
  font-style: italic;
  margin: 0.25em 0 0.5em 5px;
  line-height: 1em;
}

.login {
  font-family: sans-serif;
  font-size: 0.9em;
  margin: 0 0 3px 5px;
}

.login_email {
  font-weight: bold;
}

.chromoting_body {
  -webkit-user-select: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  scrollbars: no;
}

.status_msg {
  -webkit-user-select: none;
  position: absolute;
  left: 20px;
  top: 20px;
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.error_msg {
  color: red;
}

.gaia_login_panel {
  -webkit-user-select: none;
  font-family: arial,sans-serif;
  position: absolute;
  display: none;
  z-index: 1;
  top: 50%;
  left: 45%;
  border: 2px solid #e8eefa;
  margin-left: auto;
  margin-right: auto;
}

.local_login_panel {
  -webkit-user-select: none;
  font-family: arial,sans-serif;
  position: absolute;
  display: none;
  z-index: 1;
  top: 50%;
  left: 45%;
  border: 2px solid #e8eefa;
  margin-left: auto;
  margin-right: auto;
}

.plugin-scroll-panel {
  -webkit-user-select: none;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.gaia_font {
    font-family: Arial, Helvetica, sans-serif;
}
