body {
  font-family: Helvetica, sans-serif;
  cursor: default;
  font-size: 13px;
}

p {
  color: black;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin: 2px 5px 5px 5px
}

.message {
  font-family: sans-serif;
  font-size: 1.2em;
  padding: 0 4px 0 4px;
}

.hostlist {
  margin: 0;
  border: #D9D9D9 1px solid;
  border-radius: 2px;
}

.hostentry {
  margin: 0;
  padding: 3px;
  border-bottom: #D9D9D9 1px solid;
  min-height: 70px;
}

a.hostentry {
  text-decoration: none;
}

.hosticon {
  float: left;
  margin: 2px;
}

.hostindent {
  margin: 2px 4px 2px 75px;
}

.hostname {
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2em;
}

.hoststatus-good {
  font-weight: bold;
  color: green;
}

.hoststatus-bad {
  font-weight: bold;
  color: red;
}

.hostinfo {
  font-family: sans-serif;
  font-size: 0.8em;
  line-height: 1.1em;
}

.hostlinks {
  font-family: sans-serif;
  font-size: 0.7em;
  line-height: 1.2em;
}

.connect {
  float: right;
}

.reload {
  font-family: sans-serif;
  font-size: 0.8em;
  font-style: italic;
  margin: 0.25em 0 0.5em 5px;
  line-height: 1em;
}

.login {
  font-family: sans-serif;
  font-size: 0.9em;
  margin: 0 0 3px 5px;
}

.login_email {
  font-weight: bold;
}

.chromoting_body {
  -webkit-user-select: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  scrollbars: no;
}

/* Old overlay-style status message. */
.status_msg_overlay {
  -webkit-user-select: none;
  position: absolute;
  left: 20px;
  top: 20px;
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.status_msg {
  margin: 5px;
}

.error-msg {
  color: red;
}

.debug_log {
  -webkit-user-select: text;
  padding: 0px;
  margin: 0px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 150px;
  overflow: auto;
  font-family: monospace;
  font-weight: bold;
  line-height: 0.5em;
  border: 2px solid #ffffff;
  display: none;
  opacity: 0.9;
  background-color: #ffffff;
  z-index: 1;
}

.debug_log_toggle {
  line-height: 0.8em;
  float: right;
}

.gaia_login_panel {
  -webkit-user-select: none;
  font-family: arial,sans-serif;
  position: absolute;
  display: none;
  z-index: 1;
  top: 50%;
  left: 45%;
  border: 2px solid #e8eefa;
  margin-left: auto;
  margin-right: auto;
}

.local_login_panel {
  -webkit-user-select: none;
  font-family: arial,sans-serif;
  position: absolute;
  display: none;
  z-index: 1;
  top: 50%;
  left: 45%;
  border: 2px solid #e8eefa;
  margin-left: auto;
  margin-right: auto;
}

.plugin-scroll-panel {
  -webkit-user-select: none;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.gaia_font {
    font-family: Arial, Helvetica, sans-serif;
}

#main-content {
  display: -webkit-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#mainview {
  -webkit-box-align: stretch;
  -webkit-padding-start: 267px;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

html.hide-menu #mainview {
  -webkit-padding-start: 0;
}

#mainview-content {
  box-sizing: border-box;
  max-width: 888px;
  min-height: 100%;
  min-width: 600px;
  padding: 0 24px;
  position: relative;
}

#navbar {
  margin: 0;
}

#navbar-container {
  -webkit-border-end: 1px solid #c6c9ce;
  background: -webkit-linear-gradient(rgba(234, 238, 243, 0.2), #eaeef3),
              -webkit-linear-gradient(left, #eaeef3, #eaeef3 97%, #d3d7db);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 266px;
  z-index: 2;
}

#navbar-container > ul {
  -webkit-user-select: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  color: #426dc9;
  cursor: pointer;
  display: block;
  font-size: 105%;
  outline: none;
  padding: 7px 0;
  text-align: end;
  text-shadow: white 0 1px 1px;
  -webkit-padding-end: 24px;
}

.navbar-item-selected {
  -webkit-box-shadow: 0px 1px 0px #f7f7f7;
  background: -webkit-linear-gradient(left, #bbcee9, #bbcee9 97%, #aabedc);
  border-bottom: 1px solid #8faad9;
  border-top: 1px solid #8faad9;
  color: black;
  text-shadow: #bbcee9 0 1px 1px;
}

#settings-title {
  -webkit-padding-end: 24px;
  -webkit-user-select: none;
  color: #53637d;
  cursor: pointer;
  font-size: 200%;
  font-weight: normal;
  margin: 0;
  padding-bottom: 14px;
  padding-top: 13px;
  text-align: end;
  text-shadow: white 0 1px 2px;
}

.page h1 {
  -webkit-padding-end: 24px;
  -webkit-user-select: none;
  border-bottom: 1px solid #eeeeee;
  color: #53637d;
  font-size: 200%;
  font-weight: normal;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 13px;
  text-shadow: white 0 1px 2px;
}

section {
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #eeeeee;
  display: -webkit-box;
  margin-top: 17px;
  padding-bottom: 20px;
}

section > h3 {
  font-size: 105%;
  font-weight: bold;
  margin: 0;
  vertical-align: middle;
  width: 160px;
}

section > div:only-of-type {
  -webkit-box-flex: 1;
}

div.page section:last-child {
  border-bottom: none;
}

button {
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  border: 1px solid #aaa;
  color: #444;
  font-size: inherit;
  margin-bottom: 0px;
  min-width: 4em;
  padding: 3px 12px 3px 12px;
}


button:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
  border-color: #999;
  color: #222;
}

button:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
  color: #333;
}

button[disabled], button[disabled]:hover {
  -webkit-box-shadow: none;
  background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  border-color: #aaa;
  color: #888;
}

#host-options {
  padding: 3px 12px 3px 12px;
  line-height: 30px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
