// Copyright (c) 2010 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.
//
// @file
// Content script manager resources.
#include <winres.h>

#ifdef APSTUDIO_INVOKED
#error Please edit as text.
#endif

// These are included as HTML resources to allow referring them
// by res: URLs, which helps debugging.
base.js             HTML   "base.js"
json.js             HTML   "json.js"
ceee_bootstrap.js   HTML   "ceee_bootstrap.js"
event_bindings.js   HTML   "event_bindings.js"
renderer_extension_bindings.js HTML   "renderer_extension_bindings.js"
