<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2018 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="{{manifest_package}}">

    <!-- Chrome VR is only supported on Android L+. -->
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="{{target_sdk_version}}" />

    <!-- TODO(crbug.com/862689): Set dist:onDemand="true" once we can on-demand
         install modules. -->
    <!-- TODO(crbug.com/875059): Use @string reference for dist:title. -->
    <dist:module
        dist:onDemand="false"
        dist:title="VR">
        <dist:fusing dist:include="false" />
    </dist:module>

    <application>
    </application>
</manifest>
