{
  "name": "com.google.chrome.remote_desktop",
  "description": "{{ ME2ME_HOST_DESCRIPTION }}",
  "type": "stdio",
  "path": "{{ ME2ME_HOST_PATH }}",
  "allowed_origins": [
    {# Chrome App (Dev Build) #}
    "chrome-extension://ljacajndfccfgnfohlgkdphmbnpkjflk/",
    {# Chrome App (Prod) #}
    "chrome-extension://gbchcmhmhahfdphkhkmpfmihenigjmpp/",
    {# Chrome App (Pre-release) #}
    "chrome-extension://kgngmbheleoaphbjbaiobfdepmghbfah/",
    {# Chrome App (QA / Release Candidate) #}
    "chrome-extension://odkaodonbgfohohmklejpjiejmcipmib/",
    {# Chrome App (Backup QA) #}
    "chrome-extension://dokpleeekgeeiehdhmdkeimnkmoifgdd/",
    {# Chrome App (Apps V2 Dogfood) #}
    "chrome-extension://ajoainacpilcemgiakehflpbkbfipojk/",
    {# Chrome App (Apps V2 QA) #}
    "chrome-extension://hmboipgjngjoiaeicfdifdoeacilalgc/",
    {# Chrome Extension (Prod) #}
    "chrome-extension://inomeogfingihgjfjlpeplalcfajhgai/",
    {# Chrome Extension (Dev Build) #}
    "chrome-extension://hpodccmdligbeohchckkeajbfohibipg/"
  ]
}
