.common {
  border: 4px inset pink;
}

.mainlayer {
  position: absolute;
  left: 500px;
  top: 300px;
}

.composited1 {
  position: absolute;
  transform: scale3d(1, 5, 1);
  left: 500px;
  top: 500px;
}

.composited2 {
  position: absolute;
  transform: scale3d(5, 1, 1);
  left: 500px;
  top: 700px;
}

html {
  background: black;
  font-size: 12px;
  color: white;
  -bb-lcd-background-color: auto;
}
