Source: google-o3d
Maintainer: Tristan Schmelcher <tschmelcher@google.com>
Build-Depends-Indep: debhelper (>= 5), cdbs
Priority: optional
Section: web
Standards-Version: 3.7.3

Package: google-o3d
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: o3d-plugin
Replaces: o3d-plugin
Description: Google O3D Plugin
 O3D is an open-source web API for creating rich, interactive 3D applications in
 the browser.
 .
 This package provides the NPAPI browser plugin for running O3D-based web apps.

Package: google-o3d-dbgsym
Architecture: any
Depends: google-o3d (= ${Source-Version})
Description: Google O3D Plugin Debug Symbols
 O3D is an open-source web API for creating rich, interactive 3D applications in
 the browser.
 .
 This package contains symbol files for debugging.
