#scripts-files option.injected {
    color: rgb(70, 134, 240);
}

.data-grid table {
    line-height: 120%;
}

body.attached #toolbar {
    height: 34px;
    border-top: 1px solid rgb(100, 100, 100);
    cursor: default; /* overriden */
    padding-left: 0;
}


/* Chrome theme overrides */
#toolbar {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(242, 247, 253)), to(rgb(223, 234, 248)));
}


/* Heap Profiler Styles */

#heap-snapshot-views {
    position: absolute;
    top: 0;
    right: 0;
    left: 200px;
    bottom: 0;
}

#heap-snapshot-status-bar-items {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 200px;
    overflow: hidden;
    border-left: 1px solid rgb(184, 184, 184);
    margin-left: -1px;
}

.heap-snapshot-status-bar-item {
    background-image: url(Images/focusButtons.png) !important;
}

.heap-snapshot-status-bar-item:active {
    background-position: 32px 0;
}

.heap-snapshot-sidebar-tree-item .icon {
    content: url(Images/profileIcon.png);
}

.heap-snapshot-sidebar-tree-item.small .icon {
    content: url(Images/profileSmallIcon.png);
}

.heap-snapshot-view {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.heap-snapshot-view.visible {
    display: block;
}

.heap-snapshot-view .data-grid {
    border: none;
    max-height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 93px;
    bottom: 0;
}
