/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#dialogOuterDiv {
  margin-bottom: 16px;
}

#dialogHeaderDiv {
  height: 40px;
  margin: 0 5px 10px;
}

#dialogFooterDiv {
  height: 40px;
  margin: 0 20px;
}

#dialogMessage {
  margin-bottom: 10px;
}

#dialogTitle {
  font-size: 125%;
  margin: 0 10px;
}

#dialogDeviceList {
  height: 210px;
  margin-bottom: 20px;
  margin-left: 4px;
  overflow-y: auto;
}

#pairing {
  margin-bottom: 10px;
}

#pairing paper-input {
  text-align: center;
}

#pinDiv {
  margin-top: 10px;
}

iron-selector {
  width: 100%;
}

paper-spinner {
  height: 20px;
  margin: 0 10px;
  width: 20px;
}

/* .display indicates a displayed pin code or passkey. */
span.display {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #222;
  color: #222;
  font-size: 16px;
  height: 38px;
  line-height: 38px;
  margin: 0 5px;
  padding: 0 15px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

span.display.next {
  background: rgb(77, 144, 254);
  border: 2px solid rgb(77, 144, 254);
  box-shadow: none;
  color: #fff;
}

span.display.untyped {
  border: 1px solid #d4d4d4;
  box-shadow: 0 0 0 1px #888;
  color: #666;
}

/* .confirm indicates a confirmation passkey. */
span.confirm {
  color: #999;
  font-size: 20px;
  font-weight: 600;  /* semibold */
  margin: 0 20px;
}
