body,td,div,p,a,font,span {font-family: arial,sans-serif;}
body {
  background-color:#ffffff;
  -webkit-user-select: none;
}
A:link {color:#0000cc; }
A:visited { color:#551a8b; }
A:active { color:#ff0000; }
.form-noindent {background-color: #ffffff; border: #C3D9FF 1px solid}
.body { margin-left: 3em;
  margin-right: 5em;
  font-family: arial,sans-serif; }
.endaligned {
  text-align: right;
}
html[dir='rtl'] .endaligned {
  text-align: left;
}
#gaia_account_text { font-weight: bold; }
#email_readonly { font-size: 10pt;
                  font-weight: bold;
                  display: none; }
div.errorbox-good {}
div.errorbox-bad {}
div.errormsg { color: red; font-size: smaller;
  font-family: arial,sans-serif;
  display: none;}
font.errormsg { color: red; font-size: smaller;
  font-family: arial,sans-serif;}
div.errormsgspacer { min-height: 1em;}
font.errormsgspacer { font-size: smaller;
  font-family: arial,sans-serif;}

hr {
  border: 0;
  background-color:#DDDDDD;
  height: 1px;
  width: 100%;
  text-align: left;
  margin: 5px;
}
#gaia_loginform {
  margin-bottom: 0;
}

#captcha_wrapper {
  background-size: 200px 70px;
  background: no-repeat;
  background-position: center;
  background-color: #e8eefa;
  display: block;
}
.captcha_image {
  display: block;
  width: 200px;
  height: 70px;
}
#logging_in_throbber {
  margin: 0px 10px 0px 10px;
}
.toppageverticalspace {
  height: 15px;
}
.bottompaddedcell {
  padding-bottom: 3px;
}
.noverticalpadding {
  padding-top: 0;
  padding-bottom: 0;
}
.cancelspacenocaptcha {
  height: 22px;
}
.cancelspaceforcaptcha {
  height: 5px;
}
#top_blurb {
  font-size: 11pt;
  line-height: 1.5em;
}
input[type='button'],
input[type='submit'] {
  min-width: 87px;
  min-height: 26px;
}
#top_blurb_error {
  display: block;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  text-align: center;
  padding: 4px 10px;
  background-color: #eeb939;
  border-radius: 4px;
  font-weight: bold;
  font-size: 11pt;
}
#content_table {
 padding: 2px;
}
.access_code_row {
  display: none;
}
.access_code_row > td {
  text-align: center;
  padding-bottom: 1px;
}
#access_code_label_row > td {
  padding-top: 6px;
}
.centeredtext {
  text-align: center;
}
div.errormsg { color: red; font-size: smaller; font-family:arial,sans-serif; }
font.errormsg { color: red; font-size: smaller; font-family:arial,sans-serif;}
.gaia.le.lbl { font-family: Arial, Helvetica, sans-serif; font-size: smaller; }
.gaia.le.fpwd { font-family: Arial, Helvetica, sans-serif; font-size: 70%; }
.gaia.le.chusr { font-family: Arial, Helvetica, sans-serif; font-size: 70%; }
.gaia.le.val { font-family: Arial, Helvetica, sans-serif; font-size: smaller; }
.gaia.le.button { font-family: Arial, Helvetica, sans-serif; }
.gaia.le.rem { font-family: Arial, Helvetica, sans-serif; font-size: smaller; }
.gaia.captchahtml.desc { font-family: arial, sans-serif; font-size: smaller; }
.gaia.captchahtml.cmt { font-family: arial, sans-serif; font-size: smaller;
                        font-style: italic; }