/* Copyright 2018 The Chromium Authors. All rights reserved.
   Use of this source code is governed by a BSD-style license that can be
   found in the LICENSE file. */

:host {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 246px;
  width: 246px;
}
