/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.cast-menu {
  background: #222;
  border: 0;
  border-radius: 1px;
  min-width: 120px;
  padding: 0 15px 15px;
  position: absolute;
  z-index: 1000;
}

.cast-menu:before {
  color: #fff;
  content: attr(playon-text);
  line-height: 42px;
}

.cast-menu.hidden {
  display: none;
}

.cast-menu > :not(hr) {
  -webkit-padding-end: 14px;
  -webkit-padding-start: 19px;
  background-color: #e6e6e6;
  font-size: 12px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-overflow: ellipsis;
}

.cast-menu > [checked]:not(hr) {
  /* A checkmark has 19 px width. */
  -webkit-padding-start: 0;
}

.cast-menu > [selected]:not(hr) {
  background-color: #888;
  color: #fff;
}

.cast-menu > [selected]:not(hr):active {
  background-color: #888;
  color: #fff;
}

.cast-menu > [checked]:hover:before,
.cast-menu > [checked]:active:before {
  content: url('../../../webui/resources/images/checkbox_white.png');
}

.cast-menu > :not(hr):hover {
  background-color: #555;
  color: #fff;
}
