html {
  height: 100%;  /* Required for printing. */
}

*:focus {
  /* Make buttons have the same focus-outline style. */
  outline: none;
  /* TODO(yuli): Find a better fix instead of using up box-shadow. */
  box-shadow: 0 0 2px 3px rgba(37, 129, 223, 0.8);
}

body {
  background: black;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.scrollbar-track {
  padding: 2px;
  position: fixed;
}

.scrollbar-track-horizontal {
  bottom: 0;
  left: 0;
  right: 0;
}

.scrollbar-track-vertical {
  bottom: 0;
  right: 0;
  top: 0;
}

.scrollbar-thumb {
  background: white;
  border: 1px solid #555;
  border-radius: 3px;
  box-sizing: border-box;
  opacity: 0.4;
  position: absolute;
  transition: opacity 100ms;
}

.scrollbar-track .scrollbar-thumb:hover {
  opacity: 0.6;
}

.scrollbar-track .scrollbar-thumb:active {
  opacity: 0.8;
}

.scrollbar-track-horizontal,
.scrollbar-track-horizontal .scrollbar-thumb {
  height: 8px;
}

.scrollbar-track-vertical,
.scrollbar-track-vertical .scrollbar-thumb {
  width: 8px;
}

.buttons {
  align-content: flex-end;
  align-items: flex-end;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  left: 0;
  margin: -2px;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.one-button {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.buttons button,
.buttons input {
  -webkit-app-region: no-drag;
  background-color: transparent;
  border: none;
  margin: 2px;
  padding: 0;
  pointer-events: auto;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

.one-button button,
.one-button input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.one-button.circle button {
  border-radius: 50%;
}

.one-button button[disabled],
.one-button input[disabled],
.buttons button[disabled],
.buttons input[disabled] {
  opacity: 0.65;
  pointer-events: none;
}


.one-button button:not([disabled]):hover,
.one-button input:not([disabled]):hover,
.buttons button:not([disabled]):hover,
.buttons input:not([disabled]):hover {
  background-color: rgba(60, 60, 60, 0.75);
}

.one-button button:not([disabled]):active,
.one-button input:not([disabled]):active,
.buttons button:not([disabled]):active,
.buttons input:not([disabled]):active {
  background-color: rgba(90, 90, 90, 0.75);
}

#toolbar-stripe {
  margin: 8px 0;
  position: relative;
}

.buttons.prev-to-middle {
  /* Start just before the take-picture button. */
  -webkit-margin-end: calc(50% + 73px/2);
  justify-content: flex-end;
}

.buttons.next-to-middle {
  /* Start just after the take-picture button. */
  -webkit-margin-start: calc(50% + 73px/2);
  justify-content: flex-start;
}

#toolbar .buttons {
  align-items: center;
  padding: 0 10px;
}

.buttons #browser-print {
  background-image: -webkit-image-set(
      url(../images/browser_button_print.png) 1x,
      url(../images/2x/browser_button_print.png) 2x);
}

.buttons #browser-export {
  background-image: -webkit-image-set(
      url(../images/browser_button_export.png) 1x,
      url(../images/2x/browser_button_export.png) 2x);
}

.buttons #browser-back {
  background-image: -webkit-image-set(
      url(../images/gallery_button_back.png) 1x,
      url(../images/2x/gallery_button_back.png) 2x);
}

.buttons #browser-delete {
  background-image: -webkit-image-set(
      url(../images/gallery_button_delete.png) 1x,
      url(../images/2x/gallery_button_delete.png) 2x);
}

#error {
  align-items: center;
  background: black;
  bottom: 0;
  color: white;
  display: none;
  flex-direction: column;
  font-size: 18px;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

#error .icon {
  background: center center no-repeat url(../images/no_camera.svg);
  height: 60px;
  margin-bottom: 20px;
  width: 90px;
}

#error .icon.animate {
  -webkit-animation: animateIcon 1.5s ease-out;
}

@-webkit-keyframes animateIcon {
  0% {
    -webkit-transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(10px);
  }
  30% {
    -webkit-transform: translateY(-150px) rotate(30deg);
  }
  80% {
    -webkit-transform: translateY(-120px) rotate(1050deg);
  }
  90% {
    -webkit-transform: translateY(10px) rotate(1080deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
  }
}

#error #error-msg,
#error #error-msg-hint {
  text-align: center;
}

#error #error-msg-hint {
  font-size: 16px;
}

body.has-error #error {
  display: flex;
}

body.mirror #main-preview {
  -webkit-transform: scaleX(-1);
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  width: 0;
  height: 0;
}

.one-button.circle #gallery-enter {
  position: absolute;
  right: 24px;
  bottom: 32px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.one-button.circle #gallery-enter img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
}

#gallery-enter.no-content {
  background-color: rgba(24, 24, 24, 1);
}

.one-button #take-picture {
  background-image: -webkit-image-set(
      url(../images/camera_button_picture.png) 1x,
      url(../images/2x/camera_button_picture.png) 2x);
  height: 37px;
  width: 73px;
  border-radius: 20px;
}

body.record-mode #take-picture {
  background-image: -webkit-image-set(
      url(../images/camera_button_video.png) 1x,
      url(../images/2x/camera_button_video.png) 2x);
}

.one-button #take-picture:hover {
  background-position: 0 -37px;
}

.one-button #take-picture:active {
  background-position: 0 -74px;
}

.one-button #take-picture[disabled] {
  background-position: 0 -111px;
}

.one-button #take-picture.flash {
  -webkit-animation: flashTake 600ms linear infinite;
}

@-webkit-keyframes flashTake {
  from {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.buttons #toggle-timer {
  -webkit-appearance: none;
  background-image: -webkit-image-set(
      url(../images/camera_button_timer.png) 1x,
      url(../images/2x/camera_button_timer.png) 2x);
  height: 32px;
  width: 32px;
  background-position: 0 0;
}

.buttons #toggle-device {
  background-image: -webkit-image-set(
      url(../images/camera_button_toggle.png) 1x,
      url(../images/2x/camera_button_toggle.png) 2x);
  height: 32px;
  width: 32px;
}

.buttons #switch-recordvideo {
  background-image: -webkit-image-set(
      url(../images/camera_button_record.png) 1x,
      url(../images/2x/camera_button_record.png) 2x);
  height: 32px;
  width: 32px;
  background-position: 0 0;
}

.buttons #switch-takephoto {
  background-image: -webkit-image-set(
      url(../images/camera_button_record.png) 1x,
      url(../images/2x/camera_button_record.png) 2x);
  height: 32px;
  width: 32px;
  background-position: 0 -32px;
}

body:not(.record-mode) #switch-takephoto,
body.record-mode #switch-recordvideo {
  visibility: hidden;
}

.buttons #toggle-mirror {
  -webkit-appearance: none;
  background-image: -webkit-image-set(
      url(../images/camera_button_mirror.png) 1x,
      url(../images/2x/camera_button_mirror.png) 2x);
  height: 32px;
  width: 32px;
  background-position: 0 0;
}

.buttons #toggle-timer.animate,
.buttons #toggle-timer:not(:checked),
.buttons #toggle-mirror:not(:checked) {
  background-position: 0 -32px;
}

#toolbar {
  background: rgba(32, 32, 32, 0.8);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

#camera,
#browser {
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 100ms, visibility 0 100ms;
  visibility: hidden;
}

body.camera #camera,
body.browser #browser {
  opacity: 1;
  transition: opacity 100ms;
  visibility: visible;
}

#camera,
#main-preview-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#main-preview-wrapper {
  flex-shrink: 0;
}

#toast {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 250ms;
  z-index: 1;
}

#toast #toast-message {
  background: #1e1e23;
  border-radius: 16px;
  color: white;
  font-size: 16px;
  line-height: 32px;
  opacity: 0.9;
  padding: 0 16px;
}

#toast.visible {
  opacity: 1;
}

#recording-timer {
  align-items: center;
  color: white;
  display: flex;
  font-size: 16px;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 24px;
  z-index: 1;
}

#recording-timer.visible {
  opacity: 1;
}

#browser .buttons {
  position: fixed;
  /* Fix crbug.com/638500: button background flickers when hovered. */
  transform: translate3d(0, 0, 0);
}

#browser .buttons button {
  /* TODO(yuli): Fix browser view's buttons' incorrect dimensions. */
  background-position: center;
  background-repeat: no-repeat;
}

#browser .buttons button[disabled] {
  display: none;
}

#browser {
  background: black;
}

#browser .padder {
  align-items: center;
  display: flex;
  height: 100%;
}

#browser div.media-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-shrink: 0;
  margin: 4%;
  pointer-events: auto;
}

#browser div.bounds-padder {
  display: flex;
  flex-shrink: 0;
  height: 1px;  /* Required to make the element visible. */
  width: 50%;
}

#browser div.media-wrapper.selected {
  /* TODO(yuli): Maybe add borders for selection */
}

/* Printing in the browser view. */
@media print {
  html {
    height: 100%;  /* Required for printing. */
  }

  body {
    height: auto;
    overflow: visible;
    position: static;
    width: 100%;
  }

  /* Reset background colors. */
  body,
  #browser {
    background: transparent;
  }

  /* Hide the buttons and scroll bars. */
  .buttons,
  .scrollbar-track {
    display: none;
  }

  /* Hide all root elements, except the printed view. */
  body.browser > :not(#browser) {
    display: none;
  }

  /* Hide everything from the browser view, but the selected one(s). */
  #browser .padder > :not(.selected) {
    display: none;
  }

  #browser .padder {
    align-items: flex-start;
  }

  /* Reset styles to default on the borwser view, and set the maximum dimensions
     to 100%. */
  #browser div.media-wrapper.selected {
    display: block; /* Allows to keep aspect ratio of children. */
    -webkit-transform: scale(1);
    border: none;
    box-shadow: none;
    margin: auto;
    position: absolute;
  }

  #browser div.media-wrapper.selected img,
  #browser div.media-wrapper.selected video {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
  }

  #browser video::-webkit-media-controls {
    display: none;
  }
}

#tooltip {
  -webkit-transform: translateY(10px);
  left: 0;
  opacity: 0;
  padding: 5px;
  pointer-events: none;
  position: absolute;
  top: 0;
  white-space: nowrap;
  z-index: 100;
}

#tooltip-arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #e0e0e0;
  bottom: 0;
  height: 0;
  left: 50%;
  margin: 0 -10px;
  position: absolute;
  width: 0;
}

#tooltip #tooltip-msg {
  background: #e0e0e0;
  padding: 10px;
}

#tooltip.visible {
  -webkit-transform: translateY(0);
  transition: opacity 500ms, -webkit-transform 500ms;
  opacity: 1;
}

#dialog {
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 200ms, visibility 0;
  z-index: 1;
}

body:not(.dialog) #dialog {
  opacity: 0;
  transition: opacity 200ms, visibility 0 200ms;
  visibility: hidden;
}

#dialog #dialog-popup {
  -webkit-transform: translateY(20px);
  background: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: -webkit-transform 200ms;
}

body.dialog #dialog #dialog-popup {
  -webkit-transform: translateY(0);
}

#dialog #dialog-close-button {
  background: -webkit-image-set(
      url(../images/dialog_button_close.png) 1x,
      url(../images/2x/dialog_button_close.png) 2x) no-repeat;
  height: 14px;
  position: absolute;
  right: 7px;
  top: 7px;
  width: 14px;
}

html[dir='rtl'] #dialog #dialog-close-button {
  left: 7px;
  right: auto;
}

#dialog #dialog-close-button:hover {
  background-position: 0 -14px;
}

#dialog #dialog-close-button:active {
  background-position: 0 -28px;
}

#dialog #dialog-msg {
  -webkit-user-select: text;  /* Allow copying the message. */
  cursor: text;
  font-size: 120%;
  max-height: 320px;
  max-width: 640px;
  overflow: auto;
  padding: 20px 0;
  white-space: pre-wrap;
}

#dialog #dialog-msg::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

#dialog #dialog-msg::-webkit-scrollbar-track {
  background: transparent;
}

#dialog #dialog-msg::-webkit-scrollbar-thumb {
  background: gray;
  width: 6px;
  height: 6px;
}

#dialog #dialog-buttons {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: -2px;
}

#dialog #dialog-buttons button {
  padding: 5px 20px;
  margin: 2px;
}

#spinner {
  background: transparent url(../images/spinner.svg) center / 32px no-repeat;
  bottom: 0;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

body.capturing #spinner {
  opacity: 0;
  transition: opacity 100ms, visibility 0 100ms;
  visibility: hidden;
}
