html {
  height: 100%;  /* Required for printing. */
}

body {
  background: black;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.scrollbar-track {
  padding: 2px;
  position: fixed;
}

.scrollbar-track-horizontal {
  bottom: 0;
  left: 0;
  right: 0;
}

.scrollbar-track-vertical {
  bottom: 0;
  right: 0;
  top: 0;
}

.scrollbar-thumb {
  background: white;
  border: 1px solid #555;
  border-radius: 3px;
  box-sizing: border-box;
  opacity: 0.4;
  position: absolute;
  transition: opacity 100ms;
}

.scrollbar-track .scrollbar-thumb:hover {
  opacity: 0.6;
}

.scrollbar-track .scrollbar-thumb:active {
  opacity: 0.8;
}

.scrollbar-track-horizontal,
.scrollbar-track-horizontal .scrollbar-thumb {
  height: 8px;
}

.scrollbar-track-vertical,
.scrollbar-track-vertical .scrollbar-thumb {
  width: 8px;
}

.buttons button,
.buttons input {
  -webkit-app-region: no-drag;
  border: none;
  height: 32px;
  margin: 2px;
  padding: 0;
  pointer-events: auto;
  vertical-align: middle;
  width: 32px;
}

.buttons button {
  background: rgba(0, 0, 0, 0.75) center center no-repeat;
}

.buttons button:not([disabled]):hover,
.buttons input:not([disabled]):hover {
  background-color: rgba(60, 60, 60, 0.75);
}

.buttons button:not([disabled]):active,
.buttons input:not([disabled]):active {
  background-color: rgba(90, 90, 90, 0.75);
}

#toolbar-puller-wrapper {
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: auto;
  position: absolute;
}

#toolbar-puller-wrapper.puller-reset {
  transition: -webkit-transform 200ms;
}

#toolbar-background {
  background: rgba(32, 32, 32, 0.8);
  height: 500px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#toolbar-stripe {
  margin: 8px 0;
  position: relative;
}

#toolbar #album-enter.flash {
  -webkit-animation: flashButton 300ms linear 0.5s 3;
}

@-webkit-keyframes flashButton {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.buttons {
  align-content: flex-end;
  align-items: flex-end;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  left: 0;
  margin: -2px;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.buttons.opposite-side {
  justify-content: flex-start;
}

.buttons.prev-to-middle {
  /* Start just before the take-picture button. */
  -webkit-margin-end: calc(50% + 73px/2);
  justify-content: flex-end;
}

.buttons.next-to-middle {
  /* Start just after the take-picture button. */
  -webkit-margin-start: calc(50% + 73px/2);
  justify-content: flex-start;
}

.buttons #album-enter {
  background-image: -webkit-image-set(
      url(../images/camera_button_album.png) 1x,
      url(../images/2x/camera_button_album.png) 2x);
}

.buttons #filters-toggle {
  background-image: -webkit-image-set(
      url(../images/camera_button_filters.png) 1x,
      url(../images/2x/camera_button_filters.png) 2x);
}

#toolbar .buttons {
  align-items: center;
  padding: 0 10px;
}

#toolbar .buttons button:not(:hover):not(:active) {
  background-color: transparent;
}

.buttons #album-print,
.buttons #browser-print {
  background-image: -webkit-image-set(
      url(../images/browser_button_print.png) 1x,
      url(../images/2x/browser_button_print.png) 2x);
}

.buttons #album-export,
.buttons #browser-export {
  background-image: -webkit-image-set(
      url(../images/browser_button_export.png) 1x,
      url(../images/2x/browser_button_export.png) 2x);
}

.buttons #album-back,
.buttons #browser-back {
  background-image: -webkit-image-set(
      url(../images/gallery_button_back.png) 1x,
      url(../images/2x/gallery_button_back.png) 2x);
}

.buttons #album-delete,
.buttons #browser-delete {
  background-image: -webkit-image-set(
      url(../images/gallery_button_delete.png) 1x,
      url(../images/2x/gallery_button_delete.png) 2x);
}

body.letterbox #main-canvas-wrapper,
body.letterbox #main-preview-canvas-wrapper,
body.letterbox #main-fast-canvas-wrapper,
body.letterbox #main-canvas-wrapper canvas,
body.letterbox #main-preview-canvas-wrapper canvas,
body.letterbox #main-fast-canvas-wrapper canvas {
  width: 100%;
}

body:not(.letterbox) #main-canvas-wrapper,
body:not(.letterbox) #main-preview-canvas-wrapper,
body:not(.letterbox) #main-fast-canvas-wrapper,
body:not(.letterbox) #main-canvas-wrapper canvas,
body:not(.letterbox) #main-preview-canvas-wrapper canvas,
body:not(.letterbox) #main-fast-canvas-wrapper canvas {
  height: 100%;
}

#main-canvas-wrapper canvas,
#main-preview-canvas-wrapper canvas,
#main-fast-canvas-wrapper canvas {
  pointer-events: none;
}

#error {
  align-items: center;
  background: black;
  bottom: 0;
  color: white;
  display: none;
  flex-direction: column;
  font-size: 18px;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

#error .icon {
  background: center center no-repeat url(../images/no_camera.svg);
  height: 60px;
  margin-bottom: 20px;
  width: 90px;
}

#error .icon.animate {
  -webkit-animation: animateIcon 1.5s ease-out;
}

@-webkit-keyframes animateIcon {
  0% {
    -webkit-transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(10px);
  }
  30% {
    -webkit-transform: translateY(-150px) rotate(30deg);
  }
  80% {
    -webkit-transform: translateY(-120px) rotate(1050deg);
  }
  90% {
    -webkit-transform: translateY(10px) rotate(1080deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
  }
}

#error #error-msg,
#error #error-msg-hint {
  text-align: center;
}

#error #error-msg-hint {
  font-size: 16px;
}

body.has-error #error {
  display: flex;
}

body.mirror canvas {
  -webkit-transform: scaleX(-1);
}

#effects-wrapper {
  position: relative;
}

#effects {
  margin-bottom: 8px;
  overflow: auto;
}

#effects .padder {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0 0 5px;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  width: 0;
  height: 0;
}

#effects li {
  -webkit-margin-end: 10px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

#effects li:first-child {
  padding-left: 10px;
}

#effects li:last-child {
  padding-right: 10px;
}

#effects li div.preview-canvas-wrapper {
  border: 2px solid transparent;
  height: 80px;
  overflow: hidden;
  position: relative;
  width: 80px;
}

#effects li[selected] div.preview-canvas-wrapper {
  border: 2px solid rgb(66, 129, 244);
}

#effects li:not([selected]) {
  /* Hide focus on the unselected effect during scrolling. (crbug.com/611666) */
  outline: none;
}

#effects li div.preview-canvas-padder {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#effects li canvas {
  height: 257px;  /* Forces hardware accelerated 2d canvas. */
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity 200ms;
  width: 257px;
}

body.mirror #effects li canvas {
  right: 0;
}

#effects li span {
  -webkit-padding-before: 5px;
  color: white;
  display: block;
  font-size: 90%;
  text-align: center;
  width: 80px;
}

#buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

#buttons button,
#buttons input {
  background-color: transparent;
  border: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#buttons button[disabled],
#buttons input[disabled],
.buttons button[disabled],
.buttons input[disabled] {
  opacity: 0.65;
  pointer-events: none;
}

#buttons #take-picture {
  background-image: -webkit-image-set(
      url(../images/camera_button_picture.png) 1x,
      url(../images/2x/camera_button_picture.png) 2x);
  height: 37px;
  width: 73px;
}

#buttons #take-picture.motion-picture {
  background-image: -webkit-image-set(
      url(../images/camera_button_video.png) 1x,
      url(../images/2x/camera_button_video.png) 2x);
}

#buttons #take-picture:hover {
  background-position: 0 -37px;
}

#buttons #take-picture:active {
  background-position: 0 -74px;
}

#buttons #take-picture[disabled] {
  background-position: 0 -111px;
}

#buttons #take-picture:focus {
  outline: none;
  position: relative;
}

#buttons #take-picture:focus::after {
  border: 2px solid rgba(229, 151, 0, 0.5);
  border-radius: 20px;
  bottom: -2px;
  content: '';
  display: block;
  left: -2px;
  position: absolute;
  right: -2px;
  top: -2px;
}

#buttons #take-picture.flash {
  -webkit-animation: flashTake 600ms linear infinite;
}

@-webkit-keyframes flashTake {
  from {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.buttons #toggle-timer {
  -webkit-appearance: none;
  background-image: -webkit-image-set(
      url(../images/camera_button_timer.png) 1x,
      url(../images/2x/camera_button_timer.png) 2x);
  height: 32px;
  width: 32px;
}

.buttons #toggle-multi {
  -webkit-appearance: none;
  background-image: -webkit-image-set(
      url(../images/camera_button_multi.png) 1x,
      url(../images/2x/camera_button_multi.png) 2x);
  height: 32px;
  width: 32px;
}

.buttons #toggle-camera {
  background-image: -webkit-image-set(
      url(../images/camera_button_toggle.png) 1x,
      url(../images/2x/camera_button_toggle.png) 2x);
  height: 32px;
  width: 32px;
}

.buttons #toggle-record {
  background-image: -webkit-image-set(
      url(../images/camera_button_record.png) 1x,
      url(../images/2x/camera_button_record.png) 2x);
  height: 32px;
  width: 32px;
  background-position: 0 0;
}

.buttons #toggle-mirror {
  -webkit-appearance: none;
  background-image: -webkit-image-set(
      url(../images/camera_button_mirror.png) 1x,
      url(../images/2x/camera_button_mirror.png) 2x);
  height: 32px;
  width: 32px;
}

.buttons #toggle-timer.animate,
.buttons #toggle-record.toggle-off,
.buttons #toggle-timer:not(:checked),
.buttons #toggle-multi:not(:checked),
.buttons #toggle-mirror:not(:checked) {
  background-position: 0 -32px;
}

#toolbar {
  -webkit-transform: translateY(100%);
  bottom: 52px;  /* Keep in sync with #toolbar.expanded. */
  left: 0;
  position: absolute;
  right: 0;
  transition: -webkit-transform 200ms ease;
}

body:not(.has-error) #toolbar.expanded {
  -webkit-transform: translateY(52px);
}

#camera,
#album,
#browser {
  bottom: 0;
  left: 0;
  outline: none;
  opacity: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 100ms, visibility 0 100ms;
  visibility: hidden;
  z-index: 1;  /* Hack to enable touch scrolling in album. */
}

body.camera #camera,
body.browser #browser,
body.album #album {
  opacity: 1;
  transition: opacity 100ms;
  visibility: visible;
}

#camera {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#toast {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 250ms;
  z-index: 1;
}

#toast #toast-message {
  background: #1e1e23;
  border-radius: 16px;
  color: white;
  font-size: 16px;
  line-height: 32px;
  opacity: 0.9;
  padding: 0 16px;
}

#toast.visible {
  opacity: 1;
}

#recording-timer {
  align-items: center;
  color: white;
  display: flex;
  font-size: 16px;
  left: 0;
  justify-content: center;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 56px;
  z-index: 1;
}

#recording-timer.visible {
  opacity: 1;
}

#album .buttons,
#browser .buttons {
  position: fixed;
  /* Fix crbug.com/638500: button background flickers when hovered. */
  transform: translate3d(0, 0, 0);
}

#album .buttons button[disabled],
#browser .buttons button[disabled] {
  display: none;
}

#album {
  background: black;
}

#album .padder {
  padding: 15px;
}

#album div.media-wrapper {
  -webkit-app-region: no-drag;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin: 10px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  width: 220px;
  height: 200px;
  overflow: hidden;
}

#album div.media-wrapper img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
}

#album div.media-wrapper.selected::after {
  border: 4px solid rgb(66, 129, 244);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  display: block;
  position: absolute;
}

#album div.media-wrapper.motion-picture::after {
  background-image: -webkit-image-set(
      url(../images/album_video_overlay.png) 1x,
      url(../images/2x/album_video_overlay.png) 2x);
  background-repeat: no-repeat;
  background-position: center;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#browser {
  background: rgba(0, 0, 0, 0.8);
}

#browser .padder {
  align-items: center;
  display: flex;
  height: 100%;
}

#browser div.media-wrapper {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-shrink: 0;
  margin: 4%;
  pointer-events: auto;
  transition: -webkit-transform 200ms;
}

#browser div.bounds-padder {
  display: flex;
  flex-shrink: 0;
  height: 1px;  /* Required to make the element visible. */
  width: 50%;
}

#browser div.media-wrapper.selected {
  -webkit-transform: scale(1.1);
}

/* Printing in the browser view. */
@media print {
  /* For the album view, do not restrict to one page. */
  html {
    height: 100%;  /* Required for printing. */
  }

  body {
    height: auto;
    overflow: visible;
    position: static;
    width: 100%;
  }

  body.album:not(.browser) #album {
    bottom: auto;
  }

  /* Reset background colors. */
  body,
  #album,
  #browser {
    background: transparent;
  }

  /* Hide the buttons and scroll bars. */
  .buttons,
  .scrollbar-track {
    display: none;
  }

  /* Hide all root elements, except the printed view. */
  body.browser > :not(#browser),
  body.album:not(.browser) > :not(#album) {
    display: none;
  }

  /* Hide everything from the browser/album view, but the selected one(s). */
  #browser .padder > :not(.selected),
  #album .padder > :not(.selected) {
    display: none;
  }

  #browser .padder {
    align-items: flex-start;
  }

  /* Reset styles to default on the borwser view, and set the maximum dimensions
     to 100%. */
  #browser div.media-wrapper.selected {
    display: block; /* Allows to keep aspect ratio of children. */
    -webkit-transform: scale(1);
    border: none;
    box-shadow: none;
    margin: auto;
    position: absolute;
  }

  #browser div.media-wrapper.selected img,
  #browser div.media-wrapper.selected video {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
  }

  #browser video::-webkit-media-controls {
    display: none;
  }

  /* Reset styles to default on the album view. */
  #album div.media-wrapper {
    -webkit-transform: scale(1);
    box-shadow: none;
  }

  #album div.media-wrapper.selected::after {
    border: none;
  }

  /* Hide the overlay icons to print video thumbnial images. */
  #album div.media-wrapper.motion-picture::after {
    background-image: none;
  }
}

#tooltip {
  -webkit-transform: translateY(10px);
  left: 0;
  opacity: 0;
  padding: 5px;
  pointer-events: none;
  position: absolute;
  top: 0;
  white-space: nowrap;
  z-index: 100;
}

#tooltip-arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #e0e0e0;
  bottom: 0;
  height: 0;
  left: 50%;
  margin: 0 -10px;
  position: absolute;
  width: 0;
}

#tooltip #tooltip-msg {
  background: #e0e0e0;
  padding: 10px;
}

#tooltip.visible {
  -webkit-transform: translateY(0);
  transition: opacity 500ms, -webkit-transform 500ms;
  opacity: 1;
}

#dialog {
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 200ms, visibility 0;
  z-index: 1;
}

body:not(.dialog) #dialog {
  opacity: 0;
  transition: opacity 200ms, visibility 0 200ms;
  visibility: hidden;
}

#dialog #dialog-popup {
  -webkit-transform: translateY(20px);
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: -webkit-transform 200ms;
}

body.dialog #dialog #dialog-popup {
  -webkit-transform: translateY(0);
}

#dialog #dialog-close-button {
  background: -webkit-image-set(
      url(../images/dialog_button_close.png) 1x,
      url(../images/2x/dialog_button_close.png) 2x) no-repeat;
  outline: none;
  height: 14px;
  position: absolute;
  right: 7px;
  top: 7px;
  width: 14px;
}

html[dir='rtl'] #dialog #dialog-close-button {
  left: 7px;
  right: auto;
}

#dialog #dialog-close-button:hover {
  background-position: 0 -14px;
}

#dialog #dialog-close-button:active {
  background-position: 0 -28px;
}

#dialog #dialog-msg {
  -webkit-user-select: text;  /* Allow copying the message. */
  cursor: text;
  font-size: 120%;
  max-height: 320px;
  max-width: 640px;
  overflow: auto;
  padding: 20px 0;
  white-space: pre-wrap;
}

#dialog #dialog-msg::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

#dialog #dialog-msg::-webkit-scrollbar-track {
  background: transparent;
}

#dialog #dialog-msg::-webkit-scrollbar-thumb {
  background: gray;
  width: 6px;
  height: 6px;
}

#dialog #dialog-buttons {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

#dialog #dialog-buttons button {
  padding: 5px 20px;
}

#spinner {
  background: transparent url(../images/spinner.svg) center / 16px no-repeat;
  bottom: 0;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

body.capturing #spinner {
  opacity: 0;
  transition: opacity 100ms, visibility 0 100ms;
  visibility: hidden;
}
