/* This is necessary because the fix for correctly wrapping labels
 * (crbug.com/109334) requires labels to be display: block; however, this label
 * has a buttom inline after it.
 */
#home-page-label {
  display: inline;
}

#defaultSearchEngineGroup {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#defaultSearchEngineGroup > div {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}

#defaultSearchEngine {
  display: block;
  -webkit-box-flex: 1;
  max-width: 100px;
}

#defaultSearchGroupLabel {
  margin-bottom: 5px;
}

#defaultSearchManageEnginesButton {
  margin-top: 0;
  -webkit-margin-start: 10px;
}

#defaultBrowserState {
  margin-top: 6px;
}

#instantOption {
  margin-bottom: 3px;
  margin-top: 10px
}

#instantConfirmText {
  font-family: inherit;
  white-space: pre-wrap;
  width: 500px;
}

#instantConfirmLearnMore {
  position: absolute;
  bottom: 18px;
}
