#startup-overlay {
  min-width: 600px;
}

#startupPageManagement.settings-list > :last-child {
  border-top: 1px solid #d9d9d9;
  padding: 5px 10px;
}

#startupPagesList {
  min-height: 64px;
  min-width: 600px;
}

#startupPagesList .title {
  width: 40%;
}

#startupPagesList .url {
  -webkit-box-flex: 1;
  color: #666;
}

#startupPagesList > * {
  max-width: 700px;
}

#startupPagesListDropmarker {
  background-clip: padding-box;
  background-color: hsl(214, 91%, 65%);
  border-bottom-color: transparent;
  border-radius: 0;
  border-top-color: transparent;
  border: 2px solid hsl(214, 91%, 65%);
  box-sizing: border-box;
  display: none;
  height: 6px;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  z-index: 10;
}
