/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

paper-dialog {
  width: 500px;
}

#feedbackBar {
  background-color: rgb(236, 236, 236);
  margin: 0;
  padding: 20px;
}
