// Copyright 2014 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.net;

public class CertVerifyStatusAndroid {
#define CERT_VERIFY_STATUS_ANDROID(name, value) public static final int VERIFY_##name = value;
#include "net/android/cert_verify_status_android_list.h"
}
