/* Copyright 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  background-color: white;
  cursor: default;
  margin: 0;
  overflow: hidden;
}

#suggestionsBox {
  border-bottom: 1px #d9d9d9 solid;
  padding-bottom: 6px;
  padding-top: 6px;
}

.suggestion {
  -webkit-border-radius: 2px;
  background: -webkit-image-set(
      url('images/page_icon.png') 1x,
      url('images/2x/page_icon.png') 2x) no-repeat;
  padding-bottom: 2px;
  padding-top: 3px;
  white-space: nowrap;
}

.search {
  background: -webkit-image-set(
      url('images/search_icon.png') 1x,
      url('images/2x/search_icon.png') 2x) no-repeat;
}

.suggestion:hover {
  background-color: #eee;
}

.selected,
.selected:hover {
  background-color: rgba(181, 213, 255, 0.5);
}

.contents {
  -webkit-padding-start: 26px;
  -webkit-user-select: none;
  line-height: 22px;
  overflow: hidden;
}

/* Styling for native suggestions, hidden by the shadow DOM. */
.chrome_url {
  color: rgb(0, 153, 51);
}

.chrome_title {
  color: #666
}
