#addStartupPageOverlay {
  width: 500px;
}

#addURLBlock {
  display: -webkit-box;
  margin: 1ex 0 2ex 0;
}

#addURLBlock > * {
  display: block;
}

#addURLBlock > span {
  padding-top: 4px;
}

#addStartupPageURL {
  -webkit-box-flex: 1;
}

#addStartupRecentPageList {
  height: 320px;
}

#addStartupRecentPageList .vertical-center {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  color: hsl(0, 0%, 70%);
}

#addStartupRecentPageList .title {
  box-sizing: border-box;
  color: black;
  display: inline-block;
  max-width: 100%;
}

#addStartupRecentPageList .url {
  -webkit-padding-start: 3ex;
}

#addStartupRecentPageList > :not(:hover):not([selected]) > .url,
  display: none;
}

#addStartupPageOverlay .action-area {
  margin-top: 2ex;
}
