div.autofill-section {
  display: block;
  padding: 1em 0 0;
}

#profile-select-container {
  display: -webkit-box;
}

#profile-select-left-column {
  -webkit-box-flex: 1;
}

#profile-select-left-column select {
  width: 100%;
}
