.autofill-list-item {
  -webkit-box-flex: 1;
  -webkit-padding-start: 8px;
}

.autofill-list-item + img {
  -webkit-padding-end: 20px;
  vertical-align: middle;
}

#autofill-options > div:last-child {
  margin-top: 15px;
}

#autofill-options > div.settings-list > div:last-child {
  border-top: 1px solid #D9D9D9;
  padding: 5px 10px;
}

#autofill-add-address,
#autofill-add-creditcard {
  margin: 2px 0;
}
