#startupPages {
  border: solid 1px #999999;
  height: 100px;
}

#homepageURL {
  width: 100%;
}

#defaultSearchEngineGroup {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#defaultSearchEngineGroup > div {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}

#defaultSearchEngine {
  display: block;
  -webkit-box-flex: 1;
}

#defaultSearchManageEnginesButton {
  margin-top: 0px;
  -webkit-margin-start: 10px;
}

#instantOption {
  margin-bottom: 0px;
}

#defaultBrowserState {
  color: #880000;
}

#defaultBrowserState.current {
  color: #008800;
}

#instantConfirmText {
  font-family: inherit;
  white-space: pre-wrap;
  width: 500px;
}

#instantConfirmLearnMore {
  position: absolute;
  bottom: 18px;
}
