
#startupPageManagement.settings-list > :last-child {
  border-top: 1px solid #d9d9d9;
  padding: 5px 10px;
}

#startupPagesShortList {
  min-height: 0;
}

.startup-page-list .title {
  width: 40%;
}

.startup-page-list .url {
  -webkit-box-flex: 1;
  color: #666;
}

.startup-page-list .url input {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

#customHomePageGroup {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}

#customHomePageGroup > div {
  -webkit-padding-start: 1ex;
  -webkit-box-flex: 1;
}

#homepageURL {
  box-sizing: border-box;
  padding-top: 3px;
  width: 100%;
}

#defaultSearchEngineGroup {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#defaultSearchEngineGroup > div {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}

#defaultSearchEngine {
  display: block;
  -webkit-box-flex: 1;
  max-width: 300px;
}

#defaultSearchManageEnginesButton {
  margin-top: 0px;
  -webkit-margin-start: 10px;
}

#defaultBrowserState {
  margin-top: 6px;
}

#instantOption {
  margin-bottom: 0px;
}

#instantConfirmText {
  font-family: inherit;
  white-space: pre-wrap;
  width: 500px;
  padding: 0px 16px 0px 16px;
}

#instantConfirmLearnMore {
  position: absolute;
  bottom: 18px;
  -webkit-margin-start: 16px;
}

#startupAddButton {
  margin-left: 0;
  margin-top: 10px;
}
