.language-options {
  display: -webkit-box;
  margin: 15px;
}

.language-options button {
  min-width: 70px;
}

.language-options h3 {
  -webkit-margin-start: 12px;
  font-size: 75%;
  font-weight: bold;
  margin-top: 12px;
}

.language-options label {
  display: block;
}

.language-options-contents  {
  -webkit-padding-start: 12px;
  -webkit-padding-end: 12px;
  padding-bottom: 10px;
}

.language-options-left, .language-options-right {
  border: 1px solid #cccccc;
  vertical-align: top;
  padding: 0;
  height: 400px;
}

.language-options-left {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  background-color: #ebeff9;
  min-width: 200px;
}

.language-options-lower-left {
  -webkit-box-flex: 0;
  -webkit-padding-start: 12px;
  padding-bottom: 10px;
}

.language-options-right {
  /* To share the center line with the left pane. */
  -webkit-margin-start: -1px;
  min-width: 360px;
}

#language-options-list {
  -webkit-box-flex: 1;
  padding: 0;
  width: 100%;
}

#language-options-input-method-list button {
  display: block;
  -webkit-margin-start: 20px;
}

#language-options-list li {
  -webkit-padding-start: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#add-language-overlay-language-list {
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
}

#add-language-overlay-cancel-button {
  /* Place the button in the center. */
  display: block;
  margin: auto;
}

#add-language-overlay-page {
  width: 800px;
}

#add-language-overlay-page button {
  padding: 0;
  text-align: left;
}

#add-language-overlay-page ul {
  padding: 0;
  margin: 0;
}
