#detailsInternetTitle {
  border: none;
}

.network-password {
  left: 0px;
  position: relative;
}

.network-password > input, .network-password > select {
  width: 200px;
}

.network-item {
  -webkit-box-align: center;
  -webkit-padding-start: 30px;
  border: 1px solid rgba(255,255,255,0); /* transparent white */
  border-radius: 2px;
  display: -webkit-box;
  height: 35px;
}

.network-item[connectable]:hover {
  border-color: hsl(214, 91%, 85%);
  background-color: hsl(214, 91%, 97%);
}

.network-item[connected] {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.8),
                                            rgba(255, 255, 255, 0));
  background-color: hsl(214,91%,89%);
  border-color: hsl(214, 91%, 65%);
}

.network-item[connected]:hover {
  background-color: hsl(214, 91%, 87%);
  border-color: hsl(214, 91%, 65%);
}

.network-item[connecting] {
  background-color: hsl(214, 91%, 97%);
  border-color: hsl(214, 91%, 85%);
  padding-top: 5px;
  height: 60px;
  -webkit-box-align: start;
  display: block;
}

.network-item[connecting][other] {
  height: 105px;
}

.network-item-text {
  -webkit-padding-start: 30px;
  background: left center no-repeat;
  cursor: default;
  display: table-cell;
  height: 32px;
  line-height: 100%;
  max-width: 320px;
  overflow: hidden;
  vertical-align: middle;
}

html[dir='rtl'] .network-item-text {
  background: right center no-repeat;
}

.network-item[connected] > * > .network-name-label {
  font-weight: bold;
}

.network-status-label {
  color: grey;
}

.network-item > * > button {
  min-width: 100px;
  visibility: hidden;
  margin-right: 5px;
}

.network-item:hover > * > button,
.network-item[connected] > * > button {
  visibility: visible;
}

.network-item[connecting] > * > button {
  visibility: hidden;
}

.network-item-box-spacer {
  -webkit-box-flex: 1;
}

#detailsInternetPage {
  min-width: 400px;
  min-height: 360px;
  position: relative;
}

.details-button {
  float: right;
}

#details-plan-table {
  width: 100%;
}

#planSummary {
  width: 350px;
  padding-bottom: 5px;
}

#planWarning {
  width: 350px;
  padding-top: 5px;
  font-weight: bold;
}

html[dir='rtl'] .details-button {
  float: left;
}

#lockedNetworkBanner {
  height: 31px;
  width: 100%;
  margin: 0;
  padding-top: 10px;
  vertical-align: middle;
}

#lockedNetworkIcon {
  background-image: url("chrome://theme/IDR_WARNING");
  background-repeat: no-repeat;
  background-position:center;
  display: inline-block;
  padding: 5px;
  height: 21px;
  vertical-align: middle;
  width: 24px;
}

#accessLockedText {
  vertical-align: middle;
}

#internetPage:not([accesslocked]) #lockedNetworkBanner,
#internetPage[accesslocked] #wirelessButtons,
#internetPage[accesslocked] #wiredSection,
#internetPage[accesslocked] #wirelessSection,
#internetPage[accesslocked] #rememberedSection,
#internetPage[accesslocked] #detailsInternetPage {
  display: none;
}

#detailsInternetPage:not([connected]) > #advancedSection,
#detailsInternetPage:not([wireless]) > * > #detailsInternetOk,
#detailsInternetPage[ethernet] .wifi-details,
#detailsInternetPage[ethernet] .cellular-details,
#detailsInternetPage[cellular] .wifi-details,
#detailsInternetPage[wireless] .cellular-details,
#detailsInternetPage[cellplanloading] .no-plan-info,
#detailsInternetPage[cellplanloading] .plan-details-info,
#detailsInternetPage[cellplanloading] #planList,
#detailsInternetPage[hascellplan] .plan-loading-info,
#detailsInternetPage[hascellplan] .no-plan-info,
#detailsInternetPage[nocellplan] .plan-loading-info,
#detailsInternetPage[nocellplan] .plan-details-info,
#detailsInternetPage:not([gsm]) .gsm-only,
#detailsInternetPage:not([password]) .password-details,
#detailsInternetPage[cert] .password-details,
#detailsInternetPage[certPkcs] .password-details,
#detailsInternetPage:not([cert]) .cert-details,
#detailsInternetPage:not([certPkcs]) .cert-pkcs-details {
  display: none;
}

#wirelessButtons > * > button {
  margin-left: 5px;
}
