#clearBrowserDataOverlay {
  width: 300px;
}

#cbdThrobber {
  background-image: url("../../../../app/resources/throbber.png");
  width: 16px;
  height: 16px;
  margin: -3px 10px;
  display: inline-block;
  visibility: hidden;
}
