/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* Controlled setting indicator and bubble. */

.controlled-setting-with-label {
  -webkit-box-align: center;
  display: -webkit-box;
  padding-bottom: 7px;
  padding-top: 7px;
}

.controlled-setting-with-label > input + span {
  -webkit-box-align: center;
  -webkit-box-flex: 1;
  -webkit-margin-start: 0.6em;
  display: -webkit-box;
}

.controlled-setting-with-label > input:disabled + span label {
  color: #999;
}

.controlled-setting-with-label label {
  display: inline;
  padding: 0;
}

input:-webkit-any([type='text'],[type='url'],:not([type])) +
    .controlled-setting-indicator {
  -webkit-margin-start: 5px;
}

.controlled-setting-indicator:not([controlled-by]) {
  display: none;
}

.controlled-setting-indicator[controlled-by='policy'] > div {
  background-image:
      url('chrome://theme/IDR_CONTROLLED_SETTING_MANDATORY_GRAY');
}

.controlled-setting-indicator[controlled-by='policy'] >
    div:-webkit-any(:hover, .showing-bubble) {
  background-image:
      url('chrome://theme/IDR_CONTROLLED_SETTING_MANDATORY');
}

.controlled-setting-indicator[controlled-by='owner'] > div {
  background-image:
      url('chrome://theme/IDR_CONTROLLED_SETTING_MANDATORY_GRAY');
}

.controlled-setting-indicator[controlled-by='owner'] >
    div:-webkit-any(:hover, .showing-bubble) {
  background-image:
      url('chrome://theme/IDR_CONTROLLED_SETTING_MANDATORY');
}

.controlled-setting-indicator[controlled-by='extension'] > div {
  background-image:
      url('chrome://theme/IDR_CONTROLLED_SETTING_EXTENSION_GRAY');
}

.controlled-setting-indicator[controlled-by='extension'] >
    div:-webkit-any(:hover, .showing-bubble) {
  background-image:
      url('chrome://theme/IDR_CONTROLLED_SETTING_EXTENSION');
}

.controlled-setting-indicator:-webkit-any([controlled-by='recommended'],
    [controlled-by='hasRecommendation']) > div {
  background-image:
      url('chrome://theme/IDR_CONTROLLED_SETTING_RECOMMENDED_GRAY');
}

.controlled-setting-indicator:-webkit-any([controlled-by='recommended'],
    [controlled-by='hasRecommendation']) >
    div:-webkit-any(:hover,.showing-bubble) {
  background-image:
      url('chrome://theme/IDR_CONTROLLED_SETTING_RECOMMENDED');
}

.controlled-setting-bubble-content {
  -webkit-padding-start: 30px;
  background-repeat: no-repeat;
  background-size: 22px;
  min-height: 32px;
}

.controlled-setting-bubble-content[controlled-by='policy'] {
  background-image:
      url('chrome://theme/IDR_CONTROLLED_SETTING_MANDATORY_LARGE');
}

.controlled-setting-bubble-content[controlled-by='owner'] {
  background-image:
      url('chrome://theme/IDR_CONTROLLED_SETTING_MANDATORY_LARGE');
}

.controlled-setting-bubble-content[controlled-by='extension'] {
  background-image:
      url('chrome://theme/IDR_CONTROLLED_SETTING_EXTENSION_LARGE');
}

.controlled-setting-bubble-content:-webkit-any([controlled-by='recommended'],
    [controlled-by='hasRecommendation']) {
  background-image:
      url('chrome://theme/IDR_CONTROLLED_SETTING_RECOMMENDED_LARGE');
}

html[dir='rtl'] .controlled-setting-bubble-content {
  background-position: right top;
}

.controlled-setting-bubble-action {
  padding: 0 !important;
}

.controlled-setting-bubble-content-row {
  height: 35px;
  position: relative;
}

.controlled-setting-bubble-extension-name {
  -webkit-padding-start: 30px;
  background-repeat: no-repeat;
  font-weight: bold;
  height: 24px;
  margin-top: -12px;
  overflow: hidden;
  padding-top: 3px;
  position: absolute;
  text-overflow: ellipsis;
  top: 50%;
  white-space: nowrap;
  width: 215px;
}

html[dir='rtl'] .controlled-setting-bubble-extension-name {
  background-position: right top;
}

.controlled-setting-bubble-extension-manage-link {
  margin-top: -0.5em;
  position: absolute;
  top: 50%;
}

.controlled-setting-bubble-extension-disable-button {
  bottom: 0;
  position: absolute;
  right: 0;
}

html[dir='rtl'] .controlled-setting-bubble-extension-disable-button {
  left: 0;
  right: auto;
}
