#editSearchEngineOverlay {
  width: 500px;
}

#editSearchEngineOverlay table label {
  text-align: end;
}

#editSearchEngineOverlay table,
#editSearchEngineOverlay table td:nth-child(2) {
  width: 100%;
}

#editSearchEngineOverlay table input {
  width: 100%;
  -webkit-box-sizing: border-box;
}

#editSearchEngineOverlay .action-area {
  margin-top: 2ex;
}

.valid-badge, .alert-badge {
  width: 22px;
  height: 21px;
  background-position: 50% 1px;
  background-repeat: no-repeat;
}

.valid-badge {
  background-image: url("../../../../app/resources/input_good.png");
}

.alert-badge {
  background-image: url("../../../app/theme/input_alert.png");
}
