/* Copyright 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html.settings-app body.uber-frame {
   /* Don't use the large margin used for navigating settings. */
  -webkit-margin-start: 30px;
}

html.settings-app body.uber-frame header {
  left: 12px;
  min-width: 400px;
}

html.settings-app #content-settings-page .content-area {
  -webkit-margin-start: 18px;
}

/*
 * Settings App is narrower due to no navigation margin, so the roomy language
 * overlay needs to be trimmed down. 25% is taken off the original height and
 * the width is trimmed proportional to (half) the reduction due to the removal
 * of the left margin.
 */
html.settings-app .language-options-left {
  height: 300px;
  width: 228px;
}

html.settings-app .language-options-right {
  height: 300px;
  width: 288px;
}

/* Hide all sections by default. */
html.settings-app section {
  display: none;
}

/* Sections white-listed for Settings App. */
html.settings-app #advanced-settings,
html.settings-app #handlers-section,
html.settings-app #languages-section,
html.settings-app #media-galleries-section,
html.settings-app #network-section,
html.settings-app #notifications-section,
html.settings-app #privacy-section,
html.settings-app #sync-section,
html.settings-app #sync-users-section {
  display: inline;
}

/* Hide irrelevant parts of privacy section. */
html.settings-app #privacy-section > div > .checkbox,
html.settings-app #privacy-section > div > #privacy-explanation {
  display: none;
}
