body {
  cursor: default;
  font-size: 100%;
}

#settings-title {
  -webkit-padding-end: 24px;
  color: #53637d;
  cursor: pointer;
  font-size: 200%;
  font-weight: normal;
  margin: 0;
  padding-bottom: 14px;
  padding-top: 13px;
  text-align: end;
}

#main-content {
  display: -webkit-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#search-field {
  margin: 0;
}

.overlay {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  background: rgba(233, 238, 242, .5);
  bottom: 0;
  display: -webkit-box;
  left: 0;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.raw-button,
.raw-button:hover,
.raw-button:active {
  -webkit-box-shadow: none;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  min-width: 0;
  padding: 1px 6px;
}

.close-subpage {
  background-image: url('chrome://theme/IDR_CLOSE_BAR');
  height: 16px;
  min-width: 0;
  position: relative;
  top: 12px;
  width: 16px;
}

.close-subpage:hover {
  background-image: url('chrome://theme/IDR_CLOSE_BAR_H');
}

.close-subpage:active {
  background-image: url('chrome://theme/IDR_CLOSE_BAR_P');
}

html[dir='ltr'] .close-subpage {
  float: right;
  right: 0;
}

html[dir='rtl'] .close-subpage {
  float: left;
  left: 0;
}

html[hide-menu=true] .close-subpage {
  display: none
}

.content-area {
  padding: 10px 15px 5px 15px;
}

.action-area {
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: end;
  border-top: 1px solid rgba(188, 193, 208, .5);
  display: -webkit-box;
  padding: 12px;
}

html[dir='rtl'] .action-area {
  left: 0;
}

.action-area-right {
  display: -webkit-box;
}

.button-strip {
  -webkit-box-orient: horizontal;
  display: -webkit-box;
}

html[toolkit=views] .button-strip {
  -webkit-box-direction: reverse;
}

.button-strip > button {
  -webkit-margin-start: 10px;
  display: block;
}

.overlay .page {
  -webkit-box-shadow: 0px 0px 40px -5px #888;
  background: white;
  border: 1px solid rgb(188, 193, 208);
  border-radius: 2px;
  min-width: 400px;
  padding: 0;
  position: relative;
}

#navbar {
  margin: 0;
}

#navbar-container {
  -webkit-border-end: 1px solid #c6c9ce;
  background: -webkit-linear-gradient(rgba(234, 238, 243, 0), #eaeef3),
              -webkit-linear-gradient(left, #eaeef3, #eaeef3 97%, #d3d7db);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  top: 0;
  width: 266px;
  z-index: 2;
}

html[dir='rtl'] #navbar-container {
  background: -webkit-linear-gradient(rgba(234, 238, 243, 0), #EAEEF3),
              -webkit-linear-gradient(right, #EAEEF3, #EAEEF3 97%, #D3D7DB);
  left: auto;
  right: 0;
}

html[hide-menu=false] #navbar-container {
  display: block;
}

#navbar-container > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item, .navbar-item2 {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  color: #426dc9;
  cursor: pointer;
  display: block;
  font-size: 105%;
  outline: none;
  padding: 7px 0;
  text-align: end;
  -webkit-padding-end: 24px;
}

.navbar-item-selected {
  background: -webkit-linear-gradient(left, #bbcee9, #bbcee9 97%, #96b1cd);
  border-bottom: 1px solid #8faad9;
  border-top: 1px solid #8faad9;
  color: black;
}

#mainview {
  -webkit-box-align: stretch;
  -webkit-padding-start: 267px;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

html[hide-menu=true] #mainview {
  -webkit-padding-start: 0;
}

#mainview-content {
  box-sizing: border-box;
  max-width: 888px;
  min-height: 100%;
  min-width: 600px;
  padding: 0 24px;
  position: relative;
}

.subpage-sheet-container {
  -webkit-margin-start: 60px;
  box-sizing: border-box;
  height: 100%;
  padding: 8px;
  /* Must come after padding. */
  -webkit-padding-start: 0;
  position: absolute;
  /* We set both left and right for the sake of RTL. */
  left: 0;
  right: 0;
  top: 0;
  width: 688px;
}

#subpage-sheet-container-1 {
  z-index: 5;
}

#subpage-sheet-container-2 {
  -webkit-padding-start: 60px;
  z-index: 10;
}

.subpage-sheet {
  -webkit-box-shadow: #666 0px 2px 5px;
  background-color: white;
  border: 1px solid #b8b8b8;
  border-radius: 2px;
  box-sizing: border-box;
  min-height: 100%;
  padding: 0px 20px;
  position: relative;
  width: 100%;
}

#managed-prefs-banner {
  background: -webkit-linear-gradient(#fff2b7, #fae691 97%, #878787);
  height: 31px;
  width: 100%;
}

#managed-prefs-banner {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

#managed-prefs-icon {
  background-image: url("chrome://theme/IDR_WARNING");
  background-repeat: no-repeat;
  background-position:center;
  display: inline-block;
  padding: 5px;
  height: 21px;
  vertical-align: middle;
  width: 24px;
}

#managed-prefs-text {
  vertical-align: middle;
}

.page h1 {
  -webkit-padding-end: 24px;
  border-bottom: 1px solid #eeeeee;
  color: #53637d;
  font-size: 200%;
  font-weight: normal;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 13px;
}

.subpage-sheet .page h1 {
  padding-top: 4px;
  margin-bottom: 10px;
}

.overlay .page h1 {
  background: -webkit-linear-gradient(white, #F8F8F8);
  border-bottom: 1px solid rgba(188, 193, 208, .5);
  font-size: 105%;
  font-weight: bold;
  padding: 10px 15px 8px 15px;
}

.page list {
  /* Min height is a multiple of the list item height (32) */
  min-height: 192px;
}

section {
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #eeeeee;
  display: -webkit-box;
  margin-top: 17px;
  padding-bottom: 20px;
}

div.page section:last-child {
  border-bottom: none;
}

div.page > h3 {
  font-size: 105%;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

section > h3 {
  font-size: 105%;
  font-weight: bold;
  margin: 0;
  vertical-align: middle;
  width: 140px;
}

section > div:only-of-type {
  -webkit-box-flex: 1;
}

.option {
  margin-top: 0;
}

/* TODO(stuartmorgan): make this less specific once all pages
 * are converted to the non-table style.
 */
section > div:only-of-type label {
  margin: 5px 0;
}

label.checkbox,
label.radio {
  display: block
}

.hidden {
  display: none !important;
}

.touch-slider {
  -webkit-appearance: slider-horizontal;
}

.link-button {
  background-color: transparent;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.text-button,
.text-button:active,
.text-button:focus,
.text-button:hover {
  -webkit-box-shadow: none;
  background: transparent none;
  border-color: transparent;
  color: #000;
}

.settings-list {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

list > * {
  -webkit-box-align: center;
  -webkit-transition: .15s background-color;
  box-sizing: border-box;
  border-radius: 0;
  display: -webkit-box;
  height: 32px;
  border: none;
  margin: 0;
}

list:not([disabled]) > :hover {
  background-color: #e4ecf7;
}

list > [selected],
list:focus > [selected],
list:focus > [lead][selected],
list > [selected]:hover {
  background-color: #bbcee9;
  background-image: none;
}

list:focus > [lead],
list:focus > [lead][selected],
list [lead][selected][editing] {
  border-top: 1px solid #7892b4;
  border-bottom: 1px solid #7892b4;
}

list:focus > [lead]:nth-child(2),
list:focus > [lead][selected]:nth-child(2),
list [lead][selected][editing]:nth-child(2) {
  border-top: 1px solid transparent;
}

list:focus > [lead]:nth-last-child(2),
list:focus > [lead][selected]:nth-last-child(2),
list [lead][selected][editing]:nth-last-child(2) {
  border-bottom: 1px solid transparent;
}

list[disabled] > [lead][selected],
list[disabled]:focus > [lead][selected] {
  border: none;
}

list[disabled] {
  opacity: 0.6;
}

list > .heading {
  color: #666666;
}

list > .heading:hover {
  background-color: transparent;
  border-color: transparent;
}

list .deletable-item {
  -webkit-box-align: center;
}

list .deletable-item > :first-child {
  -webkit-box-align: center;
  -webkit-box-flex: 1;
  -webkit-padding-end: 5px;
  display: -webkit-box;
}

list .close-button {
  -webkit-transition: .15s opacity;
  background-color: transparent;
  /* TODO(stuartmorgan): Replace with real images once they are available. */
  background-image: url("../../../app/theme/close_bar.png");
  border: none;
  display: block;
  height: 16px;
  opacity: 1;
  width: 16px;
}

list > *:not(:hover):not([lead]) .close-button,
list[disabled] .close-button,
list .close-button[disabled] {
  opacity: 0;
  pointer-events: none;
}

list .close-button:hover {
  background-image: url("../../../app/theme/close_bar_h.png");
}

list .close-button:active {
  background-image: url("../../../app/theme/close_bar_p.png");
}

list .static-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

list > :not([editing]) [editmode=true] {
  display: none;
}

list > [editing] [editmode=false] {
  display: none;
}

list > [editing] input:invalid {
  /* TODO(stuartmorgan): Replace with validity badge */
  background-color: pink;
}

.option-name {
  padding-right: 5px;
}

html[dir=rtl].option-name {
  padding-left: 5px;
}

.favicon-cell {
  -webkit-padding-start: 20px;
  background-position: left;
  background-repeat: no-repeat;
}

input.favicon-cell {
  -webkit-padding-start: 22px;
  background-position-x: 4px;
}

/* TODO(jhawkins): Use something better than 99.3% when CSS3 background
 * positioning is available.
 */
html[dir=rtl] input.favicon-cell {
  background-position-x: 99.3%;
}

list .favicon-cell {
  -webkit-margin-start: 7px;
  -webkit-padding-start: 26px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

html[dir=rtl] list .favicon-cell {
  background-position: right;
}

html[enable-background-mode=false] #background-mode-section {
 display: none;
}

html[enable-cloud-print-proxy=false] #cloud-print-proxy-section {
 display: none;
}

html[enable-cloud-print-proxy=true] #cloudPrintProxyManageButton {
 display: none;
}

/* UI Controls */

button:focus,
input:focus,
input[type='submit']:focus,
select:focus {
  outline-color: rgba(0, 128, 256, 0.5);
}

/* TEXT */
input[type='password'],
input[type='text'] {
  -webkit-border-radius: 2px;
  border: 1px solid #aaa;
  font-size: inherit;
  padding: 3px;
}

/* BUTTON */
button,
input[type='submit'] {
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  border: 1px solid #aaa;
  color: #444;
  font-size: inherit;
  margin-bottom: 0px;
  min-width: 4em;
  padding: 3px 12px 3px 12px;
}

button:hover,
input[type='submit']:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
  border-color: #999;
  color: #222;
}

button:active,
input[type='submit']:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
  color: #333;
}

button[disabled],
input[type='submit'][disabled],
button[disabled]:hover,
input[type='submit'][disabled]:hover {
  -webkit-box-shadow: none;
  background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  border-color: #aaa;
  color: #888;
}

/* SELECT */
select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  background-image: url("select.png"), -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding: 2px 20px 2px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

html[dir='rtl'] select {
  background-position: center left;
}

select:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background-image: url("select.png"), -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
  color: #333;
}

select:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  background-image: url("select.png"), -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
  color: #444;
}

/* CHECKBOX, RADIO */
input[type=checkbox],
input[type=radio] {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  top: 1px;
}

/* Checkbox and radio buttons have different sizes on different platforms. The
 * following rules have platform specific tweaks.
 * TODO(arv): Test the vertical position on Linux and CrOS as well.
 */

label > input[type=checkbox],
label > input[type=radio] {
  margin-top: 1px;
}

html[os=mac] label > input[type=checkbox],
html[os=mac] label > input[type=radio] {
  margin-top: 2px;
}

.suboption {
  -webkit-margin-start: 16px;
}

.link {
  margin: 10px 0;
  position: relative;
  top: 4px;
}
