body {
  font-size: 100%;
  -webkit-user-select: none;
}

#settings-title {
  -webkit-padding-end: 24px;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: end;
  font-size: 125%;
  font-weight: normal;
  color: #53627d;
  margin: 0;
}

#main-content {
  display: -webkit-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  top: 0;
  bottom: 0;
  z-index: 10;
  padding: 20px;
  display: -webkit-box;
  -webkit-box-align: start;
  -webkit-box-pack: center;
}

#close-overlay {
  position: relative;
  top: -20px;
  width: 20px;
  height: 20px;
}

html[dir='ltr'] #close-overlay {
  float: right;
  right: -20px;
}

html[dir='rtl'] #close-overlay {
  float: left;
  left: -20px;
}

.overlay .button-strip {
  text-align: end;
}

.overlay > div {
  background: white;
  border-radius: 5px;
  padding: 30px;
}

#navbar {
  margin: 0;
}

#navbar-container {
  background: -webkit-gradient(linear,
                               left top,
                               left bottom,
                               from(rgba(234, 238, 243, 0)),
                               to(#eaeef3)),
              -webkit-gradient(linear,
                               left top,
                               right top,
                               from(#eaeef3),
                               color-stop(0.97, #eaeef3),
                               to(#d3d7db));
  -webkit-border-end: 1px solid #c6c9ce;
  cursor: pointer;
  position: relative;
  width: 250px;
}

html[dir='rtl'] #navbar-container {
  background: -webkit-gradient(linear,
                               left top,
                               left bottom,
                               from(rgba(255, 255, 255, 0)),
                               color-stop(0.7, rgba(255, 255, 255, 0)),
                               to(white)),
              -webkit-gradient(linear,
                               right top,
                               left top,
                               from(white),
                               color-stop(0.8, white),
                               to(#f3f3f3));
}

#navbar-container > hr {
  -webkit-margin-start: 35%;
  background-color: #dbdbdb;
  border: 0;
  height: 1px;
  width: 65%;
}

.navbar-item, .navbar-item2 {
  padding: 0.5em 0;
  -webkit-padding-end: 24px;
  text-align: end;
  display: block;
  color: #426dc9;
}

.navbar-item-selected {
  background: -webkit-gradient(linear,
                               left top,
                               right top,
                               from(#eaeef3),
                               color-stop(0.97, #b4c8ea),
                               to(#a2b5b4));
  font-weight: bold;
  color: black;
}

html[dir='rtl'] .navbar-item-selected {
  background: -webkit-gradient(linear,
                               right top,
                               left top,
                               from(white),
                               to(#d6def3));
}

.navbar-item-normal {
  background-color: #dfdfdf;
}

#mainview {
  -webkit-box-align: stretch;
  width: 600px;
  padding: 0 24px 24px;
  position: relative;
}

.page > h1 {
  -webkit-padding-end: 24px;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eeeeee;
  -webkit-padding-start: 0;
  font-size: 125%;
  color: #54637f;
  margin: 0;
}

section {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #eeeeee;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}

section > h3 {
  width: 100px;
  font-weight: normal;
  -webkit-padding-start: 0;
  vertical-align: top;
  margin: 0;
  font-size: 100%;
}

.option {
  margin-top: 0;
}

.option-control-table, section > div:only-of-type {
  -webkit-padding-start: 10px;
  border-spacing: 0 0;
}

.suboption {
  -webkit-margin-start: 18px;
}

/* TODO(stuartmorgan): make this less specific once all pages
 * are converted to the non-table style.
 */
section > div:only-of-type label {
  display: block;
}

.hidden {
  display: none;
}

.touch-slider {
  -webkit-appearance: slider-horizontal;
}

input[type="checkbox"] {
  margin-top: 0;
}

.link-button {
  background-color: transparent;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.text-button {
  background-color: transparent;
  border-color: transparent;
}

#contentSettingsPage :invalid {
  background-color: pink;
}
