#settings-title {
  height: 30px;
  -webkit-padding-end: 15px;
  padding-top: 20px;
  text-align: end;
  font-size: 140%;
  color: #c7c7c7;
}

#main-content {
  display: -webkit-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  top: 0;
  bottom: 0;
  z-index: 10;
  padding: 20px;
}

#close-overlay {
  position: relative;
  top: -20px;
  width: 20px;
  height: 20px;
}

html[dir='ltr'] #close-overlay {
  float: right;
  right: -20px;
}

html[dir='rtl'] #close-overlay {
  float: left;
  left: -20px;
}

#overlayview .button-strip {
  text-align: end;
}

#overlayview {
  background: white;
  border-radius: 5px;
  padding: 30px;
}

#navbar-container {
  background: -webkit-gradient(linear,
                               left top,
                               left bottom,
                               from(rgba(255,255,255,0)),
                               color-stop(0.7, rgba(255,255,255,0)),
                               to(white)),
              -webkit-gradient(linear,
                               left top,
                               right top,
                               from(white),
                               color-stop(0.8, white),
                               to(#f3f3f3));
  -webkit-border-end: 1px solid #dbdbdb;
  cursor: pointer;
  position: relative;
  width: 250px;
}

html[dir='rtl'] #navbar-container {
  background: -webkit-gradient(linear,
                               left top,
                               left bottom,
                               from(rgba(255,255,255,0)),
                               color-stop(0.7, rgba(255,255,255,0)),
                               to(white)),
              -webkit-gradient(linear,
                               right top,
                               left top,
                               from(white),
                               color-stop(0.8, white),
                               to(#f3f3f3));
}

#navbar-container > hr {
  -webkit-margin-start: 35%;
  background-color: #dbdbdb;
  border: 0;
  height: 1px;
  width: 65%;
}

.navbar-item, .navbar-item2 {
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-padding-end: 20px;
  text-align: end;
  display: block
}

.navbar-item-selected {
  background: -webkit-gradient(linear, left top, right top, from(white), to(#d6def3));
  font-weight: bold;
}

html[dir='rtl'] .navbar-item-selected {
  background: -webkit-gradient(linear, right top, left top, from(white), to(#d6def3));
}

.navbar-item-normal {
  background-color: #dfdfdf;
}

#mainview {
  -webkit-box-align: stretch;
  width: 600px;
  padding: 10px;
  position: relative;
}

.page > h1 {
  height: 30px;
  -webkit-padding-end: 15px;
  padding-top: 12px;
  -webkit-padding-start: 15px;
  font-size: 140%;
  color: #7c90d8;
}

section {
  margin-top: 10px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}

section > h3 {
  font-weight: bold;
  width: 150px;
  font-size: 75%;
  -webkit-padding-start: 15px;
  vertical-align: top;
}

.option {
  margin-top: 5px;
}

.option-control-table, section > div:only-of-type {
  margin-top: 5px;
  -webkit-padding-start: 10px;
}

.suboption {
  -webkit-margin-start: 18px;
}

/* TODO(stuartmorgan): make this less specific once all pages
 * are converted to the non-table style.
 */
section > div:only-of-type label {
  display: block;
}

.hidden {
  display: none;
}

.touch-slider {
  -webkit-appearance: slider-horizontal;
}

input[type="checkbox"] {
  margin-top: 6px;
}
