#saved-passwords-list .url {
  box-sizing: border-box;
  width: 40%;
}

#saved-passwords-list .name {
  -webkit-box-flex: 1;
  width: 20%;
}

#saved-passwords-list .password {
  -webkit-box-flex: 1;
  position: relative;
}

#saved-passwords-list .password > span {
  background: url('show_password.png');
  cursor: pointer;
  height: 18px;
  position: absolute;
  top: 5px;
  width: 40px;
}

html[dir='ltr'] #saved-passwords-list .password > span {
  right: 50px;
}

html[dir='rtl'] #saved-passwords-list .password > span {
  left: 50px;
}

#saved-passwords-list .url,
#saved-passwords-list .name,
#password-exceptions-list .url {
  overflow: hidden;
  text-overflow: ellipsis;
}
