#account-picture {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 70px;
  height: 70px;
}

#sync-buttons {
  margin: 10px 0;
}

#start-stop-sync {
  margin-left: 0;
  margin-right: 5px;
}

.sync-error {
  background-color: #FF9A9A;
}
