#account-picture {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 70px;
  height: 70px;
  margin-right: 10px;
  margin-bottom: 5px;
  vertical-align: middle;
}

#sync-buttons, #profiles-buttons {
  margin-top: 10px;
}

#start-stop-sync {
  margin-left: 0;
  margin-right: 5px;
}

#profiles-list {
  min-height: 0;
  margin-bottom: 10px;
}

.profile-item-current {
  font-weight: bold;
}

#themes-gallery-div {
  margin: 10px 0;
}

.sync-error {
  background: #FFDBDB;
  border: 1px solid #ce4c4c;
  border-radius: 2px;
  padding: 10px;
}

.sync-error .link-button {
  margin: 0 1ex;
  padding: 0;
}
