.search-hidden {
  display: none;
}

.search-highlighted {
  background-color: rgba(255, 240, 120, 0.9);
}

.search-bubble {
  -webkit-box-shadow: 0 2px 2px #888;
  background-color: rgba(255, 240, 120, 0.8);
  border-radius: 6px;
  box-shadow: 0 2px 2px #888;
  left: 0;
  margin: 12px 0 0;
  padding: 4px 10px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: -1000px;  /* minor hack: position off-screen by default */
  width: 100px;
}

.search-bubble:after {
  border-color: rgba(255, 240, 120, 0.9) transparent;
  border-style: solid;
  border-width: 0 10px 10px;
  content: "";
  left: 50px;
  position: absolute;
  top: -10px;
}
