#searchEngineList {
  -webkit-border-radius: 2px;
  border-bottom: 1px solid #d9d9d9;
  height: auto;
}

#searchEngineList .heading {
  -webkit-border-radius: 2px;
  color: black;
  border-bottom: 1px solid #d9d9d9;
}

#searchEngineList .heading:not(:nth-child(2)) {
  border-top: 1px solid #d9d9d9;
}

#searchEngineList .heading .name-column {
  font-weight: bold;
}

#searchEngineList > div:not(.heading) {
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}

#searchEngineList > div, #searchEngineHeading {
  display: -webkit-box;
}

#searchEngineList .favicon {
  padding: 1px 7px 0px 7px;
  height: 16px;
}

#searchEngineList .name-column {
  box-sizing: border-box;
  width: 37%;
}

#searchEngineList .keyword-column {
  width: 26%;
}

#searchEngineList .url-column {
  width: 37%;
}

#searchEngineList > div:not(.heading) .keyword-column,
#searchEngineList > div:not(.heading) .url-column {
  color: #666666;
}

#searchEngineList .name-column,
#searchEngineList .keyword-column,
#searchEngineList .url-column {
  -webkit-padding-end: 1ex;
}

#searchEngineList .default {
  font-weight: bold;
}

#searchEngineList .default .url-column {
  font-weight: normal;
}

#searchEngineList .name-column {
  display: -webkit-box;
}

#searchEngineList .name-column :last-child {
  -webkit-box-flex: 1;
}

#searchEngineList input {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

/* For temporary Make Default button */
#searchEngineList .url-column {
  display: -webkit-box;
  -webkit-box-align: center;
}

#searchEngineList .url-column :first-child {
  -webkit-box-flex: 1;
}

#searchEngineList .url-column button {
  background: #8aaaed;
  color: #fff;
  -webkit-margin-start: 3px;
}

#searchEngineList > :not(:hover):not([editing]) .url-column button {
  display: none;
}
/* End temporary Make Default button styling */
