/* TODO(jhawkins): Organize these by page. */

#sync-setup-overlay * h4 {
  margin: 10px 0;
}

#sync-setup-overlay * form {
  -webkit-user-select: none;
}

#sync-setup-overlay * .content-area {
  padding: 10px 15px;
}

.action-area-link-container {
  -webkit-box-flex: 1;
}

#sync-passphrase-container {
  margin: 10px 0;
}

#sync-custom-passphrase {
  margin: 0 25px;
}

#sync-passphrase-message {
  color: gray;
}

.sync-custom-passphrase-input {
  margin: 10px 0;
}

#sync-select-container {
  margin-bottom: 10px;
}

#sync-instructions-container {
  margin-bottom: 30px;
}

#chooseDataTypesRadio {
  vertical-align: top;
}
#chooseDataTypes > div {
  display: inline-block;
}
#chooseDataTypesBody {
  margin: 10px 0;
}
#chooseDataTypesBody > div {
  -webkit-column-count: 3;
}

#sync-setup-overlay {
  -webkit-user-select: none;
  background-color: #fff;
  margin-bottom: 6px;
  margin-top: 6px;
  max-width: 500px;
}

#sync-setup-overlay * a:link {
  color: #00c;
}

#sync-setup-overlay * a:visited {
  color: #551a8b;
}

#sync-setup-overlay * a:active {
  color: #f00;
}

#sync-setup-overlay * hr {
  background-color: #ddd;
  border: 0;
  height: 1px;
  text-align: left;
  width: 100%;
}

#sync-setup-overlay * input[type='button'],
#sync-setup-overlay * input[type='submit'] {
  min-height: 26px;
  min-width: 87px;
}

.end-aligned {
  text-align: end;
}

#gaia-account-text {
  font-weight: bold;
}

#email-readonly {
  display: none;
  font-size: 10pt;
  font-weight: bold;
}

#sync-setup-overlay * div.errormsg {
  color: red;
  display: none;
  font-size: smaller;
}

#passphrase-encryption-message {
  color: gray;
  margin-bottom: 5px;
}

#passphrase-input {
  margin-top: 20px;
  margin-bottom: 20px;
}
#incorrectPassphrase {
  margin-top: 5px;
}

#sync-setup-overlay * .error {
  color: red;
}

.overlay-warning {
  position: absolute;
  display: none;
  left: 25px;
  right: 25px;
  top: 100px;
  background: white;
  border: 2px solid #888;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0.2em 0.2em 0.5em #888;
}
#cancel-warning-header {
  font-weight: bold;
  margin-bottom: 8px;
}
.overlay-warning input {
  margin-top: 12px;
  float: right;
  margin-left: 5px;
}
#sync-passphrase-warning {
  margin-bottom: 5px;
}

font.errormsg {
  color: red;
  font-size: smaller;
}

div.errormsgspacer {
  min-height: 1em;
}

font.errormsgspacer {
  font-size: smaller;
}

#gaia-login-form {
  margin-bottom: 0;
}

#captcha-wrapper {
  background: no-repeat;
  background-color: #e8eefa;
  background-position: center;
  background-size: 200px 70px;
}

#captcha-image {
  height: 70px;
  width: 200px;
}

#logging-in-throbber {
  margin: 0 10px;
}

.bottom-padded-cell {
  padding-bottom: 3px;
}

.no-vertical-padding {
  padding-bottom: 0;
  padding-top: 0;
}

#cancel-space-no-captcha {
  height: 22px;
}

#top-blurb {
  font-size: 11pt;
  line-height: 1.5em;
}

#top-blurb-error {
  background-color: #eeb939;
  border-radius: 4px;
  display: block;
  font-size: 11pt;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 10px;
  text-align: center;
  visibility: hidden;
  width: 70%;
}

#content-table {
  background-color: #fff;
  border: #c3d9ff 1px solid;
  padding: 2px;
}

.access-code-row {
  display: none;
}

.access-code-row > td {
  padding-bottom: 1px;
  text-align: center;
}

#access-code-label-row > td {
  padding-top: 6px;
}

.gaia-le-lbl,
.gaia-le-val,
.gaia-le-rem,
.gaia-captchahtml-desc
.gaia-captchahtml-cmt {
  font-size: smaller;
}

.gaia-captchahtml-cmt {
  font-style: italic;
}

.gaia-le-fpwd,
.gaia-le-chusr {
  font-size: 70%;
}

#error-custom {
  display: none;
}

#captcha-div {
  display: none;
}

#captcha-instructions {
  margin-bottom: 5px;
  white-space: normal;
}

#password-row {
  margin-top: 2px;
}

#action-area {
  margin-top: 2px;
}

#errormsg-0-access-code {
  text-align: center;
}

#sync-setup-configure {
  line-height: 1.33em;
  background: #FFFFFF;
  font-size: 11pt;
}

html[os='mac'] #sync-setup-configure {
  line-height: 1.5em;
}

#chooseDataTypesForm {
  -webkit-user-select: none;
}

.sync-header {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}
.sync-select-customization {
  margin-top: 10px;
}
#chooseDataTypesRadio {
  vertical-align: top;
}
#chooseDataTypes > div {
  display: inline-block;
}

.sync-item-show {
  display: block;
  white-space: nowrap;
}

.sync-item-show > label {
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
 display: inline-block;
 width: 92%;
}

.sync-item-hide {
  display: none;
}
.sync-label-inactive {
  color: #9B9B9B;
}
.sync-label-active {
  color: #000000;
}
.sync-data-types {
  margin-left: 5px;
}
.sync-errors {
  margin-top: 5px;
}
.sync-instructions-start-hidden {
  margin-top: 10px;
  display: none;
}
.sync-error-show {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1px 10px;
  background-color: #eeb939;
  border-radius: 4px;
  font-weight: bold;
}
.sync-error-hide {
  display: none;
}
.sync-footer {
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.sync-section {
  background: #EEE;
  margin: 5px 0px 5px 19px;
  padding: 6px;
}

#learn-more-link {
  float: right;
}

html[dir='rtl'] #learn-more-link {
  float: left;
}

html[dir='rtl'] .sync-footer {
  text-align: left;
  left: 0px;
  bottom: 0px;
  margin-left: 20px;
}

#setting-up-throbber {
  margin: -3px 10px;
}

#setting_up {
  margin: 100px;
  text-align: center;
}

#setting_up_label {
  margin: 15px;
  font-weight: bold;
  font-size: 125%;
}

.sync-success-image {
  text-align: center;
  margin: 20px;
}
