/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#website-settings-page {
  min-height: 445px;
  min-width: 540px;
}

#website-settings-edit-page {
  min-width: 540px;
}

.website-column-headers {
  padding: 3px 0 6px;
}

.website-header-controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.website-header-controls > div {
  font-weight: bold;
}

#allowed-origin-list-title {
  font-size: 1.3em;
}

#website-settings-search-box {
  width: 165px;
}

#website-settings-page .action-area {
  padding-bottom: 20px;
}

.website-list-content-area {
  display: flex;
  flex-direction: column;
}

.permission-name {
  -webkit-margin-start: 7px;
  font-size: 13px;
  width: 300px;
}

#website-settings-edit-page .permission-selection-option {
  -webkit-margin-end: 20px;
  -webkit-margin-start: 35px;
  width: 12em;
}

#website-settings-permission-column {
  -webkit-margin-start: 8px;
}

.website-properties {
  -webkit-margin-start: 8px;
  margin-bottom: 8px;
  padding-bottom: 4px;
}

.website-property-area {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.website-property-button {
  margin-bottom: 9em;
}

#website-title {
  -webkit-padding-start: 21px;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 22px;
  margin-top: 0;
}

#website-settings-page .content-area {
  padding: auto 20px;
}

#website-settings-page .action-area {
  padding: auto 20px;

}

#website-settings-edit-page .action-area {
  padding: auto 20px;

}

.origin-permission-list {
  border: 1px solid #d9d9d9;
  height: 192px;
  padding-top: 4px;
}

#website-settings-edit-page .website-property-button {
  min-width: 70px;
}

#website-settings-edit-page .website-property-controls {
  min-width: 165px;
}

#website-settings-global-controls {
  align-items: center;
  display: flex;
  margin-bottom: 24px;
}

#global-setting {
  -webkit-margin-start: 35px;
  flex: 1;
}

/* Styles for the origin list elements in the website settings page. */
.origin-list {
  border: 1px solid #d9d9d9;
  font-size: 13px;
  height: 192px;
  margin: 5px 0 0;
}

#website-settings-page .blocked-origin-list {
  height: 128px;
  min-height: 128px;
}

#website-settings-page .nonsplit-origin-list {
  height: 357px;
  min-height: 357px;
}

#origin-list-item {
  height: 30px;
}

.local-storage-usage {
  color: #7f7f7f;
  margin: auto 0;
}

list.origin-list .favicon-cell {
  -webkit-margin-start: 6px;
  -webkit-padding-start: 21px;
}

list.origin-list .favicon-cell {
  -webkit-margin-start: 5px;
  -webkit-padding-start: 21px;
  font-size: 13px;
}

.permission-option {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}
