/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.autoclick-delay-label {
  -webkit-margin-end: 0;
  -webkit-margin-start: 40px;
  margin-bottom: 10px;
  margin-top: 0;
}

.autoclick-dropdown {
  -webkit-margin-start: 10px;
}

.autoclick-dropdown::shadow paper-dropdown-menu {
  margin: 0;
  padding: 0 0 0.25em;
}
