.scanning-msg {
  margin-left: 50px;
}

.spinner {
  width: 32px;
  height: 32px;
  float: left;

  background-position: 50% 50%;
  background-repeat: no-repeat;

  background-image: -webkit-canvas(spinner-circle);

  -webkit-animation-name: spin;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.content-area {
  height: 120px;
  overflow: auto;
}

.disabled {
  opacity: 0.7;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
