/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

body {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Verdana', 'Arial';
  font-size: 14px;
  margin: 20px;
}

#fileSystems,
#requestEvents {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

#fileSystems table,
#requestEvents table {
  border-collapse: collapse;
  width: 100%;
}

#fileSystems th,
#requestEvents th {
  height: 30px;
}

#fileSystems .message {
  border-top: 1px solid #eee;
}

#fileSystems td {
  border-top: 1px solid #eee;
  height: 40px;
  line-height: 24px;
  text-align: center;
}

#fileSystems td .icon {
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

#fileSystems tbody tr {
  cursor: pointer;
}

#fileSystems tbody tr:active td {
  background-color: #eee;
}

#requestEvents {
  font-size: 12px;
}

#requestEvents td {
  padding: 8px;
  text-align: center;
  vertical-align: top;
}

#requestEvents td {
  border-top: 1px solid #eee;
}
