.error {
  color: red;
}

#pin-error-msg {
  height: 25px;
  margin: 5px auto 5px auto;
}

.input-area {
  margin: 10px auto 24px auto;
  width: 125px;
}

#puk-input-area {
  margin-bottom: 0;
}

.code-input {
  -webkit-border-radius: 2px;
  border: 1px solid #aaa;
  font-size: inherit;
  padding: 3px;
}

#locked-puk-action-area {
  -webkit-box-pack: center;
}

#disabled-sim-action-area {
  -webkit-box-pack: center;
}

#puk-warning-msg {
  padding-bottom: 6px;
}

#puk-enter-msg {
  padding-top: 6px;
}
