.fullscreen {
  background-image: url('../../../app/theme/fullscreen_menu_button.png');
  background-position: center center;
  background-repeat: no-repeat;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  width: 23px;
  height: 23px;
  -webkit-margin-start: 4px;
}

.edit-button {
  padding: 2px;
  text-align: center;
  min-width: 35px;
}

.left-button {
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.right-button {
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.center-button {
  border-top: solid 1px rgba(0, 0, 0, 0.3);
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}

.zoom-button {
  text-align: center;
  width: 15px;
}

.zoom-percent {
  min-width: 40px;
  text-align: center;
}
