/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/**
 * @fileoverview
 * Common styles for Material Design settings.
 */

h2 {
  color: #9e9e9e;
  font-size: 100%;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 30px;
}

iron-icon {
  color: #969696;
}

paper-button {
  margin: 0;
  min-width: auto;
}

paper-button[toggles][active] {
  background-color: LightGray;
}

span ~ a {
  -webkit-margin-start: 4px;
}

.text-elide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button-row {
  display: flex;
  margin-top: 25px;
}

.button-strip {
  text-align: end;
}

.list-frame {
  @apply(--layout-center);
  display: block;
  padding: 0 20px 0 48px;
}

.list-frame select {
  -webkit-margin-start: 4px;
}

.list-frame .secondary {
  color: #969696;
}

.list-item {
  @apply(--layout-center);
  display: flex;
  padding: 0;
}

.list-item > .middle {
  flex: 1;
  margin: 8px 12px;
  overflow: hidden;
  white-space: nowrap;
}

.list-item > .start {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}

.list-item > paper-icon-item {
  padding: 0;
}

.link-button {
  color: rgb(61, 130, 243);
  padding-bottom: 6px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 6px;
  text-transform: none;
}

.settings-box {
  @apply(--layout-center);
  border-top: 1px solid #e0e0e0;
  display: flex;
  min-height: 40px;
  padding: 0 20px;
}

.settings-box.first {
  border-top: none;
}

.settings-box.block {
  display: block;
}

.settings-box.two-line {
  min-height: 52px;
}

.settings-box .secondary {
  color: #969696;
}

.settings-box .start {
  flex: auto;
}

.settings-box paper-item iron-icon {
  /* Same padding as paper-icon-button. */
  padding: 8px;
}

.vertical-list > div:first-of-type {
  border-top: none;
}

.vertical-list > div {
  border-top: 1px solid #e0e0e0;
}
