/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/**
 * @fileoverview
 * Common styles for Material Design settings.
 */

h2 {
  color: var(--paper-grey-500);
  font-size: 100%;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 30px;
}

iron-icon {
  color: #969696;
}

iron-icon[icon=done] {
  color: rgb(0, 128, 0);
}

paper-button {
  margin: 0;
  min-width: auto;
}

paper-button[toggles][active] {
  background-color: LightGray;
}

span ~ a {
  -webkit-margin-start: 4px;
}

paper-button.primary-button {
  --paper-button: {
    color: rgb(66, 133, 244);
    text-align: start;
    text-transform: none;
    font-weight: 500;
  };
}

paper-button.secondary-button {
  --paper-button: {
    color: #5a5a5a;
    text-decoration: none;
    font-weight: 500;
  };
}

paper-button.tertiary-button {
  --paper-button: {
    color: rgb(51, 103, 214);
    text-decoration: none;
    font-weight: 400;
  };
}

paper-radio-button {
  --paper-radio-button-label-spacing: 18px;
  --paper-radio-button-checked-color: var(--google-blue-500);
  --paper-radio-button-unchecked-color: #969696;
  -webkit-margin-start: 2px;
}

.text-elide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button-row {
  display: flex;
  margin-top: 25px;
}

.button-strip {
  text-align: end;
}

.list-frame {
  @apply(--layout-center);
  display: block;
  padding: 0 20px 0 48px;
}

.list-frame select {
  -webkit-margin-start: 4px;
}

.list-frame .secondary {
  color: #969696;
}

.list-item {
  @apply(--layout-center);
  display: flex;
  min-height: 40px;
  padding: 0;
}

/* This button has no ink ripple */
.list-item.list-button {
  @apply(--layout-center);
  color: rgb(66, 133, 244);
  font-weight: 500;
  text-decoration: none;
}

.list-item iron-icon {
  @apply(--layout-center);
  height: 20px;
  width: 20px;
}

.list-item > .middle {
  flex: 1;
  margin: 8px 12px;
  overflow: hidden;
  white-space: nowrap;
}

.list-item > .start {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}

.list-item > paper-icon-item {
  padding: 0;
}

/* This button has no ink ripple. */
.list-item.list-button {
  @apply(--layout-center);
  color: rgb(66, 133, 244);
  font-weight: 500;
  padding: 0;
  text-decoration: none;
  text-transform: none;
}

.link-button {
  color: rgb(61, 130, 243);
  padding-bottom: 6px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 6px;
  text-transform: none;
}

.settings-card {
  padding: 8px 0;
}

.settings-box {
  @apply(--layout-center);
  border-top: 1px solid var(--paper-grey-300);
  display: flex;
  min-height: 40px;
  padding: 0 20px;
}

.settings-box.first {
  border-top: none;
}

.settings-box.block {
  display: block;
}

.settings-box.two-line {
  min-height: 52px;
}

.settings-box iron-icon {
  @apply(--layout-center);
  height: 20px;
  width: 20px;
}

.settings-box .secondary {
  color: #969696;
  font-weight: 400;
}

.settings-box .start {
  align-items: center;
  display: flex;
  flex: auto;
}

.settings-box paper-item iron-icon {
  /* Same padding as paper-icon-button. */
  padding: 8px;
}

.vertical-list > div:first-of-type {
  border-top: none;
}

.vertical-list > div {
  border-top: 1px solid var(--paper-grey-300);
}
