/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/**
 * @fileoverview
 * Common styles for Material Design settings.
 */

paper-button {
  margin: 0;
  min-width: auto;
}

paper-button[toggles][active] {
  background-color: LightGray;
}

h2 {
  color: #9e9e9e;
  font-size: 100%;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 30px;
}

.button-row {
  display: flex;
  margin-top: 25px;
}

.button-strip {
  text-align: end;
}

.settings-box {
  @apply(--layout-center);
  border-top: 1px solid #e0e0e0;
  display: block;
  min-height: 20px;
  padding: 8px 16px;
}

.settings-box:first-of-type {
  border-top: none;
}

.split {
  display: flex;
}

.split .start {
  flex: auto;
}

.settings-box paper-item iron-icon {
  /* Same padding as paper-icon-button. */
  padding: 8px;
}
