/**
 * Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.step {
  color: white;
  display: none;
  padding: 18px;
  position: absolute;
}

.step button {
  background-color: rgb(72, 136, 246);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.9em;
  padding: 0.5em 2.5em;
}

.step p {
  line-height: 1.4;
}

.step .controls {
  -webkit-margin-after: 2em;
  -webkit-margin-before: 1.5em;
}

