body { padding: 0px 150px; }
h1 { margin: 40px 0px; color: #aaa; }
p { margin: 20px 0px; }
h1 img { vertical-align: middle; border-width: 0px; }
h2 { font-family: sans; color: #888; }
h3 { font-family: sans; color: #888; font-style: italic; }
a { color: #444; }
a:hover { color: #888; }
a:visited { color: #666; }
li { margin: 10px 0px };
table { border: 1px solid gray;}

.version { font-size: small }
div.interface { padding: 2% }

div.requests div:nth-child(even) { background-color: #eeeeee; }
div.requests div { margin-left: 2%; padding-left: 2%; }
div.requests table { border: 0px; margin: 10px; }
div.requests table th { padding: 5px }
div.requests table td { padding: 5px }

div.events div:nth-child(even) { background-color: #eeeeee; }
div.events div { margin-left: 2%; padding-left: 2%; }
div.events table { border: 0px; margin: 10px; }
div.events table th { padding: 5px }
div.events table td { padding: 5px }

div.enums div:nth-child(even) { background-color: #eeeeee; }
div.enums div { margin-left: 2%; padding-left: 2%; }
div.enums table { border: 0px; margin: 10px; }
div.enums table th { padding: 5px }
div.enums table td { padding: 5px }

.arg_name { font-family: monospace; padding:5px}
.arg_type { font-family: monospace; color: #338833; padding:5px }
.arg_value { font-family: monospace; color: #338833; padding:5px }
.arg_desc { font-style: italic;padding:5px; }
.mono { font-family: monospace; font-weight: bold; }

div.toc span { font-size: 11pt; line-height: 150%; }
div.toc li li { line-height: 100%; margin: 0%; }
