body {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.todo {
  color: red;
}

h2,h3 {
  margin-top: 2em;
}

.comment {
  color: rgb(255, 0, 0);
}

div.summary .subdued {
  color: rgb(147, 180, 217);
}

.optional {
  color: rgb(125, 125, 125);
}

.apiGroup div.description {
  margin-left: 2em;
}

.apiGroup div.summary {
  border: 1px solid rgb(147, 180, 217);
  font-family: "Courier New", courier, monospace;
  padding: 0.5em;
  background-color: rgb(202, 222, 244);
}

div.summary div {
  margin-bottom: 0.5em;
}

pre {
  border: 1px solid rgb(187, 187, 187);
  padding: 0.5em;
  background-color: rgb(250, 250, 250);
}

div#toc {
  background-color: rgb(232, 237, 235);
  border: 1px solid rgb(176, 189, 204);
  display: inline;
  float: right;
  margin: 5px 0px 5px 20px;
  padding: 5px;
  width: 250px;
}

#toc p {
  font-weight: bold;
  margin: 0px;
}

#toc ol {
  list-style-image: none;
  list-style-type: none;
  padding-left: 1em;
}

#breadcrumbs {
  font-size: 80%;
}

.exampleLink {
  font-size: 80%;
}

dd {
  margin-bottom: 0.75em;
}

.example {
}

p#classSummary {
}

.apiItem {
}

.hidden {
  display: none;
}