/*
 * PENDING: This file has styles that aren't used by handwritten pages.
 * So we should probably have a common CSS file, plus this one, and then
 * one for handwritten pages.
 */
.todo {
  color: red;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 13px;
}

h2,h3 {
  margin-top: 2em;
}

.comment {
  color: rgb(255, 0, 0);
}

div.summary .subdued {
  color: rgb(147, 180, 217);
}

.optional {
  color: rgb(125, 125, 125);
}

.apiGroup div.description {
  margin-left: 2em;
}

.apiGroup div.summary {
  border: 1px solid rgb(147, 180, 217);
  font-family: "Courier New", courier, monospace;
  padding: 0.5em;
  background-color: rgb(202, 222, 244);
}

div.summary div {
  margin-bottom: 0.5em;
}

pre {
  border: 1px solid rgb(187, 187, 187);
  padding: 0.5em;
  background-color: rgb(250, 250, 250);
}

div#toc {
  background-color: rgb(232, 237, 235);
  border: 1px solid rgb(176, 189, 204);
  display: inline;
  float: right;
  margin: 5px 0px 5px 20px;
  padding: 5px;
  width: 250px;
}

#toc p {
  font-weight: bold;
  margin: 0px;
}

#toc ol {
  list-style-image: none;
  list-style-type: none;
  padding-left: 1em;
}

div#breadcrumbs {
  display: inline;
  font-size: 80%;
}

div#searchbox {
  display: inline;
  float: right;
  /*
  margin: 5px 0px 5px 20px;
  padding: 5px;
  width: 250px; */
}

.exampleLink {
  font-size: 80%;
}

dd {
  margin-bottom: 0.75em;
}

.example {
}

p#classSummary {
}

.apiItem {
}

#container {
  height:auto !important;
  margin:0;
  max-width:1160px;
  min-height:100%;
  padding:0;
  position:relative;
}

#pageHeader {
  margin:9px 0 12px;
  padding:7px 0 0;
}

#pageTitle {
}

#pageContent {
}

#leftNav {
  clear:left;
  padding:0.5em 0 140px !important;
  display:block;
  float:left;
  margin:0;
  width:171px;
}

#leftNav ul {
  line-height:120%;
  margin:0;
  padding:0.6em 0 0;
}

#leftNav ul li {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0.2em 0 0.2em 1em;
}

#mainColumn {
  border-left:3px solid #E5ECF9;
  padding-left:24px;
  display:block;
  float:none;
  margin:0 0 0 171px;
  position:relative;
  width:auto;
}

#pageFooter {
}

#mainColumn table {
  border-collapse:collapse;
}

#mainColumn th {
  background:#ccc;
  border:1px solid #999;
}

#mainColumn td {
  text-align:left;
  vertical-align:top;
  border:1px solid #999;
  padding:6px;
}
