a img {
  border:0;
}
h2.name {
  margin: 0 !important;
  padding: 0 !important;
  background: #fff !important;
  border: 0 !important;
  font-size: 17px;
}
h2.name a {
  text-decoration: none;
  color: #000 !important;
}
h2.name a:hover {
  text-decoration: underline;
}
code a {
  color: #007000 !important;
  text-decoration: none;
}
code a:hover {
  text-decoration: underline;
}
.apicalls {
  margin: 10px 0 0 0;
}
.apicalls li {
  margin: 0 0 0 20px;
  padding: 0;
}
.apicalls ul {
  margin: 5px 0 0 10px;
  padding: 0;
}
.sourcefiles code a {
  color: #0000cc !important;
}
.sourcefiles code a {
  color: #8e0000 !important;
}
.apicalls, .sourcefiles {
  margin: 5px 0;
  padding: 0;
}
p {
  margin: 10px 0;
}
.features {
  font-size: 11px;
  margin: 0 0 10px 0;
  padding: 0;
}
.sample {
  padding: 20px 0 15px 74px;
  margin: 0;
  border-bottom: 1px solid #ddd;
  min-height: 74px;
  position: relative;
}
.selected {
  color: #000 !important;
  text-decoration: none !important;
  cursor: text !important;
  font-weight: bold !important;
}
img.icon {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 0;
  top: 10px;
}
#controls {
  margin: 10px 0;
  background: #eee;
  padding: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.controlbox {
  padding-left: 12em;
  position: relative;
}
.controlbox strong {
  position: absolute;
  left: -10px;
  top: 2px;
  text-align: right;
  width: 12em;
}
.controlbox input {
  width: 30em;
  margin-bottom: 4px;
}
#noresults {
  text-align: center;
  padding: 50px 0;
  font-size: 17px;
  font-weight: bold;
}
