/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#cast-modes {
  margin: 40px 0;
  position: absolute;
  z-index: 1;
}

:host-context(html[dir='ltr']) #cast-modes {
  right: 72px;
}

:host-context(html[dir='rtl']) #cast-modes {
  left: 72px;
}

#container-header {
  background-color: rgb(214, 214, 214);
}

#drop-down-button {
  margin-top: 10px;
  z-index: 1;
}

.hide {
  display: none;
}

.route {
  color: rgb(119, 119, 119);
}

#router-header-text {
  -webkit-padding-start: 20px;
  flex-grow: 1;
  font-size: 1.25em;
  margin: 0;
}

.sink {
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 1.0em;
}

.sink:hover {
  background-color: rgb(187, 206, 236);
  border: 0;
}

.sink-icon {
  -webkit-padding-end: 10px;
}

#sink-list {
  margin: 0;
  max-height: 275px;
  overflow-y: scroll;
}

#transparent-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}