.type_name,
.variable,
.property {
  font-style: italic;
}

.api_reference div.summary {
  border: 1px solid #93B4D9;
  font-family: "Courier New", courier, monospace;
  padding: 0.5em 0.5em 0.5em 2em;
  text-indent: -1.5em;
  background-color: #CADEF4;
  margin-top: 1em;
}

.api_reference div.description {
  margin-left: 2em;
}

div.summary .subdued {
  color: #dfc9fb;
}

.optional {
  color: #7D7D7D;
}

#toc {
  background-color: #E8EDEB;
  float: right;
  margin: 5px 0px 5px 20px;
  padding: 5px;
  width: 250px;
}

#toc * {
  padding: 0;
  list-style: none;
}

#toc h2 {
  font-weight: bold;
  font-size: 100%;
  margin: 0;
  border: none;
  background-color: #E8EDEB;
  padding: 0;
}

#toc ol {
  margin: 1em 0 0 0;
}

#toc ol li {
  margin: .4em 0 0 1em;
}

#toc ol li ol {
  margin: 0;
}

#toc ol li ol li {
  margin: .1em 0 0 1em;
}
