#controls {
  margin: 10px 0;
  background: #EEE;
  padding: 10px;
  border-radius: 10px;
}

#search_input {
  width: 30em;
}

.label {
  font-weight: bold;
}

td.label {
  min-width: 150px;
  text-align: right;
  vertical-align: top;
  padding-right: 10px;
}

.sample {
  position: relative;
  padding-left: 80px;
}

img.icon {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 0;
  top: 40px;
}
