/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.cast-device {
  background-image: -webkit-image-set(
    url(../icon/chromecast-icon.png) 1x,
    url(../icon/chromecast-icon2x.png) 2x);
}

.device {
  -webkit-padding-end: 8px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  width: 18px;
}

.generic-device {
  background-image: -webkit-image-set(
    url(../icon/generic-device.png) 1x,
    url(../icon/generic-device2x.png) 2x);
}

.hangouts-device {
  background-image: -webkit-image-set(
    url(../icon/hangouts-icon.png) 1x,
    url(../icon/hangouts-icon2x.png) 2x);
}

.sink {
  -webkit-padding-start: 11px;
  -webkit-user-select: none;
  cursor: pointer;
  line-height: 3em;
  padding-bottom: 4px;
}

.sink:hover {
  background-color: rgb(187, 206, 236);
  border: 0;
}

.route {
  -webkit-padding-start: 28px;
  color: rgb(119, 119, 119);
  line-height: 0.875em;
}
