# Test Expectation file for telemetry tests.

# tags: All Android_Svelte Android_Webview Android_but_not_webview Mac Win Linux
# tags: ChromeOS Android Desktop Mobile Nexus_5 Nexus_5X Nexus_6 Nexus_6P
# tags: Nexus_7 Cherry_Mobile_Android_One Mac_10.11 Mac_10.12 Nexus6_Webview
# tags: Nexus5X_Webview

# Benchmark: loading.desktop
crbug.com/723783 [ Win ] loading.desktop/Orange [ Skip ]
crbug.com/752611 [ Linux ] loading.desktop/uol.com.br [ Skip ]

# Benchmark: system_health.memory_desktop
crbug.com/728576 [ Mac ] system_health.memory_desktop/browse:news:cnn [ Skip ]
crbug.com/64939 [ All ] system_health.memory_desktop/play:media:pandora [ Skip ]
crbug.com/676336 [ Win ] system_health.memory_desktop/browse:news:hackernews [ Skip ]
crbug.com/676336 [ Mac ] system_health.memory_desktop/browse:news:hackernews [ Skip ]
crbug.com/649392 [ Win ] system_health.memory_desktop/play:media:soundcloud [ Skip ]
crbug.com/649392 [ All ] system_health.memory_desktop/play:media:google_play_music [ Skip ]
crbug.com/742475 [ Mac ] system_health.memory_desktop/multitab:misc:typical24 [ Skip ]
crbug.com/773084 [ Mac ] system_health.memory_desktop/browse:tools:maps [ Skip ]
crbug.com/769809 [ All ] system_health.memory_desktop/browse_accessibility:tools:gmail_compose [ Skip ]
crbug.com/673775 [ Win ] system_health.memory_desktop/browse:search:google [ Skip ]
crbug.com/664661 [ Mac ] system_health.memory_desktop/load:games:miniclip [ Skip ]
crbug.com/728464 [ Win ] system_health.memory_desktop/browse:social:twitter_infinite_scroll [ Skip ]

# Benchmark: system_health.memory_mobile
crbug.com/787001 [ Android_Webview ] system_health.memory_mobile/load:media:soundcloud [ Skip ]
[ Android_Webview ] system_health.memory_mobile/browse:chrome:newtab [ Skip ]
crbug.com/714650 [ Android ] system_health.memory_mobile/browse:news:globo [ Skip ]
[ Android_Webview ] system_health.memory_mobile/browse:chrome:omnibox [ Skip ]
crbug.com/657433 [ Android ] system_health.memory_mobile/load:tools:gmail [ Skip ]
crbug.com/728081 [ Android ] system_health.memory_mobile/browse:news:toi [ Skip ]
crbug.com/777355 [ Android_Svelte ] system_health.memory_mobile/long_running:tools:gmail-background [ Skip ]
[ Android_Webview ] system_health.memory_mobile/long_running:tools:gmail-background [ Skip ]
crbug.com/708300 [ Android ] system_health.memory_mobile/browse:shopping:flipkart [ Skip ]
crbug.com/784400 [ Nexus_5 ] system_health.memory_mobile/background:tools:gmail [ Skip ]
crbug.com/780779 [ Nexus_5 ] system_health.memory_mobile/browse:social:facebook [ Skip ]
crbug.com/738854 [ Nexus_5X ] system_health.memory_mobile/load:tools:drive [ Skip ]
crbug.com/738854 [ Android_Webview ] system_health.memory_mobile/load:tools:drive [ Skip ]

##### Perf FYI benchmarks go after here #####
# Benchmark: loading.desktop.network_service
crbug.com/723783 [ Win ] loading.desktop.network_service/Orange [ Skip ]
crbug.com/752611 [ Linux ] loading.desktop.network_service/uol.com.br [ Skip ]


