/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 *
 * Css based bubble.
 */

.bubble {
  -webkit-transition: opacity 200ms ease-in-out;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.87);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  margin: 2px;
  max-width: 250px;
  padding: 8px;
  position: absolute;
}

.error-message-bubble::before {
  -webkit-mask-image: url(../../ui/webui/resources/images/warning.svg);
  -webkit-mask-position: left top;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 20px;
  background-color: rgb(255,255,255);
  content: '';
  display: block;
  height: 20px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 20px;
}

.error-message-bubble {
  -webkit-padding-start: 20px;
}

.bubble[match-width] .error-message-bubble {
  -webkit-padding-start: unset;
  padding-top: 20px;
}

.bubble a {
  color: #7baaf7;
  text-decoration: none;
}

.error-message-bubble-padding {
  margin-bottom: 10px;
}

html[dir=rtl] .error-message-bubble {
  background-position: right top;
}
