/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 *
 * Css based bubble.
 */

.bubble {
  -webkit-transition: opacity 200ms ease-in-out;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.87);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  margin: 2px;
  max-width: 250px;
  padding: 16px;
  position: absolute;
}

.error-message-bubble {
  -webkit-padding-start: 30px;
  background: url(chrome://theme/IDR_WARNING) left top no-repeat;
  background-size: 24px;
}

.error-message-bubble-padding {
  margin-bottom: 10px;
}

html[dir=rtl] .error-message-bubble {
  background-position: right top;
}
