Source: google-o3d
Section: non-free/web
Priority: optional
Maintainer: Tristan Schmelcher <tschmelcher@google.com>
Build-Depends: debhelper (>= 4.0.0), cdbs (>=0.4.34ubuntu4)
Standards-Version: 3.7.2

Package: google-o3d
Architecture: i386
Depends: libc6, libstdc++6, libgcc1, zlib1g, libglew1.5, nvidia-cg-toolkit
Conflicts: o3d-plugin
Replaces: o3d-plugin
Description: Google O3D Plugin
 O3D is an open-source web API for creating rich, interactive 3D applications in
 the browser.
 .
 This package provides the NPAPI browser plugin for running O3D-based web apps.
