/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

th,
td {
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
}

tr:nth-child(odd) {
  background: rgb(238, 238, 255);
}
