/* Copyright 2019 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

xf-display-panel {
    max-width: 400px;
}

.xf-panel-item {
    align-items: center;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    height: 68px;
    max-width: 400px;
}

.xf-button {
    height: 36px;
    width: 36px;
}

.xf-panel-text {
    font: 13px Roboto;
    line-height: 20px;
    max-width: 216px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.xf-panel-label-text {
    color: rgb(32, 33, 36);
}

.xf-panel-secondary-text {
    color: rgb(95, 99, 104);
}

.xf-padder-4 {
    width: 4px;
}

.xf-padder-16 {
    min-width: 16px;
}

.xf-padder-24 {
    min-width: 24px;
}

xf-circular-progress {
    padding: 16px;
}
