/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

paper-button[raised].colored {
  background: rgb(66, 133, 244);
  color: white;
}

#header {
  margin: 5px;
}

#header a {
  padding: 0 4px;
}

#header cr-network-icon {
  height: 40px;
  width: 40px;
}

cr-network-select {
  padding: 5px;
  width: 500px;
}

#refresh {
  margin-top: 10px;
  padding: 5px;
}

.state-table {
  border-collapse: collapse;
}

.state-table tr td {
  border: 1px solid rgb(220, 220, 220);
  font-size: 13px;
}

.state-table-header {
  font-weight: bold;
}

.state-table-expand-button-cell {
  text-align: center;
}

.state-table-expand-button {
  background-color: #fff;
  border: none;
  height: 20px;
  margin: 0;
  outline: none;
  padding: 0;
  width: 20px;
}

.state-table-expanded-cell {
  white-space: pre-wrap;
}

.state-table cr-network-icon {
  height: 25px;
  width: 25px;
}

#advanced-options {
  margin-top: 10px;
}
