<!doctype html>
<html>
  <head>
    <!-- Set the title to an empty value, which will be replaced by a localized
         name by JavaScript -->
    <title>&#xfeff;</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/third_party/glfx/glfx.js"></script>
    <script src="../js/util.js"></script>
    <script src="../js/scrollbar.js"></script>
    <script src="../js/models/gallery.js"></script>
    <script src="../js/view.js"></script>
    <script src="../js/views/gallery_base.js"></script>
    <script src="../js/views/camera.js"></script>
    <script src="../js/views/dialog.js"></script>
    <script src="../js/views/album.js"></script>
    <script src="../js/views/browser.js"></script>
    <script src="../js/processor.js"></script>
    <script src="../js/router.js"></script>
    <script src="../js/main.js"></script>
  </head>
  <body class="mirror">
    <div id="camera">
      <div id="main-canvas-wrapper"></div>
      <div id="main-preview-canvas-wrapper"></div>
      <div id="main-fast-canvas-wrapper"></div>
      <div id="toolbar-puller-wrapper">
        <div id="toolbar">
          <div id="toolbar-background"></div>
          <div id="toolbar-stripe">
            <div class="buttons opposite-side">
              <button id="filters-toggle" disabled tabindex="0"
                      i18n-label="filtersButton" hidden></button>
            </div>
            <div class="buttons prev-to-middle">
              <button id="toggle-camera" disabled tabindex="0"
                      i18n-label="toggleCameraButton" hidden></button>
              <button id="toggle-record" disabled tabindex="0"
                     i18n-label="toggleRecordOnButton"></button>
              <input type="checkbox" id="toggle-mirror" disabled tabindex="0"
                     i18n-label="toggleMirrorButton" checked>
            </div>
            <div id="buttons">
              <button id="take-picture" disabled tabindex="0"
                      i18n-label="takePictureButton"></button>
            </div>
            <div class="buttons next-to-middle">
              <input type="checkbox" id="toggle-timer" disabled tabindex="0"
                     i18n-label="toggleTimerButton" checked>
              <input type="checkbox" id="toggle-multi" disabled tabindex="0"
                     i18n-label="toggleMultiButton" checked>
            </div>
            <div class="buttons">
              <button id="album-enter" disabled tabindex="0"
                      i18n-label="galleryButton"></button>
            </div>
            </div>
            <div id="effects-wrapper" aria-role="listbox">
              <div id="effects">
                <ul class="padder"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="toast" class="visible">
        <div id="toast-message"></div>
      </div>
      <div id="recording-timer"></div>
    </div>
    <div id="spinner"></div>
    <div id="album" aria-role="listbox" i18n-aria-label="galleryImages">
      <div class="padder"></div>
      <div class="buttons">
        <button id="album-print" disabled tabindex="0"
                i18n-label="printButton"></button>
        <button id="album-export" disabled tabindex="0"
                i18n-label="exportButton"></button>
        <button id="album-delete" disabled tabindex="0"
                i18n-label="deleteButton"></button>
        <button id="album-back" tabindex="0"
                i18n-label="backButton"></button>
      </div>
    </div>
    <div id="browser" aria-role="listbox" i18n-aria-label="galleryImages">
      <div class="padder">
        <div class="bounds-padder"></div>
        <div class="bounds-padder"></div>
      </div>
      <div class="buttons">
        <button id="browser-print" disabled tabindex="0"
                i18n-label="printButton"></button>
        <button id="browser-export" disabled tabindex="0"
                i18n-label="exportButton"></button>
        <button id="browser-delete" disabled tabindex="0"
                i18n-label="deleteButton"></button>
        <button id="browser-back" tabindex="0"
                i18n-label="backButton"></button>
      </div>
    </div>
    <div id="error">
      <div class="icon"></div>
      <div id="error-msg"></div>
      <div id="error-msg-hint"></div>
    </div>
    <div id="dialog">
      <div id="dialog-popup" role="dialog" aria-labelledby="dialog-msg">
        <div class="buttons">
          <button id="dialog-close-button" tabindex="-1"></button>
        </div>
        <div id="dialog-msg"></div>
        <div id="dialog-buttons">
          <button id="dialog-positive-button"></button>
          <button id="dialog-negative-button"></button>
        </div>
      </div>
    </div>
    <div id="tooltip">
      <div id="tooltip-msg"></div>
      <div id="tooltip-arrow"></div>
    </div>
  </body>
</html>

