<!doctype html>
<html>
  <head>
    <!-- Set the title to an empty value, which will be replaced by a localized
         name by JavaScript -->
    <title>&#xfeff;</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/third_party/glfx/glfx.js"></script>
    <script src="../js/util.js"></script>
    <script src="../js/view.js"></script>
    <script src="../js/views/camera.js"></script>
    <script src="../js/views/gallery.js"></script>
    <script src="../js/tracker.js"></script>
    <script src="../js/effect.js"></script>
    <script src="../js/effects/normal.js"></script>
    <script src="../js/effects/andy.js"></script>
    <script src="../js/effects/swirl.js"></script>
    <script src="../js/effects/pinch.js"></script>
    <script src="../js/effects/grayscale.js"></script>
    <script src="../js/effects/sepia.js"></script>
    <script src="../js/effects/colorize.js"></script>
    <script src="../js/effects/newspaper.js"></script>
    <script src="../js/effects/tilt-shift.js"></script>
    <script src="../js/effects/vintage.js"></script>
    <script src="../js/effects/funky.js"></script>
    <script src="../js/effects/cinema.js"></script>
    <script src="../js/processor.js"></script>
    <script src="../js/main.js"></script>
  </head>
  <body>
   <div id="main-canvas-wrapper"></div>
    <div id="main-fast-canvas-wrapper"></div>
    <div id="toolbar">
      <div id="toolbar-stripe">
        <div id="buttons">
          <button id="take-picture" tabIndex="-1"></button>
        </div>
        <div id="side-buttons">
          <button class="gallery-button" tabIndex="-1"></button>
        </div>
      </div>
      <ol id="effects">
     </ol>
    </div>
    <div id="picture-preview">
    </div>
    <div id="header">
      <button id="maximize-button" tabIndex="-1"></button>
      <button id="close-button" tabIndex="-1"></button>
    </div>
    <div id="gallery">
      <div class="padder">
     </div>
    </div>
    <div id="corner-buttons">
      <button class="gallery-button" tabIndex="-1"></button>
    </div>
    <div id="shutter"></div>
    <div id="error">
      <div class="icon"></div>
      <div id="error-msg"></div>
      <div id="error-msg-hint"></div>
    </div>
  </body>
</html>
