<!doctype html>
<html>
  <head>
    <!-- Set the title to an empty value, which will be replaced by a localized
         name by JavaScript -->
    <title>&#xfeff;</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/util.js"></script>
    <script src="../js/toast.js"></script>
    <script src="../js/tooltip.js"></script>
    <script src="../js/scrollbar.js"></script>
    <script src="../js/models/gallery.js"></script>
    <script src="../js/models/file_system.js"></script>
    <script src="../js/views/view.js"></script>
    <script src="../js/views/gallery_base.js"></script>
    <script src="../js/views/camera.js"></script>
    <script src="../js/views/camera/gallerybutton.js"></script>
    <script src="../js/views/camera/layout.js"></script>
    <script src="../js/views/camera/options.js"></script>
    <script src="../js/views/camera/preview.js"></script>
    <script src="../js/views/camera/recordtime.js"></script>
    <script src="../js/views/dialog.js"></script>
    <script src="../js/views/browser.js"></script>
    <script src="../js/views/settings/util.js"></script>
    <script src="../js/views/settings.js"></script>
    <script src="../js/views/gridsettings.js"></script>
    <script src="../js/views/warning.js"></script>
    <script src="../js/nav.js"></script>
    <script src="../js/main.js"></script>
  </head>
  <body class="mirror">
    <div id="camera">
      <div id="preview-wrapper">
        <video id="preview-video" aria-hidden="true"></video>
        <div id="preview-grid">
          <div id="preview-grid-horizontal"></div>
          <div id="preview-grid-vertical"></div>
        </div>
        <div id="preview-focus">
          <object id="preview-focus-aim" type="image/svg+xml"
                  data="../images/camera_focus_aim.svg"
                  tabindex="-1" hidden></object>
        </div>
      </div>
      <div class="actions-group buttons circle">
        <button id="switch-takephoto" disabled tabindex="0"
                i18n-label="switchTakePhotoButton"></button>
        <button id="shutter" disabled tabindex="0"
                i18n-label="takePhotoButton"></button>
        <button id="switch-recordvideo" disabled tabindex="0"
                i18n-label="switchRecordVideoButton"></button>
      </div>
      <div class="top-stripe right-stripe buttons">
        <input type="checkbox" id="toggle-mic" tabindex="0"
               i18n-label="toggleMicButton" data-key="toggleMic" checked>
      </div>
      <div class="top-stripe left-stripe buttons">
        <button id="open-settings" tabindex="0"
                i18n-label="settingsButton" aria-haspopup="true"></button>
      </div>
      <div class="left-stripe options-group buttons">
        <input type="checkbox" id="toggle-mirror" tabindex="0"
               i18n-label="toggleMirrorButton" data-css="mirror" checked>
        <input type="checkbox" id="toggle-grid" tabindex="0"
               i18n-label="toggleGridButton" data-css="grid"
               data-key="toggleGrid">
        <input type="checkbox" id="toggle-timer" tabindex="0"
               i18n-label="toggleTimerButton" data-css="timer"
               data-key="toggleTimer">
      </div>
      <div class="bottom-stripe left-stripe buttons circle">
        <button id="switch-device" disabled tabindex="0"
                i18n-label="switchCameraButton" hidden></button>
      </div>
      <div class="bottom-stripe right-stripe buttons circle">
        <button id="gallery-enter" disabled tabindex="0"
                i18n-label="galleryButton" hidden></button>
      </div>
      <div class="top-stripe" id="record-time" hidden>
        <div class="icon"></div>
        <div id="record-time-msg"></div>
      </div>
      <div class="centered-overlay">
        <div id="timer-tick-msg"></div>
      </div>
      <div class="centered-overlay" id="camera-mode"></div>
    </div>
    <div id="settings">
      <div class="menu" role="menu" i18n-aria-label="settingsButton">
        <div class="menu-header buttons circle">
          <button class="icon" tabindex="0"
                  i18n-aria-label="backButton"></button>
          <div i18n-content="settingsButton" aria-hidden="true"></div>
        </div>
        <div class="menu-item buttons circle" id="settings-feedback">
          <div class="icon"></div>
          <div i18n-content="feedbackButton" aria-hidden="true"></div>
          <button tabindex="0" i18n-aria-label="feedbackButton"></button>
        </div>
        <div class="menu-item buttons circle" id="settings-help">
          <div class="icon"></div>
          <div i18n-content="helpButton" aria-hidden="true"></div>
          <button tabindex="0" i18n-aria-label="helpButton"></button>
        </div>
      </div>
    </div>
    <div id="gridsettings">
      <div class="menu" role="menu" i18n-aria-label="gridTypeButton">
        <div class="menu-header buttons circle">
          <button class="icon" tabindex="0"
                  i18n-aria-label="backButton"></button>
          <div i18n-content="gridTypeButton" aria-hidden="true"></div>
        </div>
        <div class="menu-item buttons circle">
          <input type="radio" tabindex="0" i18n-aria-label="labelGrid3x3"
                 name="grid-type" checked>
          <span aria-hidden="true">3 x 3</span>
        </div>
        <div class="menu-item buttons circle">
          <input type="radio" tabindex="0" i18n-aria-label="labelGridGolden"
                 name="grid-type" data-css="golden" data-key="toggleGolden">
          <span i18n-content="labelGridGolden" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="centered-overlay" id="spinner"></div>
    <div id="browser" role="listbox" i18n-aria-label="galleryImages">
      <div class="padder">
        <div class="bounds-padder"></div>
        <div class="bounds-padder"></div>
      </div>
      <div class="buttons">
        <button id="browser-back" tabindex="0"
                i18n-label="backButton"></button>
        <button id="browser-print" disabled tabindex="0"
                i18n-label="printButton"></button>
        <button id="browser-export" disabled tabindex="0"
                i18n-label="exportButton"></button>
        <button id="browser-delete" disabled tabindex="0"
                i18n-label="deleteButton"></button>
      </div>
    </div>
    <div id="warning">
      <div id="error-msg" aria-live="polite"></div>
    </div>
    <div id="dialog">
      <div id="dialog-popup" role="dialog" aria-labelledby="dialog-msg">
        <div id="dialog-msg"></div>
        <div id="dialog-buttons">
          <button id="dialog-negative-button" tabindex="0"
                  i18n-content="dialogCancelButton"></button>
          <button id="dialog-positive-button" tabindex="0"
                  i18n-content="dialogOKButton"></button>
        </div>
      </div>
    </div>
    <div class="centered-overlay" id="toast" aria-live="polite"></div>
    <div id="tooltip" aria-hidden="true"></div>
  </body>
</html>
