/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#container {
  max-height: 1000px;
  min-height: 50px;
  overflow-y: auto;
}

/* Note: the 'flex' attribute on core-list doesn't work as expected. */
#networkList {
  flex: 1;
}

cr-network-list-item:not(:last-of-type) {
  border-bottom: 1px solid lightgrey;
}
