/* Copyright 2019 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html {
  background: rgb(248, 249, 250);
  overflow: hidden;
  --input-background: rgba(0, 0, 0, 0.22);
  --toolbar-color: var(--google-blue-700);
  --cr-card-background-color: white;
  --cr-card-shadow: rgba(var(--google-grey-800-rgb), .3) 0 1px 2px 0,
    rgba(var(--google-grey-800-rgb), .15) 0 1px 3px 1px;
  --cr-search-field-input-color: white;
}

@media (prefers-color-scheme: dark) {
  html {
    background: var(--google-grey-900);
    --cr-card-background-color: var(--google-grey-900);
    --cr-search-field-input-color: var(--google-grey-500);
    --cr-card-shadow: rgba(0, 0, 0, .3) 0 1px 2px 0,
      rgba(0, 0, 0, .15) 0 1px 3px 1px;
  }
}

#promos {
  display: none;
}

#flags-title {
  display: none;
}

#enterprise-flags-title {
  display: block;
}

body {
  display: flex;
  flex-direction: column;
}

#body-container {
  box-sizing: border-box;
  flex: 1;
  margin: 0;
  min-width: 100%;
  overflow: overlay;
}

#flagsTemplate {
  background: var(--cr-card-background-color);
  box-shadow: var(--cr-card-shadow);
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 680px;
  min-width: 680px;
  padding-top: 18px;
}

@media (prefers-color-scheme: dark) {
  #flagsTemplate {
    background-image: linear-gradient(rgba(255, 255, 255, .04),
    rgba(255, 255, 255, .04));
  }
}

#header {
  display: flex;
  flex-shrink: 0;
  height: 55px;
  position: relative;
}

#header h1 {
  color: white;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .25px;
  line-height: normal;
  margin: auto 0;
  margin-inline-start: 6px;
  padding-inline-end: 12px;
}

#header .flex-container > * {
  flex: 1;
}

#header .flex-container {
  max-width: 100%;
  width: 100%;
}

#header .center-content {
  max-width: 680px;
  min-width: 680px;
}

@media (prefers-color-scheme: dark) {
  #header {
    background-color: rgba(255, 255, 255, .04);
  }
}

.search-container {
  margin-inline-end: 0;
  position: relative;
}

.search-container .search-hint {
  -webkit-mask-size: 20px;
  background: var(--cr-search-field-input-color);
  left: 12px;
}

#search {
  background: var(--input-background);
  border-radius: 4px;
  color: var(--cr-search-field-input-color);
  font-size: 13px;
  padding-inline-start: 44px;
}

@media (prefers-color-scheme: dark) {
  #search {
    background-image: none;
  }
}

#search::placeholder {
  color: rgba(255, 255, 255, .7);
}

.clear-search {
  background: var(--cr-search-field-input-color);
}

button:not(.primary) {
  color: var(--google-grey-300);
}

@media (prefers-color-scheme: dark) {
  button:not(.primary) {
    color: var(--google-grey-700);
  }
}

button:not(.primary):hover {
  background: rgba(var(--google-grey-500-rgb), .04);
}

@media (prefers-color-scheme: dark) {
  button:not(.primary):hover {
    background: rgba(var(--google-grey-300-rgb), .08);
  }
}
