// Copyright 2014 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.components.bookmarks;

public class BookmarkType {

#define DEFINE_BOOKMARK_TYPE(name, value) public static final int BOOKMARK_TYPE_##name = value;
#include "components/bookmarks/common/android/bookmark_type_list.h"
#undef DEFINE_BOOKMARK_TYPE

}
