/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.content > span {
  max-width: 416px;
}

.icon {
  -webkit-margin-start: 25px;
  content: -webkit-image-set(
      url(../../../../ui/webui/resources/images/incognito_icon.png) 1x,
      url(../../../../ui/webui/resources/images/2x/incognito_icon.png) 2x);
  float: right;
  height: 128px;
  margin-bottom: 10px;
  margin-top: 4px;
  width: 128px;
}

html[dir='rtl'] .icon {
  float: left;
}

@media (max-width:400px) {
  .icon {
    -webkit-margin-start: 15px;
    height: 96px;
    width: 96px;
  }
}
