html,
#most-visited-settings {
  background-attachment: fixed;
  background-color: $2; /* COLOR_NTP_BACKGROUND */
  background-image: url(chrome://theme/IDR_THEME_NTP_BACKGROUND?$1);
  background-position: $3;
  background-repeat: $5;
}

body {
  color: $8; /* COLOR_NTP_TEXT */
  height: 100%;
  overflow: auto;
}

#attribution {
  color: $9; /* COLOR_NTP_LINK */
}

#tip-line {
  color: $8; /* COLOR_NTP_TEXT */
}

.link-color {
  color: $9; /* COLOR_NTP_LINK */
}

:link,
:visited,
.link {
  color: $14; /* COLOR_NTP_LINK_UNDERLINE */
}

.app span,
.link span {
  color: $8; /* COLOR_NTP_TEXT */
}

.app:hover > a,
.app.dragging > a {
  color: $12; /* COLOR_NTP_SECTION_TEXT */
  background-color: $10; /* COLOR_NTP_SECTION */;
}

.tile-page::-webkit-scrollbar-thumb:not(:disabled) {
  background-color: $8; /* COLOR_NTP_TEXT */
}

/* Footer *********************************************************************/

#footer-border {
  background: -webkit-linear-gradient(left,
      rgba(255, 255, 255, 0),
      $11 5%, /* COLOR_NTP_SECTION_BORDER */
      $11 95%, /* COLOR_NTP_SECTION_BORDER */
      rgba(255, 255, 255, 0));
}

.dot input:focus {
  background-color: $2; /* COLOR_NTP_BACKGROUND */
}

.tile-page-title,
#footer-content span {
  color: $21; /* COLOR_NTP_TEXT_LIGHT */
}

.disclosure-triangle {
  background-color: $8 /* COLOR_NTP_TEXT */
}

/* Most Visited ***************************************************************/

.most-visited,
.most-visited > .title {
  color: $8; /* COLOR_NTP_TEXT */
}

.most-visited:focus:not(.filler) .thumbnail-wrapper,
.most-visited:hover .thumbnail-wrapper {
  background-color: $6; /* COLOR_NTP_HEADER */
}

.edit-bar {
  background-image: -webkit-linear-gradient(
                        $7, /* COLOR_HEADER_GRADIENT_LIGHT */
                        $6); /* COLOR_NTP_HEADER */
}

.thumbnail-wrapper {
  /* This shows through at the (rounded) thumbnail's corners. */
  background-color: $11; /* COLOR_NTP_SECTION_BORDER */
}

.filler .thumbnail {
  border-color: $2; /* COLOR_NTP_BACKGROUND */
}

.thumbnail-shield {
  background-color: $2; /* COLOR_NTP_BACKGROUND */
}
