<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright 2010 Google, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.testpepperplugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>WebPluginDescription</key>
	<string>Simple Pepper plug-in that handles tests</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>pepper-application/x-pepper-test-plugin</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>testpepper</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Test Pepper API</string>
		</dict>
	</dict>
	<key>WebPluginName</key>
	<string>Pepper Test PlugIn</string>
</dict>
</plist>
