# Commit Queue configuration file. The documentation of the format can be found
# at http://luci-config.appspot.com/schemas/projects/refs:cq.cfg.

version: 1
cq_name: "depot_tools"
cq_status_url: "https://chromium-cq-status.appspot.com"

rietveld {
  url: "https://codereview.chromium.org"
  project_bases: "^https?\\:\\/\\/chromium\\.googlesource\\.com\\/chromium\\/tools\\/depot_tools(?:\\.git)?\\@[a-zA-Z0-9\\-_\\.]+$"
  project_bases: "^https?\\:\\/\\/chromium\\.googlesource\\.com\\/a\\/chromium\\/tools\\/depot_tools(?:\\.git)?\\@[a-zA-Z0-9\\-_\\.]+$"
}

verifiers {
  reviewer_lgtm {
    committer_list: "project-infra-committers"
  }

  try_job {
    buckets {
      name: "tryserver.infra"
      builders {
        name: "Depot Tools Presubmit"
      }
      builders {
        name: "Recipe Roll Downstream Tester"
        experiment_percentage: 100
      }
    }
  }
}
