# Commit Queue configuration file. The documentation of the format can be found
# at http://luci-config.appspot.com/schemas/projects/refs:cq.cfg.

version: 1
cq_name: "depot_tools"
cq_status_url: "https://chromium-cq-status.appspot.com"
git_repo_url: "https://chromium.googlesource.com/chromium/tools/depot_tools"

gerrit {}
rietveld {
  url: "https://codereview.chromium.org"
}

verifiers {
  reviewer_lgtm {
    committer_list: "project-infra-committers"
    dry_run_access_list: "project-infra-tryjob-access"
  }

  try_job {
    buckets {
      name: "luci.infra.try"
      builders { name: "Depot Tools Presubmit" }
      builders { name: "Recipe Roll Downstream Tester" }
    }
  }
}
