<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>pfm_name</key>
    <string>@APP_NAME@</string>
    <key>pfm_description</key>
    <string>@APP_NAME@ preferences</string>
    <key>pfm_title</key>
    <string>@APP_NAME@</string>
    <key>pfm_version</key>
    <string>1</string>
    <key>pfm_domain</key>
    <string>@CHROMIUM_BUNDLE_ID@</string>
    <key>pfm_subkeys</key>
    <array>
      <dict>
        <key>pfm_name</key>
        <string>HomepageLocation</string>
        <key>pfm_description</key>
        <string>Configures the default homepage URL in Chromium and prevents users from changing it.\n\nThe homepage type can either be set to a URL you specify here or set to the New Tab Page.\n\nIf you specify the New Tab Page as the homepage type, then this policy is ignored.\n\nIf you enable this setting, users cannot change their homepage URL in Chromium, but they still can choose the New Tab Page as their homepage.</string>
        <key>pfm_title</key>
        <string>Homepage URL</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>string</string>
      </dict>
      <dict>
        <key>pfm_name</key>
        <string>HomepageIsNewTabPage</string>
        <key>pfm_description</key>
        <string>Configures the type of the default home page in Chromium and prevents users from changing homepage preferences. The homepage can either be set to a URL you specify or set to the New Tab Page.\n\nIf you enable this setting, always the New Tab Page is used for the homepage, and the homepage URL location is ignored.\n\nIf you disable this setting, the user's homepage will never be the New Tab Page, unless its URL is set to 'chrome://newtab'.\n\nIf you enable or disable this setting, users cannot change their homepage type in Chromium.</string>
        <key>pfm_title</key>
        <string>Use New Tab Page as homepage</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>boolean</string>
      </dict>
      <dict>
        <key>pfm_name</key>
        <string>ApplicationLocaleValue</string>
        <key>pfm_description</key>
        <string>Configures the application locale in Chromium and prevents users from changing the locale.\n\nIf you enable this setting, Chromium uses the specified locale. If the configured locale is not supported, 'en-US' is used instead.\n\nIf this setting is disabled or not configured, Chromium uses either the user-specified preferred locale (if configured), the system locale or the fallback locale 'en-US'.</string>
        <key>pfm_title</key>
        <string>Application locale</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>string</string>
      </dict>
      <dict>
        <key>pfm_name</key>
        <string>AlternateErrorPagesEnabled</string>
        <key>pfm_description</key>
        <string>Enables the use of alternate error pages that are built into Chromium (such as 'page not found') and prevents users from changing this setting.\n\nIf you enable this setting, alternate error pages are used.\n\nIf you disable this setting, alternate error pages are never used.\n\nIf you enable or disable this setting, users cannot change or override this setting in Chromium.</string>
        <key>pfm_title</key>
        <string>Enable alternate error pages</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>boolean</string>
      </dict>
      <dict>
        <key>pfm_name</key>
        <string>SearchSuggestEnabled</string>
        <key>pfm_description</key>
        <string>Enables search suggestions in Chromium's Omnibox and prevents users from changing this setting.\n\nIf you enable this setting, search suggestions are used.\n\nIf you disable this setting, search suggestions are never used.\n\nIf you enable or disable this setting, users cannot change or override this setting in Chromium.</string>
        <key>pfm_title</key>
        <string>Enable search suggestions</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>boolean</string>
      </dict>
      <dict>
        <key>pfm_name</key>
        <string>DnsPrefetchingEnabled</string>
        <key>pfm_description</key>
        <string>Enables DNS prefetching in Chromium and prevents users from changing this setting.\n\nIf you enable or disable this setting, users cannot change or override this setting in Chromium.</string>
        <key>pfm_title</key>
        <string>Enable DNS prefetching</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>boolean</string>
      </dict>
      <dict>
        <key>pfm_name</key>
        <string>SafeBrowsingEnabled</string>
        <key>pfm_description</key>
        <string>Enables Chromium's Safe Browsing feature and prevents users from changing this setting.\n\nIf you enable this setting, Safe Browsing is always active.\n\nIf you disable this setting, Safe Browsing is never active.\n\nIf you enable or disable this setting, users cannot change or override this setting in Chromium.</string>
        <key>pfm_title</key>
        <string>Enable Safe Browsing</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>boolean</string>
      </dict>
      <dict>
        <key>pfm_name</key>
        <string>MetricsReportingEnabled</string>
        <key>pfm_description</key>
        <string>Enables anonymous reporting of usage and crash-related data about Chromium to Google and prevents users from changing this setting.\n\nIf you enable this setting, anonymous reporting of usage and crash-related data is sent to Google.\n\nIf you disable this setting, anonymous reporting of usage and crash-related data is never sent to Google.\n\nIf you enable or disable this setting, users cannot change or override this setting in Chromium.</string>
        <key>pfm_title</key>
        <string>Enable reporting of usage and crash-related data</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>boolean</string>
      </dict>
      <dict>
        <key>pfm_name</key>
        <string>PasswordManagerEnabled</string>
        <key>pfm_description</key>
        <string>Enables saving passwords and using saved passwords in Chromium.\n\nIf you enable this setting, users can have Chromium memorize passwords and provide them automatically the next time you log into a site.\n\nIf you disable this setting, users are not able to save passwords or use already saved passwords.\n\nIf you enable or disable this setting, users cannot change or override this setting in Chromium.</string>
        <key>pfm_title</key>
        <string>Enable the password manager</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>boolean</string>
      </dict>
      <dict>
        <key>pfm_name</key>
        <string>AutoFillEnabled</string>
        <key>pfm_description</key>
        <string>Enables Chromium's AutoFill\nfeature and allows users to auto-complete web-forms using previously stored\ninformation like address or credit card information.\n\nIf you enable this setting, AutoFill is always active.\n\nIf you disable this setting, AutoFill is never active.\n\nIf you enable or disable this setting, users cannot change or override this setting in Chromium.</string>
        <key>pfm_title</key>
        <string>Enable AutoFill</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>boolean</string>
      </dict>
      <dict>
        <key>pfm_name</key>
        <string>DisabledPlugins</string>
        <key>pfm_description</key>
        <string>Specifies a list of plugins that are disabled in Chromium and prevents users from changing this setting. The value is a comma-separated list of the names of plugins to be disabled.\n\nIf you enable this setting, the specified list of plugins is never used in Chromium. The plugins are marked as disabled in 'about:plugins' and users are not able to enable them.</string>
        <key>pfm_title</key>
        <string>Comma-separated list of disabled plugins</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>array</string>
      </dict>
      <dict>
        <key>pfm_name</key>
        <string>SyncDisabled</string>
        <key>pfm_description</key>
        <string>Disallows data synchronization in Chromium using Google-hosted synchronization services and prevents users from changing this setting.\n\nIf you enable this setting, users cannot change or override this setting in Chromium.</string>
        <key>pfm_title</key>
        <string>Disallow synchronization of data with Google</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>boolean</string>
      </dict>
      <dict>
        <key>pfm_name</key>
        <string>ProxyServerMode</string>
        <key>pfm_description</key>
        <string>Allows you to specify the proxy server used by Chromium and prevents users from changing proxy settings.\n\nIf you choose to never use a proxy server and always connect directly, all other options are ignored.\n\nIf you choose to use system proxy settings or auto detect the proxy server, all other options are ignored.\n\nIf you choose manual proxy settings, you can specify further options in 'Address or URL of proxy server', 'URL to a proxy .pac file' and 'Comma-separated list of proxy bypass rules'.\n\nFor detailed examples, visit:\nhttp://www.chromium.org/developers/design-documents/network-settings#TOC-Command-line-options-for-proxy-sett\n\nIf you enable this setting, Chromium ignores all proxy-related options specified from the command line.</string>
        <key>pfm_title</key>
        <string>Choose how to specify proxy server settings</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>integer</string>
        <key>pfm_range_list</key>
        <array>
          <integer>0</integer>
          <integer>1</integer>
          <integer>2</integer>
          <integer>3</integer>
        </array>
      </dict>
      <dict>
        <key>pfm_name</key>
        <string>ProxyServer</string>
        <key>pfm_description</key>
        <string>You can specify the URL of the proxy server here.\n\nThis policy only takes effect if you have selected manual proxy settings at 'Choose how to specify proxy server settings'.\n\nFor more options and detailed examples, visit:\nhttp://www.chromium.org/developers/design-documents/network-settings#TOC-Command-line-options-for-proxy-sett</string>
        <key>pfm_title</key>
        <string>Address or URL of proxy server</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>string</string>
      </dict>
      <dict>
        <key>pfm_name</key>
        <string>ProxyPacUrl</string>
        <key>pfm_description</key>
        <string>You can specify an URL to a proxy .pac file here.\n\nThis policy only takes effect if you have selected manual proxy settings at 'Choose how to specify proxy server settings'.\n\nFor detailed examples, visit:\nhttp://www.chromium.org/developers/design-documents/network-settings#TOC-Command-line-options-for-proxy-sett</string>
        <key>pfm_title</key>
        <string>URL to a proxy .pac file</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>string</string>
      </dict>
      <dict>
        <key>pfm_name</key>
        <string>ProxyBypassList</string>
        <key>pfm_description</key>
        <string>Chromium will bypass any proxy for the list of hosts given here.\n\nThis policy only takes effect if you have selected manual proxy settings at 'Choose how to specify proxy server settings'.\n\nFor more detailed examples, visit:\nhttp://www.chromium.org/developers/design-documents/network-settings#TOC-Command-line-options-for-proxy-sett</string>
        <key>pfm_title</key>
        <string>Comma-separated list of proxy bypass rules</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>string</string>
      </dict>
      <dict>
        <key>pfm_name</key>
        <string>ExtensionInstallBlacklist</string>
        <key>pfm_description</key>
        <string>Allows you to specify which extensions the users can NOT install.\n\nA blacklist value of * means all extensions are blacklisted and users will only be able to install extensions listed in the whitelist.</string>
        <key>pfm_title</key>
        <string>Extension IDs the user should be prevented from installing (or * for all)</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>array</string>
      </dict>
      <dict>
        <key>pfm_name</key>
        <string>ExtensionInstallWhitelist</string>
        <key>pfm_description</key>
        <string>Allows you to specify which extensions are not subject to the blacklist.\n\nA blacklist value of * means all extensions are blacklisted and users will only be able to install extensions listed in the whitelist.\n\nBy default, all extensions are whitelisted, but if all extensions have been blacklisted by policy, the whitelist can be used to override that policy.</string>
        <key>pfm_title</key>
        <string>Extension IDs to exempt from the blacklist</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>array</string>
      </dict>
      <dict>
        <key>pfm_name</key>
        <string>ShowHomeButton</string>
        <key>pfm_description</key>
        <string>Shows the Home button on Chromium's toolbar.\n\nIf you enable this setting, the Home button is always shown.\n\nIf you disable this setting, the Home button is never shown.\n\nIf you enable or disable this setting, users cannot change or override this setting in Chromium.</string>
        <key>pfm_title</key>
        <string>Show Home button on toolbar</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>boolean</string>
      </dict>
      <dict>
        <key>pfm_name</key>
        <string>RestoreOnStartup</string>
        <key>pfm_description</key>
        <string>Allows you to specify the behavior on startup.</string>
        <key>pfm_title</key>
        <string>Action on Startup</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>integer</string>
        <key>pfm_range_list</key>
        <array>
          <integer>0</integer>
          <integer>1</integer>
          <integer>4</integer>
        </array>
      </dict>
      <dict>
        <key>pfm_name</key>
        <string>RestoreOnStartupURLs</string>
        <key>pfm_description</key>
        <string>If 'Open a list of URLs' is selected as action on startup, this allows you to specify the list of URLs that are opened on startup.</string>
        <key>pfm_title</key>
        <string>URLs to open on startup</string>
        <key>pfm_targets</key>
        <array>
          <string>user-managed</string>
        </array>
        <key>pfm_type</key>
        <string>array</string>
      </dict>
    </array>
  </dict>
</plist>