/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.section {
  margin-bottom: 5px;
}

iron-collapse {
  margin: 10px;
}

cr-network-icon {
  height: 32px;
  width: 32px;
}

cr-policy-network-indicator {
  -webkit-margin-start: 10px;
}

#networkName,
#networkState {
  -webkit-margin-start: 10px;
  font-size: 20px;
}

#networkName {
  font-weight: bold;
}

#networkState[connected] {
  color: green;
}

#outerDiv {
  margin: 10px 20px;
}

#ipAddressLabel {
  -webkit-margin-end: 10px;
  font-weight: bold;
}

#preferButton {
  -webkit-margin-end: 8px;
  -webkit-margin-start: -3px;
  padding: 0
}

#proxyDiv {
  max-width: 500px;
}
