/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#networkIcon {
  height: 32px;
  width: 32px;
}

#networkName {
  -webkit-margin-start: 10px;
  font-size: 20px;
  font-weight: bold;
}

#networkState {
  -webkit-margin-start: 10px;
  font-size: 20px;
}

#networkState.connected {
  color: green;
}

#connectionButtonDiv {
  -webkit-margin-end: 30px;
}

#detailDiv {
  margin: 10px 0 0 45px;
}

#detailDiv span {
  margin-bottom: 10px;
}
