/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#outerDiv {
  -webkit-margin-end: 40px;
}

#networkIcon {
  height: 32px;
  width: 32px;
}

#networkName {
  -webkit-margin-start: 10px;
  font-size: 20px;
  font-weight: bold;
}

#networkState {
  -webkit-margin-start: 10px;
  font-size: 20px;
}

#networkState.connected {
  color: green;
}

#infoDiv {
  margin: 10px 0 0 45px;
}

#infoDiv cr-checkbox {
  margin-bottom: 10px;
}

#advancedDiv {
  margin: 6px;
}
