/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#outerDiv {
  margin: 0 40px;
}

#headerDiv {
  background-color: grey;
  padding: 4px;
}

#headerDiv span {
  color: white;
  padding: 0 8px;
}

#headerDiv span.button {
  text-align: center;
  width: 60px;
}
