/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

span {
  -webkit-margin-end: 5px;
  margin-bottom: 5px;
}

cr-policy-network-indicator {
  margin-bottom: 5px;
}

span.fill {
  border-bottom-color: grey;
  border-bottom-style: dotted;
  border-width: thin;
  min-width: 20px;
}

paper-input-container {
  -webkit-margin-start: 5px;
  margin-bottom: -3px;
  margin-top: -12px;
}

#outerDiv {
  padding: 5px 0;
}
