/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#details.selectable:hover {
  background-color: lightgrey;
}

#buttons {
  align-items: center;
}

.invisible {
  visibility: hidden;
}

paper-spinner {
  margin-left: 20px;
}

#deviceEnabledButton {
  margin-left: 10px;
}

#listDiv {
  -webkit-margin-end: 10px;
  -webkit-margin-start: 40px;
}

#networkList {
  margin: 5px 0 10px 0;
  max-height: 400px;
}
