/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

iron-icon {
 -webkit-margin-end: 5px;
 -webkit-margin-start: -3px;
}

paper-button {
  margin: 0;
}

span {
  -webkit-margin-end: 10px;
}

#lockedDiv span {
  color: red;
  font-weight: 500;
}

#lockedDiv paper-input {
  -webkit-margin-start: 10px;
  width: 80px;
}

#unlockSimDialog paper-input {
  -webkit-margin-start: 5px;
}

#unlockSimDialog span {
  -webkit-margin-start: 5px;
}

.pin {
  min-width: 100px;
}

.puk {
  min-width: 200px;
}

.error {
  color: red;
  max-width: 400px;
}
