/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  @apply(--downloads-shared-style);
  display: flex;
  margin: 32px 0;
}

:host([hide-date]) {
  margin-top: -16px;
}

#date-container,
#end-cap {
  flex: 1 0 var(--downloads-side-column-basis);
}

#date-container > * {
  color: #616161;
  font-size: 107.69%;
  font-weight: bold;
}

:host([hide-date]) #date-container {
  visibility: hidden;
}

#content {
  background: white;
  border-radius: 2px;  /* TODO(dbeam): why does this differ from Polymer? */
  display: flex;
  flex: none;
  min-height: 96px;
  width: var(--downloads-item-width);
}

#details {
  -webkit-border-start: 1px #d8d8d8 solid;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px 16px 12px 16px;
}

#content:not(.is-active) #details {
  color: #bababa;
}

.icon-wrapper {
  align-self: center;
  flex: none;
  justify-content: center;
  margin: 0 32px;
}

.icon {
  height: 32px;
  width: 32px;
}

#content:not(.is-active) .icon {
  -webkit-filter: grayscale(100%);
}

#warning {
  -webkit-mask-image: url(../../../../ui/webui/resources/images/warning.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  background: rgb(217, 84, 61);
}

#name,
#file-link,
#url {
  max-width: 100%;
}

#name,
#file-link {
  word-break: break-all;
}

#name {
  -webkit-margin-end: 12px;  /* Only really affects #tag. */
  font-weight: bold;
}

.is-active #name {
  color: #212121;
}

.dangerous #name {
  color: rgb(35, 114, 236);
}

#tag {
  color: #5a5a5a;
  font-weight: bold;
}

#url {
  color: inherit;
  margin-top: 6px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.is-active #url {
  color: rgb(51, 103, 214);
}

#progress,
#description:not(:empty),
.controls {
  margin-top: 16px;
}

.is-active #description {
  color: #616161;
}

.dangerous #description {
  color: rgb(217, 84, 61);
}

#progress {
  --paper-progress-active-color: rgb(54, 126, 237);
  --paper-progress-container-color: rgb(223, 222, 223);
  width: auto;
}

/* TODO(dbeam): open up a CSS mixin instead in Polymer. */
#progress /deep/ #progressContainer {
  border-radius: 2px;
}

#incognito {
  -webkit-margin-end: 0;
  -webkit-margin-start: 16px;
  /* This image is 128x128 so it'll work fine in 2x. */
  content: url(../../../../ui/webui/resources/images/incognito_icon.png);
  width: 48px;
}

#remove-wrapper {
  align-self: flex-start;
  margin: 0;
}

#remove {
  --paper-icon-button: {
    height: 16px;
    width: 16px;
  };
  --iron-icon-height: 16px;
  --iron-icon-width: 16px;
}

@media not all and (max-width: 1024px) {
  /* Only show date separators in wide mode. */
  :host(:not(:first-of-type):not([hide-date])) :-webkit-any(#content-wrapper,
                                                            #since) {
    border-top: 1px solid rgba(0, 0, 0, .2);  /* TODO(dbeam): real color. */
    padding-top: 32px;
  }

  #date-container > * {
    -webkit-margin-start: 24px;
  }
}

@media all and (max-width: 1024px) {
  /* In narrow windows, put the dates on top instead of on the side. */
  :host {
    flex-direction: column;
  }

  :host([hide-date]) #date-container,
  #end-cap {
    display: none;
  }

  #content {
    margin: 0 auto;
  }

  #date-container {
    flex: none !important;
    margin: 0 auto 32px;
    width: var(--downloads-item-width);
  }
}
