/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  @apply(--downloads-shared-style);
  display: flex;
  flex: 1 0;
  flex-direction: column;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  :host {
    flex-basis: 670px;
  }
}

#panel {
  --paper-header-panel-standard-container: {
    display: flex;
  };
}

/* TODO(dbeam): upgrade to 1.0.4 to use --paper-header-panel-shadow.
 * https://github.com/PolymerElements/paper-header-panel/pull/39 */
#panel /deep/ #dropShadow {
  display: none;
}

#no-downloads,
#downloads-list {
  flex: 1;
}

.loading :-webkit-any(#no-downloads, #downloads-list) {
  display: none;
}

#no-downloads {
  align-items: center;
  color: #b4b4b4;
  display: flex;
  font-size: 123.1%;
  font-weight: 500;
  justify-content: center;
}

#no-downloads .illustration {
  content: -webkit-image-set(url(1x/no_downloads.png) 1x,
                             url(2x/no_downloads.png) 2x);
  margin-bottom: 32px;
}
