/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  @apply(--downloads-shared-style);
  align-items: center;
  background: rgb(63, 85, 102);
  color: white;
  content-sizing: padding-box;
  display: flex;
  padding-bottom: 8px;
  padding-top: 8px;
}

#title,
#search {
  flex: 1 0 var(--downloads-side-column-basis);
}

#title h1 {
  -webkit-margin-end: 0;
  -webkit-margin-start: 24px;
  font-size: 123.077%;
  margin-bottom: 0;
  margin-top: 0;
}

#actions {
  display: flex;
  flex: none;
  width: var(--downloads-item-width);
}

#search {
  display: flex;
  justify-content: flex-end;
}

#search-term {
  --paper-input-container-color: rgba(255, 255, 255, .5);
  --paper-input-container-focus-color: white;
  --paper-input-container-input: {
    font-family: inherit;
    font-size: 14px;
  };
  --paper-input-container-input-color: white;
  --paper-input-container-label: {
    font-family: inherit;
    font-size: 14px;
  };
  -webkit-margin-end: 8px;
  z-index: 0;
}

#search-term input[type='search']::-webkit-search-cancel-button,
#search-term input[type='search']::-webkit-search-results-button {
  -webkit-appearance: none;
}

#search-term paper-icon-button {
  --iron-icon-height: 16px;
  --iron-icon-width: 16px;
  --paper-icon-button: {
    height: 16px;
    padding: 6px;
    width: 16px;
  };
  position: absolute;
  right: 0;
  top: -4px;
  z-index: 1;
}

:host-context([dir='rtl']) #search-term paper-icon-button {
  left: 0;
  right: auto;
}

paper-menu-button {
  --paper-menu-button: {
    padding: 0;
  };
}

paper-item {
  -webkit-user-select: none;
  cursor: pointer;
  font: inherit;
}

paper-item:hover {
  background: #eaeaea;  /* TODO(dbeam): real color? */
}

@media not all and (max-width: 1024px) {
  /* Hide vertical dot menu when there's enough room for #actions. */
  paper-menu-button {
    display: none;
  }
}

@media all and (max-width: 1024px) {
  /* Hide #actions for narrow windows; they're shown in a vertical dot menu. */
  #actions {
    display: none;
  }
}
