/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  @apply(--downloads-shared-style);
  align-items: center;
  background: rgb(63, 85, 102);
  color: white;
  content-sizing: padding-box;
  display: flex;
  padding-bottom: 8px;
  padding-top: 8px;
}

#title,
#search {
  flex: 1 0 var(--downloads-side-column-basis);
}

#title h1 {
  -webkit-margin-end: 0;
  -webkit-margin-start: 24px;
  margin-bottom: 0;
  margin-top: 0;
}

#actions {
  display: flex;
  flex: none;
  width: var(--downloads-item-width);
}

#search {
  display: flex;
  justify-content: flex-end;
}

#search-term {
  --paper-input-container-color: rgba(255, 255, 255, .5);
  --paper-input-container-input: {
    font-size: 14px;
  };
  --paper-input-container-input-color: white;
  --paper-input-container-focus-color: white;
  --paper-input-container-label: {
    font-size: 14px;
  };
  -webkit-margin-end: 8px;
}
