<?xml version="1.0" encoding="utf-8"?>

<!-- Copyright (c) 2012 The Chromium Authors. All rights reserved.

  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chromium.android_webview">

<application android:name="org.chromium.android_webview.test.AndroidWebViewTestRunnerApplication"
        android:label="AndroidWebViewTestRunnerApplication">
    <activity android:name="org.chromium.android_webview.test.AndroidWebViewTestRunnerActivity"
            android:label="AndroidWebViewTestRunnerActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
        </intent-filter>
    </activity>
</application>

  <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="16" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
</manifest>
