/*
 * Copyright 2010, Google Inc.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are
 * met:
 *
 *     * Redistributions of source code must retain the above copyright
 * notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above
 * copyright notice, this list of conditions and the following disclaimer
 * in the documentation and/or other materials provided with the
 * distribution.
 *     * Neither the name of Google Inc. nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 * OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 * LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 * THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

body, b, a, td, p {
  font-family: Verdana, Arial, Tahoma, sans-serif;
  font-size: 8pt;
}

#o3d {
  height: 100%;
  width: 100%;
}

p {
  margin: 5px 0;
}

/** Parent to all the option divs. **/
#controls {
  left: 30%;
  margin: 30px auto;
  min-width: 50%;
  position: absolute;
  top: 0;
}

#controls > div {
  display: none;
}

/** Applies to all the options divs. **/
.option {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.slider-set {
  padding: 15px;
}

.slider-set span {
  color: #FFF;
  font-size: 10pt;
}

.slider-set .value {
  color: #F5CA84;
  float: right;
  font-weight: bold;
  font-size: 14pt;
}

/** Closes an option block. **/
a.closer {
  color: #FFF;
  display: block;
  margin-top: 15px;
}

.slider-wrap {
  margin-top: 15px;
}

/** Floating box on the top left **/
#floatControls {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  -moz-border-radius: 10px;
  left: 15px;
  padding: 10px;
  position: absolute;
  top: 15px;
  width: 25%;
  z-index: 1;
}

/** Space out the environment maps a little. */
#tex-environment img {
  margin: 15px 10px;
}

#tex-environment p {
  color: #F5CA84;
  font-size: 14pt;
  font-weight: bold;
}

/** Toggle environment map link. */
#tex-environment a#toggle-env {
  color: #FFF;
  font-size: 14pt;
  padding: 4px;
  text-decoration: none;
}

#tex-environment a#toggle-env:hover {
  color: #666;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 5px;
}

#bg-red {
  background-color: rgb(255, 200, 200);
}

#bg-green {
  background-color: rgb(200, 255, 200);
}

#bg-blue {
  background-color: rgb(200, 200, 255);
}

#loading {
  color: red;
  font-size: 18pt;
}
