/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

body {
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 80%;
}

#invalidations-info p {
  color: rgb(74, 142, 230);
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 0;
}

#invalidations-info .section {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

