/**
 * The following style rules affect Extension Infobars.
 */

body {
  background: -webkit-linear-gradient(#DAE7F9, #B5CBE8);
  font-family: Segoe UI, Tahoma;
  font-size: 11px;
  height: 36px; /* Infobars are limited to 36-72px */
  margin: 0px;
  overflow: hidden;
}
