/**
 * Body styles. This makes the toolstrip layout fit in with the Windows
 * bookmarkbar. Note that the background is provided separately, by
 * RenderWidget.
 */
body {
  display:-webkit-box;
  -webkit-box-orient:horizontal;
  -webkit-box-align:center;
  white-space:nowrap;
  overflow: hidden;
  margin: 0;
  padding:0;
  font: menu;
  color: $TEXT_COLOR$;
  -webkit-user-select:none;
  cursor:default;
}

/**
 * This, combined with -webkit-box-align:center on body, makes content inside
 * the body tag center itself vertically by default.
 */
body>* {
  display:-webkit-box;
}

/**
 * Set display property of <script> and <style> as none explicitly to avoid
 * inheriting from <body>.
 */
body>script,
body>style {
 display:none;
}

/**
 * Toolstrip Buttons. The following styles make
 * <div class="toolstrip-button"><img><span>Woot</span></div> look like the
 * bookmarkbar buttons on Windows.
 *
 * TODO(aa): We may have to come up with a way to modify these slightly on
 * different platforms.
 *
 * TODO(aa): It would be nice if we could use actual <button> tags work here,
 * which should work once https://bugs.webkit.org/show_bug.cgi?id=25406 is
 * fixed.
 */
div.toolstrip-button {
  -webkit-box-orient:horizontal;
  -webkit-box-align:center;
  border:6px solid transparent;
  font:menu;
  background:transparent;
  color: $TEXT_COLOR$;
  line-height:100%;
  padding:0;
}

div.toolstrip-button>img {
  display:-webkit-box;
  width:16px;
  height:16px;
  /**
   * We inset the image slightly vertically, so that the button can be shorter
   * than would otherwise be possibe with our fat borders.
   */
  margin:-1px 5px -1px 0;
}

div.toolstrip-button>span {
  display:-webkit-box;
  margin-right:1px;
  /**
   * Hack: WebKit appears to measure text height slightly differently than we do
   * in native code, making us not line up when centering, so we shift ourselves
   * up one pixel to match.
   */
  margin-top:-1px;
}

/**
 * TODO(aa): It would be nice if these border images could be stored in Chrome
 * as, normal images even if those images are just translated into data URLs at
 * runtime.
 */
div.toolstrip-button:hover {
  border-width:6px;
  -webkit-border-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAaCAYAAACHD21cAAAAAXNSR0IArs4c6QAAAAZiS0dEAPYA+QD9Ry7YfAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9kJChUuJy+ouI4AAAFXSURBVDjL7dSxTsJQFIDh/95SmqpEYjASAgPGGI26wGv4BMbBVUZewBQfRBxAZ0cXG2d8AANoFEJgAGOAkqK31wEGJ23cTPiTs53vjEcAYj5RYAmwgAjQYlYG+AR8wAOmgAaQwLLjlHL1RrM4HI0rKtA1z1c1z1c1FejacDSu1BvNouOUcsAyIA3AcpzS7mmhcJxKpQ4Nw0yoQM9OAirQSCOSiMfjB3t7+6ux2ErHdd2BANbqjeZJNps9UsFs8adeX56rO9tbZQlYyWQyH4RAAIn1jTxgScCwbXsz0L8jANu2NwEjArSnn9okZEIIE2hL/tgCLuB/guloRHyEBVrrDyAtATWZTJ7CwvmukoDf7XYfpAgHe73uA+BLwKtWKu7bYHD/Gxr0+/fXV1UX8AwgcN2791hspZPJZIZm1Iqappn4DjzPe2y3W7eX5Yubc+fsEfDFXx/yF0HjkTNryckZAAAAAElFTkSuQmCC) 6 round round;
}

div.toolstrip-button:active {
  border-width:6px;
  -webkit-border-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAaCAYAAACHD21cAAAAAXNSR0IArs4c6QAAAAZiS0dEAPYA+QD9Ry7YfAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9kJChYWGmIZ9j0AAAGzSURBVDjLnZTBahNRFIa/c2+SyaRWBzddiBVCQ0Hqou67yCbgQnyC7NyluPUhHBCJeQLBVxDBbXwACY271iKBQBHbJE0nM3OPi9Q2qYqT+VeHyznn/89/7r2WBRhjSqpaBgTwgRRQ/gIB6HQ6prq1/ebx7u7+zQTVedbkfMLR4eHLrwe9V61WSwXgw8dP7Z1HO/t3bgfX7ZSlWFVJkoRe78vbOJq+KABsbj7YK3v+Ag1/xCJCsVikWt3au39vY874fTCM1m6tl6wxS/lyo4cAzrlZp/26bACMtSURIQtETMnzvAWKjLhSDjAYnmilsoZZYP2nVIVgvSzmcl+ZIUAYhiKAPxienOdhzIVc5oRhmMNVpwD+6lLnPsSrF+r1jFGOyqIBvByEkQGmOaR6udYhItOVr9z8V1DJO6MzQRBEUexms0Qzsjl837em2Wym4/G475zLVBhdTA9qtVpq2u327Pjb8fs0Sf/7MqJYOTs77TcaDbUAz54++awioqZ0V2xxI3UQp0qSKmmqJE4ZTyb9058/3j3crj6/+ld/o9vt2tFoVLHWXlweeQCFQmFSr9eXTPgFRPyveVqGdF0AAAAASUVORK5CYII=) 6 round round;
}
