.feedback-label {
  text-align: start;
  vertical-align: text-top;
  font-weight: 300;
}

.feedback-text {
  width: 40em;
}

.feedback-table {
  width: 40em;
  border-spacing: 0;
}

.feedback-field {
  width: 22em;
  border-style: solid;
  border-width: 1px;
}

.feedback-fieldlabel {
  width: 13em;
  font-weight: 300;
}

.feedback-button {
}

hr {
  border: none;
  height: 1px;
  background: #cccccc;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40em;
}

.thumbnail-list {
  -webkit-margin-start: 1em;
  width: 33.5em;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.image-thumbnail-container {
  display: inline-block;
  border: 2px solid white;
  border-radius: 3px;
  z-index: 0;
}

.image-thumbnail-container-selected {
  display: inline-block;
  border: 2px solid green;
  border-radius: 3px;
  z-index: 0;
}

.image-thumbnail-container:hover {
  border: 2px solid #B8DAB0;
  z-index: 0;
}

.image-popup {
  width: 50%;
}

.image-thumbnail {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  border: 2px solid white;
}

.image-thumbnail:hover {
  z-index: 2;
}

.image-thumbnail div {
  display: none;
}

.image-thumbnail img {
  display: block;
  width: 200px;
}

.image-thumbnail:hover div {
  display: block;
  position: absolute;
  top: 130%;
  left: 0;
  padding: 1px;
  border: 1px dashed blue;
  background-color: transparent;
  text-align: center
}

.image-thumbnail:hover div img {
  position: absolute;
  width: 400px;
}

.image-thumbnail-current {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  border: 2px solid white;
}

.image-thumbnail-current:hover {
  z-index: 2;
}

.image-thumbnail-current div {
  display: none;
}

.image-thumbnail-current img {
  display: block;
  width: 200px;
}

.image-thumbnail-current:hover div {
  display: block;
  position: absolute;
  top: 130%;
  left: 0;
  padding: 1px;
  border: 1px dashed blue;
  background-color: transparent;
  text-align: center
}

.image-thumbnail-current:hover div img {
  position: absolute;
  width: 400px;
  padding: 2px;
  border: 1px dashed blue;
}

th {
  padding-top: 10px;
  font-weight: normal;
}

.formpane {
  margin-right: 20px;
}

.feedback-input {
  border-style: solid;
  border-width: 1px;
}

#user-email-text {
  border: none;
}

#buttons-pane {
  padding: 0;
}

#privacy-note {
  padding-top: 24px;
  padding-bottom: 10px;
  text-align: start;
  font-size: 90%;
  font-weight: normal;
  margin: 0;
  width: 44em;
}
