html {
  /* This is needed because of chrome://theme/css/new_tab.css */
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow: auto;
  -webkit-user-select: none;
  cursor: default;
}

#container {
  position: relative;
  min-height: 100%;
}

html[mode=app-launcher] #container {
  min-height: 0;
}

#promo-spacer {
  height: 50px;
}

#main {
  background: url(chrome://theme/product_logo) no-repeat 0 6px;
  position: relative;
  margin: 0 auto;
  width: 920px;
  min-height: 50px;
  -webkit-transition: width .15s;
}

html[haspromo=true] #main {
  padding-bottom: 110px;
}

html[dir=rtl] #main {
  background-position-x: 100%;
}

html[anim=false] *,
.no-anim, .no-anim *,
.loading * {
  -webkit-transition: none !important;
  -webkit-animation: none !important;
}

:link,
:visited,
.link {
  cursor: pointer;
  text-decoration: underline;
  color: hsla(213, 90%, 24%, 0.33333);
  -webkit-appearance: none;
  border: 0;
  background: none;
}

.link-color {
  color: hsl(213, 90%, 24%);
  text-decoration: none;
}

.hide {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none;
}

/* Notification */

#notification {
  position: relative;
  background-color: hsl(52, 100%, 80%);
  border: 1px solid rgb(211, 211, 211);
  border-radius: 6px;
  padding: 7px 15px;
  white-space: nowrap;
  display: table;
  /* Set the height and margin so that the element does not use any vertical
    space */
  height: 16px;
  margin: -44px auto 12px auto;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity .15s;
  z-index: 1;
  color: black;
}

#notification.first-run {
  padding: 5px 13px; /* subtract the border witdh */
  border: 2px solid hsl(213, 55%, 75%);
  background-color: hsl(213, 63%, 93%);
  -webkit-box-shadow: 2px 2px 3px hsla(0, 0%, 0%, .3);
  font-weight: normal;
}

#notification > * {
  display: table-cell;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#notification.show {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: opacity 1s;
}

#notification .link {
  color: rgba(0, 102, 204, 0.3);
  -webkit-padding-start: 20px;
}

#notification .link-color {
  color: rgb(0, 102, 204);
}

#notification > span > .blacklist-title {
  display: inline-block;
  max-width: 30ex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item {
  background: no-repeat 0% 50%;
  padding: 2px;
  padding-left: 18px;
  background-size: 16px;
  background-color: hsla(213, 63%, 93%, 0);
  display: block;
  line-height: 20px;
  -webkit-box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-size: 100%;
}

.item:visited,
.item:link {
  color: hsl(213, 90%, 24%);
}

html[dir=rtl] .item {
  background-position-x: 100%;
  padding-right: 18px;
  padding-left: 2px;
  text-align: right;
}

.window {
  overflow: visible; /* We use visible so that the menu can be a child and shown
                        on :hover. To get this to work we have to set visibility
                        to visible which unfortunately breaks the ellipsis for t
                        he window items */
  background-image: url(chrome://theme/newtab_closed_window);
}

.window-menu {
  position: absolute;
  display: none;
  border: 1px solid #999;
  -webkit-box-shadow: 2px 2px 3px hsla(0, 0%, 0%, .3);
  color: black;
  background-color: white;
  left: 0;
  white-space: nowrap;
  z-index: 2;
  padding: 2px;
  cursor: default;
  border-radius: 4px;
}

.window-menu > hr {
  border: 0;
  border-top: 1px solid rgb(153, 153, 153);
  margin: 2px 0;
}

/* Made to look like a tooltip using vista/win7 look and feel.
   TODO(arv): Replace with -webkit-appearance once issue 17371 is fixed
 */
#window-tooltip {
  color: #555;
  pointer-events: none;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 3px;
  padding: 0px 3px;
  background: -webkit-gradient(linear, left top, left bottom,
                               from(white),
                               to(rgb(228, 229, 240)));
  width: auto;
  max-width: 300px;
}

.hbox {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}

#recently-closed {
  white-space: nowrap;
  overflow-x: hidden;
}

#recently-closed :not(h2) {
  display: inline-block;
  max-width: 114px; /* Selected so that we can fit 5 items in EN-US */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 100%;
  margin: 0 10px;
}

#recently-closed > span,
#recently-closed .nav {
  max-width: none !important;
}
.nav > a {
  /* no icon */
  padding: 0;
}

.nav > a:after {
  content: '\00bb'; /* raque gets flipped automatically in rtl */
  font-size: 115%;
  -webkit-padding-start: 2px;
}

#sync-status {
  display: none;
  border-radius: 6px;
  padding: 5px 0;
  margin: 10px 0;
  white-space: nowrap;
  overflow-x: hidden;
}

#sync-status > * {
  display: inline-block;
  max-width: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 100%;
  margin: 0 10px;
}

#set-as-home-page {
  display: none;
  margin: 10px 0;
  text-align: center;
}

#top-bar {
  display: -webkit-box;
  -webkit-box-align: center;
  min-height: 56px;
}

#tip-line {
  -webkit-box-flex: 1;
  -webkit-user-select: text;
  cursor: text;
  text-align: end;
  margin: 10px;
  -webkit-margin-start: 50%;
  -webkit-transition: opacity .15s;
}

.notification.hidden,
#tip-line.hidden,
.notification-shown #tip-line {
  opacity: 0;
  pointer-events: none;
}

#tip-line a,
#tip-line button {
  /* We do not want a trailing single word from a link on the last line */
  white-space: nowrap;
}

#option-button {
  -webkit-appearance: none;
  background-color: transparent;
  width: 19px;
  height: 17px;
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: top;
  -webkit-margin-start: 10px;
  /* Do not show focus outline */
  outline: none;
  background-image: url(chrome://theme/newtab_option);
}

#option-button:hover,
#option-button:focus {
  background-image: url(chrome://theme/newtab_option_h);
}

#option-button:active,
#option-button.open {
  background-image: url(chrome://theme/newtab_option_p);
}

#option-menu {
  -webkit-user-select: none;
  position: absolute;
  right: 0;
  left: auto;
  top: 33px; /* Position this below the option button. The option button
                is positioned 15px from the top and has a height of 17px. We add
                one to get some spacing there as well: 15 + 17 + 1 = 33 */
  cursor: default;
  pointer-events: all;
  min-width: 175px;
}

html[dir=rtl] #option-menu {
  right: auto;
  left: 0;
}

#option-menu > div {
  padding: 3px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#option-menu > [selected] {
  background-color: hsl(213, 66%, 57%);
  color: white;
}

#option-menu > [command=show]:before,
#option-menu > [command=hide]:before {
  display: inline-block;
  width: 12px;
  content: '\00a0'; /* non breaking space */
  background-position: 0 50%;
  background-repeat: no-repeat;
}

html[dir=rtl] #option-menu > [command=show]:before,
html[dir=rtl] #option-menu > [command=hide]:before {
  background-position-x: 100%;
}

#option-menu > [command=hide]:before {
  background-image: url(chrome://theme/newtab_checkbox_black);
}

#option-menu > [selected][command=hide]:before {
  background-image: url(chrome://theme/newtab_checkbox_white);
}

#attribution {
  margin: 10px 0;
}

/* promotions line and image */
#bottom-right-promo {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  height: 131px;
  border: 0;
}

#promo-image {
  display: block;
}

.sync-button {
  font-size: inherit;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  border: 0;
  background: none;
  cursor: pointer;
  text-decoration: underline;
  font-family: inherit;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  min-width: 692px;
}

#promo-line {
  display: inline-block;
  margin-bottom: 20px;
  background-color: hsl(52, 100%, 80%);
  border: 1px solid rgb(211, 211, 211);
  border-radius: 6px;
  padding: 7px 10px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  color: black;
  -webkit-transition: opacity .15s;
}

#promo-line * {
  font-weight: bold;
  text-overflow: ellipsis;
}

#promo-message a,
#promo-message button {
  color: rgba(0, 102, 204, 0.3);
  text-decoration: underline;
}

#promo-message a > .link-color,
#promo-message button > .link-color {
  color: rgb(0, 102, 204);
}

#promo-new {
  color: red;
}

#promo-close {
  display: inline-block;
  border: 0px;
  margin-left: 10px;
  margin-right: auto;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: no-repeat;
  background-image: url(chrome://theme/close_bar);
}

#promo-close:hover,
#promo-close:focus {
  background-image: url(chrome://theme/close_bar_h);
}

#promo-close:active {
  background-image: url(chrome://theme/close_bar_p);
}

#apps-section {
  padding: 10px 0px;
  border-top: 0;
}

#apps-launch-control {
  margin-top: 10px;
}

#apps-launch-control input {
  position: relative;
  top: 1px;
  margin-right: 0.2em;
  margin-left: 1em;
}

#apps-section a {
  -webkit-box-sizing: border-box;
  -webkit-transition: background-color .15s;
  background: rgba(255, 255, 255, 0) /* transparent white */
              no-repeat center 5px;
  background-size: 98px 98px;
  border-radius: 10px;
  color: black;
  display: inline-block;
  font-weight: bold;
  margin: 5px;
  margin-right:5px;
  overflow: hidden;
  padding: 5px;
  padding-top: 108px; /* 98 + 5 + 5 */
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 105px; /* 920 / 8 - margin * 2 */
}

#debug > h2 {
  color: red;
}

#debug > div {
  margin: 0;
}

.section.disabled {
  display: none !important;
}

.section + :not(.hidden) {
  border-top: 0;
}

.section > div {
  margin-bottom: 10px;
}

.section > h2 {
  display: inline-block;
  margin: 0;
  font-size: 100%;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section > h2:hover {
  text-decoration: underline;
}

.section.hidden {
  display: inline;
  border: 0;
}

.section.hidden > :not(h2) {
  display: none !important;
}

.section > h2 {
  margin-right: 5px;
}

.section.hidden > h2 {
  margin-right: 0px;
}

.section.hidden:last-child {
  border-right: 0;
}

.section.hidden + .hidden > h2 {
  padding-left: 5px;
}

.section:last-child {
  border-bottom: 0;
}

.section .nav {
  display: inline-block;
}

#apps {
  margin-top: 10px;
}

.section > * {
  font-size: 13px;
}

/* small */

@media (max-width: 920px) {

  #main {
    width: 692px;
  }

  #notification > * {
    max-width: 300px;
  }

  #notification > span > .blacklist-title {
    max-width: 15ex;
  }
}
