/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  margin-inline-start: 0;
}

body > .page {
  margin-inline-end: 0;
  min-width: 0;
  padding-inline-end: 10px;
  padding-inline-start: 10px;
}

#filter-overlay {
  padding-bottom: 0;
  position: fixed;
  z-index: 4;
}

body header {
  left: 0;
  max-width: none;
  min-width: 0;
}

body header > h1 {
  margin-left: 10px;
}

body section {
  max-width: none;
  padding-inline-start: 0;
}

body section > h3 {
  margin-inline-start: 0;
}

#status-box-container {
  display: -webkit-flex;
}

fieldset {
  border: 1px solid rgb(217, 217, 217);
  display: inline;
  margin: 0;
  padding: 7px;
}

fieldset + fieldset {
  margin-inline-start: 20px;
}

div.status-entry {
  display: -webkit-flex;
  margin-bottom: .8em;
}

div.status-entry:last-child {
  margin-bottom: 0;
}

div.label {
  margin-inline-end: 1em;
  white-space: nowrap;
}

#show-unset-container {
  float: right;
  text-align: right;
}

html[dir='rtl'] #show-unset-container {
  float: left;
  text-align: left;
}

div.reload-policies-button {
  float: left;
}

html[dir='rtl'] div.reload-policies-button {
  float: right;
}

div.show-unset-checkbox {
  float: right;
}

html[dir='rtl'] div.show-unset-checkbox {
  float: left;
}

section.reload-show-unset-section {
  padding-bottom: 30px;
  padding-top: 15px;
}

section.status-box-section {
  clear: both;
}

div.table-description {
  color: rgb(100, 100, 100);
}

div.no-policies-set {
  clear: both;
  color: rgb(180, 180, 180);
  font-size: 125%;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-bottom: 5px;
  margin-top: 17px;
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}

section.empty > table {
  display: none;
}

section:not(.empty) > div.no-policies-set {
  display: none;
}

body * section.policy-table-section {
  padding-bottom: 10px;
}

th,
td {
  border: 1px solid rgb(217, 217, 217);
  padding: 4px;
}

th {
  background-color: rgb(240, 240, 240);
  font-weight: normal;
}

.scope-column {
  display: none;
}

.level-column {
  display: none;
}

.name-column {
  width: 45%;
}

div.name {
  word-wrap: break-word;
}

.status-column {
  width: 15%;
}

.no-help-link .name-link {
  color: inherit;
  pointer-events: none;
  text-decoration: none;
}

div.elide,
span.value,
span.status  {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button.overflow-link {
  padding: 0;
}

td.expanded-text {
  white-space: pre;
  word-wrap: break-word;
}
