body {
  -webkit-user-select: none;
  display: -webkit-box;
  font-size: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
}

#settings-title {
  -webkit-padding-end: 24px;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: end;
  font-size: 125%;
  font-weight: normal;
  color: #53627d;
}

#navbar-container {
  background-color: #f8fafd;
  width: 300px;
}

#destination-container {
  background-color: #ffffff;
  padding: 10px;
}

#destination-container > h1 {
  font-size: 100%;
  margin: 0;
}

#options-container {
  padding: 10px;
}

#separator {
  background: -webkit-gradient(linear,
                               left top,
                               right top,
                               from(#a4a4a4),
                               to(#cccccc));
  height: 100%;
  width: 10px;
}

#mainview {
  -webkit-box-flex: 1;
  -webkit-padding-start: 10px;
  background-color: #cccccc;
}

.hidden {
  display: none;
}

select {
  margin: 0;
}

.link-button {
  background-color: transparent;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}

.text-button {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}
