body {
  margin: 20px;
}

h1 {
  -webkit-padding-start: 75px;
  background-image: url('shared/images/history_section.png');
  background-position: left;
  background-repeat: no-repeat;
  font-size: 156%;
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

html[dir=rtl] h1 {
  background-position: right;
}

#magic-summary {
  background-color: #ebeff9;
  border-top: 1px solid #9cc2ef;
  margin-bottom: 6px;
  margin-top: 12px;
  padding: 3px;
}

#magic-summary-text {
  font-weight: bold;
}

#sessions-summary {
  background-color: #ebeff9;
  border-top: 1px solid #9cc2ef;
  margin-bottom: 6px;
  margin-top: 12px;
  padding: 3px;
}

#sessions-summary-text {
  font-weight: bold;
}

#session-list h3 {
  font-size: 100%;
}

#session-list > div > * {
  margin: 0.75em 0;
}

#session-list a:visited {
  color: #666;
}

#session-list > div:not(:last-child) {
  border-bottom: 1px solid #bbb;
}

a.tab-link {
  background: no-repeat 0 50%;
  background-size: 16px 16px;
  display: block;
  line-height: 20px;
  padding-left: 18px;
}

.indent {
  margin: 4px;
  padding-left: 16px;
}

.expandable {
  cursor: pointer;
  font-size: 16px;
}

