/* TODO(jhawkins): Organize these by page. */

#sync-setup-overlay * h4 {
  margin: 5px 0;
}

#sync-setup-overlay * form {
  -webkit-user-select: none;
}

#sync-setup-overlay * .content-area {
  padding: 10px 15px;
}

.action-area-link-container {
  -webkit-box-flex: 1;
}

.sync-customize-section-container {
  margin: 5px 0 10px 0;
}

#sync-custom-passphrase {
  margin: 0 25px;
}

#sync-passphrase-message {
  color: gray;
}

.sync-custom-passphrase-input {
  margin: 10px 0;
}

#sync-existing-passphrase-container {
  background: #fff29e;
  border: 1px solid #d4cdad;
  padding: 10px;
}

#sync-select-container {
  margin-bottom: 10px;
}

#sync-instructions-container {
  margin-bottom: 30px;
}

#choose-data-types-body {
  margin: 10px 0;
}

#choose-data-types-body > div {
  -webkit-column-count: 3;
}

#sync-setup-overlay {
  -webkit-user-select: none;
  background-color: #fff;
  margin-bottom: 6px;
  margin-top: 6px;
  width: 500px;
}

#sync-setup-overlay * a:link {
  color: #00c;
}

#sync-setup-overlay * a:visited {
  color: #551a8b;
}

#sync-setup-overlay * a:active {
  color: #f00;
}

#sync-setup-overlay * hr {
  background-color: #ddd;
  border: 0;
  height: 1px;
  text-align: left;
  width: 100%;
}

#sync-setup-overlay * input[type='button'],
#sync-setup-overlay * input[type='submit'] {
  min-height: 26px;
  min-width: 87px;
}

#sync-setup-overlay * .throbber {
  margin: 4px 10px;
  visibility: hidden;
}

#email-readonly {
  font-size: 15px;
  height: 29px;
  line-height: 29px;
  margin: 0;
}

#passphrase-encryption-message {
  color: gray;
  margin-bottom: 5px;
}

#passphrase-input {
  margin-top: 5px;
  margin-bottom: 5px;
}

#incorrect-passphrase {
  margin-top: 5px;
}

#sync-setup-overlay * .error {
  color: red;
}

.overlay-warning {
  position: absolute;
  left: 25px;
  right: 25px;
  top: 100px;
  background: white;
  border: 2px solid #888;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0.2em 0.2em 0.5em #888;
}

#cancel-warning-header {
  font-weight: bold;
  margin-bottom: 8px;
}

.overlay-warning input {
  margin-top: 12px;
  float: right;
  margin-left: 5px;
}

#sync-passphrase-warning {
  margin-bottom: 5px;
}

#gaia-login-form {
  margin-bottom: 0;
}

#captcha-div {
  border: 1px solid #e5e5e5;
  background: #fff;
  margin: 0 0 1.5em;
  overflow: hidden;
  padding: 1em 1em 0;
}

#captcha-wrapper {
  background: no-repeat;
  background-position: center;
  background-size: 200px 70px;
  margin: 0 0 1em;
}

#captcha-image {
  height: 70px;
  width: 200px;
}

#asp-warning-div {
  text-align: left;
}

#logging-in-throbber {
  margin: 0 10px;
}

#top-blurb-error {
  -webkit-transition: margin-top 330ms ease-out, opacity 660ms ease-out;
  background: #f9edbe;
  border: 1px solid #f0c36d;
  display: block;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 10px;
  opacity: 1;
  padding: 8px 25px;
  position: relative;
  text-align: center;
}

#top-blurb-error[hidden] {
  display: block;
  margin-top: -37px;
  opacity: 0;
}

#password-row {
  margin-top: 2px;
}

#action-area {
  margin-top: 2px;
}

#sync-setup-configure {
  line-height: 1.33em;
  background: #fff;
}

html[os='mac'] #sync-setup-configure {
  line-height: 1.5em;
}

#choose-data-types-form {
  -webkit-user-select: none;
}

#chooseDataTypesRadio {
  vertical-align: top;
}

#chooseDataTypes > div {
  display: inline-block;
}

.sync-item-show {
  display: block;
  white-space: nowrap;
}

.sync-item-show > label {
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
 display: inline-block;
 width: 92%;
}

.sync-item-hide {
  display: none;
}

.sync-label-inactive {
  color: #9b9b9b;
}

.sync-label-active {
  color: #000;
}

.sync-data-types {
  margin-left: 5px;
}

.sync-configuration-errors {
  margin-top: 5px;
}

.sync-configuration-error {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1px 10px;
  background-color: #eeb939;
  border-radius: 4px;
  font-weight: bold;
}

#learn-more-link {
  float: right;
}

html[dir='rtl'] #learn-more-link {
  float: left;
}

#customize-link, #use-default-link {
  -webkit-transition: opacity 250ms;
}


/* Sign in box. */

.sign-in {
  margin: 20px auto;
  width: 335px;
}

.signin-box {
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  padding: 20px 25px 15px;
}

#signin-header {
  position: relative;
}

#signin-header h2 {
  color: #222;
  font-size: 16px;
  font-weight: normal;
  height: 16px;
  line-height: 16px;
  margin-top: 0;
}

#signin-header-logo {
  background: transparent
      url('chrome://resources/images/google-transparent.png') no-repeat;
  display: inline-block;
  height: 19px;
  position: absolute;
  right: 0;
  top: 1px;
  width: 52px;
}

html[dir='rtl'] #signin-header-logo {
  left: 0;
  right: auto;
}

/* Sign in buttons. */

.signin-box input[type=submit] {
  -webkit-transition: all 218ms;
  -webkit-user-select: none;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  height: 32px;
  line-height: 27px;
  margin: 0 0.4em 1.2em 0;
  min-width: 54px !important;
  padding: 0 8px;
}

html[dir='rtl'] .signin-box input[type=submit] {
  margin: 0 0 1.2em 0.4em;
}

.signin-box input[type=submit]:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0;
  background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  border: 1px solid #2f5bb7;
  color: #fff;
}

.signin-box input[type=submit]:focus {
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  border: 1px solid #4d90fe;
  outline: none;
  z-index: 4 !important;
}

.signin-box input[type=submit]:active,
.signin-box input[type=submit]:focus:active {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.signin-box input[type=submit]:focus:hover {
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.signin-box input[type=submit][disabled],
.signin-box input[type=submit][disabled]:hover,
.signin-box input[type=submit][disabled]:active {
  -webkit-box-shadow: none;
  background-color: #4d90fe;
  border: 1px solid #3079ed;
  color: #fff;
  opacity: 0.5;
}

/* Sign in text fields. */

.signin-box input[type=text],
.signin-box input[type=password] {
  -webkit-border-radius: 1px;
  -webkit-box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  color: #333;
  display: inline-block;
  font-size: 15px;
  height: 32px;
  line-height: 27px;
  margin-top: 0.5em;
  padding-left: 8px;
  vertical-align: top;
  width: 100%;
}

html[dir='rtl'] .signin-box input[type=text],
html[dir='rtl'] .signin-box input[type=password] {
  padding-left: 0;
  padding-right: 8px;
}

.signin-box input[type=text]:hover,
.signin-box input[type=password]:hover {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
}

.signin-box input[type=text]:focus,
.signin-box input[type=password]:focus {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid #4d90fe;
  outline: none;
}

.signin-box input[type=text][disabled],
.signin-box input[type=password][disabled] {
  -webkit-box-shadow: none;
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
}

.signin-box input[type=text][disabled]:hover,
.signin-box input[type=password][disabled]:hover {
  -webkit-box-shadow: none;
}


/* Sign in links. */

.signin-box .account-link {
  color: #15c !important;
  text-decoration: none;
}

.signin-box .account-link:visited {
  color: #61c !important;
  text-decoration: none;
}

.signin-box .account-link:hover {
  text-decoration: underline;
}

.signin-box .account-link:active {
  color: #d14836 !important;
  text-decoration: underline;
}

/* Sign in text. */

.signin-box strong {
  color: #222;
  display: block;
}

.signin-box label {
  display: block;
  margin: 0 0 1.5em;
}

/* Sign in miscellaneous. */

.signin-box .throbber {
  float: right;
}

html[dir='rtl'] .signin-box .throbber {
  float: left;
}

#create-account-div {
  display: inline-block;
}

.signin-box .errormsg {
  color: #dd4b39 !important;
  font-size: 13px !important;
  line-height: 17px;
  margin: 0.5em 0 1.5em;
}

.signin-box .help-link {
  -webkit-border-radius: 1em;
  background: #dd4b39;
  color: #fff !important;
  display: inline-block;
  font-weight: bold;
  padding: 0 5px;
  position: relative;
  text-decoration: none;
  top: 0;
}

.signin-box .help-link:visited {
  color: #fff !important;
}

.signin-box .help-link:hover {
  color: #fff !important;
  opacity: .7;
}
