/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html {
  background-color: rgba(255, 255, 255, 0);
}

#ui {
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: left top;
  width: 1920px;
}

/* This class manages the position of elements on the texture page.
 * Each UI element should have a bounding div of this class. */
.ui-element {
  float: left;
  margin: 2px;
}

.webvr-message-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#webvr-not-secure-permanent .webvr-not-secure-icon {
  display: inline-block;
  margin: 20px 0;
  vertical-align: middle;
}

#webvr-not-secure-permanent .webvr-string {
  display: inline-block;
  margin: 20px 10.5px;
  vertical-align: middle;
}

/* This is a single-line (nowrap) short message. The width is elastic for
 * translations, and the underlying string had a request to translators
 * to keep it short. */
#webvr-not-secure-permanent .webvr-box {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  color: #444;
  font-size: 26px;
  height: 78px;
  min-width: 226px;
  overflow: hidden;
  padding: 0 20px;
  white-space: nowrap;
}

/* This uses fixed width but the height is elastic for translations. */
#webvr-not-secure-transient > div {
  background-color: rgba(26, 26, 26, 0.8);
  border-radius: 6px;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 26px;
  justify-content: center;
  line-height: 1.4;
  min-height: 160px;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  width: 512px;
}

.round-button {
  background-color: #eee;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10%;
  height: 96px;
  margin: auto auto;
  opacity: 0.8;
  transition: opacity 150ms ease-in-out;
  width: 96px;
}

.button-caption {
  color: white;
  font-size: 24px;
  max-width: 192px;
  opacity: 0;
  overflow: hidden;
  text-align: center;
  transition: opacity 150ms ease-in-out;
  white-space: nowrap;
}

.rect-button {
  background-color: #eee;
  border-radius: 6px;
  color: black;
  font-size: 20px;
  line-height: 96px;
  opacity: 0.8;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  width: 300px;
}

.rect-button:hover {
  opacity: 1;
}

#back-button,
#forward-button {
  background-image: url(../../../../ui/webui/resources/images/vr_back.svg);
}

#reload-button {
  background-image: url(../../../../ui/webui/resources/images/vr_reload.svg);
}

#forward-button {
  transform: scaleX(-1);
}

#reload-ui-button {
  color: white;
  font-size: 24px;
  padding: 12px;
}

#reload-ui-button:hover {
  background-color: pink;
}

.tab {
  background-color: #eee;
  border-radius: 6px;
  color: black;
  display: inline-block;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  margin: 0 15px 0 15px;
  overflow: hidden;
  padding: 12px;
  vertical-align: middle;
  white-space: nowrap;
  width: 300px;
}

.tab-incognito {
  background-color: #525252;
  color: white;
}

/* The tab container element behaves like a scroll view (in conjunction with the
 * clip view). */
#tab-container {
  height: 54px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 1000px;
}

/* The tab clip element's width will be programmatically set to the total width
 * of all it's children (the tabs). By doing so, the tabs can be scrolled
 * horizontally in the tab container element. */
#tab-clip {
  margin: 0 auto;
  overflow: hidden;
}

#url-indicator-container {
  --tranX: 0;
  --tranY: -0.65;
  --tranZ: -1.2;
}

#url-indicator-border {
  --fadeTimeMs: 500;
  --fadeYOffset: -0.1;
  --opacity: 0.9;
  --statusBarColor: rgb(66, 133, 244);
  background-color: #ececec;
  border-radius: 200px;
  padding: 6px;
}

#url-indicator {
  align-items: center;
  background-color: #ececec;
  border-radius: 200px;
  box-sizing: border-box;
  display: flex;
  height: 104px;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  width: 512px;
}

#url-indicator-content {
  align-items: center;
  display: flex;
  max-width: 448px;
}

.url-indicator-icon {
  -webkit-mask-size: 50px;
  display: none;
  flex: none;
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

#url-indicator-info-icon {
  -webkit-mask-image: url(../../../../ui/webui/resources/images/i_circle.svg);
  background-color: rgb(90, 90, 90);
}

#url-indicator-lock-icon {
  -webkit-mask-image: url(../../../../ui/webui/resources/images/lock.svg);
  background-color: rgb(11, 128, 67);
}

#url-indicator-warning-icon {
  -webkit-mask-image: url(../../../../ui/webui/resources/images/warning.svg);
  background-color: rgb(199, 56, 33);
}

#url-indicator #url {
  color: #252525;
  font-size: 48px;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

#url-indicator #path {
  color: #868686;
}

#omnibox-ui-element {
  --tranX: 0;
  --tranY: -0.1;
  --tranZ: -1.0;
  background-color: transparent;
  box-sizing: border-box;
  font-family: arial;
  font-size: 16px;
  width: 400px;
}

#suggestions {
  border: 1px solid transparent;
  box-sizing: border-box;
}

.suggestion {
  align-items: center; /* Vertically center text in div. */
  background-color: white;
  /* Use a transparent border to hide text overflow, but allow background to
   * color show through. */
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  box-sizing: border-box;
  display: flex;
  height: 24px;
  overflow: hidden;
  visibility: hidden;
  white-space: nowrap;
}

.suggestion:hover {
  background-color: orange;
}

#omnibox-url-element {
  background-color: white;
  border: 1px solid grey;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse; /* Right-justify for convienence. */
  margin-top: 2px;
  padding: 5px;
}

#omnibox-input-field {
  border: none;
  font-size: 16px;
  outline: none; /* Do not show an outline when focused. */
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

#omnibox-clear-button {
  background: url(../../../../ui/webui/resources/images/x-hover.png) no-repeat center center;
  width: 18px;
}
