{
  "states": [
    ["clean", ["chrome_not_installed.prop", "chrome_not_inuse.prop"]],
    ["chrome_installed_not_inuse", ["chrome_installed.prop",
        "chrome_not_inuse.prop"]],
    ["chrome_installed_inuse", ["chrome_installed.prop", "chrome_inuse.prop"]]
  ],
  "actions": [
    ["install_chrome_at_user_level",
        "mini_installer.exe --chrome --multi-install --do-not-launch-chrome"],
    ["launch_chrome_at_user_level", "python launch_chrome.py"],
    ["quit_chrome_at_user_level", "python quit_chrome.py"],
    ["uninstall_chrome", "python uninstall_chrome.py"]
  ],
  "tests": [
    ["clean",
        "install_chrome_at_user_level", "chrome_installed_not_inuse",
        "launch_chrome_at_user_level", "chrome_installed_inuse",
        "quit_chrome_at_user_level", "chrome_installed_not_inuse",
        "uninstall_chrome", "clean"]
  ]
}
