{
  "states": [
    ["clean", ["chrome_not_installed.prop"]],
    ["chrome_installed", ["chrome_installed.prop"]]
  ],
  "actions": [
    ["install chrome", "mini_installer.exe --chrome --multi-install"],
    ["uninstall chrome", "python uninstall_chrome.py"]
  ],
  "tests": [
    ["clean", "install chrome", "chrome_installed", "uninstall chrome", "clean"]
  ]
}
