{
  "states": [
    ["no_pv", ["chrome_user_no_pv.prop",
               "chrome_system_no_pv.prop"]],
    ["clean", ["chrome_user_not_installed.prop",
               "chrome_system_not_installed.prop",
               "chrome_user_not_inuse.prop",
               "chrome_system_not_inuse.prop"]],
    ["chrome_user_installed_not_inuse", ["chrome_user_installed.prop",
                                         "chrome_system_not_installed.prop",
                                         "chrome_user_not_inuse.prop",
                                         "chrome_system_not_inuse.prop"]],
    ["chrome_system_installed_not_inuse", ["chrome_user_not_installed.prop",
                                           "chrome_system_installed.prop",
                                           "chrome_user_not_inuse.prop",
                                           "chrome_system_not_inuse.prop"]],
    ["chrome_user_installed_inuse", ["chrome_user_installed.prop",
                                     "chrome_system_not_installed.prop",
                                     "chrome_user_inuse.prop",
                                     "chrome_system_not_inuse.prop"]],
    ["chrome_system_installed_inuse", ["chrome_user_not_installed.prop",
                                       "chrome_system_installed.prop",
                                       "chrome_user_not_inuse.prop",
                                       "chrome_system_inuse.prop"]]
  ],
  "actions": [
    ["install_chrome_user",
     "\"$MINI_INSTALLER\" --chrome --multi-install --verbose-logging --do-not-launch-chrome"],
    ["install_chrome_system",
     "\"$MINI_INSTALLER\" --chrome --multi-install --verbose-logging --system-level --do-not-launch-chrome"],
    ["launch_chrome_user",
     "python launch_chrome.py \"$LOCAL_APPDATA\\$CHROME_DIR\\Application\\chrome.exe\""],
    ["launch_chrome_system",
     "python launch_chrome.py \"$PROGRAM_FILES\\$CHROME_DIR\\Application\\chrome.exe\""],
    ["quit_chrome_user",
     "python quit_chrome.py \"$LOCAL_APPDATA\\$CHROME_DIR\\Application\\chrome.exe\""],
    ["quit_chrome_system",
     "python quit_chrome.py \"$PROGRAM_FILES\\$CHROME_DIR\\Application\\chrome.exe\""],
    ["uninstall_chrome_user",
     "python uninstall_chrome.py --chrome-long-name=\"$CHROME_LONG_NAME\""],
    ["uninstall_chrome_system",
     "python uninstall_chrome.py --chrome-long-name=\"$CHROME_LONG_NAME\" --system-level"]
  ],
  "tests": [
    {
      "name": "ChromeUserLevel",
      "traversal": [
        "no_pv",
        "install_chrome_user", "chrome_user_installed_not_inuse",
        "uninstall_chrome_user", "clean"
      ]
    },
    {
      "name": "ChromeSystemLevel",
      "traversal": [
        "no_pv",
        "install_chrome_system", "chrome_system_installed_not_inuse",
        "uninstall_chrome_system", "clean"
      ]
    }
  ]
}
