<!-- Copyright 2014 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="/mojo/public/html/codec.html" as="codec" />
<link rel="import" href="/mojo/public/html/validator.html" as="validator" />
{%- for import in imports %}
<link rel="import" href="/{{import.module.path}}.html" as="{{import.unique_name}}" />
{%- endfor %}
<script>
{%- include "module_definition.tmpl" %}
  this.exports = exports;
</script>
