/* Copyright 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  font-size: 12px;
  margin: 10px;
  min-width: 47em;
  padding-bottom: 65px;
}

.row {
  border-bottom: 1px solid #a0a0a0;
  padding: 5px;
}
