/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/**
 * @fileoverview
 * Common styles for Settings pages.
 */
:host > paper-material {
  -webkit-padding-start: 80px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.soft-border {
  border: 1px solid #c4c4c4;
  border-radius: 2px;
}

.subheader {
  @apply(--layout-center);
  @apply(--layout-horizontal);
  margin-bottom: 16px;
}

.subheader h2 {
  @apply(--paper-font-subhead);
}

.page-content {
  width: 760px;
}

cr-settings-page-header {
  margin-bottom: 30px;
  min-height: 24px;
}

cr-settings-checkbox {
  -webkit-margin-end: 10px;
  -webkit-margin-start: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}
