/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/**
 * @fileoverview
 * Common styles for Settings pages.
 */
:host {
  display: flex;
  flex-direction: column;
  position: relative;
}

#header {
  margin-bottom: 12px;
}

#header .title {
  color: rgb(104, 113, 116);  /* Custom color from bettes@ */
  font-size: 13px;
  font-weight: 500;
}

#card {
  background-color: white;
  overflow: hidden;
}

#card {
  flex: 1;
}

:host(.expanded) {
  margin-bottom: 0;
}

:host(.expanded) #header {
  display: none;
}

:host(.frozen) #card {
  position: fixed;
  width: 100%;
}

:host(.expanded.frozen) #card {
  position: relative;
}
