/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  -webkit-margin-start: 4px;
  display: block;
}

.origin-box {
  margin-bottom: 20px;
  margin-top: 35px;
}

.origin {
  -webkit-margin-start: 10px;
  font-size: 110%;
  font-weight: 500;
}

.reset-button {
  -webkit-margin-start: 15px;
}

#storage {
  -webkit-padding-end: 0;
}

.website-icon {
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px;
}
