/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  display: block;
}

.toggle-icon {
  -webkit-margin-start: 4px;
}

.toggle-text {
  -webkit-margin-start: -11px;
}

settings-site-list {
  border-bottom: 1px solid var(--paper-grey-300);
}

settings-site-list:last-of-type {
  border-bottom: none;
}

.button-container {
  -webkit-margin-start: 18px;
}
