/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  display: block;
}

.origin {
  font-weight: bold;
}

.reset-button {
  -webkit-margin-start: 15px;
}

#storage {
  -webkit-padding-end: 0;
}