/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  -webkit-margin-start: 7px;
  display: block;
}

.site-header {
  width: 100%;
}

.site-list {
  -webkit-margin-end: -16px;
}

.origin {
  --paper-item-body-two-line-min-height: 0;
  -webkit-margin-start: 12px;
}

.website-icon {
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px;
}