{%- import "interface_macros.tmpl" as interface_macros %}
class {{interface.name}}Proxy;
class {{interface.name}}Stub;
{% if interface.client %}
class {{interface.client}};
{% endif %}

class {{interface.name}} {
 public:
  typedef {{interface.name}}Proxy Proxy_;
  typedef {{interface.name}}Stub Stub_;
{% if interface.client %}
  typedef {{interface.client}} Client_;
{% else %}
  typedef mojo::NoInterface Client_;
{% endif %}

{#--- Enums #}
{%- for enum in interface.enums %}
{%    macro enum_def() %}{% include "enum_declaration.tmpl" %}{% endmacro %}
  {{enum_def()|indent(2)}}
{%- endfor %}

{#--- Methods #}
  virtual ~{{interface.name}}() {}
{%- if interface.client %}
  // Called once before any other method.
  virtual void SetClient({{interface.client}}* client) = 0;
{%- else %}
  virtual void SetClient(mojo::NoInterface* client) {}
{%- endif %}
{%- for method in interface.methods %}
  virtual void {{method.name}}({{interface_macros.declare_request_params("", method)}}) = 0;
{%- endfor %}
};
