// Copyright 2013 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

{%- set header_guard = "%s_H_"|
        format(module.path|upper|replace("/","_")|replace(".","_")) %}

#ifndef {{header_guard}}
#define {{header_guard}}

#include "mojo/public/cpp/bindings/array.h"
#include "mojo/public/cpp/bindings/callback.h"
#include "mojo/public/cpp/bindings/interface.h"
#include "{{module.path}}-internal.h"
{%- for import in imports %}
#include "{{import.module.path}}.h"
{%- endfor %}

{%- if namespace %}
namespace {{namespace}} {
{%- endif %}

{#--- Enums #}
{%  for enum in enums %}
{%    include "enum_declaration.tmpl" %}
{%- endfor %}

{#--- Structs #}
{%  for struct in structs %}
{%    include "wrapper_class_declaration.tmpl" %}
{%- endfor %}

{#--- Interfaces -#}
{%  for interface in interfaces %}
{%    include "interface_declaration.tmpl" %}
{%- endfor %}

{#--- Interface Proxies -#}
{%  for interface in interfaces %}
{%    include "interface_proxy_declaration.tmpl" %}
{%- endfor %}

{#--- Interface Stubs -#}
{%  for interface in interfaces %}
{%    include "interface_stub_declaration.tmpl" %}
{%- endfor %}

{%- if namespace %}
}  // namespace {{namespace}}
{%- endif %}

#endif  // {{header_guard}}
