{%- macro field_line(field) %}
{%-   set type = field.kind|cpp_field_type %}
{%-   set name = field.name -%}
{%-   if field.kind.spec == 'b' -%}
  uint8_t {{name}} : 1;
{%-   elif field.kind|is_enum_kind -%}
  int32_t {{name}};
{%-   else -%}
  {{type}} {{name}};
{%-   endif %}
{%- endmacro %}

{%- macro fields(struct) %}
{%-   for packed_field in struct.packed.packed_fields %}
  {{field_line(packed_field.field)}}
{%-     if not loop.last %}
{%-       set next_pf = struct.packed.packed_fields[loop.index0 + 1] %}
{%-       set pad = next_pf.offset - (packed_field.offset + packed_field.size) %}
{%-       if pad > 0 %}
  uint8_t pad{{loop.index0}}_[{{pad}}];
{%-       endif %}
{%-     endif %}
{%-   endfor -%}

{%-   set num_fields = struct.packed.packed_fields|length %}
{%-   if num_fields > 0 %}
{%-     set last_field = struct.packed.packed_fields[num_fields - 1] %}
{%-     set offset = last_field.offset + last_field.size %}
{%-     set pad = offset|get_pad(8) -%}
{%-     if pad > 0 %}
  uint8_t padfinal_[{{pad}}];
{%-     endif %}
{%-   endif %}
{%- endmacro %}

{%- macro encodes(struct) -%}
{%-   for pf in struct.packed.packed_fields if pf.field.kind|is_object_kind -%}
mojo::internal::Encode(&{{pf.field.name}}, handles);
{%    endfor %}
{%-   for pf in struct.packed.packed_fields if pf.field.kind|is_handle_kind -%}
mojo::internal::EncodeHandle(&{{pf.field.name}}, handles);
{%    endfor %}
{%- endmacro -%}

{%- macro decodes(struct) -%}
{%-   for pf in struct.packed.packed_fields if pf.field.kind|is_object_kind -%}
if (!mojo::internal::Decode(&{{pf.field.name}}, message))
  return false;
{%    endfor %}
{%-   for pf in struct.packed.packed_fields if pf.field.kind|is_handle_kind -%}
if (!mojo::internal::DecodeHandle(&{{pf.field.name}},
                                  message->mutable_handles()))
  return false;
{%    endfor %}
{%- endmacro -%}
