{%- import "struct_macros.tmpl" as struct_macros %}
{%- set mojom_type = struct|get_qualified_name_for_kind %}
{%- set data_type = struct|get_qualified_name_for_kind(internal=True) %}

// static
bool StructTraits<{{mojom_type}}, {{mojom_type}}Ptr>::ReadFromRawData(
    {{data_type}}* input,
    {{mojom_type}}Ptr* output,
    internal::SerializationContext* context) {
  bool success = true;
  if (input) {
    {{mojom_type}}Ptr result({{mojom_type}}::New());
    {{struct_macros.deserialize(struct, "input", "result->%s", "context",
                                "success")|indent(4)}}
    *output = std::move(result);
  } else {
    output->reset();
  }
  return success;
}
