// Copyright 2013 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#include "verrsrc.h"
#include "version.h"
#undef APSTUDIO_READONLY_SYMBOLS

#ifdef APSTUDIO_INVOKED
# error Don't open this in the GUI, it'll be massacred on save.
#endif // APSTUDIO_INVOKED

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDR_CLOUDPRINTSERVICE   REGISTRY                "resources\\cloud_print_service.rgs"
IDI_ICON                ICON                    "resources\\cloudprint.ico"

STRINGTABLE
BEGIN
    IDS_SERVICENAME         "CloudPrintService"
END

#endif    // English (United States) resources
