/**
 * Body styles. This makes the toolstrip layout fit in with the Windows
 * bookmarkbar. Note that the background is provided separately, by
 * RenderWidget.
 */
body {
  display:-webkit-box;
  -webkit-box-orient:horizontal;
  -webkit-box-align:center;
  white-space:nowrap;
  overflow: hidden;
  margin: 0;
  padding:0;
  font: menu;
  -webkit-user-select:none;
  cursor:default;
}

/**
 * This, combined with -webkit-box-align:center on body, makes content inside
 * the body tag center itself vertically by default.
 */
body>* {
  display:-webkit-box;
}

/**
 * Set display property of <script> and <style> as none explicitly to avoid
 * inheriting from <body>.
 */
body>script,
body>style {
 display:none;
}

/**
 * Toolstrip Buttons. The following styles make
 * <div class="toolstrip-button"><img><span>Woot</span></div> look like the
 * bookmarkbar buttons on Windows.
 *
 * TODO(aa): We may have to come up with a way to modify these slightly on
 * different platforms.
 *
 * TODO(aa): It would be nice if we could use actual <button> tags work here,
 * which should work once https://bugs.webkit.org/show_bug.cgi?id=25406 is
 * fixed.
 */
div.toolstrip-button {
  -webkit-box-orient:horizontal;
  -webkit-box-align:center;
  -webkit-box-sizing:border-box;
  border:7px solid transparent;
  font:menu;
  background:transparent;
  line-height:100%;
  height:100%;
  padding:0;
}

div.toolstrip-button>img {
  display:-webkit-box;
  width:16px;
  height:16px;
  /**
   * We inset the image slightly, so that the button can be shorter
   * than would otherwise be possibe with our fat borders. The 5px right border
   * just creates the spacing between the icon and the text.
   */
  margin:-2px 5px -2px -1px;
}

div.toolstrip-button>span {
  display:-webkit-box;
  margin-right:1px;