/**
 * Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

body {
  background-color: #111;
  border: 5px solid #333;
  height: 180px;
  margin: 0;
  padding: 4px 3px 5px 3px;
}
body > div {
  padding: 2px;
}
.action {
  color: white;
  font-size: 150%;
  margin: 8px;
  padding: 2px;
}
button.action {
  background: none;
  border: none;
}
.focus {
  outline: solid thick #78e428;  /** light green from automation_manager.js */
}
div.focus {
  outline-color: #de742f;  /** dark orange from automation_manager.js */
}
img {
  display: block;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
}

