// Copyright 2013 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.ui;

public class WindowOpenDisposition {
#define WINDOW_OPEN_DISPOSITION(label, value) public static final int label = value;
#include "ui/base/window_open_disposition_list.h"
#undef WINDOW_OPEN_DISPOSITION
}