<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Disable pending index navigation</string>
			<key>Key</key>
			<string>PendingIndexNavigationDisabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Enable SnapshotLRUCache</string>
			<key>Key</key>
			<string>SnapshotLRUCache</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Values</key>
			<array>
				<string></string>
				<string>Enabled</string>
				<string>Disabled</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Default</string>
				<string>Enabled</string>
				<string>Disabled</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>iPad Tab Strip</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Disable Tab Strip Auto Scroll New Tabs</string>
			<key>Key</key>
			<string>TabStripAutoScrollNewTabsDisabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Reader mode</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Reader mode</string>
			<key>Key</key>
			<string>ReaderModeEnabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Detection Heuristics</string>
			<key>Key</key>
			<string>ReaderModeDetectionHeuristics</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Values</key>
			<array>
				<string></string>
				<string>AdaBoost</string>
				<string>Off</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Open Graph</string>
				<string>Ada Boost</string>
				<string>Off</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>UI Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Enable Popular Sites</string>
			<key>Key</key>
			<string>EnablePopularSites</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Titles</key>
			<array>
				<string>Default</string>
				<string>Enabled</string>
				<string>Disabled</string>
			</array>
			<key>Values</key>
			<array>
				<string></string>
				<string>Enabled</string>
				<string>Disabled</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable Pseudo-RTL</string>
			<key>Key</key>
			<string>EnablePseudoRTL</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Enable Fast Web Scroll Insets</string>
			<key>Key</key>
			<string>EnableFastWebScrollViewInsets</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Values</key>
			<array>
				<string></string>
				<string>Enabled</string>
				<string>Disabled</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Default</string>
				<string>Enabled</string>
				<string>Disabled</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Fake Cloud Policy Type</string>
			<key>Key</key>
			<string>FakeCloudPolicyType</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Force First Run</string>
			<key>Key</key>
			<string>FirstRunForceEnabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Disable MDM Integration</string>
			<key>Key</key>
			<string>MDMIntegrationDisabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Disable SafariVC Sign In</string>
			<key>Key</key>
			<string>SafariVCSignInDisabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Enable Download Image Renaming</string>
			<key>Key</key>
			<string>EnableDownloadRenaming</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Values</key>
			<array>
				<string></string>
				<string>Enabled</string>
				<string>Disabled</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Default</string>
				<string>Enabled</string>
				<string>Disabled</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Gaia Environment</string>
			<key>Key</key>
			<string>GAIAEnvironment</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Values</key>
			<array>
				<string></string>
				<string>Staging</string>
				<string>Test</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Prod</string>
				<string>Staging</string>
				<string>Test</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable Startup Crash</string>
			<key>Key</key>
			<string>EnableStartupCrash</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Enable Password Generation</string>
			<key>Key</key>
			<string>PasswordGenerationEnabled</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Values</key>
			<array>
				<string></string>
				<string>Enabled</string>
				<string>Disabled</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Default</string>
				<string>Enabled</string>
				<string>Disabled</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Heuristics for password generation</string>
			<key>Key</key>
			<string>HeuristicsForPasswordGeneration</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
                <dict>
                        <key>Type</key>
                        <string>PSMultiValueSpecifier</string>
                        <key>Title</key>
                        <string>Enable Suggestions UI</string>
                        <key>Key</key>
                        <string>EnableSuggestions</string>
                        <key>DefaultValue</key>
                        <string></string>
                        <key>Values</key>
                        <array>
                                <string></string>
                                <string>Enabled</string>
                                <string>Disabled</string>
                        </array>
                        <key>Titles</key>
                        <array>
                                <string>Default</string>
                                <string>Enabled</string>
                                <string>Disabled</string>
                        </array>
                </dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Force reset Contextual Search</string>
			<key>Key</key>
			<string>ForceResetContextualSearch</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Alert on background upload</string>
			<key>Key</key>
			<string>EnableAlertsOnBackgroundUpload</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Auto Reload Enabled</string>
			<key>Key</key>
			<string>AutoReloadEnabled</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Values</key>
			<array>
				<string></string>
				<string>Enabled</string>
				<string>Disabled</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Default</string>
				<string>Enabled</string>
				<string>Disabled</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Force What&apos;s New Promo</string>
			<key>Key</key>
			<string>WhatsNewPromoStatus</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Default</string>
				<string>App Rating Promo</string>
				<string>Faster Access Move to Dock Promo</string>
				<string>Love Chrome Move to Dock Promo</string>
				<string>Tip Move to Dock Promo</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Enable View/Copy passwords</string>
			<key>Key</key>
			<string>EnableViewCopyPasswords</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Values</key>
			<array>
				<string></string>
				<string>Disabled</string>
				<string>Enabled</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Default</string>
				<string>Disabled</string>
				<string>Enabled</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Disable External Application Prompt</string>
			<key>Key</key>
			<string>ExternalAppPromptDisabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Disable Update Password UI</string>
			<key>Key</key>
			<string>UpdatePasswordUIDisabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>New Clear Browsing Data UI</string>
			<key>Key</key>
			<string>EnableNewClearBrowsingDataUI</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Values</key>
			<array>
				<string></string>
				<string>Disabled</string>
				<string>Enabled</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Default</string>
				<string>Disabled</string>
				<string>Enabled</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Memory</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable Memory Debugging</string>
			<key>Key</key>
			<string>EnableMemoryDebugging</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>User Agent</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use Mobile Safari UA</string>
			<key>Key</key>
			<string>UseMobileSafariUA</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Google App Ecosystem</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Origin Server Host</string>
			<key>Key</key>
			<string>AlternateOriginServerHost</string>
			<key>DefaultValue</key>
			<string></string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Web Page Replay Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable Web Page Replay</string>
			<key>Key</key>
			<string>WebPageReplayEnabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Proxy Server</string>
			<key>Key</key>
			<string>WebPageReplayProxyAddress</string>
			<key>DefaultValue</key>
			<string></string>
			<key>KeyboardType</key>
			<string>URL</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Physical Web</string>
			<key>Key</key>
			<string>PhysicalWebEnabled</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Values</key>
			<array>
				<string></string>
				<string>Disabled</string>
				<string>Enabled</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Default</string>
				<string>Disabled</string>
				<string>Enabled</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Web APIs</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Enable Payment Request</string>
			<key>Key</key>
			<string>EnablePaymentRequest</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Values</key>
			<array>
				<string></string>
				<string>Enabled</string>
				<string>Disabled</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Default</string>
				<string>Enabled</string>
				<string>Disabled</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Extra Flags (one per line)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Append Extra Flags</string>
			<key>Key</key>
			<string>EnableFreeformCommandLineFlags</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Flag1</string>
			<key>Key</key>
			<string>FreeformCommandLineFlag1</string>
			<key>DefaultValue</key>
			<string></string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Flag2</string>
			<key>Key</key>
			<string>FreeformCommandLineFlag2</string>
			<key>DefaultValue</key>
			<string></string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Flag3</string>
			<key>Key</key>
			<string>FreeformCommandLineFlag3</string>
			<key>DefaultValue</key>
			<string></string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Flag4</string>
			<key>Key</key>
			<string>FreeformCommandLineFlag4</string>
			<key>DefaultValue</key>
			<string></string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Flag5</string>
			<key>Key</key>
			<string>FreeformCommandLineFlag5</string>
			<key>DefaultValue</key>
			<string></string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
	</array>
</dict>
</plist>
