html {
  height: 100%;  /* Required for printing. */
}

body {
  -webkit-app-region: drag;
  -webkit-box-align: center;
  background: black;
  bottom: 0;
  display: -webkit-box;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.scrollbar-track {
  -webkit-app-region: no-drag;
  padding: 2px;
  position: fixed;
}

.scrollbar-track-horizontal {
  bottom: 0;
  left: 0;
  right: 0;
}

.scrollbar-track-vertical {
  bottom: 0;
  right: 0;
  top: 0;
}

.scrollbar-thumb {
  background: white;
  border: 1px solid #555;
  border-radius: 3px;
  box-sizing: border-box;
  opacity: 0;
  position: absolute;
  transition: opacity 100ms;
}

body.expanded .scrollbar-track .scrollbar-thumb {
  opacity: 0.4;
}

body .scrollbar-track .scrollbar-thumb:hover {
  opacity: 0.6;
}

body .scrollbar-track .scrollbar-thumb:active {
  opacity: 0.8;
}

.scrollbar-track-horizontal,
.scrollbar-track-horizontal .scrollbar-thumb {
  height: 8px;
}

.scrollbar-track-vertical,
.scrollbar-track-vertical .scrollbar-thumb {
  width: 8px;
}

button {
  -webkit-app-region: no-drag;
  outline: none;
}

#header {
  -webkit-box-pack: end;
  display: -webkit-box;
  left: 0;
  padding: 10px;
  pointer-events: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

#header button {
  -webkit-app-region: no-drag;
}

#header button,
#corner-buttons button {
  transition: opacity 200ms linear;
}

#header button,
#side-buttons button,
#corner-buttons button {
  background: rgba(0, 0, 0, 0.75) center center no-repeat;
  border: none;
  height: 32px;
  margin: 0 2px;
  padding: 0;
  width: 32px;
}

#header button:hover,
#side-buttons button:hover,
#corner-buttons button:hover {
  background-color: rgba(60, 60, 60, 0.75);
}

#header button:active,
#side-buttons button:active,
#corner-buttons button:active {
  background-color: rgba(90, 90, 90, 0.75);
}

body:not(.expanded) #header button,
body:not(.expanded) #corner-buttons button {
  opacity: 0;
}

#toolbar-stripe {
  position: relative;
}

#toolbar .gallery-switch.flash {
  -webkit-animation: flashButton 300ms linear 1s 3;
}

@-webkit-keyframes flashButton {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#side-buttons,
#corner-buttons {
  -webkit-box-pack: end;
  bottom: 0;
  display: -webkit-box;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

#side-buttons .gallery-switch,
#corner-buttons .gallery-switch {
  background-image: -webkit-image-set(
      url(../images/topbar_button_gallery.png) 1x,
      url(../images/2x/topbar_button_gallery.png) 2x);
}

#side-buttons {
  -webkit-box-align: center;
  padding: 0 10px;
}

#corner-buttons {
  -webkit-box-align: end;
  padding: 10px;
}

#side-buttons button {
  pointer-events: auto;
}

#corner-buttons button {
  pointer-events: auto;
  position: relative;
  z-index: 2;  /* Hack to enable touch scrolling in gallery. */
}

#corner-buttons button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

body:not(.gallery):not(.browser) #corner-buttons {
  display: none;
}

body:not(.browser) #corner-buttons #browser-print,
body:not(.browser) #corner-buttons #browser-export {
  display: none;
}

#corner-buttons #browser-print {
  background-image: -webkit-image-set(
      url(../images/browser_button_print.png) 1x,
      url(../images/2x/browser_button_print.png) 2x);
}

#corner-buttons #browser-export {
  background-image: -webkit-image-set(
      url(../images/browser_button_export.png) 1x,
      url(../images/2x/browser_button_export.png) 2x);
}

#corner-buttons #gallery-delete {
  background-image: -webkit-image-set(
      url(../images/gallery_button_delete.png) 1x,
      url(../images/2x/gallery_button_delete.png) 2x);
}

body.gallery #corner-buttons .gallery-switch:not(:hover):not(:active),
body.browser #corner-buttons .gallery-switch:not(:hover):not(:active) {
  background-color: #555555;
}

#header #maximize-button {
  background-image: -webkit-image-set(
      url(../images/topbar_button_maximize.png) 1x,
      url(../images/2x/topbar_button_maximize.png) 2x);
}

#header #close-button {
  background-image: -webkit-image-set(
      url(../images/topbar_button_close.png) 1x,
      url(../images/2x/topbar_button_close.png) 2x);
}


body.gallery #main-canvas-wrapper,
body.gallery #main-fast-canvas-wrapper,
body.browser #main-canvas-wrapper,
body.browser #main-fast-canvas-wrapper {
  display: none;
}

body.gallery #toolbar,
body.browser #toolbar {
  display: none;
}

#main-canvas-wrapper,
#main-fast-canvas-wrapper,
#main-canvas-wrapper canvas,
#main-fast-canvas-wrapper canvas {
  pointer-events: none;
  width: 100%;
}

#error {
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: white;
  display: none;
  font-size: 18px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#error .icon {
  background: center center no-repeat url(../images/no_camera.svg);
  height: 60px;
  margin-bottom: 20px;
  width: 90px;
}

#error #error-msg,
#error #error-msg-hint {
  text-align: center;
}

#error #error-msg-hint {
  font-size: 16px;
}

body.has-error #error {
  display: -webkit-box;
}

canvas {
  -webkit-transform: scaleX(-1);
}

#effects {
  overflow: auto;
}

#effects .padder {
  display: -webkit-box;
  list-style-type: none;
  margin: 0;
  padding: 0 0 5px;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  width: 0;
  height: 0;
}

#effects li {
  -webkit-app-region: no-drag;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-margin-end: 10px;
  display: -webkit-box;
  padding: 0;
}

#effects li:first-child {
  padding-left: 10px;
}

#effects li:last-child {
  padding-right: 10px;
}

#effects li div.preview-canvas-wrapper {
  border: 2px solid transparent;
  height: 80px;
  overflow: hidden;
  position: relative;
  width: 80px;
}

#effects li[selected] div.preview-canvas-wrapper {
  border: 2px solid rgb(66, 129, 244);
}

#effects li div.preview-canvas-padder {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  bottom: -50px;
  display: -webkit-box;
  left: -50px;
  position: absolute;
  right: -50px;
  top: -50px;
}

#effects li canvas {
  display: -webkit-box;
  opacity: 1;
  transition: opacity 200ms;
}

#effects li span {
  -webkit-padding-before: 5px;
  color: white;
  display: -webkit-box;
}

#buttons {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  margin-bottom: 5px;
}

#buttons button {
  background-color: transparent;
  border: none;
}

#buttons #take-picture {
  background-image: -webkit-image-set(
      url(../images/camera_button_picture.png) 1x,
      url(../images/2x/camera_button_picture.png) 2x);
  height: 37px;
  width: 73px;
}

#buttons #take-picture:hover {
  background-position: 0 -37px;
}

#buttons #take-picture:active {
  background-position: 0 -74px;
}

#toolbar {
  -webkit-transform: translateY(200px);
  background: rgba(0, 0, 0, 0.75);
  bottom: 0;
  left: 0;
  padding: 10px 0;
  position: absolute;
  right: 0;
  transition: -webkit-transform 200ms linear;
}

body.expanded:not(.has-error) #toolbar {
  -webkit-transform: translateY(0);
}

#shutter {
  background: white;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 50ms linear;
}

body.show-shutter #shutter {
  opacity: 1;
}

#picture-preview {
  bottom: 25%;
  left: 25%;
  pointer-events: none;
  position: absolute;
  right: 25%;
  top: 25%;
}

body.gallery #picture-preview,
body.browser #picture-preview {
  display: none;
}

#picture-preview img {
  -webkit-animation: animatePicture 1s 1s;
  -webkit-animation-fill-mode: forwards;
  border: 6px solid white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: absolute;
  transition: opacity 1s, -webkit-transform 1s;
  /* The animation properties are added from views/camera.js */
  width: 100%;
}

#gallery,
#browser {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;  /* Hack to enable touch scrolling in gallery. */
}

#gallery .padder {
  padding: 15px;
}

#gallery img {
  border: 4px solid white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin: 10px;
  transition: -webkit-transform 50ms;
  width: 170px;
}

body.gallery #gallery img {
  -webkit-app-region: no-drag;
}

#gallery img.selected {
  -webkit-transform: scale(1.2);
  border-color: rgb(66, 129, 244);
}

#browser {
  /* TODO(mtomasz): Consider making the browser moveable, which is non trivial
     because the onclick handler is used to close the view. */
  -webkit-app-region: no-drag;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
}

body.browser #browser {
  -webkit-animation: showBrowser 200ms;
  visibility: visible;
}

#browser .padder {
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  height: 100%;
}

#browser img {
  -webkit-app-region: no-drag;
  border: 10px solid white;
  display: -webkit-box;
  pointer-events: auto;
  transition: -webkit-transform 200ms;
  margin: 4%;
  width: 72%;
}

#browser div.bounds-padder {
  display: -webkit-box;
  height: 1px;  /* Required to make the element visible. */
  width: 50%;
}

#browser img.selected {
  -webkit-transform: scale(1.1);
}

body:not(.gallery):not(.browser) #gallery {
  display: none;
}

@-webkit-keyframes showBrowser {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Printing in the browser view. */
@media print {
  /* Reset background colors. */
  body,
  #browser {
    background: transparent;
  }

  /* Hide the window's decoration and scroll bars. */
  #header,
  #corner-buttons,
  #side-buttons,
  .scrollbar-track {
    display: none;
  }

  /* Hide the gallery behind the browser view. */
  #gallery {
    display: none;
  }

  /* Hide everything from the browse view, but the current one. */
  #browser .padder > :not(.selected) {
    display: none;
  }

  /* Reset position of the image to the left-top. */
  #browser img.selected {
    position: absolute;
  }

  /* Remove border from the image. */
  #browse img.selected {
    border: none;
  }
}

