/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.device-info {
  -webkit-box-flex: 1;
  -webkit-padding-start: 55px;
}

.device {
  display: -webkit-box;
  max-width: 738px;
}

.device .button-container {
  -webkit-padding-end: 10px;
  display: inline-block;
  width: 70px;
}

.device .button-container button {
  margin-top: 0.5em;
  padding-bottom: 10px;
  padding-top: 10px;
}

.register-page {
  padding: 15px;
  width: 600px;
}

.register-page .button-list {
  padding-top: 15px;
  text-align: right;
}

html[dir='rtl'] .register-page .button-list {
  text-align: left;
}