/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.device {
  margin: 23px 0;
  max-width: 695px;
  overflow: hidden;
}

.device .device-info {
  -webkit-padding-start: 40px;
  float: left;
}

.printer {
  background: url(printer.png) no-repeat;
}

html[dir='rtl'] .device .device-info {
  float: right;
}

.device button {
  float: right;
}

html[dir='rtl'] .device button {
  float: left;
}

.subline,
.device-subline {
  color: #999;
  margin: 5px 0;
}

h3.device-name {
  margin: 0;
}

.register-page {
  padding: 15px;
  width: 600px;
}

.register-page .button-list {
  padding-top: 15px;
  text-align: right;
}

html[dir='rtl'] .register-page .button-list {
  text-align: left;
}

.controls {
  border-bottom: 1px solid #eee;
  max-width: 711px;
  padding: 13px 3px 7px 4px;
}

html[dir='rtl'] .controls {
  padding: 13px 4px 7px 3px;
}

.controls .subline {
  -webkit-margin-start: 10px;
}
