/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #4285F4;
}

.hidden {
  display: none !important;
}

#panel {
  background-color: var(--primary-background-color);
  display: block;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  opacity: 0.8;
  position: fixed;
  right: 0;
  width: 360px;
}

#panel .section {
  background-color: var(--primary-background-color);
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 0 2px 0 rgba(0,0,0,0.24);
  margin-bottom: 8px;
  padding: 16px 16px 8px 16px;
}

#panel .h-flex-container {
  display: flex;
}

#panel .v-flex-container {
  display: flex;
}

#panel #header {
  background-color: var(--secondary-background-color);
  color: var(--primary-background-color);
}

#panel #headingText {
  flex: 8;
  margin-right: 4px;
}

#panel #actions {
  background-color: var(--primary-background-color);
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 0 2px 0 rgba(0,0,0,0.24);
  height: 400px;
  overflow-y: scroll;
}

#panel #actions .action {
  margin: 2px 0 2px 0;
  position:relative;
}

#panel .tooltip-body {
  background-color: var(--secondary-background-color);
  color: var(--primary-background-color);
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s;
  visibility: hidden;
}

#panel #actions .action .tooltip-body {
  overflow: -webkit-paged-x;
  top: 16px;
  width: 100%;
}

#panel .tooltip-trigger:hover .tooltip-body {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

#panel #forms::-webkit-scrollbar {
  background-color: #F1F1F1;
  width: 10px;
}

#panel #forms::-webkit-scrollbar-thumb {
  background-color: var(--secondary-background-color);
}

#panel h1 {
  display: block;
  line-height: 20px;
  font-size: 20px;
  margin: 2px 4px 2px 8px;
  width: 200px;
}

#panel h2 {
  display: block;
  font-size: 16px;
  line-height: 16px;
  margin: 2px 4px 2px 8px;
  width: 160px;
}

#panel h3 {
  display: block;
  font-size: 12px;
  font-weight: 800;
  line-height: 12px;
  margin: 2px 4px 2px 8px;
  width: 120px;
}

#panel h4 {
  display: block;
  font-size: 12px;
  font-weight: 200;
  line-height: 12px;
  margin: 2px 4px 2px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 165px;
}

#panel label {
  display: block;
  flex: 1;
  font-size: 12px;
  line-height: 12px;
  margin: 2px 4px 2px 8px;
}

#panel input {
  border: thin #BDBDBD dashed;
  display: block;
  font-size: 12px;
  height: 12px;
  line-height: 12px;
  margin: 4px 0 0 0;
  padding: 0;
}

#panel input.input1Box {
  flex: 4;
}

#panel input.input2Box {
  flex: 2;
}

#panel select {
  background-color: #F7F7F7;
  border: 0;
  display: block;
  flex: 3;
  font-size: 10px;
  height: 12px;
  line-height: 12px;
  margin: 4px 0 0 0;
  padding: 0;
}

#panel .field {
  padding: 4px 0 0 0;
}

#panel #nextStep {
  display: flex;
  padding: 8px 16px;
}

#panel .nextBtnClass {
  background-color: var(--secondary-background-color);
  color: var(--primary-background-color);
  cursor: pointer;
  flex: 1;
  font-size: 12px;
  line-height: 12px;
  margin: 0 1px;
  padding: 4px;
  text-align: center;
}

#panel .iconBox {
  cursor: pointer;
  height: 12px;
  margin: 4px 0 0 0;
  width: 12px;
}

#panel .imgBox {
  background-color: #F7F7F7;
  flex: 1;
  height: 40px;
  margin: 4px 0 0 0;
}

/* Tooltip container */
.tooltip-trigger {
  position: relative;
  display: inline-block;
}
