// Copyright 2013 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.chrome.browser.sync;

public class ModelTypeSelection {
#define DEFINE_MODEL_TYPE_SELECTION(name, value) public static final int name = value;
#include "chrome/browser/sync/profile_sync_service_model_type_selection_android.h"
}
