// Copyright (c) 2013 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.chrome.browser.ui.toolbar;

public class ToolbarModelSecurityLevel {
#define DEFINE_TOOLBAR_MODEL_SECURITY_LEVEL(name,value) \
  public static final int name = value;
#include "chrome/browser/ui/toolbar/toolbar_model_security_level_list.h"
}
