/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#controls {
  border: 1px solid #ababab;
  text-align: center;
  padding: 5px;
}

#notice {
  margin: 1em;
}