/**
 * Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

html,
body,
webview,
.section {
  font-family: 'Roboto';
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#arc-support {
  padding: 0;
}

.button-separator {
  width: 1px;
}

.checkbox-option {
  height: 16px;
  margin: 0;
  padding: 0 8px 0 0;
  width: 16px;
}

.image-header {
  display: block;
  height: 300px;
  padding: 0;
  width: 960px;
}

.section {
  text-align: center;
}

.section-buttons {
  margin: auto;
  padding: 16px 0 24px 0;
  width: 468px;
}

.section-flex {
  display: flex;
  flex-direction: column;
  height: 688px;
}

.section-checkbox-container {
  margin: auto;
  padding: 16px 0 0 0;
  text-align: left;
  width: 468px;
}

.section-terms {
  border: 1px solid #e6e6e6;
  color: rgba(0, 0, 0, 0.54);
  flex: auto;
  margin: auto;
  overflow: hidden;
  padding: 0;
  width: 468px;
}

.text-desc {
  color: rgba(0, 0, 0, 0.54);
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin: auto;
  padding: 16px 0 0 0;
  width: 600px;
}

.checkbox-text {
  color: rgba(0, 0, 0, 0.54);
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.text-status {
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
  font-weight: 500;
  margin: auto;
  padding: 11px 0 40px 0;
}

.text-terms-title {
  color: rgba(0, 0, 0, 0.54);
  font-size: 10px;
  font-weight: 500;
  margin: auto;
  padding: 14px 0 8px 0;
  text-align: left;
  width: 468px;
}

.text-title {
  color: rgba(0, 0, 0, 0.87);
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  margin: auto;
  padding: 4px 0 0 0;
  width: 800px;
}

a:link {
  color: rgb(51, 103, 214);
  text-decoration: none;
}

a:visited {
  color: rgb(51, 103, 214);
  text-decoration: none;
}
