/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  color: white;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

paper-menu {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

paper-menu > * {
  -webkit-padding-start: 40px;
  font-size: 15px;
  margin-bottom: 5px;
  min-height: 45px;
}

paper-menu > *.iron-selected {
  background-color: rgb(38, 166, 154);
}
