<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2012 The Chromium Authors. All rights reserved.  Use of this
  source code is governed by a BSD-style license that can be found in the
  LICENSE file.
-->

<!-- Please keep this in sync with the downstream android_webview manifest.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.webview">
    <uses-sdk android:minSdkVersion="21"
              android:targetSdkVersion="21">
    </uses-sdk>

    <uses-feature android:name="android.hardware.touchscreen"
            android:required="false"/>

    <application android:label="Android System WebView"
        android:icon="@drawable/icon_webview"
        android:multiArch="true">
    </application>
</manifest>
