CFBundleName = "{% trans %}MAC_PREFPANE_BUNDLE_NAME{% endtrans %}";
NSHumanReadableCopyright = "{% trans %}COPYRIGHT{% endtrans %}";
NSPrefPaneIconLabel = "{% trans %}MAC_PREFPANE_ICON_LABEL{% endtrans %}";
