<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html DIR="LTR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="initial-scale=1.0">
<title>Chrome 및 Chrome OS 추가 서비스 약관</title>
<style>
:root { color-scheme: light dark }
body { font-family:Arial; font-size:13px; }
h2 { font-size:1em; margin-top:0 }
</style>
</head>

<body>
<h2>
 Chrome 및 Chrome OS 추가 서비스 약관
</h2>
<p>
 Chrome 또는 Chrome OS를 사용하면 Google 서비스 약관(https://policies.google.com/terms) 및 다음 Chrome 및 Chrome OS 추가 서비스 약관에 동의하는 것으로 간주됩니다.
</p>
<p>
 본 Chrome 및 Chrome OS 추가 서비스 약관은 Chrome 및 Chrome OS의 실행 가능한 코드 버전에 적용됩니다. 대부분의 Chrome 소스 코드는 https://code.google.com/chromium/terms.html 페이지에 명시된 오픈소스 소프트웨어 라이선스 계약에 따라 무료로 제공됩니다.
</p>
<p>
 Chrome 및 Chrome OS의 일부 구성요소를 사용하는 경우 다음 약관이 적용됩니다.
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  본 제품은 (i) AVC 표준('AVC 동영상')에 따라 동영상을 인코딩하거나, (ii) 개인 활동을 하는 소비자가 인코딩했거나 AVC 동영상을 제공하도록 라이선스를 부여받은 동영상 공급자로부터 획득한 AVC 동영상을 디코딩할 용도로, 소비자가 개인적으로 사용하거나 보수를 받지 않는 기타 방법으로 사용하기 위한 AVC 특허 포트폴리오 라이선스에 따라 사용이 허가됩니다. 다른 용도로는 어떤 라이선스도 부여되지 않으며 그러한 의미도 내포하지 않습니다. MPEG LA, L.L.C.에서 추가 정보를 확인할 수 있습니다. http://www.mpegla.com 페이지를 참조하세요.
 </p>
</section>
<section>
 <p>
  <strong>
   Adobe
  </strong>
 </p>
 <p>
  Chrome에는 Adobe Systems Incorporated와 Adobe Software Ireland Limited('Adobe'로 통칭)에서 제공하는 구성요소가 하나 이상 포함될 수 있습니다. Google에서 제공하는 Adobe 소프트웨어('Adobe Software')를 사용하는 경우 다음의 추가 약관('Adobe 약관')이 적용됩니다. Adobe Software를 수령하는 주체인 귀하를 이후로 '재실시권자'로 칭합니다.
 </p>
 <p>
  1. 라이선스 제한
 </p>
 <p>
  (a) Flash Player 버전 10.x는 브라우저 플러그인으로만 설계된 것입니다. 재실시권자는 웹 페이지에 있는 콘텐츠를 재생하기 위한 브라우저 플러그인 이외의 용도로 사용하기 위해 본 Adobe Software를 수정하거나 배포할 수 없습니다. 예를 들어, 재실시권자는 브라우저 외부에서 작동하는 애플리케이션(예: 독립형 애플리케이션, 위젯, 기기 UI)과 상호 운용할 수 있도록 하기 위해 본 Adobe Software를 수정할 수 없습니다.
 </p>
 <p>
  (b) 재실시권자는 Flash Player 버전 10.x를 독립형 애플리케이션으로 사용하여 웹페이지의 콘텐츠를 재생할 수 있도록 하는 방식으로 브라우저 플러그인 인터페이스를 통해 해당 확장 프로그램의 API를 노출하지 않아야 합니다.
 </p>
 <p>
  (c) Chrome-Reader Software를 사용하여 Adobe DRM 이외의 디지털 권한 관리 프로토콜 또는 시스템을 활용하는 PDF 또는 EPUB 문서를 렌더링할 수 없습니다.
 </p>
 <p>
  (d) Adobe DRM으로 보호된 모든 PDF 및 EPUB 문서에 대해 Chrome-Reader Software에서 Adobe DRM를 사용해야 합니다.
 </p>
 <p>
  (e) 기술 사양에서 명시적으로 허용하는 경우를 제외하면, Chrome-Reader Software는 Adobe가 Adobe Software를 통해 제공하는 어떤 기능도 사용 중지할 수 없으며, 여기에는 PDF 및 EPUB 형식과 Adobe DRM에 대한 지원이 포함되지만 이에 국한되지는 않습니다.
 </p>
 <p>
  2. 전자 전송. CD-ROM, DVD-ROM 또는 다른 저장 매체에 저장하거나 웹사이트, 인터넷, 인트라넷 또는 유사한 기술로 구현된 공간에서 Adobe Software를 다운로드('전자 전송')하는 것과 같은 방법으로 재실시권자가 Adobe Software의 배포를 허용할 경우 무단 사용을 방지하기 위한 적절한 보안 조치를 취해야 한다는 점에 동의한다면 재실시권자는 웹사이트, 인터넷, 인트라넷 또는 유사한 기술로 구현된 공간에서 Adobe Software의 전자 전송을 허용할 수 있습니다. 이 문서에서 승인한 전자 전송에 관해, 재실시권자는 보안 관련 제한 및/또는 재실시권자 제품의 최종 사용자 배포 제한을 비롯하여 Adobe가 설정한 모든 합리적 사용 제한의 적용에 동의합니다.
 </p>
 <p>
  3. EULA 및 배포 약관
 </p>
 <p>
  (a) 재실시권자는 재실시권자와 공급업체의 이익을 위해 각각 다음과 같은 최소한의 조건('최종 사용자 라이선스')을 포함하여 유효한 최종 사용자 라이선스 계약에 따라 최종 사용자에게 Adobe Software를 배포합니다. (i) 배포 및 복사 금지, (ii) 수정 및 파생 작업 금지, (iii) 디컴파일, 리버스 엔지니어링, 디어셈블링, 그 밖에 Adobe Software를 사람이 인지할 수 있는 형태로 축소하는 행위 금지, (iv) 재실시권자와 라이선스 제공자가 (8조에 정의된) 재실시권자 제품을 소유하고 있음을 나타내는 조항, (v) 간접적, 특수적, 우발적, 처벌적 및 부수적 손해에 대한 면책조항, (vi) 법률에서 허용하는 최대한으로 적용되는 모든 법적 보증에 대한 면책조항을 포함한 다른 업계 표준 면책조항 및 제한사항
 </p>
 <p>
  (b) 재실시권자는 Adobe 약관으로 Adobe를 보호하는 조건을 포함하여, 재실시권자와 공급업체의 이익을 위해 유효한 배포 라이선스 계약에 따라 재실시권자의 유통업자에게 Adobe Software가 배포되도록 해야 합니다.
 </p>
 <p>
  4. 오픈소스. 재실시권자는 사용, 수정 및/또는 배포 조건으로서 Adobe Software를 (i) 소스 코드 형태로 공개 또는 배포하거나, (ii) 파생 제품을 만들 목적으로 라이선스로 제공하거나, (iii) 무료로 재배포할 수 있어야 한다는 요구사항으로 해석하거나 해석할 수 있는 오픈소스 라이선스 또는 스키마에 종속시키게 될 Adobe의 지적 재산 또는 독점 권리 하에 어떤 권한이나 특권도 제3자에게 직접 또는 간접적으로 부여하지 않을 것이며 그럴 의도조차 가지지 않을 것입니다. 분명히 기술하자면 전술한 제한 사항이 재실시권자가 배포를 할 수 없음을 의미하는 것이 아니며 재실시권자는 요금을 받지 않고 Google Software와 함께 번들 형태로 Adobe Software를 배포합니다.
 </p>
 <p>
  5. 추가 약관. 재실시권자에게 제공한 Adobe Software의 모든 업데이트, 업그레이드, 새 버전('업그레이드'로 통칭)에 관해, Adobe는 업그레이드 및 향후 버전과, 해당 업그레이드의 모든 재실시권자에 대해 Adobe에서 부과한 제한의 정도까지만 적용 가능한 추가적인 이용약관을 요구할 권리가 있습니다. 재실시권자가 해당 추가 이용약관에 동의하지 않는 경우 해당 업그레이드에 관한 라이선스 권한을 가질 수 없으며, Adobe Software에 관한 재실시권자의 라이선스 권한은 해당 추가 약관을 재실시권자에게 제공한 날짜로부터 90일째 되는 날에 자동으로 종료됩니다.
 </p>
 <p>
  6. 독점 권리 고지. 재실시권자는 Adobe Software 또는 부속 자료에 나타나는 Adobe와 (있는 경우) 라이선스 제공자의 저작권 고지, 상표, 로고 또는 관련 고지 또는 기타 독점 권리 고지를 삭제하거나 어떤 식으로든 변경하지 않아야 하며, 유통업자에게도 이와 동일하게 요구해야 합니다.
 </p>
 <p>
  7. 기술 요구사항. 재실시권자와 유통업자는 (i) http://www.adobe.com/mobile/licensees(또는 양수인의 웹사이트)에 게시된 기술 사양을 충족하고, (ii) 아래에 설명한 것처럼 Adobe가 확인한 기기에서 Adobe Software 및/또는 업그레이드를 배포만 할 수 있습니다.
 </p>
 <p>
  8. 인증 및 업데이트. 재실시권자는 Adobe에서 인증할 수 있도록 Google에서 알려주는 기기 인증 예외 기준을 충족시키지 못하는 Adobe Software 및/또는 업그레이드('재실시권자 제품')를 포함한 재실시권자의 각 제품과 그에 따른 각 버전을 Adobe에 제출해야 합니다. 재실시권자는 페이지에 있는 제출 당시 현행 약관에 따라 인증 패키지를 구입하여 재실시권자가 제출한 각각의 건에 대해 요금을 지불해야 합니다. 인증을 통과하지 못한 재실시권자 제품은 배포할 수 없습니다. 인증은 http://flashmobile.adobe.com/ 페이지에 설명되어 있는 Adobe의 당시 현행 프로세스('인증')에 따라 이루어집니다.
 </p>
 <p>
  9. 프로필과 Device Central. 재실시권자는 인증 프로세스의 일부 또는 다른 방법으로 재실시권자 제품에 대한 특정 프로필 정보를 입력해야 하며 그러한 정보를 Adobe에 제공해야 합니다. Adobe는 (i) (재실시권자 제품이 인증 대상인 경우) 재실시권자 제품 인증에 필요한 프로필 정보를 합당한 수준에서 사용하고, (ii) 이 프로필 정보를 https://devices.adobe.com/partnerportal/에 있는 'Adobe Device Intelligence 시스템'에 표시하고 Adobe의 저작 및 개발 도구와 서비스를 통해 제공하여 개발자와 최종 사용자가 재실시권자 제품에서 콘텐츠나 애플리케이션이 어떻게 표시되는지(예: 동영상 이미지가 특정 전화기에 어떻게 나타나는지) 보도록 할 수 있습니다.
 </p>
 <p>
  10. 내보내기. 재실시권자는 미국의 법률과 규정에 따라 원산지가 미국인 상품과 기술 데이터의 수출과 재수출이 제한된다는 사실을 알고 있으며, 이런 상품에 Adobe Software가 포함될 수 있습니다. 재실시권자는 적절한 미국 및 외국 정부의 통관수속(있는 경우)을 거치지 않고 Adobe Software를 수출 또는 재수출하지 않을 것이라는 데 동의합니다.
 </p>
 <p>
  11.  기술 패스 스루 약관.
 </p>
 <p>
  (a) 관련 당사자와의 관계에서 이루어진 적절한 허가 또는 계약에 따르는 경우를 제외하고, 재실시권자는 PC 이외의 기기(예: 휴대전화 또는 셋톱 박스)에서 mp3 오디오 전용(.mp3) 데이터의 인코딩 또는 디코딩을 위해 Adobe Software를 사용하지도 사용하도록 허용하지도 않을 것이며, Adobe Software에 포함된 mp3 인코더 또는 디코더를 사용하거나 Adobe Software 이외의 제품으로 액세스할 수도 없습니다. 동영상, 사진 또는 다른 데이터가 들어 있는 swf 또는 flv 파일에 포함된 MP3 데이터의 인코딩 또는 디코딩 작업에는 Adobe Software를 사용할 수 있습니다. 재실시권자는 본 조항의 금지사항에 설명된 바와 같이 PC 이외의 기기에 Adobe Software를 사용하려면 MP3 기술과 관련된 지적 재산권을 보유한 타사에 라이선스 로열티나 다른 명목으로 소정의 금액을 지불해야 할 수도 있고, Adobe와 재실시권자 그 누구도 타사의 지적 재산권 때문에 그런 용도로 사용한 데 대해 로열티나 다른 명목의 금액을 지불하지 않았음을 인정합니다. 재실시권자가 MP3 인코더 또는 디코더를 그런 용도로 사용해야 할 경우, 일체의 관련 특허권을 포함하여 필요한 지적 재산권 관련 라이선스를 획득할 책임은 재실시권자에게 있습니다.
 </p>
 <p>
  (b) 재실시권자는 (i) Adobe Software를 사용하여 Flash 동영상 파일 형식(.flv 또는 .f4v)으로 동영상을 디코딩하기 위해 필요에 따라 On2 소스 코드(아래에 소스 코드의 구성요소로 제공됨)와 (ii) Adobe Software의 성능을 향상시키고 버그를 수정한다는 제한적인 목적을 가진 Sorenson Spark 소스 코드(아래에 소스 코드의 구성요소로 제공됨)를 사용, 복사, 복제 및 수정하지 않을 것입니다. Adobe Software와 함께 제공되는 모든 코덱은 Adobe Software의 통합된 한 부분으로만 사용 및 배포할 수 있고, 다른 Google 애플리케이션을 포함한 다른 어떤 애플리케이션으로도 액세스할 수 없습니다.
 </p>
 <p>
  (c) 소스 코드는 AAC 코덱 및/또는 HE-AAC 코덱('AAC 코덱')과 함께 제공될 수 있습니다. 재실시권자가 AAC 코덱을 사용할 최종 제품에 대해 VIA Licensing에서 제공하는 대로 필요한 특허를 포괄하는 올바른 특허 라이선스를 획득한다는 조건으로 AAC 코덱을 사용할 수 있습니다. 재실시권자는 Adobe가 본 계약에서 재실시권자나 재실시권자가 라이선스를 부여한 재실시권자에게 AAC 코덱에 대한 특허 라이선스를 제공하지는 않는다는 점을 알고 있고 이에 동의합니다.
 </p>
 <p>
  (d) 소스 코드에는 (i) AVC 표준('AVC 동영상')에 따라 동영상을 인코딩하거나 (ii) 개인적으로 비상업적 활동을 하는 소비자가 인코딩하거나 AVC 동영상을 제공하도록 라이선스를 받은 동영상 제공업체로부터 획득한 AVC 동영상을 디코딩하기 위해 소비자가 개인적이고 비상업적으로 사용하기 위한 AVC 특허 포트폴리오 라이선스에 따라 사용이 허가된 코드가 포함될 수 있습니다. 다른 용도로는 어떤 라이선스 도 부여되지 않고 그런 의미도 내포하지 않습니다. MPEG LA, L.L.C.에서 추가 정보를 얻을 수 있습니다. http://www.mpegla.com 페이지를 참조하십시오.
 </p>
 <p>
  12. 업데이트. 재실시권자는 Google Software와 함께 번들로 Adobe Software를 포함하고 있는 재실시권자의 모든 제품('재실시권자 제품')에서 Adobe Software를 업데이트하려는 Google이나 Adobe의 노력을 교묘히 회피하지 않을 것입니다.
 </p>
 <p>
  13. 저작자 표시 및 독점 권리 고지. 재실시권자는 공개적으로 사용할 수 있는 재실시권자 제품 사양에 Adobe Software를 표시하고 재실시권자 제품에 포함된 타사 제품의 브랜드 표시와 일관된 방식으로 재실시권자 제품 포장이나 마케팅 자료에 알맞은 Adobe Software 브랜드(Adobe의 회사 로고는 제외함)를 포함시킬 것입니다.
 </p>
 <p>
  14. 무보증. Adobe Software를 '현재 상태 그대로' 사용 및 복제할 수 있게 재실시권자에게 제공할 수 있고, Adobe는 소프트웨어의 사용이나 성능에 관해서는 어떤 보증도 하지 않습니다. Adobe와 협력 공급업체는 Adobe Software를 사용하여 얻을 수 있는 성능이나 결과에 대한 보증을 하지 않고 할 수도 없습니다. Adobe와 협력 공급업체가 재실시권자의 관할권에서 재실시권자에게 적용되는 법률에 따라 배제되거나 제한될 수 없거나 그렇게 허용되지 않는 범위까지의 모든 보증, 조건, 표현 또는 약관을 제외하고, Adobe와 협력 공급업체는 타사의 권리에 대한 비침해, 상품성, 완성도, 품질 만족 또는 특정 목적 적합성을 포함한(이에 국한되는 것은 아님) 일체의 사안에 관해 (성문법, 관습법, 관례, 관행 등의 여부를 불문하고 명시적이든 묵시적이든) 어떤 보증, 조건, 표현 또는 약관도 제시하지 않습니다. 재실시권자는 Adobe를 대신하여 명시적이든 묵시적이든 어떤 보증도 하지 않겠다는 점에 동의합니다.
 </p>
 <p>
  15. 책임의 제한. Adobe나 협력 공급업체는 그 무엇이 되었든 일체의 손해, 클레임 또는 비용이나 일체의 부수적, 간접적 또는 우발적 손해나 수익의 손실 또는 비용 절약 기회의 손실에 대해 어떤 경우에도 재실시권자에게 책임을 지지 않으며, 이는 Adobe 담당자가 그런 손실, 손해, 클레임 또는 비용 발생 가능성이나 타사의 클레임에 대한 통보를 받았다 하더라도 마찬가지입니다. 전술한 제한 및 제외 사항은 재실시권자의 관할권에서 적용되는 법률에서 허용하는 범위까지 해당됩니다. 본 계약에 따르거나 이와 관련하여 Adobe와 협력 공급업체가 지는 총 배상 책임은 일천 달러(US $1,000)로 제한됩니다. 본 계약에는 Adobe의 태만이나 불법적인 기만 행위(사기)로 인한 사망 또는 부상 사고가 발생한 경우 재실시권자에 대한 Adobe의 배상 책임에 제한을 두는 조항은 없습니다. Adobe는 본 계약에 따른 의무, 보증 및 책임을 부인, 배제 및/또는 제한할 목적으로 공급업체의 입장을 대변하고 있는 것이지, 다른 어떤 동기와 목적도 없습니다.
 </p>
 <p>
  16. 콘텐츠 보호 약관
 </p>
 <p>
  (a) 정의
 </p>
 <p>
  '규정 준수 및 견고성 규칙'은 http://www.adobe.com/mobile/licensees 또는 해당 양수인의 웹사이트에 있는 Adobe Software에 대한 규정 준수 및 견고성 규칙을 설명하는 문서를 뜻합니다.
 </p>
 <p>
  '콘텐츠 보호 기능'은 규정 준수 및 견고성 규칙을 지키고 Adobe Software 사용자가 소비용으로 배포된 디지털 콘텐츠에 관해 해당 소유자나 라이선스가 있는 유통업자의 승인을 받지 않고 재생, 복사, 수정, 재배포 또는 다른 행위를 할 때 그런 행위를 방지할 수 있도록 설계된 Adobe Software의 해당 기능을 뜻합니다.
 </p>
 <p>
  '콘텐츠 보호 코드'는 특정 콘텐츠 보호 기능을 사용하는 Adobe Software의 지정 버전 내에 있는 코드를 뜻합니다.
 </p>
 <p>
  '키'는 디지털 콘텐츠의 암호 해독 시 사용하기 위해 Adobe Software에 포함된 암호 값을 뜻합니다.
 </p>
 <p>
  (b) 라이선스 제한. Adobe Software에 관한 라이선스를 행사할 수 있는 재실시권자의 권리에는 다음의 추가적 제한과 의무가 적용됩니다. 재실시권자는 재실시권자의 고객이 Adobe Software에 관해 재실시권자에게 적용되는 것과 같은 수준의 이런 제한과 의무 사항을 준수하도록 할 것입니다. 재실시권자의 고객이 이런 추가 제한 및 의무 사항을 준수하지 않는 경우에는 이를 재실시권자의 실질적인 계약 위반으로 처리합니다.
 </p>
 <p>
  b.1. 재실시권자와 고객은 상기 Adobe 이용약관에서 설명한 인증 프로세스 중 재실시권자가 확인한 바와 같이 규정 준수 및 견고성 규칙을 지키는 Adobe Software만 배포할 수 있습니다.
 </p>
 <p>
  b.2. 재실시권자는 (i) Adobe Software 사용자가 Adobe Software 또는 이 소프트웨어를 정당하게 사용하기 위해 디지털 콘텐츠를 암호화 또는 복호화하는 데 사용되는 관련 Adobe Software의 콘텐츠 보호 기능을 회피하거나, (ii) Adobe Software 사용자가 Adobe Software 또는 이 소프트웨어를 정당하게 사용하기 위해 디지털 콘텐츠를 암호화 또는 복호화하는 데 사용되는 모든 Adobe Software의 콘텐츠 보호 기능을 회피하도록 설계된 제품을 개발 또는 배포해서는 안 됩니다.
 </p>
 <p>
  (c) 이에 키는 Adobe의 기밀 정보로 지정되며, 재실시권자는 키에 관해 Adobe의 소스 코드 처리 절차(요청 시 Adobe에서 제공할 것임)를 준수합니다.
 </p>
 <p>
  (d) 가처분에 의한 구제. 재실시권자는 본 계약을 위반하면 Adobe Software의 콘텐츠 보호 기능이 손상되어 해당 콘텐츠 보호 기능에 의존하는 Adobe와 디지털 콘텐츠 소유자의 이익에 지속적으로 큰 손해를 초래할 수 있고 그런 손해에 대해 충분히 보상하려면 금전적 손해 배상만으로는 불충분할 수 있다는 점에 동의합니다. 따라서 재실시권자는 Adobe가 금전적 손해 외에도, 그러한 계약 위반으로 인한 손해를 예방하거나 제한하기 위해 가처분에 의한 구제 수단을 동원할 권리가 있다는 점에도 동의합니다.
 </p>
 <p>
  17. 의도된 제3의 수익자. Adobe 이용약관을 포함하여(이에 국한되지는 않음) Adobe Software에 관해 Google이 재실시권자와 체결한 계약에서 의도된 제3의 수익자는 Adobe Systems Incorporated와 Adobe Software Ireland Limited입니다.Google과 체결한 계약에 이와 충돌하는 조항이 있을지라도, 재실시권자는 Google이 재실시권자의 신원을 Adobe에 공개하고 재실시권자가 Adobe 이용약관을 비롯하여 Google과 라이선스 계약을 체결했음을 서면으로 증명할 수 있다는 점에 동의합니다. 재실시권자는 각각의 라이선스 수혜자와 계약을 맺어야 하고, 계약을 맺은 라이선스 수혜자가 Adobe Software를 재배포할 수 있는 경우 해당 계약에는 Adobe 이용약관이 포함될 것입니다.
 </p>
</section>
<p>
 또한 Chrome OS의 일부 구성요소를 사용하는 경우 다음 약관이 적용됩니다.
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  본 제품은 (i) MPEG-4 시각적 표준(\'MPEG-4 동영상\')에 따라 동영상을 인코딩하거나, (ii) 개인 및 비상업적 활동을 하는 소비자가 인코딩했거나 MPEG-4 동영상을 제공하도록 MPEG LA로부터 라이선스를 부여받은 동영상 제공업체로부터 획득한 MPEG-4 동영상을 디코딩할 용도로, 소비자가 개인적이고 비상업적으로 사용하기 위한 MPEG-4 시각적 특허 포트폴리오 라이선스에 따라 사용이 허가됩니다. 다른 용도로는 어떤 라이선스도 부여되지 않으며 그러한 의미도 내포하지 않습니다. 홍보 목적, 내부적 및 상업적 사용 및 라이선스와 관련된 정보 등의 추가 정보는 MPEG LA, L.L.C.에서 확인할 수 있습니다. http://www.mpegla.com 페이지를 참조하세요.
 </p>
</section>

</body>
</html>
