<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html DIR="LTR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="initial-scale=1.0">
<title>Google Chrome 和 Chrome 作業系統的《附加服務條款》</title>
<style>
:root { color-scheme: light dark }
body { font-family:Arial; font-size:13px; }
h2 { font-size:1em; margin-top:0 }
</style>
</head>

<body>
<h2>
 Google Chrome 和 Chrome 作業系統的《附加服務條款》
</h2>
<p>
 使用 Chrome 或 Chrome 作業系統，即表示您同意 https://policies.google.com/terms 所述的《Google 服務條款》，以及 Google Chrome 和 Chrome 作業系統的《附加服務條款》。
</p>
<p>
 這些 Google Chrome 和 Chrome 作業系統的《附加服務條款》適用於 Chrome 和 Chrome 作業系統的可執行程式碼版本。依據開放原始碼軟體授權協議 (位於 https://code.google.com/chromium/terms.html)，您可以免費取得 Chrome 大部分的原始碼。
</p>
<p>
 您使用 Chrome 和 Chrome 作業系統的特定元件時，應遵守下列條款的規定：
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  本產品係經 AVC PATENT PORTFOLIO LICENSE 授權，適用於消費者的個人及非商業用途。消費者使用時得 (i) 遵照 AVC STANDARD 編碼影片 (「AVC 影片」)，及/或 (ii) 對於從事非商業性個人活動之消費者所編碼之影片，及/或自經授權可提供 AVC 影片之影片供應商處所取得之影片，進行解碼。 本條款不授予或默示允許任何其他使用授權。您亦可從 MPEG LA, L.L.C. 取得其他資訊，網址是 HTTP://WWW.MPEGLA.COM。
 </p>
</section>
<section>
 <p>
  <strong>
   Adobe
  </strong>
 </p>
 <p>
  Google Chrome 可能包含 Adobe Systems Incorporated 及 Adobe Software Ireland Limited (合稱「Adobe」) 提供的一或多項元件。您使用 Google 提供的 Adobe 軟體 (簡稱「Adobe 軟體」) 時，需受下列附加條款 (簡稱「Adobe 條款」) 之規範。您身為「Adobe 軟體」的收受實體，以下所稱「轉授權使用者」即指您。
 </p>
 <p>
  1. 授權限制。
 </p>
 <p>
  (a) Flash Player 10.x 版的設計用途僅止於瀏覽器外掛程式，「轉授權使用者」如修改或散佈該「Adobe 軟體」，則只能作為網頁上播放內容的瀏覽器外掛程式，不得用於他途。例如，「轉授權使用者」不得修改該「Adobe 軟體」，使其與瀏覽器外執行的應用程式 (例如獨立的應用程式、小工具、裝置 UI) 交互運作。
 </p>
 <p>
  (b)「轉授權使用者」不得透過瀏覽器外掛程式介面，揭露 Flash Player 10.x 版的任何 API，使這類擴充功能以獨立應用程式的型態播放網頁內容。
 </p>
 <p>
  (c) 對於運用數位版權管理協定或非 Adobe DRM 系統的任何 PDF 和 EPUB 文件，不得使用 Chrome 讀取程式軟體進行轉譯。
 </p>
 <p>
  (d) Chrome 讀取程式軟體中必須啟用 Adobe DRM，才能讀取受到 Adobe DRM 保護的 PDF 和 EPUB 文件。
 </p>
 <p>
  (e) 除非技術規格另行明示允許，否則 Chrome 讀取程式軟體不得停用 Adobe 於「Adobe 軟體」中提供的任何功能，包括 (但不限於) 對 PDF 格式、EPUB 格式及 Adobe DRM 的支援。
 </p>
 <p>
  2. 電子傳輸。「轉授權使用者」在遵守以下前提之情況下，得允許他人從網站、網際網路、內部網路或類似技術 (簡稱「電子傳輸」) 下載「Adobe 軟體」：「轉授權使用者」須同意，其經明示許可散佈「Adobe 軟體」之任何行為，包括經由 CD-ROM、DVD-ROM 或其他儲存媒體及「電子傳輸」散佈者，會受合理的安全性措施約束，以預防未經授權之使用，則關於這類依本文核准的「電子傳輸」，「轉授權使用者」同意採用 Adobe 設定的所有合理使用限制，包括安全性及/或針對向使用者散佈「轉授權使用者產品」等相關限制。
 </p>
 <p>
  3. EULA 及散佈條款。
 </p>
 <p>
  (a)「轉授權使用者」必須根據有效的使用者授權協議散佈「Adobe 軟體」；該協議必須有利於「轉授權使用者」和其供應商，且至少包含下列條款 (簡稱「使用者授權」)：(i) 禁止散佈及複製；(ii) 禁止修改及衍生作品；(iii) 禁止反向編譯、反向工程、反向組譯或是將「Adobe 軟體」還原為人類可瞭解的形式；(iv) 以條文說明「轉授權使用者」與其授權人對「轉授權使用者產品」的所有權 (如第 8 節條文所定義)；(v) 間接性、特殊性、附隨性、懲罰性及衍生性等損害之免責聲明；以及 (vi) 其他適用的業界標準免責聲明及限制，包括在不同情況下，於法律允許的最大範圍內，所有適用於法定擔保責任的免責聲明。
 </p>
 <p>
  (b)「轉授權使用者」必須根據有效的散佈授權協議向「轉授權使用者」的散佈者散佈「Adobe 軟體」；該協議必須含有與「Adobe 條款」同等保護 Adobe 並有利於「轉授權使用者」及其供應商之條款。
 </p>
 <p>
  4. 開放原始碼。「轉授權使用者」不得直接、間接或意圖將 Adobe 智慧財產和專屬權利或免責事由授與第三方，導致該智慧財產受開放原始碼授權規範，或受控於其他體制，而將「Adobe 軟體」的使用、修改及/或散佈解釋為必須：(i) 以原始碼形式揭露或散佈；(ii) 授權用於創作衍生作品；或 (iii) 可無償轉散佈。明確而言，上述限制並不妨礙「轉授權使用者」進行散佈，且「轉授權使用者」可無償散佈搭配 Google 軟體的「Adobe 軟體」。
 </p>
 <p>
  5. 附加條款。凡向「轉授權使用者」提供的所有「Adobe 軟體」更新、升級、新版本 (合稱「升級」)，Adobe 保留另加單獨適用於「升級」及其未來版本之附加條款及細則之權利，且 Adobe 施加之限制範圍僅限於這類「升級」之全體授權使用者。「轉授權使用者」如不同意這類附加條款或條件，即無法取得這類「升級」之使用授權，「轉授權使用者」的「Adobe 軟體」使用授權也會自動於「轉授權使用者」知悉這類附加條款之日起第 90 天終止。
 </p>
 <p>
  6. 專屬權利聲明。「轉授權使用者」本身不得刪除或以任何方式改變「Adobe 軟體」或隨附資料中 Adobe 及其授權人 (如果有的話) 的版權聲明、商標、標誌或相關聲明，或其他專屬權利聲明，且亦應要求其散佈者不得有上述行為。
 </p>
 <p>
  7. 技術需求。「轉授權使用者」及其散佈者僅得於具備下列條件之裝置上散佈「Adobe 軟體」及/或「升級」：(i) 符合發佈於 http://www.adobe.com/mobile/licensees (或其後續網站) 之技術規格，以及 (ii) 經 Adobe 驗證 (請見下文)。
 </p>
 <p>
  8. 驗證與更新。如果含有「Adobe 軟體」及/或「升級」的「轉授權使用者」產品 (及其各版本；簡稱「轉授權使用者產品」) 不符合與 Google 通訊所需的「裝置驗證」豁免條件，「轉授權使用者」必須將其提交給 Adobe 進行驗證。「轉授權使用者」應依 Adobe 於 http://flashmobile.adobe.com/ 所載現行條款規定購買驗證套件，以支付每次提交驗證的費用，且不得散佈未通過驗證的「轉授權使用者產品」。驗證會依照 Adobe 於 http://flashmobile.adobe.com/ 所述的現行程序完成 (簡稱「驗證」)。
 </p>
 <p>
  9. 設定檔及 Device Central。在「驗證」程序或某些其他方法的過程中，Adobe 會提示「轉授權使用者」輸入有關「轉授權使用者產品」的特定設定檔資訊，「轉授權使用者」應提供這類資訊給 Adobe。Adobe 得 (i) 以必要的合理方式使用這類設定檔資訊，以驗證「轉授權使用者產品」(如果這類產品須經「驗證」)；以及 (ii) 在位於 https://devices.adobe.com/partnerportal/ 的 Adobe Device Intelligence system (Adobe 裝置智慧系統) 中顯示這類設定檔資訊，並經由 Adobe 的製作與開發工具及服務向開發人員及使用者提供資訊，使其看到內容或應用程式如何在「轉授權使用者產品」中顯示 (例如影片影像在某些電話中的顯示方式)。
 </p>
 <p>
  10. 出口。「轉授權使用者」瞭解美國的法令規章限制出口及轉出口美國原產商品及技術資料，其中可能包括「Adobe 軟體」。「轉授權使用者」同意，未獲得適當的美國及外國政府通關許可時，不會出口或轉出口「Adobe 軟體」(如果有的話)。
 </p>
 <p>
  11. 技術轉移條款。
 </p>
 <p>
  (a) 除依據適用方提供或與其達成之適用許可或其協議，「轉授權使用者」不得在非 PC 裝置 (如手機或機上盒) 上使用或允許使用「Adobe 軟體」來編碼或解碼僅含 MP3 (.mp3) 音訊的資料；此外，「Adobe 軟體」中包含的 MP3 編碼器或解碼器亦不得供「Adobe 軟體」以外的產品存取與使用。「Adobe 軟體」可用於編碼或解碼 swf 或 flv 檔案中的 MP3 資料，這類檔案中包含影片、圖片或其他資料。「轉授權使用者」應瞭解在非 PC 裝置上使用「Adobe 軟體」(如本款禁止事項中所述)，可能必須支付持有 MP3 技術相關智慧財產權之第三方授權權利金或其他款項，且 Adobe 與「轉授權使用者」尚未就第三方智慧財產權之這類用途，支付任何權利金或其他款項。「轉授權使用者」若需要將 MP3 編碼器或解碼器用於這類用途，即應負責取得必要之智慧財產權授權，包括任何適用的專利權。
 </p>
 <p>
  (b)「轉授權使用者」不得為了修正「Adobe 軟體」的錯誤及改善其效能，而使用、複製、重製及修改 (i) On2 原始碼 (根據本文以「原始碼」元件形式提供)，因為該碼為讓「Adobe 軟體」解碼以 Flash 影片檔案格式 (.flv 或 .f4v) 製作之影片的必要元件；以及 (ii) Sorenson Spark 原始碼 (根據本文以「原始碼」元件形式提供)。「Adobe 軟體」所附之所有轉碼器只可作為「Adobe 軟體」的整合部分加以使用及散佈，不得供 Google 應用程式在內等其他應用程式存取。
 </p>
 <p>
  (c)「原始碼」可能隨附 AAC 轉碼器及/或 HE-AAC 轉碼器 (簡稱「AAC 轉碼器」)。對於要使用 AAC 轉碼器的最終產品，「轉授權使用者」需針對必要專利取得 VIA Licensing 提供之適當專利授權，才能使用「AAC 轉碼器」。「轉授權使用者」瞭解並同意，根據本「協議」，Adobe 並未向「轉授權使用者」或其轉授權使用者提供「AAC 轉碼器」的專利授權。
 </p>
 <p>
  (d) 「原始碼」可能包含經 AVC PATENT PORTFOLIO LICENSE 授權的程式碼，以供消費者進行下列個人非商業用途使用：(i) 遵循 AVC 標準編碼影片 (簡稱「AVC 影片」)，及/或 (ii) 對於從事個人非商業活動之消費者所編碼的影片，及/或自經授權可提供 AVC 影片之影片供應商處所取得之影片，進行解碼。本協議不授與或默示允許任何其他使用授權。您亦可從 MPEG LA, L.L.C. 取得其他資訊，網址是 http://www.mpegla.com。
 </p>
 <p>
  12. 更新。對於納入「Adobe 軟體」以搭配 Google 軟體的「轉授權使用者」產品 (簡稱「轉授權使用者產品」)，「轉授權使用者」不會規避 Google 或 Adobe 對於其中「Adobe 軟體」的更新。
 </p>
 <p>
  13. 出處及專屬權利聲明。「轉授權使用者」會在可公開取得之「轉授權使用者產品」規格中羅列「Adobe 軟體」，並在「轉授權使用者產品」包裝或行銷資料上，以與內含之其他協力廠商產品品牌一致的方式，附上適當的「Adobe 軟體」品牌 (特別排除 Adobe 公司標誌)。
 </p>
 <p>
  14. 無擔保聲明。「Adobe 軟體」係以「現況」方式提供「轉授權使用者」進行使用及重製，Adobe 不擔保其功用或效能。Adobe 及其供應商不擔保亦無法擔保使用「Adobe 軟體」可獲得之效能或結果。除任何擔保、條件、聲明或條款外，在「轉授權使用者」管轄地之適用法律不能或不得排除或限制之相同範圍內，Adobe 及其供應商不負任何擔保 (無論是成文法、判例法、習慣法、習慣或其他法源之明示或默示)，包括但不限於不侵害第三方權利、適售性、完整性、滿意品質或特定用途適用性之任何擔保、條件、聲明或條款。「轉授權使用者」同意不代表 Adobe 提供任何明示或默示之擔保。
 </p>
 <p>
  15. 責任限制。Adobe 或其供應商在任何情況下，對「轉授權使用者」的任何損害、索賠或費用等等，或者任何衍生性、間接性或附隨性損害，或任何利潤損失或存款損失，皆無須負擔任何責任，即使 Adobe 代表已被告知可能遭受這類損失、損害、索賠或費用，或任何第三方提出之申訴亦同。上述排除及限制適用於「轉授權使用者」管轄地之適用法律允許範圍內。Adobe 及其供應商基於本協議或與本協議相關之法律責任總和以一千美元 (US$1,000) 為限。因 Adobe 之過失或詐害行為 (詐欺) 所致之人員傷亡，本協議任何條款均不限制 Adobe 對「轉授權使用者」的責任。Adobe 僅就本「協議」中明訂之免責、排除及/或限制義務、擔保及責任方面代表其供應商，但僅止於此，不及於其他方面或其他目的。
 </p>
 <p>
  16. 內容保護條款
 </p>
 <p>
  (a) 定義。
 </p>
 <p>
  「標準及健全規則」係指位於 http://www.adobe.com/mobile/licensees 或其後續網站中說明「Adobe 軟體」標準及健全規則的文件。
 </p>
 <p>
  「內容保護功能」係指「Adobe 軟體」中的特定層面，用來確保遵守「標準及健全規則」，並且針對散佈以供「Adobe 軟體」使用者享用之數位內容，防止未經這類數位內容之所有權人或其授權散佈者的授權，即對這類數位內容進行播放、複製、修改、轉散佈或其他動作。
 </p>
 <p>
  「內容保護程式碼」係指「Adobe 軟體」某些指定版本內，可啟用特定「內容保護功能」的程式碼。
 </p>
 <p>
  「金鑰」係指「Adobe 軟體」內用於解密數位內容的加密值。
 </p>
 <p>
  (b) 授權限制。「轉授權使用者」執行「Adobe 軟體」授權之權利，受下列其他限制及義務之規範。「轉授權使用者」應確保其客戶與其遵守相同程度的「Adobe 軟體」限制及義務；如果其客戶違反上述其他限制及義務，即視為「轉授權使用者」之重大違約。
 </p>
 <p>
  b.1.「轉授權使用者」及客戶只能散佈「轉授權使用者」於「Adobe 條款」上述驗證程序中，確認符合「標準及健全規則」的「Adobe 軟體」。
 </p>
 <p>
  b.2.「轉授權使用者」不得 (i) 規避「Adobe 軟體」或任何相關「Adobe 軟體」中的「內容保護功能」(也就是讓「Adobe 軟體」授權使用者得以存取其數位內容之加密或解密機制)；或 (ii) 開發或散佈用來從事前款行為之產品。
 </p>
 <p>
  (c)「金鑰」特此指定為 Adobe 的「機密資訊」，「轉授權使用者」於「金鑰」有關事項方面必須遵照 Adobe 的「原始碼處理程序」(可向 Adobe 索取)。
 </p>
 <p>
  (d) 救濟處分。「轉授權使用者」同意，違反本協議可能會損及「Adobe 軟體」的「內容保護功能」，且會對 Adobe 及信賴這類「內容保護功能」之數位內容所有人造成無可挽救的持續性傷害，金錢賠償可能不足以彌補這類傷害。因此，「轉授權使用者」進一步同意 Adobe 有權尋求救濟處分，以在金錢損失外預防或限制，因這類行為而引致之傷害。
 </p>
 <p>
  17. 意定受益第三人。Adobe Systems Incorporated 及 Adobe Software Ireland Limited，為 Google 與「轉授權使用者」有關「Adobe 軟體」協議 (包括但不限於「Adobe 條款」) 的受益第三人。「轉授權使用者」同意，縱使與 Google 之協議有相反規定， Google 仍得向 Adobe 揭露「轉授權使用者」的身分，並以書面方式證明「轉授權使用者」與 Google 已簽訂包括「Adobe 條款」的授權協議。「轉授權使用者」必須與其每一位授權使用者簽訂協議，且這類授權使用者如經允許可轉散佈「Adobe 軟體」，則這類協議中應納入「Adobe 條款」。
 </p>
</section>
<p>
 此外，您使用 Chrome 作業系統的特定元件時，應遵守下列條款的規定：
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  本產品係經 MPEG-4 VISUAL PATENT PORTFOLIO LICENSE 授權，適用於消費者的個人及非商業用途。消費者使用時得 (i) 遵照 MPEG-4 VISUAL STANDARD 編碼影片 (「MPEG-4 影片」)，及/或 (ii) 對從事非商業性個人活動的消費者所編碼的影片，及/或自經授權可提供 MPEG LA 影片的影片供應商處所取得的影片，進行解碼。本條款不授予或默示允許任何其他使用授權。如需宣傳、內部及商業用途與授權的相關資訊，請造訪 MPEG LA, LLC 網站，網址為 HTTP://WWW.MPEGLA.COM。
 </p>
</section>

</body>
</html>
