<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html DIR="LTR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="initial-scale=1.0">
<title>Google Chrome 和 Chrome 操作系统附加服务条款</title>
<style>
:root { color-scheme: light dark }
body { font-family:Arial; font-size:13px; }
h2 { font-size:1em; margin-top:0 }
</style>
</head>

<body>
<h2>
 Google Chrome 和 Chrome 操作系统附加服务条款
</h2>
<p>
 使用 Chrome 或 Chrome 操作系统即表示您同意接受《Google 服务条款》（全文请见 https://policies.google.com/terms）以及这些 Google Chrome 和 Chrome 操作系统附加服务条款。
</p>
<p>
 这些 Google Chrome 和 Chrome 操作系统附加服务条款适用于 Chrome 和 Chrome 操作系统的可执行代码版本。Chrome 的大部分源代码都根据开源软件许可协议（详见 https://code.google.com/chromium/terms.html）免费提供。
</p>
<p>
 您在使用 Chrome 和 Chrome 操作系统的某些组件时应遵守以下条款：
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  该产品拥有 AVC 专利组合许可 (AVC Patent Portfolio License)，可供消费者出于个人或非营利目的 (i) 对符合 AVC 标准的视频（以下简称“AVC 视频”）进行编码，以及/或者 (ii) 对消费者在个人活动中编码的 AVC 视频和/或通过有权提供 AVC 视频的视频提供方获得的 AVC 视频进行解码。对于其他任何用途，本协议均未授予或暗示授予许可。若想获取更多信息，请访问 MPEG LA 有限公司的网站 (http://www.mpegla.com)。
 </p>
</section>
<section>
 <p>
  <strong>
   Adobe
  </strong>
 </p>
 <p>
  Google Chrome 可能包含一个或多个由 Adobe 系统公司 (Adobe Systems Incorporated) 和 Adobe 软件爱尔兰有限公司 (Adobe Software Ireland Limited)（统称“Adobe”）提供的组件。您对由 Google 提供的 Adobe 软件（下称“Adobe 软件”）的使用受以下附加条款（“Adobe 条款”）的约束。这里的“您”指的是接收 Adobe 软件的实体，以下称为“分许可证持有人”。
 </p>
 <p>
  1. 许可限制。
 </p>
 <p>
  (a) Flash 播放器 10.x 版仅可作为浏览器插件使用。除了用作播放网页内容的浏览器插件之外，分许可证持有人不得出于其他任何目的而修改或分发此 Adobe 软件。例如，分许可证持有人不得为了使此 Adobe 软件可与在浏览器外部运行的应用（例如，独立应用、窗口小部件、设备用户界面）互操作而对此 Adobe 软件进行修改。
 </p>
 <p>
  (b) 分许可证持有人不得通过浏览器插件界面公开 Flash 播放器 10.x 版的任何 API，以免使此类扩展程序可被用作独立应用来播放网页上的内容。
 </p>
 <p>
  (c) Chrome 阅读器软件不得用于呈现使用了非 Adobe 数字版权管理 (DRM) 的数字版权管理协议或系统的任何 PDF 或 EPUB 文档。
 </p>
 <p>
  (d) 必须对 Chrome 阅读器软件中受 Adobe DRM 保护的所有 PDF 和 EPUB 文档启用 Adobe DRM。
 </p>
 <p>
  (e) 除非技术规范中另有明确的许可条款，否则，不得通过 Chrome 阅读器软件停用 Adobe 软件中提供的任何功能，包括但不限于对 PDF、EPUB 格式以及 Adobe DRM 的支持。
 </p>
 <p>
  2. 电子传输。分许可证持有人可以通过网站、互联网、Intranet 或类似技术（“电子传输”）提供 Adobe 软件的下载，前提是分许可证持有人同意，任何由分许可证持有人进行的 Adobe 软件分发（包括在获得明确允许的情况下通过 CD-ROM、DVD-ROM 或其他存储媒介和电子传输进行的分发）应受合理的安全措施的保护，以防止未经授权的使用。对于据此准予进行的电子传输，分许可证持有人同意采用 Adobe 规定的任何合理的使用限制，包括涉及安全和/或向最终用户分发分许可证持有人产品的限制。
 </p>
 <p>
  3. 最终用户许可协议和分发条款。
 </p>
 <p>
  (a) 分许可证持有人应确保根据强制性最终用户许可协议向最终用户分发 Adobe 软件，该许可协议可有利于分许可证持有人及其供应商，但应包含以下最基本条款（“最终用户许可”）：(i) 禁止分发和复制，(ii) 禁止修改和制作衍生作品，(iii) 禁止反编译、反向工程、反汇编或以其他方式将 Adobe 软件还原为常人可理解的形式，(iv) 规定分许可证持有人产品（如第 8 条中定义）的所有权归分许可证持有人及其许可人所有，(v) 对间接的、特殊的、偶发的、惩罚性的或继发的损失的免责声明，以及 (vi) 其他行业标准免责声明和限制，包括（如果适用）：在法律所允许的最大限度内，对所有适用的法律规定的保证的免责声明。
 </p>
 <p>
  (b) 分许可证持有人应确保根据强制性分发许可协议向分许可证持有人的分销商分发 Adobe 软件，该许可协议可有利于分许可证持有人及其供应商，但其中包含的条款对 Adobe 的保护力应与 Adobe 条款相同。
 </p>
 <p>
  4. 开放源代码。分许可证持有人不得向任何第三方直接授予、间接授予或试图授予 Adobe 知识产权或专有权利（这些权利要求上述知识产权必须遵守开放源代码许可或方案）下的任何权利或者豁免权；就上述开放源代码许可或方案而言，其中包含有以下要求或可解释为以下要求的内容，即作为使用、修改和/或分发的条件，Adobe 软件必须 (i) 公开源代码或以源代码形式分发；(ii) 授予制作衍生作品的许可；或 (iii) 可免费再分发。特此说明，上述限制并不是禁止分许可证持有人进行分发，而且分许可证持有人可以通过与 Google 软件捆绑的方式免费分发 Adobe 软件。
 </p>
 <p>
  5. 附加条款。对于提供给分许可证持有人的 Adobe 软件的任何更新版本、升级版本和新版本（统称“升级”），Adobe 保留提出仅适用于升级及后续版本的附加条款的权利（仅限于此类限制是 Adobe 对此升级的所有被许可人提出的情况）。如果分许可证持有人不同意此附加条款，则无法获得有关此升级的任何许可权利，且分许可证持有人对 Adobe 软件的许可权利将在该附加条款向分许可证持有人提供之日起的第 90 日自动终止。
 </p>
 <p>
  6. 专有权利声明。分许可持有人不得（且应要求其分销商也不得）删除或以任何方式更改显示在 Adobe 软件或附加资料中的版权声明、商标、徽标、相关声明或 Adobe（及其许可人，如果有）的其他专有权利声明。
 </p>
 <p>
  7. 技术要求。分许可证持有人及其分销商只能在满足以下条件的设备上分发 Adobe 软件和/或升级：(i) 符合 http://www.adobe.com/mobile/licensees（或后继网站）上发布的技术规范，且 (ii) 已按下述规定通过 Adobe 的验证。
 </p>
 <p>
  8. 验证与更新。如果包含 Adobe 软件和/或升级的产品（及其所有版本，下称“分许可证持有人产品”）不符合 Google 提出的设备验证免检标准，那么分许可证持有人必须向 Adobe 提交所有此类分许可证持有人产品，以便 Adobe 进行验证。分许可证持有人应根据 http://flashmobile.adobe.com/ 上的 Adobe 现行条款购买验证包，以支付分许可证持有人每次提交所产生的费用。未通过验证的分许可证持有人产品不得进行分发。验证将按照 http://flashmobile.adobe.com/ 上说明的 Adobe 的现行流程（“验证”）完成。
 </p>
 <p>
  9. 资料和设备中心。在验证流程或其他方法中，系统将提示分许可证持有人输入与该持有人的产品有关的某些个人资料信息；分许可证持有人应向 Adobe 提供此类信息。Adobe 可能会 (i) 在合理且必要的情况下，使用此类个人资料信息验证分许可证持有人产品（如果此类产品需要进行验证），(ii) 在“Adobe 设备信息系统”（Adobe Device Intelligence system，网址为：https://devices.adobe.com/partnerportal/）中显示此类个人资料信息，并会通过 Adobe 的制作及开发工具和服务提供此类信息，以便开发者和最终用户了解相应的内容或应用是如何在分许可证持有人产品中显示的（例如，视频图片是如何在某些手机中显示的）。
 </p>
 <p>
  10. 导出。分许可证持有人承认美国本土生产的商品和技术数据（可能包括 Adobe 软件）的出口和再出口均受美国法律法规的限制。分许可证持有人同意，在未获得美国和外国政府的相应许可（如果有）前，不会出口或再出口 Adobe 软件。
 </p>
 <p>
  11. 技术传播条款。
 </p>
 <p>
  (a) 除非获得相应方的适用许可或与相应方达成协议，否则分许可证持有人不得使用并且也不应允许使用 Adobe 软件在任何非 PC 设备（例如，移动电话或机顶盒）上编码或解码 MP3 纯音频 (.mp3) 数据，也不得通过任何非 Adobe 软件使用或访问 Adobe 软件中包含的 MP3 编码器或解码器。Adobe 软件可用于编码或解码 SWF 或 FLV 文件（其中包含视频、图片或其他数据）内包含的 MP3 数据。分许可证持有人应承认在非 PC 设备上使用 Adobe 软件（如本部分中的禁止条款中所述）应向持有与 MP3 技术相关的知识产权的第三方支付许可版税或其他费用，而 Adobe 和分许可证持有人均尚未就第三方知识产权为此类用途支付任何版税或其他费用。如果分许可证持有人需要将 MP3 编码器或解码器用作此类用途，则应由分许可证持有人负责获取必要的知识产权许可，包括任何适用的专利权。
 </p>
 <p>
  (b) 分许可证持有人不得使用、复制、再制作和修改 (i) On2 源代码（在本协议下作为源代码的一部分提供），其用途为让 Adobe 软件能够解码 Flash 视频文件格式（.flv 或 .f4v）的视频，以及 (ii) Sorenson Spark 源代码（在本协议下作为源代码的一部分提供），其用途仅限于为 Adobe 软件提供错误修正程序和效果增强功能。随 Adobe 软件一起提供的所有编解码器都只能作为 Adobe 软件的组成部分使用和分发，其他任何应用（包括其他 Google 应用）都不得访问这些编解码器。
 </p>
 <p>
  (c) 所提供的源代码中可能包含 AAC 编解码器和/或 HE-AAC 编解码器（“AAC 编解码器”）。使用 AAC 编解码器的前提是分许可证持有人获取了适当的专利许可，该许可应涵盖由 VIA 许可 (VIA Licensing) 提供的对于最终产品使用 AAC 编解码器所必需的专利。分许可证持有人承认并同意 Adobe 并未通过本协议向分许可证持有人或其分许可证持有人提供 AAC 编解码器的专利许可。
 </p>
 <p>
  (d) 源代码可能包含根据 AVC 专利组合许可获取相应许可的代码，可供使用者出于个人和非商业目的 (i) 按照 AVC 标准编码视频（下称“AVC 视频”）和/或 (ii) 解码由其他使用者在个人和非商业活动中编码的 AVC 视频和/或从有权提供 AVC 视频的视频提供商处获取的 AVC 视频。对于其他任何用途，本协议均未授予或暗示授予许可。要获取更多信息，请访问 MPEG LA, L.L.C. 的网站，网址为：http://www.mpegla.com。
 </p>
 <p>
  12. 更新。分许可持有人不得规避 Google 或 Adobe 对所有分许可持有人的产品（以下简称“分许可持有人产品”，此类产品会将 Adobe 软件与 Google 软件捆绑在一起）中的 Adobe 软件进行的更新。
 </p>
 <p>
  13. 归属和专有声明。分许可持有人应在公开提供的分许可持有人产品规范上列出 Adobe 软件，并在分许可持有人产品的包装或营销资料上附加 Adobe 软件品牌标志（特别排除了 Adobe 公司徽标），附加方式应与分许可持有人产品中包含的其他第三方产品品牌标志一致。
 </p>
 <p>
  14. 无担保。此 Adobe 软件“按原样”提供给分许可证持有人使用和再制作，Adobe 对其用途或效果不做任何担保。Adobe 及其供应商不保证而且无法保证使用 Adobe 软件可获得的效果或结果。除了分许可证持有人所在司法辖区的适用法律规定的不能或不得排除或限制的任何担保、条件、陈述或条款外，Adobe 及其供应商不提供任何类型的担保、条件、陈述或条款（无论是法令、普通法、习俗、习惯或其他方式的明示或暗示），包括但不限于：不侵犯第三方权利、适销性、整体性、质量满意度或任何特定用途适用性。分许可证持有人同意，分许可证持有人不得代表 Adobe 做出任何明示或暗示的担保。
 </p>
 <p>
  15. 责任限制。在任何情况下，Adobe 或其供应商都不承担分许可证持有人受到的任何损坏、索赔或费用或任何继发的、间接的、或偶发的损害、任何利润损失或存款损失，即使 Adobe 代表已获知发生此类损失、损坏、索赔、费用或任何第三方任何索赔的可能性。上述限制和例外适用于分许可证持有人所在司法辖区适用法律所允许的最大范围。依据本协议或与本协议有关的 Adobe 的赔偿总额及其供应商的赔偿总额不应超过一千美元 (US$1,000)。对于因 Adobe 的过失或因欺骗（欺诈）侵权行为而造成的分许可证持有人的死亡或人身伤害，本协议所包含的所有内容均未限制 Adobe 应负的责任。Adobe 仅在放弃、拒绝和/或限制本协议中提出的义务、担保和责任时代表其供应商，而不会在其他任何方面或出于其他任何目的代表其供应商。
 </p>
 <p>
  16. 内容保护条款
 </p>
 <p>
  (a) 定义。
 </p>
 <p>
  “合规性和稳健性规则”是指规定 Adobe 软件合规性和稳健性规则的文档，网址是：http://www.adobe.com/mobile/licensees（或后继网站）。
 </p>
 <p>
  “内容保护功能”是指 Adobe 软件的部分功能，这些功能旨在确保遵守“合规性和稳健性规则”，并防止在分发给 Adobe 软件用户使用的数字内容的拥有者或其授权分销商未授权的情况下，对此类内容进行播放、复制、修改、再分发或其他操作。
 </p>
 <p>
  “内容保护代码”是指某些特定版本的 Adobe 软件内用于启用某些“内容保护功能”的代码。
 </p>
 <p>
  “密钥”是指包含在 Adobe 软件中的经过加密的值，用于解密数字内容。
 </p>
 <p>
  (b) 许可限制。分许可证持有人使用 Adobe 软件许可的权利受以下附加限制和责任的约束。在有关 Adobe 软件的限制和责任方面，分许可证持有人应确保其客户受到同等约束；如果分许可证持有人的客户出现任何未能遵守这些附加限制和责任的行为，则都视为分许可证持有人违反协议。
 </p>
 <p>
  b.1. 分许可持有人及其客户只能分发符合稳定性和合规性规则的 Adobe 软件，也就是由分许可持有人在上文 Adobe 条款中所述的验证流程中确认的 Adobe 软件。
 </p>
 <p>
  b.2. 分许可证持有人不得 (i) 规避该 Adobe 软件或任何相关 Adobe 软件（用于对该 Adobe 软件的用户有权使用的数字内容进行加密或解密）的内容保护功能，或者 (ii) 为实现这一目的而开发或分发产品。
 </p>
 <p>
  (c) 特此指出，此类密钥为 Adobe 的机密信息，因此在涉及此类密钥的方面，分许可证持有人应遵守 Adobe 的源代码处理程序（Source Code Handling Procedure，由 Adobe 根据请求提供）。
 </p>
 <p>
  (d) 禁止性救济。分许可证持有人同意，违反本协议有可能会威胁到 Adobe 软件的“内容保护功能”的安全，并会对 Adobe 的利益以及依赖此类“内容保护功能”的数字内容的拥有者的利益造成特别且持久的伤害，且金钱赔偿可能不足以完全弥补此类伤害。因此，分许可证持有人进一步同意，除金钱赔偿外，Adobe 有权寻求禁止性救济，以防止或限制由任何此类违反行为造成的伤害。
 </p>
 <p>
  17. 预期的第三方受益人。Adobe 系统公司和 Adobe 软件爱尔兰有限公司是 Google 与分许可证持有人达成的有关 Adobe 软件的协议（包括但不限于 Adobe 条款）的预期第三方受益人。分许可证持有人同意，Google 可以向 Adobe 透露分许可证持有人的身份并以书面形式证明分许可证持有人已与 Google 达成了包含 Adobe 条款的许可协议，即使在分许可证持有人与 Google 达成的协议中存在任何与之冲突的规定。分许可证持有人必须与其所有被许可人达成协议，并且如果允许此类被许可人再分发 Adobe 软件，则此类协议中应包含 Adobe 条款。
 </p>
</section>
<p>
 此外，您在使用 Chrome 操作系统的某些组件时还应遵守以下条款：
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  该产品拥有 MPEG-4 视觉专利组合许可 (MPEG-4 Visual Patent Portfolio License)，可供消费者出于个人和非商业目的 (i) 对符合 MPEG-4 视觉标准的视频（以下简称“MPEG-4 视频”）进行编码，以及/或者 (ii) 对以下视频进行解码：消费者在个人和非商业活动中编码的 MPEG-4 视频和/或 MPEG LA 公司授权提供 MPEG-4 视频的视频提供方提供的 MPEG-4 视频。对于其他任何用途，本协议均未授予或暗示授予许可。若想获取更多信息（包括与宣传用途/内部用途/商业用途和许可有关的信息），请访问 MPEG LA 有限公司的网站 (http://www.mpegla.com)。
 </p>
</section>

</body>
</html>
