<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html DIR="LTR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="initial-scale=1.0">
<title>Google Chrome および Chrome OS 追加利用規約</title>
<style>
:root { color-scheme: light dark }
body { font-family:Arial; font-size:13px; }
h2 { font-size:1em; margin-top:0 }
</style>
</head>

<body>
<h2>
 Google Chrome および Chrome OS 追加利用規約
</h2>
<p>
 Chrome または Chrome OS を使用することにより、Google 利用規約 https://policies.google.com/terms と、この Google Chrome および Chrome OS 追加利用規約に同意したことになります。
</p>
<p>
 この Google Chrome および Chrome OS 追加利用規約は、Chrome および Chrome OS の実行コード バージョンに適用されます。Chrome のソースコードの大半は、https://code.google.com/chromium/terms.html のオープンソース ソフトウェア ライセンスに基づき無料でご利用いただけます。
</p>
<p>
 Chrome および Chrome OS の特定コンポーネントの利用については以下の条項が適用されます。
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  本製品は AVC 特許ポートフォリオ ライセンスの下でライセンス供与されています。このライセンスの下、消費者の個人的または報酬を受け取らないその他の目的で（i）AVC 規格に準拠した動画（以下「AVC 動画」）をエンコードすることができ、および / または（ii）個人的なアクティビティに従事する消費者がエンコードした AVC 動画および / または AVC 動画の提供ライセンスを受けた動画プロバイダから取得した AVC 動画をデコードすることができます。上記以外の用途のライセンスは、明示または黙示を問わず付与されません。詳しくは、MPEG LA, L.L.C. にお問い合わせいただくか、http://www.mpegla.com（英語）をご覧ください。
 </p>
</section>
<section>
 <p>
  <strong>
   Adobe
  </strong>
 </p>
 <p>
  Google Chrome には、Adobe Systems Incorporated および Adobe Software Ireland Limited（以下、総称して「Adobe」と呼びます）が提供するコンポーネントが含まれることがあります。Google が提供する Adobe ソフトウェア（以下「Adobe ソフトウェア」）の使用は、以下の追加規約（以下「本 Adobe 規約」）に従うものとします。本 Adobe ソフトウェアを提供されたユーザーは、以下「サブライセンシー」と呼びます。
 </p>
 <p>
  1. ライセンスの制限。
 </p>
 <p>
  （a）Flash Player バージョン 10.x は、ブラウザのプラグインとしてのみ設計されています。サブライセンシーは、ウェブページ上のコンテンツを再生するブラウザ プラグイン以外の使用目的で、本 Adobe ソフトウェアを変更、配布することはできません。たとえば、ブラウザ以外で実行するアプリケーション（スタンドアロン アプリケーション、ウィジェット、デバイスの UI など）と連携するように、本 Adobe ソフトウェアを変更することはできません。
 </p>
 <p>
  （b）サブライセンシーは、拡張機能をスタンドアロン アプリケーションとしてウェブページ コンテンツの再生に使用できるような方法で、Flash Player バージョン 10.x の API を、ブラウザ プラグイン インターフェースを通じて公開することはできません。
 </p>
 <p>
  （c）Adobe DRM 以外のデジタル著作権管理のプロトコルやシステムを利用している PDF や EPUB のドキュメントを表示するために、Chrome-Reader ソフトウェアを使用することはできません。
 </p>
 <p>
  （d）Adobe DRM で保護されているすべての PDF や EPUB のドキュメントに対応するため、Chrome-Reader ソフトウェア内で Adobe DRM を有効にする必要があります。
 </p>
 <p>
  （e）Chrome-Reader ソフトウェアでは、技術仕様として明示的に許可される場合を除き、本 Adobe ソフトウェアで Adobe が提供するどの機能も（PDF 形式、EPUB 形式、Adobe DRM のサポートを含むがこれらに限定されない）無効にすることはできません。
 </p>
 <p>
  2. 電子送信。サブライセンシーは、ウェブサイト、インターネット、イントラネットの他、同様の技術（以下「電子送信」）を介して、本 Adobe ソフトウェアのダウンロードを許可できます。ただし、サブライセンシーが本 Adobe ソフトウェアをどのように配布する場合も（明示的に許可された場合は CD-ROM、DVD-ROM などの保存媒体や電子送信による配布も含む）、不正使用を防ぐための妥当なセキュリティ対策を行うことに、サブライセンシーは同意するものとします。本規約により承認される電子送信に関して、セキュリティに関する制限や、サブライセンシー プロダクトのエンドユーザーへの配布制限など、Adobe が設定する妥当な使用制限が適用されることに、サブライセンシーは同意するものとします。
 </p>
 <p>
  3. EULA と配布規約。
 </p>
 <p>
  （a）サブライセンシーは、サブライセンシーとそのサプライヤに有利となるような、少なくとも次の各最低条件を含む執行可能なエンドユーザー ライセンス契約（以下「本エンドユーザー ライセンス」）に基づき、本 Adobe ソフトウェアをエンドユーザーに配布するものとします。（i）コピーと配布の禁止、（ii）変更と二次的著作物の作成の禁止、（iii）デコンパイル、リバース エンジニアリング、逆アセンブルの他、人間が認識できる形式に本 Adobe ソフトウェアを変換することの禁止、（iv）サブライセンシーとそのライセンサーによるサブライセンシー プロダクト（第 8 項で定義）の所有権を示す条項、（v）間接的損害、特別損害、偶発的損害、懲罰的損害、結果的損害への免責条項、および（vi）その他、業界で標準的な免責条項や制限、該当する場合は、該当法によるすべての保証への（法で許される限り最大限の）免責条項。
 </p>
 <p>
  （b）サブライセンシーは、サブライセンシーとそのサプライヤに有利となるような、本 Adobe 規約と同等の Adobe 保護規約を含む執行可能な配布ライセンス契約に基づき、本 Adobe ソフトウェアをサブライセンシーの配布者に配布するものとします。
 </p>
 <p>
  4. オープンソース。Adobe の知的所有権や財産権は、オープンソース ライセンスやオープンソース スキームの対象となり、使用、変更、配布の条件として、Adobe ソフトウェアの（i）ソース コード形式での公開または配布、（ii）二次的著作物の作成を目的とするランセンス、または（iii）無料での再配布が必要とみなされることがありますが、これに基づいてサブライセンシーが第三者に、いかなる権利や免除も、直接または間接を問わず、許可する、または許可すると主張することはできません。ただし、上記の制限は、サブライセンシーによる配布を禁止するものではなく、サブライセンシーは、Google ソフトウェアにバンドルされた本 Adobe ソフトウェアを無料で配布できます。
 </p>
 <p>
  5. 追加規約。サブライセンシーに提供される本 Adobe ソフトウェアの更新、アップグレード、新バージョン（以下、総称して「アップグレード」と呼びます）に関して、Adobe は、このような制限が Adobe によってアップグレードのすべてのライセンシーに課されている限り、アップグレードおよびその後のバージョンにのみ適用される追加条項を求める権利を留保します。サブライセンシーが追加条項に同意しない場合、サブライセンシーはかかるアップグレードに関するライセンス権を得られません。また、サブライセンシーに対してその追加条項が適用される日付から 90 日後に、サブライセンシーの本 Adobe ソフトウェアに関するライセンス権は自動的に終了します。
 </p>
 <p>
  6. 財産権の表示。サブライセンシーは、本 Adobe ソフトウェアまたはその付属物に表示される、Adobe（および該当する場合はそのライセンサー）の著作権表示、商標、ロゴなどの関連表示、またはその他の専有的権利の表示を削除したり、何らかの形で変更したりしないものとし、サブライセンシーの配布者にもそのような行為を行わないよう義務付けるものとします。
 </p>
 <p>
  7. 技術的要件。サブライセンシーとその配布者は、本 Adobe ソフトウェアやそのアップグレードを下記の条件を満たすデバイスにのみ配布できます。デバイスの条件は（i）http://www.adobe.com/mobile/licensees（英語）（または同ウェブサイトの更新）に掲載される技術的要件を満たしていること、かつ（ii）下記のとおり Adobe から確認を受けていることです。
 </p>
 <p>
  8. 確認と更新。サブライセンシーは、Adobe の確認を受けるため、本 Adobe ソフトウェアやそのアップグレードを含むサブライセンシーの各プロダクトとその各バージョン（以下「サブライセンシー プロダクト」）を Adobe に提示する必要があります。ただし、Google が通知するデバイス確認免除条件を満たすプロダクトは除きます。サブライセンシーは、提示するプロダクトごとに、その時点で Adobe の http://flashmobile.adobe.com/（英語）で規定されている条件で、確認パッケージを購入する必要があります。確認が得られなかったサブライセンシー プロダクトは、配布できません。確認は、その時点で Adobe の http://flashmobile.adobe.com/（英語）の「Verification」に記載されているプロセスに従って行われます。
 </p>
 <p>
  9. プロファイルと Device Central。サブライセンシーは、確認プロセスの一環として、またはその他の方法で、サブライセンシー プロダクトに関する特定のプロファイル情報を入力するように求められ、その情報を Adobe に提示するものとします。Adobe は（i）かかる情報を、妥当な範囲で必要に応じて、サブライセンシー プロダクトの確認に使用し（そのプロダクトが確認の対象である場合）、（ii）かかる情報を https://devices.adobe.com/partnerportal/（英語）にある「Adobe Device Intelligence システム」に表示して、Adobe のオーサリングおよび開発用ツールとサービスを通じて利用可能にし、サブライセンシー プロダクトでコンテンツやアプリケーションがどのように表示されるか（動画の映像が特定の電話にどのように表示されるかなど）を、デベロッパーやエンドユーザーが把握できるようにする場合があります。
 </p>
 <p>
  10. 輸出。サブライセンシーは、本 Adobe ソフトウェアを含む、米国で作成された商品や技術データの輸出、再輸出が、米国の法規で規制されることに同意するものとします。サブライセンシーは、該当する場合は、米国および外国政府の正当な通関手続きを経ずに、本 Adobe ソフトウェアを輸出、再輸出しないことに同意するものとします。
 </p>
 <p>
  11. 技術のパススルー規約。
 </p>
 <p>
  （a）サブライセンシーは、該当する者からの、または該当する者との間でのそのための該当する許可または合意に基づいて行う場合を除き、パソコン以外のデバイス（携帯電話、セットトップ ボックスなど）上で、本 Adobe ソフトウェアを使用して MP3 音声データ（.mp3）のエンコードやデコードを行わず、またそのような使用を許可しないものとし、また本 Adobe ソフトウェアに含まれる MP3 エンコーダーまたはデコーダーに本 Adobe ソフトウェア以外のプロダクトからアクセスまたは使用できるようにしないものとします。本 Adobe ソフトウェアは、動画、画像などのデータを含む swf ファイルまたは flv ファイルに含まれる MP3 データのエンコードとデコードに使用できます。この項で禁止されている、パソコン以外のデバイスでの本 Adobe ソフトウェアの利用には、MP3 技術に関する知的財産権を所有する第三者に、ライセンス ロイヤリティなどの金額を支払うことが必要な場合があり、Adobe およびサブライセンシーが、かかる利用において、第三者の知的財産権に対して、ロイヤリティなどの金額をこれまでに支払っていないことに、サブライセンシーは同意するものとします。MP3 エンコーダーまたはデコーダーについて、かかる利用が必要なサブライセンシーは、該当する特許権を含む、知的財産に対する必要なライセンスを取得する責任を負うものとします。
 </p>
 <p>
  （b）サブライセンシーは、（i）本 Adobe ソフトウェアで Flash 動画ファイル形式（.flv または .f4v）の動画をデコードするために必要な On2 のソース コード（ソース コードのコンポーネントとして本規約のもとで提供）、および（ii）本 Adobe ソフトウェアのバグの修正と性能の強化に限定された目的で（ソース コードのコンポーネントとして本規約のもとで）提供される Sorenson Spark ソース コードを、使用、コピー、複製、変更することはできません。本 Adobe ソフトウェアと共に提供されるコーデックはすべて、本 Adobe ソフトウェアに統合された一部としてのみ、使用、配布することができます。他の Google アプリケーションなど、他のアプリケーションからアクセスすることはできません。
 </p>
 <p>
  （c）ソース コードは、AAC コーデックや HE-AAC コーデック（以下「AAC コーデック」）により提供されることがあります。AAC コーデックの利用は、サブライセンシーが正当な特許ライセンスを取得することが条件です。正当な特許ライセンスとは、VIA ライセンスにより規定される必要な特許を含み、AAC コーデックを利用するエンド プロダクトを対象とするものです。サブライセンシーは、Adobe が本契約に基づきサブライセンシーまたはサブライセンシーのサブライセンシーに AAC コーデックの特許ライセンスを提供するものではないことを了承し、これに同意するものとします。
 </p>
 <p>
  （d）ソース コードには、特許ポートフォリオ ライセンスに基づき、個人的な非営利目的の利用で、エンドユーザーが（i）AVC 規格に準拠した動画（以下「AVC 動画」）をエンコードすること、および/または（ii）個人的な非営利目的の利用でエンドユーザーがエンコードした AVC 動画、および/または AVC 動画を提供するライセンスを保有する動画プロバイダーから入手した AVC 動画をデコードすることが許可されているコードが含まれる場合があります。上記以外の用途のライセンスは、明示または黙示を問わず付与されていません。詳しくは、MPEG LA, L.L.C. にお問い合わせいただくか、http://www.mpegla.com（英語）をご覧ください。
 </p>
 <p>
  12. 更新。サブライセンシーは、Google ソフトウェアにバンドルされた、本 Adobe ソフトウェアを組み込んでいるサブライセンシーのすべてのプロダクト（以下「サブライセンシー プロダクト」）において、Google または Adobe による本 Adobe ソフトウェアの更新を妨げてはなりません。
 </p>
 <p>
  13. 帰属および財産権の表示。サブライセンシーは、公開するサブライセンシー プロダクトの仕様に本 Adobe ソフトウェアを列挙し、サブライセンシー プロダクトのパッケージやマーケティング資料に、サブライセンシー プロダクト内に含まれる他の第三者のプロダクトのブランド表示と同じ方法で、Adobe ソフトウェアの適切なブランド表示（Adobe 社のロゴは除く）を含めるものとします。
 </p>
 <p>
  14. 無保証。本 Adobe ソフトウェアは使用および複製の目的で「現状有姿」のままサブライセンシーに提供され、Adobe はその使用や性能についていかなる保証も行わないものとします。Adobe とそのサプライヤは、Adobe ソフトウェアの利用による性能とその結果について、一切保証しません。サブライセンシーの法域でサブライセンシーに適用される法律によって、除外または制限が禁止されている保証、規定、表明、規約を除き、Adobe とそのサプライヤは、第三者の権利を侵害しないこと、商品性、統合性、品質満足度、特定目的への適合性を含むがこれらに限定されないあらゆる事項に関して、いかなる保証、規定、表明、規約の設定も（明示または黙示を問わず、制定法、普通法、慣習法、慣行、その他いかなる根拠に基づくかを問わず）行いません。サブライセンシーが明示または黙示を問わず Adobe に代わっていかなる保証も行わないことに、サブライセンシーは同意するものとします。
 </p>
 <p>
  15. 責任の制限。Adobe またはそのサプライヤは、Adobe の担当者がかかる損失、損害、請求、費用の可能性について通知を受けていた場合でも、第三者から申し立てを受けていた場合でも、サブライセンシーに対し、いかなる損害、請求、費用、結果的損害、間接的損害、偶発的損害、逸失利益、逸失節減に関して、一切の責任を負わないものとします。上記の制限および除外は、サブライセンシーの法域での該当法で許される限り適用されるものとします。本規約に基づく、または本規約に関連する Adobe の合計補償額、およびそのサプライヤの合計保証額は、1,000 米ドルを限度とします。Adobe の過失または不法行為に起因する死亡または人身傷害に関しては、本規約のいかなる条項も、Adobe のサブライセンシーへの責任を制限するものではありません。Adobe は、本規約で規定するように、義務、保証、および責任の免責、除外、制限を目的として、サプライヤの代わりを務めており、それ以外に関して、またはそれ以外の目的で、サプライヤの代わりを務めることはありません。
 </p>
 <p>
  16. コンテンツ保護規約。
 </p>
 <p>
  （a）定義。
 </p>
 <p>
  「コンプライアンス ルールとロバストネス ルール」とは、http://www.adobe.com/mobile/licensees（英語）またはこのウェブサイトを更新したサイトに掲載される、準拠性と堅牢性に関する規則を記載したドキュメントのことです。
 </p>
 <p>
  「コンテンツ保護機能」とは、本 Adobe ソフトウェアの機能のうち、コンプライアンス ルールとロバストネス ルールへの準拠を徹底し、本 Adobe ソフトウェアのエンドユーザーによる利用のために配布されたデジタル コンテンツがデジタル コンテンツの所有者やライセンスを受けた配信者の許可を得ずに再生、コピー、変更、再配布等されることを阻止するための機能をいいます。
 </p>
 <p>
  「コンテンツ保護コード」とは、特定のコンテンツ保護機能が有効な本 Adobe ソフトウェアの特定のバージョン内のコードのことです。
 </p>
 <p>
  「キー」とは、本 Adobe ソフトウェアに含まれる暗号値のことで、デジタル コンテンツの解読に使用します。
 </p>
 <p>
  （b）ライセンスの制限。本 Adobe ソフトウェアに関するライセンスを行使するサブライセンシーの権利には、以下の追加の制限および義務が適用されます。サブライセンシーは、本 Adobe ソフトウェアに関してサブライセンシーが負うこれらの制限や義務と同等の制限や義務を、サブライセンシーの顧客に遵守させるものとします。これらの追加の制限や義務をサブライセンシーの顧客が遵守しない場合は、サブライセンシーによる重大な違反とみなされます。
 </p>
 <p>
  b.1. サブライセンシーと顧客は、上記の本 Adobe 規約に記載の確認プロセスでサブライセンシーが確認した、コンプライアンス ルールとロバストネス ルールを満たしている本 Adobe ソフトウェアのみ配布できます。
 </p>
 <p>
  b.2. サブライセンシーは、（i）本 Adobe ソフトウェア、または本 Adobe ソフトウェアのユーザーが使用を許可されたデジタル コンテンツの暗号化や解読に使用される任意の関連 Adobe ソフトウェアの、いずれのコンテンツ保護機能も回避してはなりません。また（ii）本 Adobe ソフトウェア、または本 Adobe ソフトウェアのユーザーが使用を許可されたデジタル コンテンツの暗号化や解読に使用される任意の関連 Adobe ソフトウェアの、いずれのコンテンツ保護機能も回避するように設計されたプロダクトを開発、配布してはなりません。
 </p>
 <p>
  （c）キーは本規約で Adobe の機密情報として指定され、サブライセンシーはキーに関して Adobe のソース コード取り扱い方法（リクエストに応じて Adobe が提供します）を遵守するものとします。
 </p>
 <p>
  （d）差し止めによる救済。本規約への違反は、Adobe ソフトウェアのコンテンツ保護機能を損なうおそれがあり、Adobe、およびそのコンテンツ保護機能に依拠するデジタル コンテンツの所有者の利益に特別に永続的な危害を及ぼすおそれもあり、金銭的賠償ではかかる危害に対して十分には償えない場合があることに、サブライセンシーは同意するものとします。したがって、金銭的賠償に加えて、かかる違反による危害を阻止、または制限するために、Adobe が差し止めによる救済を求める権利があることに、サブライセンシーは同意するものとします。
 </p>
 <p>
  17. 第三受益者。Adobe Systems Incorporated および Adobe Software Ireland Limited は、本 Adobe ソフトウェアに関する Google とサブライセンシーの契約（本 Adobe 規約を含むがこれらに限定されない）の正当な第三受益者です。Google との契約にこれと異なる規定があっても、Google がサブライセンシーの身元を Adobe に開示し、Google とサブライセンシーが本 Adobe 規約を含むライセンス契約を結んだことを書面で明らかにすることに、サブライセンシーは同意するものとします。サブライセンシーは、そのライセンシーそれぞれと契約を結び、その契約で本 Adobe ソフトウェアの再配布を許可する場合は、その契約に本 Adobe 規約を含める必要があります。
 </p>
</section>
<p>
 また、Chrome OS の特定コンポーネントの利用については以下の条項が適用されます。
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  本製品は MPEG-4 Visual 特許ポートフォリオ ライセンスの下でライセンス供与されています。このライセンスの下、消費者の個人的な非営利目的で（i）MPEG-4 Visual 規格に準拠した動画（以下「MPEG-4 Visual 動画」）をエンコードすることができ、および / または（ii）個人的な非営利のアクティビティに従事する消費者がエンコードした MPEG-4 Visual 動画および / または MPEG LA から MPEG-4 動画を提供するライセンスを付与された動画プロバイダから取得した MPEG-4 動画をデコードすることができます。上記以外の用途のライセンスは、明示または黙示を問わず付与されません。プロモーション目的、組織内、営利目的での利用、およびライセンスに関する情報について詳しくは、MPEG LA, L.L.C. にお問い合わせいただくか、http://www.mpegla.com（英語）をご覧ください。
 </p>
</section>

</body>
</html>
