/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:root {
  color: #333;
  font: 13px Roboto, sans-serif;
  font-weight: 400; /* roboto-regular */
  height: 640px;
  width: 768px;
}

[slot='footer'] {
  padding: 18px 64px 0;
}

#app-downloading-video-container {
  margin: 80px auto auto;
}

#app-downloading-video-container video {
  height: 204px;
  width: 230px;
}
