/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}

.enterprise-header {
  background-color: white;
}

.enterprise-footer {
  background-color: white;
}

:host(:not(.disabled)) :host(:not(.no-footer)) {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.17);
  /* z-index is needed to make shadow visible. */
  z-index: 1;
}

.header-container {
  padding: 64px 64px 0 64px;
}

.content-container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.17);
  padding: 0 64px 0 64px;
  z-index: 1;
}

.footer-container {
  height: 44px;
  padding: 18px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 11;
}

paper-progress#progress-bar {
  --paper-progress-active-color: var(--google-blue-500);
  --paper-progress-container-color: var(--google-blue-100);
  display: none;
  height: 3px;
  padding-top: 16px;
  width: 100%;
}

:host(.full-disabled) #full-overlay,
:host(.disabled) #actionable-overlay,
:host(.disabled) #progress-bar,
:host(.with-progress) #progress-bar {
  display: block;
}
