/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  font-size: 16px;
}

#paperInputDecorator /deep/ .unfocused-underline {
  background-color: rgb(212, 212, 212);
}

#paperInputDecorator /deep/ .focused-underline {
  background-color: rgb(66, 133, 244);
}

#paperInputDecorator /deep/ ::-webkit-input-placeholder,
#paperInputDecorator /deep/ .label-text {
  color: rgba(0, 0, 0, 0.54);
}

#paperInputDecorator {
  font-size: 15px;
  margin-bottom: 28px;
  padding: 0;
}

#paperInputDecorator /deep/ #inputForm {
  color: rgba(0, 0, 0, 0.87);
}

:host-context(html[dir=rtl]) #paperInputDecorator /deep/ #inputContainer {
  flex-direction: row-reverse;
}

#paperInputDecorator /deep/ #emailDomain {
  color: rgba(0, 0, 0, 0.54);
  direction: ltr;
  width: auto;
}
