/* TODO(flackr): Merge the style (and possibly scripting) of the lock screen
 *     with the account picker login screen. See http://crbug.com/97980. */
body {
  background-color: black;
}

#wrapper {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.spacer {
  -webkit-box-flex: 1;
}

#login-box {
  -webkit-border-radius: 10px;
  background: white;
  border: 1px solid #777;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 280px;
}

#signout {
  bottom: 10px;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

#error-box {
  -webkit-border-radius: 10px;
  background: white;
  border: 1px solid red;
  color: black;
  display: none;
  text-align: center;
  margin-top: 15px;
}

#error-box.visible {
  display: block;
}
