/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:root {
  --oobe-dialog-host-height: 100%;
  --oobe-dialog-host-width: 100%;
}

#outer-container {
  align-items: center;
  bottom: var(--shelf-area-height);  /* Leave space for the shelf */
  display: flex;
  justify-content: center;
  left: 0;
  /* This enables scrolling. Min resolution: 1024x768 */
  min-height: calc(768px - var(--shelf-area-height));
  perspective: 1px; /* Workaround, see http://crbug.com/360567 */
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.oobe-display #outer-container {
  perspective: 600px;
}

#scroll-container {
  bottom: 0;        /* Allows content overlap with control bar. */
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
}

#scroll-container.disable-scroll {
  overflow-y: hidden;
}

#scroll-container::-webkit-scrollbar {
  display: none;
}

#inner-container {
  border-radius: 2px;
  position: relative;
}

#inner-container.animation {
  overflow: hidden;
}

#inner-container.disabled {
  opacity: 0.4;
  pointer-events: none;
}

#inner-container.disable-scroll {
  left: 0;
  position: absolute;
}

/* Screens that have a border and background. */
html:not([full-screen-dialog]) #oobe.auto-enrollment-check #inner-container,
html:not([full-screen-dialog]) #oobe.autolaunch #inner-container,
html:not([full-screen-dialog]) #oobe.confirm-password #inner-container,
html:not([full-screen-dialog]) #oobe.debugging #inner-container,
html:not([full-screen-dialog]) #oobe.enrollment #inner-container,
html:not([full-screen-dialog]) #oobe.fatal-error #inner-container,
html:not([full-screen-dialog]) #oobe.gaia-signin #inner-container,
html:not([full-screen-dialog]) #oobe.hid-detection #inner-container,
html:not([full-screen-dialog]) #oobe.kiosk-enable #inner-container,
html:not([full-screen-dialog]) #oobe.oauth-enrollment #inner-container,
html:not([full-screen-dialog]) #oobe.password-changed #inner-container,
html:not([full-screen-dialog]) #oobe.ad-password-change #inner-container,
html:not([full-screen-dialog]) #oobe.supervised-user-creation #inner-container,
html:not([full-screen-dialog]) #oobe.supervised-user-creation-dialog
    #inner-container,
html:not([full-screen-dialog]) #oobe.terms-of-service #inner-container,
html:not([full-screen-dialog]) #oobe.arc-tos #inner-container,
html:not([full-screen-dialog]) #oobe.update #inner-container,
html:not([full-screen-dialog]) #oobe.update-required #inner-container,
html:not([full-screen-dialog]) #oobe.user-image #inner-container,
html:not([full-screen-dialog]) #oobe.wrong-hwid #inner-container,
html:not([full-screen-dialog]) #oobe.unrecoverable-cryptohome-error
    #inner-container {
  background: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3),
              0 4px 23px 5px rgba(0, 0, 0, 0.2),
              0 2px 6px rgba(0, 0, 0, 0.15);
}

html:not([full-screen-dialog]) #oobe.error-message #inner-container,
html:not([full-screen-dialog]) #oobe.tpm-error-message #inner-container {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3),
              0 4px 23px 5px rgba(0, 0, 0, 0.2),
              0 2px 6px rgba(0, 0, 0, 0.15);

}

/* Only play this animation when 'down' class is removed. */
.oobe-display #inner-container:not(.down) {
  transition: transform 200ms ease-in-out;
}

.oobe-display #inner-container.down {
  transform: translateY(50px) rotateX(-2.5deg);
}

#oobe {
  box-sizing: border-box;
  height: 100%;
  max-height: 864px; /* 768 + 48*2 */
  max-width: 864px; /* 768 + 48*2 */
  padding-bottom: 48px;
  padding-inline-end: 48px;
  padding-inline-start: 48px;
  padding-top: 48px;
  width: 100%;
}

#oobe.account-picker {
  max-height: unset;
  max-width: unset;
  padding-bottom: unset;
  padding-inline-end: unset;
  padding-inline-start: unset;
  padding-top: unset;
}

#outer-container.fullscreen,
#outer-container.fullscreen #oobe,
#inner-container,
#inner-container > .step {
  height: 100%;
  width: 100%;
}
