/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#top-header-bar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 1;
}

#top-header-bar.version-labels-unset  #version-labels {
  display: none;
}

.new-note-action-container {
  display: flex;
  flex: 0;
  height: 48px;
  justify-content: flex-end;
  min-width: 48px;
  overflow: hidden;
  width: 48px;
  z-index: 1;
}

.new-note-action-container-activated {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.new-note-action-above-login-header {
  z-index: 5;
}

.new-note-action {
  -webkit-tap-highlight-color: transparent;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 0 44px;
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: flex-end;
  transition: all 300ms ease-in;
  width: 44px;
  z-index: 1;
}

.new-note-action.disabled {
  cursor: default;
  pointer-events: none;
}

.new-note-action {
  transition: all 300ms;
}

html[dir=rtl] .new-note-action {
  border-radius: 0 0 44px 0;
}

.new-note-action:hover,
.new-note-action:focus {
  border-radius: 0 0 0 48px;
  height: 48px;
  outline: none;
  width: 48px;
}

html[dir=rtl] .new-note-action:hover,
html[dir=rtl] .new-note-action:focus {
  border-radius: 0 0 48px 0;
}

.new-note-action-container-activated > .new-note-action {
  bottom: auto;
  left: auto;
  position: absolute;
  right: 0;
  top: 0;
}

html[dir=rtl] .new-note-action-container-activated > .new-note-action {
  left: 0;
  right: auto;
}

.new-note-action-icon {
  -webkit-padding-end: 11px;
  height: 16px;
  padding-top: 12px;
  width: 16px;
}

