/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#host-pairing {
  background: white;
  height: 601px;
  padding: 20px;
  width: 720px;
}

#host-pairing .page-name {
  text-align: center;
}

