/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/************* Welcome Screen **************/
#welcomeScreen #welcomeIllustration {
  height: max-content;
  width: max-content;
}

#welcomeScreen #welcomeNextButton {
  padding-top: 32px;
}

#welcomeScreen #welcomeButtons {
  font-size: 16px;
  padding-top: 24px;
}

#welcomeScreen .buttonbox-text {
  align-self: center;
  color: rgba(0, 0, 0, 0.54);
  font: 16px Roboto, sans-serif;
  /* TODO(alemate): max-width should depend on Timezone visibility. */
  max-width: 220px;
  padding-top: 32px;
  position: absolute;
  text-align: center;
  top: 32px;
  width: max-content;
}

#welcomeScreen .action-icon {
  --iron-icon-height: 32px;
  --iron-icon-width: 32px;
}

#welcomeScreen .action-icon-spacer {
  margin: 0;
  padding: 0;
  width: 218px;
}

/************* Language Screen **************/
#languageScreen .language-selection-entry {
  border-top: 1px solid lightgrey;
  height: 44px;
  padding: 0 20px;
}

#languageScreen .language-selection-entry:last-of-type {
  border-bottom: 1px solid lightgrey;
}

#languageScreen .language-selection-title {
  color: rgba(0, 0, 0, 0.87);
  font: 13px Roboto, sans-serif;
}

/************* Accessibility Screen **************/
#accessibilityScreen oobe-a11y-option {
  border-top: 1px solid lightgrey;
  min-height: 56px;
}

#accessibilityScreen oobe-a11y-option:last-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}
