/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* TODO(dzhioev): support RTL. http://crbug.com/423354 */
/* TODO(xdai): Remove the hard-coded font-family for 'Roboto'. */

:host {
  -webkit-user-select: none;
  background: white;
  display: block;
  font-family: 'Roboto';
  height: 600px;
  position: relative;
  width: 720px;
}

.gaia-frame {
  height: 300px;
  width: 339px;
}

controller-pairing-page[name='device-select']::shadow #top,
controller-pairing-page[name='establishing-connection']::shadow #top {
  height: 200px;
}

controller-pairing-page[name='code-confirmation']::shadow #top,
controller-pairing-page[name='host-update']::shadow #top,
controller-pairing-page[name='host-connection-lost']::shadow #top,
controller-pairing-page[name='enrollment-introduction']::shadow #top {
  height: 300px;
}

controller-pairing-page[name='authentication']::shadow #top {
  height: 100px;
}

indeterminate-progress {
  margin-bottom: 28px;
  margin-top: 28px;
}

#code {
  color: #757575;
  font-size: 55px;
  font-weight: 300;
}

pairing-device-list {
  height: 252px;
}
