/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#reset-revert-spinner {
  -webkit-margin-end: 5px;
}

oobe-text-button {
  -webkit-margin-end: 16px;
  color: #5a5a5a;
}

#cancelButton {
  -webkit-margin-end: 4px;
}

a {
  color: var(--google-blue-500);
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}

.powerwash-warning div {
  display: inline;
}

.subtitle {
  line-height: 20px;
}

#tpmFirmwareUpdate {
  -webkit-margin-start: 20px;
  color: rgba(0, 0, 0, 0.54);
  font: 13px Roboto, sans-serif;
  margin-bottom: 20px;
  margin-top: 23px; /* = 36 - font size */
  width: 100%;
}

#tpmFirmwareUpdateCheckbox {
  --paper-checkbox-size: 16px;
  --paper-checkbox-checked-color: var(--google-blue-500);
  size: 16px;
}

#tpmFirmwareUpdateContainer {
  -webkit-margin-start: 16px;
}

#tpmFirmwareUpdateContainer label {
  color: rgba(0, 0, 0, .54);
  line-height: 20px;
}
