/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  --title-font-size: 28px;
  --title-font-distance-to-baseline: 7px;
  --subtitle-font-size: 13px;
  --subtitle-font-distance-to-baseline: 3px;
  --subtitle-line-height: 18px;
  --offline-gaia-dialog-width: 768px;
  font-family: var(--oobe-default-font-family);
}

#header-container {
  padding-bottom: 0;
  padding-inline-end: var(--oobe-dialog-content-padding);
  padding-inline-start: var(--oobe-dialog-content-padding);
  padding-top: var(--oobe-dialog-content-padding);
}

#header-container[android] {
  padding: 48px 48px 0 48px;
}

#oobe-title {
  min-height: calc(64px + var(--title-font-distance-to-baseline));
}

#oobe-title ::slotted(h1) {
  color: var(--google-grey-900);
  font-family: var(--oobe-title-font-family);
  font-size: var(--title-font-size);
  font-weight: normal;
  margin: 0;
}

#oobe-subtitle {
  min-height: calc(64px - var(--title-font-distance-to-baseline));
}

#oobe-subtitle ::slotted(*) {
  color: var(--google-grey-700);
  font-size: var(--subtitle-font-size);
  line-height: var(--subtitle-line-height);
  /* margin 12px = 32 - line-height
                   - 5 (line height - font size)
                   + 3 (distance to baseline 13px) */
  margin: calc(32px - var(--subtitle-line-height)
               - (var(--subtitle-line-height) - var(--subtitle-font-size))
               + var(--subtitle-font-distance-to-baseline)) 0 0 0;
}

#oobe-progress ::slotted(paper-progress) {
  --paper-progress-active-color: var(--google-blue-500);
  --paper-progress-container-color: var(--google-blue-100);
  height: 3px;
  width: 100%;
}

#footer-container {
  overflow-y: auto;
  padding: 0 var(--oobe-dialog-content-padding);
}

#footer-container[noFooterPadding] {
  padding: 0;
}

#oobe-bottom {
  height: calc(var(--oobe-dialog-footer-height)
               - 2 * var(--oobe-dialog-footer-padding));
  /* Width: real padding - button margin */
  padding: var(--oobe-dialog-footer-padding)
           calc(var(--oobe-dialog-footer-padding) - 4px);
  z-index: 1;
}

:host #oobe-bottom[no-buttons-padding] {
  padding: unset;
}

#oobe-bottom ::slotted(*) {
  width: 100%;
}

#oobe-icon-div ::slotted(hd-iron-icon),
#oobe-icon-div ::slotted(iron-icon) {
  --iron-icon-height: 32px;
  --iron-icon-width: 32px;
  --iron-icon-fill-color: var(--google-blue-600);
}
