/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  --title-font-size: 28px;
  --title-font-distance-to-baseline: 7px;
  --subtitle-font-size: 13px;
  --subtitle-font-distance-to-baseline: 3px;
  --subtitle-line-height: 18px;
  --offline-gaia-dialog-width: 768px;
}

#header-container {
  padding: 60px 64px 0 64px;
}

#header-container[android] {
  padding: 48px 48px 0 48px;
}

#oobe-title {
  min-height: calc(64px + var(--title-font-distance-to-baseline));
}

#oobe-title ::slotted(h1) {
  color: var(--google-grey-900);
  font-family: var(--oobe-title-font-family);
  font-size: var(--title-font-size);
  font-weight: normal;
  margin: 0;
}

#oobe-subtitle {
  min-height: calc(64px - var(--title-font-distance-to-baseline));
}

#oobe-subtitle ::slotted(*) {
  color: var(--google-grey-900);
  font-size: var(--subtitle-font-size);
  line-height: var(--subtitle-line-height);
  /* margin 12px = 32 - line-height
                   - 5 (line height - font size)
                   + 3 (distance to baseline 13px) */
  margin: calc(32px - var(--subtitle-line-height)
               - (var(--subtitle-line-height) - var(--subtitle-font-size))
               + var(--subtitle-font-distance-to-baseline)) 0 0 0;
}

#footer-container {
  padding: 0 64px;
}

#footer-container[noFooterPadding] {
  padding: 0;
}

#oobe-bottom {
  height: 80px;
  padding: 0 calc(64px - 4px); /* real width - button margin */
  z-index: 1;
}

:host(:not([full-screen-dialog])) #oobe-bottom {
  padding: 0 calc(32px - 4px); /* real width - button margin */
}

#oobe-bottom[android] {
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.14);
}

#oobe-bottom[android][hideShadow] {
  box-shadow: unset;
}

#oobe-bottom[android] {
  height: 60px;
}

#oobe-bottom ::slotted(*) {
  width: 100%;
}

#oobe-icon-div ::slotted(hd-iron-icon),
#oobe-icon-div ::slotted(iron-icon) {
  --iron-icon-height: 32px;
  --iron-icon-width: 32px;
  --iron-icon-fill-color: var(--google-blue-500);
}
