/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#oauth-enrollment {
  height: 528px;
  padding: 0;
  width: 448px;
}

#oauth-enrollment.saml {
  height: 528px;
  width: 562px;
}

#oauth-enroll-step-contents {
  color: #666;
  height: 100%;
  width: 100%;
}

#oauth-enroll-step-contents > div {
  display: none;
}

.oauth-enroll-state-working #oauth-enroll-step-working,
.oauth-enroll-state-error #oauth-enroll-step-error,
.oauth-enroll-state-attribute-prompt #oauth-enroll-step-attribute-prompt,
.oauth-enroll-state-success #oauth-enroll-step-success {
  display: table;
  height: 480px;
  margin: 0 auto;
}

.oauth-enroll-state-signin #oauth-enroll-step-signin {
  display: block;
  height: 100%;
  width: 100%;
}

#oauth-enroll-auth-view-container,
#oauth-enroll-auth-view {
  display: block;
  height: 100%;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

#oauth-enrollment.mode-manual #oauth-enroll-learn-more-link,
#oauth-enrollment.mode-forced #oauth-enroll-learn-more-link,
#oauth-enrollment.mode-recovery #oauth-enroll-learn-more-link {
  display: inline;
}

.oauth-enroll-step-content {
  display: table-cell;
  vertical-align: middle;
}

.oauth-enroll-step-icon {
  display: inline-block;
  position: relative;
  top: 0.5em;
  vertical-align: top;
}

.oauth-enroll-step-icon > * {
  -webkit-margin-end: .4em;
  display: inline-block;
  height: 22px;
  position: relative;
  top: -11px;
  width: 22px;
}

.oauth-enroll-step-message {
  display: inline-block;
  max-width: 400px;
  text-align: left;
  vertical-align: top;
}

.oauth-enroll-link {
  color: rgb(37, 79, 155);
  cursor: pointer;
  text-decoration: none;
}

.oauth-enroll-button {
  display: none;
}

.oauth-enroll-state-signin.mode-manual #oauth-enroll-cancel-button,
.oauth-enroll-state-signin #oauth-enroll-back-button,
.oauth-enroll-state-working.mode-manual #oauth-enroll-cancel-button,
.oauth-enroll-state-working #oauth-enroll-back-button,
.oauth-enroll-state-error.mode-manual #oauth-enroll-cancel-button,
.oauth-enroll-state-error.mode-manual #oauth-enroll-done-button,
.oauth-enroll-state-error #oauth-enroll-back-button,
.oauth-enroll-state-attribute-prompt #oauth-enroll-continue-button,
.oauth-enroll-state-success #oauth-enroll-done-button {
  display: inline;
}

#oobe.oauth-enrollment #header-oauth-enrollment {
  display: block;
}

#oauth-saml-notice-container {
  -webkit-margin-start: 19px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: start;
  top: 15px;
}

#oauth-enrollment.saml {
  padding-top: 47px;
}

#oauth-enrollment.saml #oauth-enrollment-controls,
#oauth-enrollment.saml #oauth-enroll-signin-link-container {
  -webkit-padding-end: 17px;
}

#oauth-enrollment:not(.saml) #oauth-saml-notice-container {
  display: none;
}

#oauth-saml-notice-message {
  color: rgb(106, 106, 106);
  font-size: 13px;
  margin: 0 auto;
}

#oauth-enroll-cancel-button {
  background-image: url(chrome://theme/IDR_LOGIN_CLOSE_BUTTTON);
  right: 10px;
}

html[dir=rtl] #oauth-enroll-cancel-button {
  left: 10px;
  right: auto;
}

#oauth-enrollment.saml #oauth-enroll-cancel-button {
  background-image: url(chrome://theme/IDR_LOGIN_CLOSE_BUTTTON_ON_WHITE);
}

#oauth-enroll-back-button {
  background-image: url(chrome://theme/IDR_LOGIN_BACK_BUTTTON);
  left: 10px;
}

html[dir=rtl] #oauth-enroll-back-button {
  -webkit-transform: scaleX(-1);
  left: auto;
  right: 10px;
}

#oauth-enrollment.saml #oauth-enroll-back-button {
  display: none;
}

.oauth-enroll-textbox {
  display: inline-block;
  position: relative;
  top: 10px;
  vertical-align: top;
}

.oauth-enroll-textbox.oauth-enroll-attribute-field[type='text'] {
  border-color: black;
  font-size: 16px;
  position: relative;
  width: 250px;
}

.oauth-enroll-textbox.auth-enroll-attribute-label {
  display: inline;
  position: relative;
}
