/* Copyright 2016 The Chromium Authors. All rights reserved.
   Use of this source code is governed by a BSD-style license that can be
   found in the LICENSE file. */

paper-button {
  border-color: var(--oobe-text-button-border-color, transparent);
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  height: 32px; /* = 28px + 2 * 2px border */
  margin: 0;
  padding: 0;
}

paper-button[focused] {
  border-color: var(--oobe-text-button-focused-border-color);
}

#container {
  border-radius: 2px;
  padding: 0 16px;
}

#textButton:not([inverse]):not([disabled]) #container {
  background-color: white
  color: var(--google-blue-500);
}

#textButton[inverse]:not([disabled]) #container {
  background-color: var(--google-blue-500);
  color: white;
}

::content * {
  font: var(--oobe-roboto-medium), sans-serif;
  font-size: 12px;
  text-transform: none;
}
