/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.norollback #rollback,
.norestart #reset-warning-restart,
#powerwash-help-link {
  display: none;
}

.norollback #powerwash-help-link {
  display: block;
}

#reset {
  display: flex;
  flex-flow: column;
  font-size: 16px;
  min-height: 423px;
  padding: 40px 17px 80px;
  text-align: center;
  width: 722px;
}

#reset #reset-controls {
  -webkit-box-pack: center;
  bottom: 40px;
  margin-top: auto;
}

#reset-controls button {
  margin: 0 10px;
}

#reset #reset-warning-msg {
  color: #606060;
  font-size: 22px;
  padding: 5px 45px 30px;
}

.reset-text {
  color: #606060;
}

#reset #reset-warning-details {
  padding: 20px 40px 0;
}

#reset #reset-warning-restart {
  padding: 30px 40px 0;
}

#reset #rollback {
  padding: 30px 40px 10px;
}
