/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#header-container {
  padding: 64px 64px 0 64px;
}

.oobe-header {
  min-height: 84px; /* 64 title + 20 subtitle */
}

:host([welcome-screen]) .oobe-header {
  height: 64px;
  min-height: unset;
}

#footer-container {
  padding: 44px 64px 0 64px;
}

:host([welcome-screen]) #footer-container {
  padding-top: 32px;
}

#oobe-bottom {
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.14);
  height: 80px;
  padding: 0;
  z-index: 1;
}
