/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#value-prop-view {
  display: block;
  height: 372px;
  margin: auto;
  padding: 0;
}

#noThanksButton {
  color: rgb(66, 133, 244);
}

#continueButton {
  -webkit-margin-end: 18px;
}
