/* Copyright 2018 The Chromium Authors. All rights reserved.
   Use of this source code is governed by a BSD-style license that can be
   found in the LICENSE file. */

paper-button {
  -webkit-padding-end: 16px;
  -webkit-padding-start: 8px;
}

hd-iron-icon {
  -webkit-padding-start: 4px; /* transform(180deg) will make it padding-end. */
  transform: rotate(180deg);
}
