/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  display: block;
  position: relative;
}

#closeButton {
  color: white;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}

:host-context(html[dir=rtl]) #closeButton {
  left: 10px;
  right: auto;
}

paper-dialog {
  --paper-dialog-title: {
    font-size: 15px;
  };

  /**
   * TODO(dzhioev): remove when
   * https://github.com/PolymerElements/iron-fit-behavior/issues/12 is fixed.
   */
  position: absolute !important;

  width: 384px;
}
