/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#confirm-password {
  height: 150px;
  padding: 16px;
  width: 400px;
}

#confirm-password-title {
  font-weight: bold;
  margin: 0;
}

#confirm-password-input {
  margin-top: 10px;
  width: 100%;
}
