/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#message-box {
  padding: 70px 17px;
  width: 400px;
}

#message-box-title {
  font-weight: bold;
  margin: 0;
}
