/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#fatal-error {
  padding: 50px 17px 17px;
  width: 722px;  /* Should be the same as #gaia-signin. */
}

/* Size is set explicitly to make <img> consume the space before the image is
   loaded. This ensures correct screen's size calculation in
   DisplayManager.updateScreenSize. */
#fatal-error-message-container img {
  height: 85px;
  width: 112px;
}

#fatal-error-message-container {
  text-align: center;
  width: 100%;
}

#fatal-error-button-strip {
  display: -webkit-box;
}

#fatal-error-button-strip-space-filler {
  -webkit-box-flex: 1;
}

.new-gaia-flow #fatal-error {
  height: 528px;
  width: 448px;
}

.new-gaia-flow #fatal-error-message-container,
.new-gaia-flow #fatal-error-button-strip,
.fatal-error .new-gaia-flow #step-logo,
#fatal-error-card {
  display: none;
}

.new-gaia-flow #fatal-error-card {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
