/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#arc-tos:not([md-mode]) {
  padding: 16px 17px 21px;
}

#arc-tos[md-mode] {
  min-height: unset;
  padding: unset;
}

#arc-tos .step-contents {
  -webkit-margin-start: 32px;
  margin-bottom: 49px;
}

#arc-tos a:link,
#arc-tos a:visited {
  color: rgb(51, 103, 214);
  text-decoration: none;
}

#arc-tos h1,
#arc-tos h2 {
  color: rgba(0, 0, 0, 0.54);
  margin: 12px 0 8px 0;
  width: 630px;
}

#arc-tos h1 {
  font-size: 14px;
  font-weight: 600;
}

#arc-tos h2 {
  font-size: 12px;
  font-weight: 500;
}

#arc-tos input[type='checkbox'] {
  flex-shrink: 0;
  height: 12px;
  margin: 0 8px 0 0;
  padding: 0;
  width: 12px;
}

#arc-tos label {
  color: rgba(0, 0, 0, 0.54);
  display: flex;
  flex-direction: row;
  font-size: 10px;
  margin: auto;
  padding: 8px 0 0 0;
  text-align: left;
  width: 100%;
}

#arc-tos-container {
  height: 320px;
  overflow: hidden;
  width: 630px;
}

#arc-tos-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  padding: 16 px;
  width: 100%;
}

#arc-tos-content p {
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

#arc-tos-loading,
#arc-tos-error {
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: none;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#arc-tos-loading p,
#arc-tos-error p {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

#arc-tos-logo {
  height: 32px;
  margin-left: -28px;
  width: auto;
}

#arc-tos-view {
  display: block;
  height: 10px;
  margin: auto;
  padding: 0;
}

#arc-tos-view-container {
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  flex: auto;
  margin: auto;
  padding: 0;
  width: 100%;
}

#arc-tos-overlay-content-text {
  box-sizing: border-box;
  height: 200px;
  margin: auto;
  padding: 24px 8px 8px 8px;
  width: 100%;
}

#arc-tos-overlay-content-text p {
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 400;
  text-align: justify;
}

#arc-tos-overlay-text button,
#arc-tos-overlay-url button {
  float: right;
  margin: 8px;
}

#arc-tos-overlay-webview {
  border: 1px solid #d9d9d9;
  display: block;
  height: 270px;
  width: 622px;
}

#arc-tos-overlay-webview-container {
  box-sizing: border-box;
  height: 300px;
  margin: auto;
  padding: 24px 8px 8px 8px;
  width: 100%;
}

#arc-tos-skip-button {
  margin-right: 12px;
}

.step.arc-tos-loading #arc-tos-content {
  display: none;
}

.step.arc-tos-loading #arc-tos-loading {
  display: flex;
}

.step.error #arc-tos-content,
.step.error #arc-tos-accept-button {
  display: none;
}

.step.arc-tos-loading #arc-tos-retry-button,
.step.arc-tos-loaded #arc-tos-retry-button {
  display: none;
}

.step.error #arc-tos-error {
  display: flex;
}

.arc-tos-overlay-wide {
  width: 640px;
}

.arc-tos-overlay-close-up {
  background-image: url(chrome://theme/IDR_CLOSE_DIALOG);
  background-position: center;
  background-repeat: no-repeat;
  height: 14px;
  position: absolute;
  right: 7px;
  top: 7px;
  width: 14px;
  z-index: 1;
}

html[dir='rtl'] .arc-tos-overlay-close-up {
  left: 10px;
  right: auto;
}

.arc-tos-overlay-close-up:hover {
  background-image: url(chrome://theme/IDR_CLOSE_DIALOG_H);
}

.arc-tos-overlay-close-up:active {
  background-image: url(chrome://theme/IDR_CLOSE_DIALOG_P);
}

#arc-tos[md-mode] #arc-tos-overlay-content-text p {
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
}

