#include "version.h"

#ifdef APSTUDIO_INVOKED
# error Don't open this in the GUI, it'll be massacred on save.
#endif // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

1 VERSIONINFO
 FILEVERSION CHROME_VERSION
 PRODUCTVERSION CHROME_VERSION
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName", COMPANY_FULLNAME_STRING
            VALUE "CompanyShortName", COMPANY_SHORTNAME_STRING
            VALUE "ProductName", "Google Chrome Frame"
            VALUE "ProductShortName", "ChromeFrame"
            VALUE "ProductVersion", CHROME_VERSION_STRING
            VALUE "FileDescription", "Chrome Frame renders the Web of the future in the browsers of the past. It's like strapping a rocket engine to a minivan."
            VALUE "FileVersion", CHROME_VERSION_STRING
            VALUE "InternalName", "Google Chrome Frame Launcher"
            VALUE "LegalCopyright", COPYRIGHT_STRING
            VALUE "OriginalFilename", "chrome_launcher.exe"
            VALUE "LastChange", LASTCHANGE_STRING
            VALUE "Official Build", OFFICIAL_BUILD_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
