#include "version.h"

#include "winres.h"

#ifdef APSTUDIO_INVOKED
# error Do not open this in the GUI, it will be massacred on save. Do not do it.
#endif // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION CHROME_VERSION
 PRODUCTVERSION CHROME_VERSION
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        // Note that Firefox 3.0 requires the charset to be 04e4 (multi-lingual).
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName", COMPANY_FULLNAME_STRING
            VALUE "CompanyShortName", COMPANY_SHORTNAME_STRING
            VALUE "ProductName", "Google Chrome Frame"
            VALUE "ProductShortName", "ChromeFrame"
            VALUE "ProductVersion", CHROME_VERSION_STRING
            VALUE "FileDescription", "Chrome Frame renders the Web of the future in the browsers of the past. It's like strapping a rocket engine to a minivan."
            VALUE "FileVersion", CHROME_VERSION_STRING
            VALUE "InternalName", "Google Chrome Frame"
            VALUE "LegalCopyright", COPYRIGHT_STRING
            VALUE "MIMEType", "application/chromeframe"
            VALUE "FileExtents", "chromeframe"
            VALUE "FileOpenName", "chromeframe"
            VALUE "OriginalFilename", "npchrome_frame.dll"
            VALUE "LastChange", LASTCHANGE_STRING
            VALUE "Official Build", OFFICIAL_BUILD_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        // Note that Firefox 3.0 requires the charset to be 1252 (multi-lingual).
        VALUE "Translation", 0x409, 1252
    END
END
