{%- macro enum_def(prefix, enum) -%}
{%- set prev_enum = 0 %}
{%- for field in enum.fields %}
{%-   if field.value %}
{{prefix}}final int {{enum.name}}_{{field.name}} = {{field.value|expression_to_text}};
{%-   elif loop.first %}
{{prefix}}final int {{enum.name}}_{{field.name}} = 0;
{%-   else %}
{{prefix}}final int {{enum.name}}_{{field.name}} = {{enum.name}}_{{enum.fields[loop.index0 - 1].name}} + 1;
{%-   endif %}
{%- endfor %}
{%- endmacro %}
