#inetTitle {
  border: none;
}

#network-general-div {
  -webkit-margin-start: 15px;
}

#networking-controls {
  display: -webkit-box;
}

.networks {
  -webkit-margin-start: 15px;
  padding: 2px;
}

.network-password {
  left: 0px;
  position: relative;
}

.network-password > input, .network-password > select {
  width: 200px;
}

.network-item {
  -webkit-box-align: center;
  -webkit-padding-start: 10px;
  border: 1px solid rgba(255,255,255,0); /* transparent white */
  border-radius: 2px;
  display: -webkit-box;
  height: 35px;
}

.network-item:not([connecting]):hover {
  border-color: hsl(214, 91%, 85%);
  background-color: hsl(214, 91%, 97%);
}

.network-item[connected] {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.8),
                                            rgba(255, 255, 255, 0));
  background-color: hsl(214,91%,89%);
  border-color: hsl(214, 91%, 65%);
}

.network-item[connected]:hover {
  background-color: hsl(214, 91%, 87%);
  border-color: hsl(214, 91%, 65%);
}

.network-item[connecting] {
  background-color: hsl(214, 91%, 97%);
  border-color: hsl(214, 91%, 85%);
}

.network-item > .controlled-setting-indicator {
  -webkit-margin-end: 5px;
  width: 16px;
}

.hide-indicators .network-item > .controlled-setting-indicator {
  display: none;
}

.network-item-text {
  -webkit-padding-start: 30px;
  background: left center no-repeat;
  cursor: default;
  display: table-cell;
  height: 32px;
  line-height: 100%;
  max-width: 320px;
  overflow: hidden;
  vertical-align: middle;
}

html[dir='rtl'] .network-item-text {
  background: right center no-repeat;
}

.network-item[connected] > * > .network-name-label {
  font-weight: bold;
}

.network-status-label {
  color: grey;
}

.network-item > * > button {
  min-width: 100px;
  visibility: hidden;
  margin-right: 5px;
}

.network-item:hover > * > button,
.network-item[connected] > * > button {
  visibility: visible;
}

.network-item-box-spacer {
  -webkit-box-flex: 1;
}

.displaytable > section > .network-title {
  vertical-align: top;
  padding-top: 20px;
}

#detailsInternetPage {
  min-width: 440px;
  min-height: 420px;
  padding-bottom: 40px;
  position: relative;
}

#details-plan-table {
  width: 100%;
}

#planSummary {
  width: 350px;
  padding-bottom: 5px;
}

#planWarning {
  width: 350px;
  padding-top: 5px;
  font-weight: bold;
}

#locked-network-banner {
  height: 31px;
  width: 100%;
  margin: 0;
  padding-top: 10px;
  vertical-align: middle;
}

#locked-network-icon {
  background-image: url("chrome://theme/IDR_WARNING");
  background-repeat: no-repeat;
  background-position:center;
  display: inline-block;
  padding: 5px;
  height: 21px;
  vertical-align: middle;
  width: 24px;
}

#access-locked-text {
  vertical-align: middle;
}

#internet-owner-only-warning {
  margin: 10px 0;
  padding-bottom: 1px;
  -webkit-padding-start: 20px;
  background-repeat: no-repeat;
  background-image: url('warning.png');
}

#ipConfigList .name {
  width: 40%;
}

#ipConfigList .value {
  -webkit-box-flex: 1;
  color: #666;
}
