/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#send-function-keys-description {
  color: gray;
}

#auto-repeat-settings-section {
  -webkit-margin-start: 30px;
  display: table;
  white-space: nowrap;
}

#auto-repeat-settings-section .row {
  display: table-row;
}

#auto-repeat-settings-section .row > * {
  display: table-cell;
}

#auto-repeat-settings-section input[type='range'] {
  margin-left: 5px;
  margin-right: 5px;
}
