/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#storageManagerPage {
  width: 476px;
}

#storageManagerPage h1 {
  font-size: 125%; /* go to 15px from 12px */
  padding: 15px 20px 14px;
}

#storageManagerPage .content-area {
  padding: 0 20px;
}

.storage-manager-section {
  margin: 0;
}

.storage-manager-section:not(:last-child) {
  margin-bottom: 30px;
}

.storage-manager-item,
.storage-manager-subitem {
  display: flex;
  font-size: 125%; /* go to 15px from 12px */
  justify-content: space-between;
  margin: 14px 0;
}

.storage-manager-item {
  color: black;
}

.storage-manager-subitem {
  -webkit-padding-start: 20px;
}

.storage-manager-subitem .storage-manager-item-size {
  color: rgba(0, 0, 0, 0.54);
}

#storage-manager-section-in-use {
  margin-bottom: 45px;
}

#storage-manager-section-available {
  margin-bottom: 30px;
}

.critically-low-space #storage-manager-message-critically-low-space,
.low-space #storage-manager-message-low-space {
  display: block;
}

.storage-manager-message-area {
  background-color: rgb(245, 245, 245);
  display: none;
  margin-bottom: 4px;
  padding: 22px 20px 8px;
}

.storage-manager-message-area img {
  height: 20px;
  width: 20px;
}

.storage-manager-message-title {
  align-items: center;
  display: flex;
}

.storage-manager-message-title span {
  color: black;
  font-size: 125%; /* go to 15px from 12px */
  margin: 0 10px;
}

.storage-manager-message-area p {
  color: rgb(90, 90, 90);
}

#storage-bar-progress {
  -webkit-appearance: none;
  display: block;
  height: 4px;
  width: 100%;
}

#storage-bar-progress::-webkit-progress-bar {
  background-color: rgb(224, 224, 226);
  border-radius: 2px;
}

#storage-bar-progress::-webkit-progress-value {
  background-color: rgb(66, 133, 244);
  border-radius: 2px;
}

.critically-low-space #storage-bar-progress::-webkit-progress-value {
  background-color: rgb(219, 68, 55);
}

.low-space #storage-bar-progress::-webkit-progress-value {
  background-color: rgb(255, 176, 0);
}
