/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.account-picker.flying-pods #account-picker {
  transition: width 180ms ease, height 180ms ease;
}

#bubble {
  margin-top: 16px;
  z-index: 1;
}

#signin-banner-container1 {
  height: 64px;
  max-width: 450px;
  position: absolute;
  z-index: 3;
}

#signin-banner-container2 {
  display: inline-block;
  position: relative;
}

html[dir=rtl] #signin-banner-container2 {
  left: -50%;
  right: auto;
}

#signin-banner {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  color: #FFF;
  display: none;
  font-family: "Roboto";
  font-size: 13px;
  position: relative;
  text-align: center;
}

html[dir=rtl] #signin-banner {
  left: auto;
  right: -50%;
}

html[screen=user-adding] #signin-banner {
  background-color: rgba(0, 0, 0, 0.34);
  display: inline-block;
}

html[screen=user-adding] #signin-banner,
html[screen=login] #signin-banner {
  padding: 20px 24px;
}

html[screen=login] #signin-banner,
html[screen=lock] #signin-banner {
  display: inline-block;
  opacity: 0;
  visibility: hidden;
}

html[screen=login] #signin-banner.message-set,
html[screen=lock] #signin-banner.message-set {
  opacity: 0.8;
  transition: opacity 1s;
  visibility: visible;
}

.small-pod-container {
  overflow: scroll;
  position: absolute;
}

.small-pod-container.scroll {
  background-color: rgba(0, 0, 0, 0.3);
}

.small-pod-container.images-loading {
  visibility: hidden;
}

.small-pod-container::-webkit-scrollbar {
   width: 0;
}

.small-pod-container.scroll::-webkit-scrollbar {
   width: 9px;
}

.small-pod-container.scroll::-webkit-scrollbar-thumb {
   background-color: rgba(255, 255, 255, .17);
   border-radius: 8px;
}

.small-pod-container-mask {
  background: linear-gradient(#000, transparent);
  height: 112px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.small-pod-container-mask.images-loading {
  visibility: hidden;
}

.small-pod-container-mask.rotate {
  transform: rotate(180deg);
}