  "key": "{{ MANIFEST_KEY }}",
  "name": "{{APP_NAME}}",
  "description": "{{APP_DESCRIPTION}}",
  "version": "{{ FULL_APP_VERSION }}",
  "manifest_version": 2,
  "default_locale": "en",
  "app": {
    "background": {
      "page": "arv_background.html"
    }
  },
  "import": [{
      "id": "koejkfhmphamcgafjmkellhnekdkopod"
    }
  ],
  "icons": {
    "128": "icon128.png",
    "48": "icon48.png",
    "16": "icon16.png"
  },
  "optional_permissions": [
    "<all_urls>"
  ],
  "permissions": [
    "{{ APP_REMOTING_API_BASE_URL }}/*",
    "{{ DIRECTORY_API_BASE_URL }}/*",
    "{{ OAUTH2_ACCOUNTS_HOST }}/*",
    "{{ OAUTH2_API_BASE_URL }}/*",
    "{{ TALK_GADGET_HOST }}/talkgadget/*",
    {{ CLOUD_PRINT_URL }}
    "app.window.shape",
    "clipboardRead",
    "clipboardWrite",
    "contextMenus",
    "fileSystem",
    "fullscreen",
    "https://relay.google.com/*",
    "identity",
    "metricsPrivate",
    "pointerLock",
    "storage",
    {
      "socket": [
        "udp-send-to",
        "udp-bind",
        "udp-multicast-membership",
        "resolve-host",
        "network-state"
      ]
    },
    "webview"
  ],
  "sockets": {
    "tcp": {
      "connect": "{{ XMPP_SERVER }}"
    }
  },
  "oauth2": {
    "client_id": "{{ REMOTING_IDENTITY_API_CLIENT_ID }}",
    "scopes": [
      {{ OAUTH_CLOUD_PRINT_SCOPE }}
      {{ OAUTH_GDRIVE_SCOPE }}
      "https://www.googleapis.com/auth/appremoting.runapplication",
      "https://www.googleapis.com/auth/googletalk",
      "https://www.googleapis.com/auth/userinfo#email",
      "https://www.googleapis.com/auth/userinfo.profile"
    ]
  },
  "sandbox": {
    "pages": [ "arv_wcs_sandbox.html" ]
  }
