html:not(body) {
  --google-grey-900-rgb: 32, 33, 36;
  --google-grey-900: rgb(var(--google-grey-900-rgb));

  --cros-default-text-color-rgb: var(--google-grey-900-rgb);
  --cros-default-text-color: rgb(var(--cros-default-text-color-rgb));

  --cros-toggle-color-rgb: var(--cros-default-text-color-rgb);
  --cros-toggle-color: rgba(var(--cros-toggle-color-rgb), 0.1);

}

@media (prefers-color-scheme: dark) {
  html:not(body) {
    --cros-default-text-color-rgb: 255, 255, 255;
    --cros-default-text-color: rgb(var(--cros-default-text-color-rgb));

  }
}
