/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  @apply(--layout-vertical);
  @apply(--layout-fit);
  @apply(--paper-font-body1);
  -webkit-user-select: none;
  background-color: #eceff1;
}

paper-toolbar {
  @apply(--shadow-elevation-4dp);
  background-color: rgb(52, 73, 94);
  height: 56px;
  position: relative;
  z-index: 10;
}

paper-drawer-panel {
  @apply(--layout-center);
  --paper-drawer-panel-left-drawer-container: {
    background-color: rgb(236, 239, 241);
    margin-top: 8px;
  };
  position: relative;
}

settings-main paper-icon-button {
  z-index: 10;
}
