/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  -webkit-user-select: none;
  background-color: rgb(219, 222, 224);
  display: block;
  font-family: Roboto;
  height: 100%;
}

cr-settings-main core-icon-button {
  z-index: 10;
}
