/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.blocking {
  overflow: hidden;
  padding-bottom: 15px;
  padding-top: 15px;
  position: relative;
  text-align: center;
}

.blocking > div > #message {
  color: rgb(150, 150, 150);
  line-height: 1.125em;
  padding: 10px;
  vertical-align: middle;
}

#blocking-icon {
  height: 75px;
  padding: 15px;
  width: 75px;
}

.non-blocking {
  background-color: rgb(66, 66, 66);
  max-height: 65px;
  overflow: hidden;
  padding: 6px;
}

.non-blocking > #buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.non-blocking > div > #message {
  color: white;
  padding: 6px 6px 20px 6px;
}
