<ul>
  <li><a href="/apis/o3d/docs/reference/{+getBaseURL()+}namespaces.html">Modules</a>
    <ul>
      {! var allNamespaces = data.filter(function($){return $.isNamespace}).sort(makeSortby("alias")); !}
      <for each="thisClass" in="allNamespaces">
      <li><a href="/apis/o3d/docs/reference/{+getBaseURL()+}{+getLinkToClassByAlias(thisClass.alias)+}">{+hyphenateWord(thisClass.name, 16, '-<br/>')+}</a></li>
      </for>
    </ul>
  </li>
  <li><a href="/apis/o3d/docs/reference/{+getBaseURL()+}annotated.html">Classes</a>
      {! var allClasses = data.filter(function($){return !$.isNamespace}).sort(makeSortby("alias")); !}
      {+getClassHierarchyHTML(allClasses)+}
  </li>
</ul>

