<style include="print-management-shared">
  /* Override focus CSS for selectable items. */
  .list-item:focus,
  .list-item > :focus {
    background-color: var(--google-blue-50);
    outline: none;
  }

  .list-item {
    align-items: center;
    display: flex;
    min-height: 40px;
    padding: 0;
  }
</style>
<div focus-row-container>
  <!-- TODO(crbug/1073693): Update the a11y based on expert guidance -->
  <div class="list-item"
      focus-row-control
      focus-type="rowWrapper"
      aria-labeledby="jobTitle printerName creationTime completionStatus">
    <div id="jobTitle" class="long-text overflow-ellipsis" aria-hidden="true">
      [[jobTitle_]]
    </div>
    <div id="printerName" class="long-text overflow-ellipsis padded-left"
        aria-hidden="true">
      [[printerName_]]
    </div>
    <div id="creationTime" class="short-text overflow-ellipsis padded-left"
        aria-hidden="true">
      [[creationTime_]]
    </div>
    <div id="completionStatus" class="short-text overflow-ellipsis padded-left"
        aria-hidden="true">
      [[completionStatus_]]
    </div>
  </div>
</div>
