/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#drop-down {
  background: white;
  background-image: -webkit-image-set(
    url(../icon/drop-down-arrow.png) 1x,
    url(../icon/drop-down-arrow2x.png) 2x);
  background-repeat: no-repeat;
  border: 1px solid rgb(192, 195, 198);
  height: 18px;
  width: 18px;
}

#drop-down:hover {
  background-image: -webkit-image-set(
    url(../icon/drop-down-arrow-hover.png) 1x,
    url(../icon/drop-down-arrow-hover2x.png) 2x);
}

#drop-down.showing {
  background-image: -webkit-image-set(
    url(../icon/drop-down-arrow-showing.png) 1x,
    url(../icon/drop-down-arrow-showing2x.png) 2x);
}