# Copyright (c) 2011 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "desktopui_PyAutoFunctionalTests"
PURPOSE = "PyAuto based chrome functional tests."
CRITERIA = "This test will fail if any of the pyauto functional tests fail."
TIME = "LONG"
TEST_CATEGORY = "Functional"
TEST_CLASS = "desktopui"
TEST_TYPE = "client"

DOC = """
This is a wrapper test for Chrome pyauto-based functional tests.

http://dev.chromium.org/developers/testing/pyauto

This will run a suite of tests suitable for a ChromeOS VM.
"""

job.run_test('desktopui_PyAutoFunctionalTests', suite='CHROMEOS_VM_PUBLIC')
