<!--
  -- Copyright 2013 The Chromium Authors. All rights reserved.
  -- Use of this source code is governed by a BSD-style license that can be
  -- found in the LICENSE file.
  -->

<template>
  <Kb-key class="esc dark" char="Esc">esc</kb-key>
  <kb-key class="back dark" char="Back"></kb-key>
  <kb-key class="forward dark" char="Forward"></kb-key>
  <kb-key class="reload dark" char="Reload"></kb-key>
  <kb-key class="fullscreen dark" char="Fullscreen"></kb-key>
  <kb-key class="change-window dark" char="Change-Window"></kb-key>
  <kb-key class="brightness-down dark" char="Brightness-Down"></kb-key>
  <kb-key class="brightness-up dark" char="Brightness-Up"></kb-key>  
  <kb-key class="mute dark" char="Mute"></kb-key> 
  <kb-key class="volume-down dark" char="Volume-Down"></kb-key>
  <kb-key class="volume-up dark" char="Volume-Up"></kb-key>
  <kb-key class="shutdown dark" char="Shutdown"></kb-key>
</template>
