<!--
  -- Copyright 2013 The Chromium Authors. All rights reserved.
  -- Use of this source code is governed by a BSD-style license that can be
  -- found in the LICENSE file.
  -->

<template>
  <kb-key class="esc dark" char="Esc">esc</kb-key>
  <kb-key class="back dark" char="Back" image="back"></kb-key>
  <kb-key class="forward dark" char="Forward" image="forward"></kb-key>
  <kb-key class="reload dark" char="Reload" image="reload"></kb-key>
  <kb-key class="fullscreen dark" char="Fullscreen"
      image="fullscreen"></kb-key>
  <kb-key class="change-window dark" char="Change-Window"
      image="change-window"></kb-key>
  <kb-key class="brightness-down dark" repeat char="Brightness-Down"
      image="brightness-down"></kb-key>
  <kb-key class="brightness-up dark" repeat char="Brightness-Up"
      image="brightness-up"></kb-key>
  <kb-key class="mute dark" char="Mute" image="mute"></kb-key>
  <kb-key class="volume-down dark" repeat char="Volume-Down"
      image="volume-down"></kb-key>
  <kb-key class="volume-up dark" repeat char="Volume-Up"
      image="volume-up"></kb-key>
</template>
