<!--
  -- Copyright 2013 The Chromium Authors. All rights reserved.
  -- Use of this source code is governed by a BSD-style license that can be
  -- found in the LICENSE file.
  -->

<link id="spacebar-row" rel="import" href="spacebar-row.html">

<template>
  <kb-keyset id="qwerty-upper">
    <kb-row>
      <kb-key class="dark" char="&#x0009;" align="left"
          weight="120">tab</kb-key>
      <kb-key-sequence keys="QWERTYUIOP" hintTexts="1234567890">
      </kb-key-sequence>
      <kb-key class="dark" char="&#x0008;" repeat align="right"
          weight="140">backspace</kb-key>
    </kb-row>
    <kb-row>
      <kb-key class="microphone dark" char="Microphone" weight="150"></kb-key>
      <kb-key-sequence keys="ASDFGHJKL"></kb-key-sequence>
      <kb-key class="dark" char="&#x000A;" align="right"
          weight="210">enter</kb-key>
    </kb-row>
    <kb-row>
      <kb-shift-key weight="180" align="left">shift</kb-shift-key>
      <kb-key-sequence keys="ZXCVBNM"></kb-key-sequence>
      <kb-key invert hintText="!" char=",">,</kb-key>
      <kb-key invert hintText="?" char=".">.</kb-key>
      <kb-shift-key weight="180" align="right">shift</kb-shift-key>
    </kb-row>
    <kb-row>
      <kb-key class="dark" toKeyset="down:symbol" char="Invalid"
          align="left" weight="130">#123</kb-key>
      <kb-key-import importId="spacebar-row"></kb-key-import>
      <kb-key class="dark" toKeyset="down:symbol" char="Invalid"
          align="right" weight="130">#123</kb-key>
      <kb-hide-keyboard-key></kb-hide-keyboard-key>
    </kb-row>
    <kb-altkey-container hidden>
    </kb-altkey-container>
  </kb-keyset>

  <kb-keyset id="qwerty-lower" isDefault=true>
    <kb-row>
      <kb-key class="dark" char="&#x0009;" align="left"
          weight="120">tab</kb-key>
      <kb-key-sequence keys="qwertyuiop" hintTexts="1234567890">
      </kb-key-sequence>
      <kb-key class="dark" char="&#x0008;" repeat align="right"
          weight="140">backspace</kb-key>
    </kb-row>
    <kb-row>
      <kb-key class="microphone dark" char="Microphone" weight="150"></kb-key>
      <kb-key-sequence keys="asdfghjkl"></kb-key-sequence>
      <kb-key class="dark" char="&#x000A;" align="right"
          weight="210">enter</kb-key>
    </kb-row>
    <kb-row>
      <kb-shift-key weight="180" align="left">shift</kb-shift-key>
      <kb-key-sequence keys="zxcvbnm"></kb-key-sequence>
      <kb-key hintText="!">,</kb-key><kb-key hintText="?">.</kb-key>
      <kb-shift-key weight="180" align="right">shift</kb-shift-key>
    </kb-row>
    <kb-row>
      <kb-key class="dark" toKeyset="down:symbol" char="Invalid"
          align="left" weight="130">#123</kb-key>
      <kb-key-import importId="spacebar-row"></kb-key-import>
      <kb-key class="dark" toKeyset="down:symbol" char="Invalid"
          align="right" weight="130">#123</kb-key>
      <kb-hide-keyboard-key></kb-hide-keyboard-key>
    </kb-row>
    <kb-altkey-container hidden>
    </kb-altkey-container>
  </kb-keyset>

  <kb-keyset id="qwerty-symbol">
    <kb-row>
      <kb-key class="dark" char="&#x0009;" align="left"
          weight="120">tab</kb-key>
      <kb-key>1</kb-key><kb-key>2</kb-key>
      <kb-key>3</kb-key><kb-key>4</kb-key>
      <kb-key>5</kb-key><kb-key>6</kb-key><kb-key>7</kb-key>
      <kb-key>8</kb-key><kb-key>9</kb-key><kb-key>0</kb-key>
      <kb-key class="dark" char="&#x0008;" repeat align="right"
          weight="140">backspace</kb-key>
    </kb-row>
    <kb-row>
      <kb-key class="microphone dark" char="Microphone" weight="150"></kb-key>
      <kb-key>@</kb-key><kb-key>#</kb-key><kb-key>$</kb-key>
      <kb-key>%</kb-key><kb-key>&</kb-key>
      <kb-key>*</kb-key><kb-key>/</kb-key>
      <kb-key>(</kb-key><kb-key>)</kb-key>
      <kb-key class="dark" char="&#x000A;" align="right"
          weight="210">enter</kb-key>
    </kb-row>
    <kb-row>
      <kb-key class="dark" toKeyset="down:more" char="Invalid" align="left"
          weight="180">more</kb-key>
      <kb-key>:</kb-key><kb-key>;</kb-key><kb-key>-</kb-key><kb-key>'</kb-key>
      <kb-key>"</kb-key><kb-key>!</kb-key>
      <kb-key>?</kb-key><kb-key>,</kb-key><kb-key>.</kb-key>
      <kb-key class="dark" toKeyset="down:more" char="Invalid" align="right"
          weight="180">more</kb-key>
    </kb-row>
    <kb-row>
      <kb-abc-key align="left" weight="130">abc</kb-abc-key>
      <kb-key-import importId="spacebar-row"></kb-key-import>
      <kb-abc-key align="right" weight="130">abc</kb-abc-key>
      <kb-hide-keyboard-key></kb-hide-keyboard-key>
    </kb-row>
    <kb-altkey-container hidden>
    </kb-altkey-container>
  </kb-keyset>

  <kb-keyset id="qwerty-more">
    <kb-row>
      <kb-key class="dark" char="&#x0009;" align="left"
          weight="120">tab</kb-key>
      <kb-key>~</kb-key><kb-key>`</kb-key><kb-key>|</kb-key><kb-key>^</kb-key>
      <kb-key>+</kb-key><kb-key>=</kb-key><kb-key>{</kb-key><kb-key>}</kb-key>
      <kb-key>&#x003C;</kb-key><kb-key>&#x003E;</kb-key>
      <kb-key class="dark" char="&#x0008;" repeat align="right"
          weight="140">backspace</kb-key>
    </kb-row>
    <kb-row>
      <kb-key class="microphone dark" char="Microphone" weight="150"></kb-key>
      <kb-key>&#x00A3;</kb-key><kb-key>&#x00A2;</kb-key>
      <kb-key>&#x20AC;</kb-key><kb-key>&#x2122;</kb-key>
      <kb-key>&#x00A9;</kb-key><kb-key>&#x00AE;</kb-key>
      <kb-key>\</kb-key><kb-key>[</kb-key>
      <kb-key>]</kb-key>
      <kb-key class="dark" char="&#x000A;" align="right"
          weight="210">enter</kb-key>
    </kb-row>
    <kb-row>
      <kb-key class="dark" toKeyset="down:symbol" char="Invalid"
          align="left" weight="180">#123</kb-key>
      <kb-key>&#x00D7;</kb-key><kb-key>&#x00F7;</kb-key>
      <kb-key>_</kb-key><kb-key>&#x00A7;</kb-key>
      <kb-key>&#x00B6;</kb-key><kb-key>&#x00A1;</kb-key>
      <kb-key>&#x00BF;</kb-key><kb-key>&#x2022;</kb-key>
      <kb-key>&#x0394;</kb-key>
      <kb-key class="dark" toKeyset="down:symbol" char="Invalid"
          align="right" weight="180">#123</kb-key>
    </kb-row>
    <kb-row>
      <kb-abc-key align="left" weight="130">abc</kb-abc-key>
      <kb-key-import importId="spacebar-row"></kb-key-import>
      <kb-abc-key align="right" weight="130">abc</kb-abc-key>
      <kb-hide-keyboard-key></kb-hide-keyboard-key>
    </kb-row>
  </kb-keyset>
</template>
