<!--
  -- Copyright 2013 The Chromium Authors. All rights reserved.
  -- Use of this source code is governed by a BSD-style license that can be
  -- found in the LICENSE file.
  -->

<link id="spacebar-row" rel="import" href="spacebar-row.html">
<link id="function-key-row" rel="import" href="function-key-row.html">

<template>
  <kb-keyset id="system-qwerty-upper">
    <kb-row>
      <kb-key-import importId="function-key-row"></kb-key-import>
    </kb-row>
    <kb-row>
      <kb-key-sequence invert=true keys="'1234567890-=" hintTexts="~!@#$%^&*()_+"> </kb-key-sequence>
      <kb-key class="backspace dark" char="&#x0008;" repeat align="right">backspace</kb-key>
    </kb-row>
    <kb-row>
      <kb-key class="tab dark" char="&#x0009;" align="left">tab</kb-key>
      <kb-key-sequence keys="QWERTYUIOP"></kb-key-sequence>
      <kb-key-sequence invert=true keys="[]\" hintTexts="{}|"></kb-key-sequence>
    </kb-row>
    <kb-row>
      <kb-key class="microphone dark" char="Microphone"></kb-key>
      <kb-key-sequence keys="ASDFGHJKL"></kb-key-sequence>
      <kb-key-sequence invert=true keys=";&apos;" hintTexts=':"'></kb-key-sequence>
      <kb-key class='return dark' char="&#x000A;" align="right">enter</kb-key>
    </kb-row>
    <kb-row>
      <kb-shift-key weight="1.8" align="left">shift</kb-shift-key>
      <kb-key-sequence keys="ZXCVBNM"></kb-key-sequence>
      <kb-key-sequence invert=true keys=",./" hintTexts="<>?"></kb-key-sequence>
      <kb-shift-key weight="1.8" align="right">shift</kb-shift-key>
    </kb-row>
    <kb-row>
      <kb-key class="symbol dark" char="Invalid" align="left">ctrl</kb-key>
      <kb-key class="symbol dark" char="Invalid" align="left">alt</kb-key>
      <kb-key char=" " class="space dark" weight="6.0"></kb-key>
      <kb-key class="symbol dark" char="Invalid" align="right">alt</kb-key>
      <kb-key class="symbol dark" char="Invalid" align="right">ctrl</kb-key>
      <kb-hide-keyboard-key></kb-hide-keyboard-key>
    </kb-row>
    <kb-altkey-container hidden>
    </kb-altkey-container>
  </kb-keyset>

  <kb-keyset id="system-qwerty-lower" isDefault=true>
    <kb-row>
      <kb-key-import importId="function-key-row"></kb-key-import>
    </kb-row>
    <kb-row>
      <kb-key-sequence keys="'1234567890-=" hintTexts="~!@#$%^&*()_+"> </kb-key-sequence>
      <kb-key class="backspace dark" char="&#x0008;" repeat align="right">backspace</kb-key>
    </kb-row>
    <kb-row>
      <kb-key class="tab dark" char="&#x0009;" align="left">tab</kb-key>
      <kb-key-sequence keys="qwertyuiop"></kb-key-sequence>
      <kb-key-sequence keys="[]\" hintTexts="{}|"></kb-key-sequence>
    </kb-row>
    <kb-row>
      <kb-key class="microphone dark" char="Microphone"></kb-key>
      <kb-key-sequence keys="asdfghjkl"></kb-key-sequence>
      <kb-key-sequence keys=";&apos;" hintTexts=':"'></kb-key-sequence>
      <kb-key class='return dark' char="&#x000A;" align="right">enter</kb-key>
    </kb-row>
    <kb-row>
      <kb-shift-key weight="1.8" align="left">shift</kb-shift-key>
      <kb-key-sequence keys="zxcvbnm"></kb-key-sequence>
      <kb-key-sequence keys=",./" hintTexts="<>?"></kb-key-sequence>
      <kb-shift-key weight="1.8" align="right">shift</kb-shift-key>
    </kb-row>
    <kb-row>
      <kb-key class="symbol dark" char="Invalid" align="left">ctrl</kb-key>
      <kb-key class="symbol dark" char="Invalid" align="left">alt</kb-key>
      <kb-key char=" " class="space dark" weight="6.0"></kb-key>
      <kb-key class="symbol dark" char="Invalid" align="right">alt</kb-key>
      <kb-key class="symbol dark" char="Invalid" align="right">ctrl</kb-key>
      <kb-hide-keyboard-key></kb-hide-keyboard-key>
    </kb-row>
    <kb-altkey-container hidden>
    </kb-altkey-container>
  </kb-keyset>
</template>