<!--
  -- Copyright 2013 The Chromium Authors. All rights reserved.
  -- Use of this source code is governed by a BSD-style license that can be
  -- found in the LICENSE file.
  -->

<template>
  <kb-keyset id="qwerty-upper">
    <kb-row class="top">
      <kb-key>Q</kb-key><kb-key>W</kb-key><kb-key>E</kb-key><kb-key>R</kb-key>
      <kb-key>T</kb-key><kb-key>Y</kb-key><kb-key>U</kb-key>
      <kb-key>I</kb-key><kb-key>O</kb-key><kb-key>P</kb-key>
    </kb-row>
    <kb-row>
      <div class="half-key-spacer"></div>
      <kb-key>A</kb-key><kb-key>S</kb-key><kb-key>D</kb-key><kb-key>F</kb-key>
      <kb-key>G</kb-key><kb-key>H</kb-key><kb-key>J</kb-key><kb-key>K</kb-key>
      <kb-key>L</kb-key>
      <div class="half-key-spacer"></div>
    </kb-row>
    <kb-row>
      <kb-shift-key class="padded-left-special" weight="1.4">shift</kb-shift-key>
      <kb-key>Z</kb-key><kb-key>X</kb-key><kb-key>C</kb-key><kb-key>V</kb-key>
      <kb-key>B</kb-key><kb-key>N</kb-key><kb-key>M</kb-key>
      <kb-key class="backspace padded-right-special dark" char="&#x0008;" repeat>delete</kb-key>
    </kb-row>
    <kb-row>
      <kb-key class="symbol dark" toKeyset="down:symbol" char="Invalid">?123</kb-key>
      <kb-key class="microphone dark" char="Microphone"></kb-key>
      <kb-key class="dark">,</kb-key>
      <kb-key class="space dark" char=" "></kb-key>
      <kb-key class="dark">.</kb-key>
      <kb-key class="return dark" char="&#000A;">enter</kb-key>
    </kb-row>
    <kb-altkey-container hidden>
    </kb-altkey-container>
  </kb-keyset>

  <kb-keyset id="qwerty-lower" isDefault=true>
    <kb-row class="top">
      <kb-key>q</kb-key><kb-key>w</kb-key><kb-key>e</kb-key><kb-key>r</kb-key>
      <kb-key>t</kb-key><kb-key>y</kb-key><kb-key>u</kb-key>
      <kb-key>i</kb-key><kb-key>o</kb-key><kb-key>p</kb-key>
    </kb-row>
    <kb-row>
      <div class="half-key-spacer"></div>
      <kb-key>a</kb-key><kb-key>s</kb-key><kb-key>d</kb-key><kb-key>f</kb-key>
      <kb-key>g</kb-key><kb-key>h</kb-key><kb-key>j</kb-key><kb-key>k</kb-key>
      <kb-key>l</kb-key>
      <div class="half-key-spacer"></div>
    </kb-row>
    <kb-row>
      <kb-shift-key class="padded-left-special" weight="1.4">shift</kb-shift-key>
      <kb-key>z</kb-key><kb-key>x</kb-key><kb-key>c</kb-key><kb-key>v</kb-key>
      <kb-key>b</kb-key><kb-key>n</kb-key><kb-key>m</kb-key>
      <kb-key class="backspace padded-right-special dark" char="&#x0008;" repeat>delete</kb-key>
    </kb-row>
    <kb-row>
      <kb-key class="symbol dark" toKeyset="down:symbol" char="Invalid">?123</kb-key>
      <kb-key class="microphone dark" char="Microphone"></kb-key>
      <kb-key class="dark">,</kb-key>
      <kb-key class="space dark" char=" "></kb-key>
      <kb-key class="dark">.</kb-key>
      <kb-key class='return dark' char="&#x000A;">enter</kb-key>
    </kb-row>
    <kb-altkey-container hidden>
    </kb-altkey-container>
  </kb-keyset>

  <kb-keyset id="qwerty-symbol">
    <kb-row class="top">
      <kb-key>1</kb-key><kb-key>2</kb-key><kb-key>3</kb-key><kb-key>4</kb-key>
      <kb-key>5</kb-key><kb-key>6</kb-key><kb-key>7</kb-key><kb-key>8</kb-key>
      <kb-key>9</kb-key><kb-key>0</kb-key>
    </kb-row>
    <kb-row>
      <kb-key>@</kb-key><kb-key>$</kb-key><kb-key>&</kb-key><kb-key>:</kb-key><kb-key>;</kb-key>
      <kb-key>/</kb-key><kb-key>(</kb-key><kb-key>)</kb-key>
    </kb-row>
    <kb-row>
      <kb-key class="left-more padded-left-special dark" toKeyset="down:more" char="Invalid">more</kb-key>
      <kb-key>"</kb-key><kb-key>'</kb-key><kb-key>-</kb-key>
      <kb-key>+</kb-key><kb-key>!</kb-key><kb-key>?</kb-key>
      <kb-key class="backspace padded-right-special dark" char="&#x0008;" repeat>delete</kb-key>
    </kb-row>
    <kb-row>
      <kb-abc-key>abc</kb-abc-key>
      <kb-key class="microphone dark" char="Microphone"></kb-key>
      <kb-key class="dark">,</kb-key>
      <kb-key class="space dark" char=" "></kb-key>
      <kb-key class="dark">.</kb-key>
      <kb-key class='return dark' char="&#x000A;">enter</kb-key>
    </kb-row>
  </kb-keyset>

  <kb-keyset id="qwerty-more">
    <kb-row class="top">
      <kb-key>&#x20AC;</kb-key><kb-key>&#x00A3;</kb-key><kb-key>&#x00A2;</kb-key>
      <kb-key>&#x2022;</kb-key><kb-key>&#x00B6;</kb-key><kb-key>|</kb-key>
      <kb-key>{</kb-key><kb-key>}</kb-key>
    </kb-row>
    <kb-row>
      <kb-key class="tab padded-left-special dark" char="&#x0009;">tab</kb-key>
      <kb-key>#</kb-key><kb-key>%</kb-key><kb-key>^</kb-key><kb-key>*</kb-key>
      <kb-key>\</kb-key><kb-key>&#x003C;</kb-key><kb-key>&#x003E;</kb-key>
    </kb-row>
    <kb-row>
      <kb-key class="left-more padded-left-special dark" toKeyset="down:symbol" char="Invalid">?123</kb-key>
      <kb-key>`</kb-key><kb-key>~</kb-key><kb-key>_</kb-key><kb-key>=</kb-key>
      <kb-key>[</kb-key><kb-key>]</kb-key>
      <kb-key class="backspace padded-right-special dark" char="&#x0008;" repeat>delete</kb-key>
    </kb-row>
    <kb-row>
      <kb-abc-key>abc</kb-abc-key>
      <kb-key class="microphone dark" char="Microphone"></kb-key>
      <kb-key class="dark">,</kb-key>
      <kb-key class="space dark" char=" "></kb-key>
      <kb-key class="dark">.</kb-key>
      <kb-key class='return dark' char="&#x000A;">enter</kb-key>
    </kb-row>
  </kb-keyset>
</template>
