/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.heading {
  color: gray;
}

.section {
  -webkit-padding-start: 32px;
  padding-top: 16px;
}

.separator {
  border-top: 1px solid #e0e0e0;
}

.separator:first-of-type {
  border-top: none;
}

iron-list {
  /* TODO(hcarmona): Make this flex. */
  -webkit-padding-start: 8px;
  height: 300px;
  padding-top: 16px;
}

paper-input {
  --paper-input-container-disabled: {
    opacity: 1;
  };
  --paper-input-container-underline-disabled: {
    opacity: 0;
  };
  width: 150px;
}
