# This is a standard .gitignore file, used to exclude certain files
# from a 'git status' command, or similar

# Ignore these filename patterns
*.cmd
*.gz
*.nexe
*.nmf
*.o
*.pyc
*.pyo

# Ignore all hidden files
.*

# Ignore all directories than contain these names
scons-out/
third_party/
toolchain/

# Ignore these particular directories (relative to src directory)
/build_tools/NSIS/
/build_tools/packages/
/build_tools/sdk_install_name.nsh
/build_tools/sdk_section.nsh
/build_tools/tests/apply_patch_test_archive/
/build_tools/toolchain_archives/
/chrome_binaries/
/debugger/NativeClientVSX/
/debugger/nacl-gdb_server/x64/
/experimental/webgtt/tests/nacltest/*.cc
/site_scons/
/staging/
