/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: blue;
  padding: 2px;
}

header * {
  color: white;
}