#composited {
  position: absolute;
  transform: translate3d(4px, 12px, 4px);

}

#scaled {
  position: absolute;
  top: 50px;
  transform: scale3d(0.8, 1.2, 1);

}

html {
  background: black;
  color:white;
  font-size: 10px;
  -bb-lcd-background-color: auto;
}
