/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#back-to-devices {
  -webkit-padding-start: 10px;
  color: rgb(20, 86, 218);
  font-weight: bold;
  line-height: 2em;
}

#back-to-devices:hover {
  cursor: pointer;
  text-decoration: underline;
}

hr {
  margin: 0;
}

.route {
  -webkit-padding-start: 10px;
  line-height: 1.125em;
}

.route-status {
  color: rgb(125, 125, 125);
  margin: 8px 0;
}

.route-title {
  font-weight: bold;
  margin: 8px 0;
  overflow: hidden;
}
