/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#close-route-button {
  background-color: white;
  color: rgb(33, 150, 243);
  text-align: -webkit-right;
}

#custom-controller {
  display: inline-block;
  height: 160px;
  width: 100%;
}

#route-details-header {
  background-color: rgb(33, 150, 243);
  font-size: 1.4em;
}

#route-information {
  -webkit-padding-start: 30px;
  height: 75px;
  line-height: 1.125em;
}

#route-status {
  color: rgb(125, 125, 125);
  margin: 8px 0;
}

#route-title {
  font-weight: bold;
  margin: 8px 0;
  overflow: hidden;
}
