<?xml version='1.0' encoding='windows-1252'?>

<!--
Copyright 2009, Google Inc.
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

* Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.
* Redistributions in binary form must reproduce the above
copyright notice, this list of conditions and the following disclaimer
in the documentation and/or other materials provided with the
distribution.
* Neither the name of Google Inc. nor the names of its
contributors may be used to endorse or promote products derived from
this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->

<!--
Wix script for building Native Client installer

Find out more about WiX at http://wix.sourceforge.net/index.html

Schema for this version is documented at
http://wix.sourceforge.net/manual-wix2/wix_xsd_index.htm


This file is a little odd. The actual list of files for the SDK is
auto-generated by scanning an SDK image directory. The autoscan
(WixHarvest) generates another .wxs file which is compiled and linked
alongside this one. The two files have references to various pieces
of each other's internals. It's a little crazy and circular, but
apparently that's how WiX likes it.
-->


<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>

    <!--
    Unique identifiers (generated with GUIDGEN or python's uuid.uuid4()
    -->
    <?define NaClProductGuid="{243395e5-1384-4cdc-988a-5dbd10775cd8}"?>
    <?define NaClPackageGuid="{243395e5-1384-4cdc-988a-5dbd10775cd8}"?>
    <?define NaClVersion="1.0"?>
    <?define NaClUpgradeCode="{ad3f97eb-064b-48cb-9927-96e1ea40171c}"?>

    <!--
    Product, package, and media are all boilerplate. The most important
    tags under <Product> are <Directory> and <Feature>.
    -->
    <Product Name='Google Native Client SDK' Id='$(var.NaClProductGuid)'
    Language='1033' Codepage='1252' Version='$(var.NaClVersion)'
    Manufacturer='Google' UpgradeCode='$(var.NaClUpgradeCode)'>


        <Package Id='$(var.NaClPackageGuid)' Keywords='Installer'
        Description='Native Client SDK Installer' Manufacturer='Google'
        InstallerVersion='101' InstallPrivileges='limited'
        Languages='1033' Compressed='yes' SummaryCodepage='1252' />

        <Media Id='1' Cabinet='naclsdk.cab' EmbedCab='yes'
        CompressionLevel='high'/>

        <!--
        This tree of <Directory> tags represents the layout on disk. It
        is rooted at a directory with the special Id "TARGETDIR", which
        is the directory that the user chose to install into.
        -->
        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFilesFolder' Name='PFiles'>

                <!--
                This is the directory where the SDK image will be installed.
                Do not change the Id of this directory. It is referred to
                by the sdk image .wxs file, which is automatically generated
                by the WixHarvest function in site_sons/site_tools/wix.py.
                The SCons script assumes that the Id of this directory will be
                the same as the name of the autogenerated .wxs file, minus the
                file extension.
                 -->
                <Directory 
                  Id="nacl_sdk_image"
                  LongName="Native Client SDK"
                  Name="NaClSdk"/>

            </Directory>
        </Directory>

        <!--
        Features are the smallest user-facing part of an install package.
        The "custom" install menu lists all of the features and allows users
        to choose which ones they'll install.
        -->
        <Feature
        Id='NaClSdk'
        Title='Native Client SDK'
        Level='1'
        >
            <!--
            This is a reference to the top level component group
            in the WiX file that is auto-generated by WixHarvest. The
            Id needs to match the Id that is defined in that file. By
            default it should be the same as the filename, minus the
            extension.
            -->
            <ComponentGroupRef Id="nacl_sdk_image"/>
        </Feature>

        <!--
        These tags set up the WiX UI system.
        -->
        <Property Id="WIXUI_INSTALLDIR" Value="nacl_sdk_image" />
        <UIRef Id="WixUI_InstallDir" />
    </Product>

</Wix>
